<div data-component="OPageContent" class="o-page-content" data-component-id="">
    <div class="o-width fullWidth--mobile title--large about-icon wc-50" style="padding: 3px 0;">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Food.png" alt="Menu">
            <h2 class="a-heading-2">
                <span class="heading-cap">ARKET CAFÉ</span>
                <span class="heading-value"></span>
            </h2>
        </div>

        <div class="o-text-field is-wide">
            <div class="headings ta-c">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">A VEGAN &amp; VEGETARIAN CAFÉ</h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div class="ta-c">
                    Founded by Martin Berg<b><br />
                    Head Chef<br />
                    </b>
                </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <div class="o-width wc-100">
        <div class="o-chooser with-image" data-component="OChooser" data-type="with-image">
            <div class="item-container"></div>
        </div>
    </div>

    <div class="o-width wc-50">
        <div class="headings ta-l">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    <span class="heading-cap">Summer</span>
                        Transitioning from spring to summer, we are getting ready for a well-deserved break and long sunny days spent with family. 
                        ARKET’s seasonal menu bursts with a new energy of colours and flavours, following nature’s cyclical rhythm. 
                        This time of the year, we choose lighter, uncomplicated meals that allow us to enjoy fresh produce in its natural form. 
                </h2>
            </div>
        </div>
    </div>
    <div class="o-width wc-100"></div>
    <div class="o-width layout--no-margins wc-100">
        <div class="o-layout " data-chooser="Menu" data-chooser-title="Menu" data-chooser-image="/images/about/cafe_icon_menu.png" data-chooser-image-alt="Menu" id="menu">
            <div class="layout-row-1"></div> 
            <div class="layout-5">
                <div class="layout-row-2"></div>
                <div class="layout-row-3"></div>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
	    <div class="m-headline u-align-center is-main-headline full-width cafe-wrap">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">Summer</span>
                <span class="heading-value">Menu</span>
            </h2>
        </div>
    </div>

    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile wc-100">
            <div class="o-image-listing cols-3" style="margin-top:0px; margin-bottom:0px;">
                <div class="image-container">
                    <a href="#" target="_self" class="trackImage a-link">
                        <img class="a-image" src="/images/about/ARKET_21Q2_cafe_salad_A_WEB_X2.jpg" alt="Summer salad">
                        <span class="promoIndex" hidden="">0</span>
                    </a>
                    <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="0">
                        <span class="promo_id"></span>
                        <span class="promo_name"></span>
                        <span class="promo_creative"></span>
                    </div>
                </div>
                <div class="image-container">
                    <a href="#" target="_self" class="trackImage a-link">
                        <img class="a-image" src="/images/about/ARKET_21Q2_cafe_sandwich_B_WEB_X2.jpg" alt="Summer sandwich">
                        <span class="promoIndex" hidden="">1</span>
                    </a>
                    <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="1">
                        <span class="promo_id"></span>
                        <span class="promo_name"></span>
                        <span class="promo_creative"></span>
                    </div>
                </div>
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="/images/about/ARKET_21Q2_cafe_flatbread_A_WEB_X2.jpg" alt="Summer flatbread">
                        <span class="promoIndex" hidden="">2</span>
                    </div>
                    <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="2">
                        <span class="promo_id"></span>
                        <span class="promo_name"></span>
                        <span class="promo_creative"></span>
                    </div>
                </div>
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="/images/about/ARKET_21Q2_cafe_wrap_A_WEB_X2.jpg" alt="Summer wraps">
                        <span class="promoIndex" hidden="">3</span>
                    </div>
                        <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="3">
                            <span class="promo_id"></span>
                            <span class="promo_name"></span>
                            <span class="promo_creative"></span>
                        </div>
                    </div>
                    <div class="image-container">
                        <div class="trackImage col-item">
                            <img class="a-image" src="/images/about/arket_20Q4_cafe_stockholm_7.jpg">
                            <span class="promoIndex" hidden="">4</span>
                        </div>
                        <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="4">
                            <span class="promo_id"></span>
                            <span class="promo_name"></span>
                            <span class="promo_creative"></span>
                        </div>
                    </div>
                    <div class="image-container">
                        <div class="trackImage col-item">
                            <img class="a-image" src="/images/about/arket_20Q4_cafe_stockholm_5.jpg">
                            <span class="promoIndex" hidden="">5</span>
                        </div>
                        <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="5">
                            <span class="promo_id"></span>
                            <span class="promo_name"></span>
                            <span class="promo_creative"></span>
                        </div>
                    </div>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    Leafy greens such as spinach and lettuce, as well as tomatoes, eggplants and red peppers are at their best this season, delivering a potent vitamin boost. Paired with quality legumes, 
                    organic quinoa from Skåne in southern Sweden and our new bread from Swedish Warbro Kvarn, they bring new exciting flavours to the menu. Our own version of a Tuscan panzanella salad and pulled roots with green curry are just a few examples of chef Martin Berg’s latest creations. 
                    On a sweeter note, tangy rhubarb and juicy strawberries invite a truly summertime feeling to our pastries. The fruity theme continues in the new refreshing drinks, with ARKET’s own Strawberry Shake, Lemonade and Earl Grey Iced Tea at centre stage. 
                    We also serve delicious espresso and matcha shakes, for those looking to cool down and recharge. At ARKET cafés, all meals, pastries and beverages are available for takeaway – sustainably packaged and ready to enjoy wherever you go.<br>
                    <br>
                </p>
            </div>
        </div>
        <div class="o-text-field is-wide ">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div class="ta-c">The summer menu will be launched on May 27th 2021<br></div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <div class="o-tag-cloud">
        <h6 class="a-heading-6 cloud-title">Cook at home</h6>
        <ul class="tags-container">
            <li class="tag ">
                <a href="#" target="_self" class="a-link">Summer salad</a>
            </li>
        </ul>    
    </div>
    <div class="o-width wc-25"></div>
    <div class="o-width layout--no-margins wc-100">
        <div class="o-layout" data-chooser="Vision" data-chooser-title="Vision" data-chooser-image="/images/about/cafe_icon_chef.png" data-chooser-image-alt="Vision" id="vision">
            <div class="layout-row-1"></div>
            <div class="layout-5">
                <div class="layout-row-2"></div>
                <div class="layout-row-3"></div>
            </div>
        </div>
    </div>

    <div class="o-width title--medium about-icon wc-50">
        <div class="o-text-field is-wide ">
            <div class="headings ta-c">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        <span class="heading-cap">Pastry Drop™</span>
                        #17 SWEDISH RHUBARB CRUMBLE
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div class="ta-c">by Martin Berg<b><br>Head Chef<br></b></div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <div class="o-width wc-50">
        <div class="o-width fullWidth--mobile title--x-small wc-100">
            <div class="o-layout">
                <div class="layout-row-1"></div>
                <div class="layout-5">
                    <div class="layout-row-2">
                        <div class="image-slideshow parbase section">
                            <div class="o-image-listing cols-1" style="margin-top:0px; margin-bottom:0px;">
                                <div class="image-container">
                                    <div class="trackImage col-item">
                                        <img class="a-image" src="/images/about/ARKET_21Q2_ps_rhurbarb_B_WEB.jpg" alt="ARKET Rhubarb Crumble">
                                        <span class="promoIndex" hidden="">6</span>
                                    </div>
                                    <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="6">
                                        <span class="promo_id"></span>
                                        <span class="promo_name"></span>
                                        <span class="promo_creative"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="layout-row-3">
                        <div class="textcomponent parbase section">
                            <div class="o-text-field is-wide is-large">
                                <div class="text-container">
                                    <p class="a-paragraph is-richtext"><br>
                                        ARKET's Pastry Drop™ series are seasonally flavoured pastries inspired by the natural rhythm of the Nordic climate. Developed by our head chef Martin Berg, the pastries are offered for a limited time at the ARKET cafés.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="o-width layout--no-margins wc-100">
        <div class="o-layout" data-chooser="Pastries" data-chooser-title="Pastries" data-chooser-image="/images/about/cafe_icon_pastries.png" data-chooser-image-alt="Pastries" id="pastries">
            <div class="layout-row-1"></div>
            <div class="layout-5">
                <div class="layout-row-2"></div>
                <div class="layout-row-3"></div>
            </div>
        </div>
    </div>

    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile wc-100">
            <div class="m-headline u-align-center is-main-headline full-width cafe-wrap">
                <h2 class="a-heading-2 ">
                    <span class="heading-cap">Pastries</span>
                    <span class="heading-value">Seasonal pastries</span>
                </h2>
            </div>
            <div class="o-image-listing cols-3 img-wrap-list">
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="/images/about/ARKET_21_cafe_rhubarb_sponge_cake_A_WEB_X2.jpg" alt="Rhubarb Sponge Cake">
                        <span class="promoIndex" hidden="">7</span>
                    </div>
                    <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="7">
                        <span class="promo_id"></span>
                        <span class="promo_name"></span>
                        <span class="promo_creative"></span>
                    </div>
                </div>
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="/images/about/ARKET_21_cafe_extra_images_F_WEB.jpg" alt="ARKET Pastry Shop">
                        <span class="promoIndex" hidden="">8</span>
                    </div>
                    <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="8">
                        <span class="promo_id"></span>
                        <span class="promo_name"></span>
                        <span class="promo_creative"></span>
                    </div>
                </div>
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="/images/about/ARKET_21_cafe_strawberry_bun_B_WEB_X2.jpg" alt="ARKET Strawberry bun">
                        <span class="promoIndex" hidden="">9</span>
                    </div>
                    <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="9">
                        <span class="promo_id"></span>
                        <span class="promo_name"></span>
                        <span class="promo_creative"></span>
                    </div>
                </div>
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="/images/about/ARKET_21_cafe_cinnamon_bun_B_WEB.jpg" alt="ARKET Cinnamon bun">
                        <span class="promoIndex" hidden="">10</span>
                    </div>
                    <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="10">
                        <span class="promo_id"></span>
                        <span class="promo_name"></span>
                        <span class="promo_creative"></span>
                    </div>
                </div>
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="/images/about/ARKET_21_cafe_cookies_F_WEB.jpg" alt="ARKET Cookie">
                        <span class="promoIndex" hidden="">11</span>
                    </div>
                    <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="11">
                        <span class="promo_id"></span>
                        <span class="promo_name"></span>
                        <span class="promo_creative"></span>
                    </div>
                </div>
                <div class="image-container">
                    <div class="trackImage col-item">
                        <img class="a-image" src="/images/about/ARKET_21_cafe_tebirkes_C_WEB.jpg" alt="Tebirkes">
                        <span class="promoIndex" hidden="">12</span>
                    </div>
                    <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="12">
                        <span class="promo_id"></span>
                        <span class="promo_name"></span>
                        <span class="promo_creative"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="o-width wc-25"></div>
    <div class="o-width spacer wc-75"></div>

    <div class="o-width wc-75">
        <div class="o-width fullWidth--mobile title--x-small wc-100">
            <div class="o-layout">
                <div class="layout-row-1"></div>
                <div class="layout-5">
                    <div class="layout-row-2">
                        <div class="headline parbase section">
                            <div class="m-headline with-icon u-align-center is-main-headline full-width ">
                                <img class="a-image" src="/images/about/ARKET_9_GRID_Food.png">
                                <h2 class="a-heading-2 ">
                                    <span class="heading-cap">Chef</span>
                                    <span class="heading-value">Martin Berg</span>
                                </h2>
                            </div>
                        </div>
                        <div class="textcomponent parbase section">
                            <div class="o-text-field is-wide is-large">
                                <div class="text-container">
                                        <p class="a-paragraph is-richtext">
                                            <br>
                                            Martin Berg's work with ARKET café is based on the conviction that the transformation towards a healthier and more sustainable food culture needs to be broader and more accessible than the world of fine dining, 
                                            but rather, encompass our everyday meals and habits. By offering a delicious seasonal menu based on whole grains, fruits, vegetables, nuts, seeds and traditional legumes, Martin’s mission is to inspire people to choose the positive alternative.<br><br>
                                        </p>
                                </div>
                            </div>
                        </div>
                        <div class="tagCloud parbase section">
                            <div class="o-tag-cloud">
                                <h6 class="a-heading-6 cloud-title">Why we care so much about food</h6>
                                <ul class="tags-container">
                                    <li class="tag ">
                                        <a href="#" target="_self" class="a-link">Read more</a>
                                    </li>
                                </ul>    
                            </div>
                        </div>
                    </div>
                    <div class="layout-row-3">
                        <div class="image-slideshow parbase section">
                            <div class="o-image-listing cols-1" style="margin-top:0px; margin-bottom:0px;">
                                <div class="image-container">
                                    <a href="#" target="_self" class="trackImage a-link">
                                        <img class="a-image" src="/images/about/ARKET_18S7B2_cafe_CPH_martinberg_f.jpg" alt="Martin Berg">
                                        <span class="promoIndex" hidden="">13</span>
                                    </a>
                                    <div class="promotion-data p11-imagegrid" hidden="" data-slides-index="13">
                                        <span class="promo_id"></span>
                                        <span class="promo_name"></span>
                                        <span class="promo_creative"></span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="o-width wc-50">
        <div class="o-text-field is-wide ">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <center>
                    <span class="f-type3 ">Given the current situation some of our stores and cafés are temporarily closed. Please check with your local café manager for availability and takeaway possibilities.</span>
                </center>
                    <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <%# md-o-teaser %>
    <%- include ("../../common/md-o-cafe.ejs") %>

</div><!--end -->
