<div data-component="OPageContent" class="o-page-content">
    <div class="o-404-error">
        <div class="content">
            <h1 class="a-heading-1 is-main-heading"><span class="heading-cap">404</span>Missing page</h1>
            <p class="a-paragraph">The page you are looking for seems to be missing. Use our navigation above or
                <a class="a-link" href="/" target="_self">
                    click here to</a>&nbsp;return to home.</p>
        </div>
    </div>
</div>