<div data-component="OPageContent" class="o-page-content iframe-wrap">
    <iframe id="sisFrame"
            class="sisFrame parsys"
            <%
                if(pageInfo.isLocalExPath) {
            %>
            src="<%= pageInfo.pageRoot %>/dist-sis-con/<%= pageInfo.lang %>/index-sis-con.html"
            <%
                }else {
            %>
            src="/<%= pageInfo.lang %>/index-sis-con.html"
            <%
                }
            %>
            width="100%"
            frameborder="no"
            scrolling="no"
            marginheight="0"
            marginwidth="0"
            onload="iframeAutoResize(this);">
    </iframe>
</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
  (function() {
    'use strict';
    setTimeout(function(){
      //is-app 클래스 강제 활성
      // $('body').addClass('utilbar-hide');
      $('body').addClass('is-app');
      // $('#sis_footer.sis-footer-m').addClass('is-app');
    },1000);
  })();
</script>
<!-- //tip -->