<div data-component="OPageContent" class="o-page-content" data-component-id="">
    <h3 class="lightbox-list-tit">로그인/회원가입</h3>
    <ul class="lightbox-list-wrap">
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-required-input-id" data-classes="alert"><span>아이디 미선택 시</span></button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-email-id-selected" data-classes="alert"><span>이메일 아이디 선택 시</span></button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-email-send-complete" data-classes="alert"><span>인증메일 발송완료 안내</span></button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-email-send-fail" data-classes="alert"><span>이메일 발송 불가 시</span></button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-email-send-chain" data-classes="alert"><span>연속 이메일 발송을 요청할 경우</span></button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-phone-certify-guide" data-classes="alert"><span>휴대폰 인증 안내</span></button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-email-certify-fail" data-classes="alert"><span>이메일인증 확인되지 않을 경우</span></button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-info-incorrect" data-classes="alert"><span>정보가 일치하지 않는 경우</span></button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-restid-repair-cancle" data-classes="alert"><span>휴면계정복구 취소</span></button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-restid-repair-complete" data-classes="alert"><span>휴면계정복구 완료</span></button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-pw-change-complete" data-classes="alert"><span>비밀번호 변경 완료</span></button>
        </li>
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-order-search-nonmbr" data-classes="alert"><span>비회원 주문조회</span></button>
        </li>
    </ul>

    <h3 class="lightbox-list-tit">장바구니</h3>
    <ul class="lightbox-list-wrap">
        <li>
            <button class="a-button is-outlined open-lightbox" data-template="lp-return-refund-guide"><span>반품 및 환불</span></button>
        </li>
    </ul>
</div>

<!-- handlebars-template -->
<!-- 아이디 미선택 시 -->
<script type="text/x-handlebars-template" id="lp-required-input-id">
    <div class="lightbox-content-dft">
        <h2 class="a-heading-2"><span>아이디를 선택해 주세요</span></h2>
        <div class="content"></div>
        <button class="a-button is-primary js-close-button" type="button"><span>확인</span></button>
    </div>
</script>
<!-- //아이디 미선택 시 -->

<!-- 이메일 아이디 선택 시 -->
<script type="text/x-handlebars-template" id="lp-email-id-selected">
    <div class="lightbox-content-dft">
        <h2 class="a-heading-2"><span>죄송합니다.</span></h2>
        <div class="content">
            <p class="text-box">
                이메일 아이디의 경우 전체 아이디를 확인 하실 수 없습니다.<br>
                고객센터로 문의하여 주십시오.
            </p>
        </div>
        <button class="a-button is-primary js-close-button" type="button"><span>확인</span></button>
    </div>
</script>
<!-- //이메일 아이디 선택 시 -->

<!-- 인증 메일 발송완료 안내 -->
<script type="text/x-handlebars-template" id="lp-email-send-complete">
    <div class="lightbox-content-dft">
        <h2 class="a-heading-2"><span>이메일 인증</span></h2>
        <div class="content">
            <p class="text-box">
                Honggildong@hamll.com로 인증메일이 발송되었습니다.<br>
                인증 완료 후 "다음" 버튼을 선택해 주세요.<br>
                전체 아이디를 확인하실 수 있습니다.
            </p>
        </div>
        <button class="a-button is-primary js-close-button" type="button"><span>확인</span></button>
    </div>
</script>
<!-- //인증 메일 발송완료 안내 -->

<!-- 이메일 발송 불가 시 -->
<script type="text/x-handlebars-template" id="lp-email-send-fail">
    <div class="lightbox-content-dft">
        <h2 class="a-heading-2"><span>일시적인 에러로 인증<br>이메일 전송에 실패하였습니다. </span></h2>
        <div class="content">
            <p class="text-box">
                잠시 후에 다시 시도해주세요.
            </p>
        </div>
        <button class="a-button is-primary js-close-button" type="button"><span>확인</span></button>
    </div>
</script>
<!-- //이메일 발송 불가 시 -->

<!-- 연속 이메일 발송을 요청할 경우 -->
<script type="text/x-handlebars-template" id="lp-email-send-chain">
    <div class="lightbox-content-dft">
        <h2 class="a-heading-2"><span>N 초 후 재발송이 가능합니다.</span></h2>
        <div class="content"></div>
        <button class="a-button is-primary js-close-button" type="button"><span>확인</span></button>
    </div>
</script>
<!-- //연속 이메일 발송을 요청할 경우 -->

<!-- 휴대폰 인증 안내 -->
<script type="text/x-handlebars-template" id="lp-phone-certify-guide">
    <div class="lightbox-content-dft lp-phone-certify-guide">
        <h2 class="a-heading-2"><span>휴대폰 인증</span></h2>
        <div class="content">
            <div class="m-input is-readonly with-button" data-component="MInput">
                <input class="a-input js-a-input"
                       placeholder="phone-number"
                       type="text"
                       value="010-****-1234"
                       name="phone-number"
                       id="phone-number"
                       readonly="readonly"
                       required="">
                <button class="a-button is-primary sm" type="button"><span>인증번호 받기</span></button>
                <label class="a-label js-a-label" for="phone-number" data-placeholder=""></label>
            </div>
            <div class="m-input with-button" data-component="MInput">
                <input class="a-input js-a-input"
                       placeholder="인증번호 입력"
                       type="tel"
                       value=""
                       pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                       name="certify-number"
                       id="certify-number"
                       data-validation-required-text="인증번호를 입력해 주세요"
                       data-validation-pattern-text="인증번호를 입력해 주세요">
                <button class="a-button is-primary sm" type="button"><span>휴대폰 인증</span></button>
                <label class="a-label js-a-label" for="certify-number" data-placeholder=""></label>
                <p class="certify-time">유효시간 <span class="time-m">03</span>:<span class="time-s">00</span></p>
            </div>
            <p class="guide-text">
                <span class="desc-text2">휴대폰으로 발송된 인증번호를 유효시간 내 입력해 주시고, 인증번호가도착하지 않을 시 재발송을 해주세요.</span><br>
                <span class="desc-text2">입력한 휴대폰번호는 보안 시스템을 통해 안전하게 관리됩니다.</span>
            </p>
        </div>
    </div>
</script>
<!-- //휴대폰 인증 안내 -->

<!-- 이메일 인증이 확인되지 않을 경우 -->
<script type="text/x-handlebars-template" id="lp-email-certify-fail">
    <div class="lightbox-content-dft">
        <h2 class="a-heading-2"><span>이메일 인증</span></h2>
        <div class="content">
            <p class="text-box">
                이메일 인증이 되지 않았습니다. <br>
                이메일 인증 후에 진행하세요.
            </p>
        </div>
        <button class="a-button is-primary js-close-button" type="button"><span>확인</span></button>
    </div>
</script>
<!-- 이메일 인증이 확인되지 않을 경우 -->

<!-- 정보가 일치하지 않는 경우 -->
<script type="text/x-handlebars-template" id="lp-info-incorrect">
    <div class="lightbox-content-dft">
        <h2 class="a-heading-2"><span>회원 정보가 존재하지 않습니다.</span></h2>
        <div class="content">
            <p class="text-box">입력 정보를 다시 확인해 보세요.</p>
        </div>
        <button class="a-button is-primary js-close-button" type="button"><span>확인</span></button>
    </div>
</script>
<!-- //정보가 일치하지 않는 경우 -->

<!-- 휴면계정복구 취소 -->
<script type="text/x-handlebars-template" id="lp-restid-repair-cancle">
    <div class="lightbox-content-dft lp-restid-repair-cancle">
        <h2 class="a-heading-2"><span>휴면계정 복구를 취소하시겠습니까?</span></h2>
        <div class="content">
            <p class="text-box">취소하시면 고객님의 아이디로 로그인 하실 수 없습니다. </p>
        </div>
        <div class="button-container col-2">
            <button class="a-button is-outlined js-close-button" type="button"><span>취소</span></button>
            <button class="a-button is-primary" type="button"><span>확인</span></button>
        </div>
    </div>
</script>
<!-- //휴면계정복구 취소 -->

<!-- 휴면계정복구 완료 -->
<script type="text/x-handlebars-template" id="lp-restid-repair-complete">
    <div class="lightbox-content-dft">
        <h2 class="a-heading-2"><span>고객님의 아이디가 복구되었습니다</span></h2>
        <div class="content"></div>
        <button class="a-button is-primary js-close-button" type="button"><span>확인</span></button>
    </div>
</script>
<!-- //휴면계정복구 완료 -->

<!-- 비밀번호 변경 완료 -->
<script type="text/x-handlebars-template" id="lp-pw-change-complete">
    <div class="lightbox-content-dft">
        <h2 class="a-heading-2"><span>비밀번호 변경이 완료되었습니다.</span></h2>
        <div class="content"></div>
        <button class="a-button is-primary js-close-button" type="button"><span>확인</span></button>
    </div>
</script>
<!-- 비밀번호 변경 완료 -->

<%# 비회원 주문조회 %>
<%- include ("../../common/hndl-lp-order-search-nonmbr.ejs") %>

<%# 반품 및 환불 %>
<%- include ("../../common/hndl-lp-return-refund-guide.ejs") %>

<!-- //handlebars-template -->