<div data-component="OPageContent" class="o-page-content cofs-page">
    <div class="o-newsletter-subscription-confirmation">
        <div class="text-section">
            <h2 class="a-heading-2 is-main-heading u-align-center">뉴스레터를 신청하세요</h2>
            <p class="a-paragraph">가입 해주셔서 감사합니다. <br>할인 코드는 이메일을 확인하십시오.</p>
            <button class="a-button" type="button"><span>ARKET 메인</span></button>
        </div>
    </div>
</div>

<%# hndl-lp-newsletter-apply %>
<%- include ("../../handlebars/hndl-lp-newsletter-apply.ejs") %>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        setTimeout(function(){
            let newsletterPopup = document.querySelector('.o-newsletter-popup');
            newsletterPopup.classList.add('is-visible');
        },1000);
    })();
</script>
<!-- //tip -->


