<div data-component="OPageContent" class="o-page-content cofs-page">

    <!-- o-newsletter-signup -->
    <div class="o-newsletter-signup" data-component="ONewsletterSignUp" data-expires="30">

        <form class="o-form" data-component="OForm" action="/views/common/views/pages/newsletter/newsletter-subscription-validation-email.html">
            <h2 class="a-heading-2 is-main-heading u-align-center">뉴스레터를 신청하세요</h2>
            <p class="a-paragraph">ARKET에서 뉴스레터를 구독하고 첫 구매 시 10% 할인*을 받아보세요</p>
            <div class="personalized-option">
                <div class="m-error js-m-error is-hidden">
                    <span class="has-error"></span>
                </div>
                <div class="m-input email-value" data-component="MInput">
                    <label class="a-label js-a-label" for="email">이메일</label>
                    <input class="a-input js-a-input"
                           placeholder="이메일"
                           type="email"
                           value=""
                           name="email"
                           id="email"
                           required=""
                           pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                           data-validation-required-text="이메일을 입력하세요."
                           data-validation-pattern-text="이메일 형식에 맞지 않습니다.">
                    <label class="a-label js-a-label" for="email" data-placeholder=""></label>
                </div>
                <div class="m-dropdown-filter global-country-dropdown" data-component="MDropdownFilter">
                    <input class="a-input filter"
                           placeholder="국가 선택"
                           type="text"
                           data-validation-required-text="국가를 선택하세요"
                           required="">
                    <span class="a-icon-accordion a-icon-arrow-down-small"></span>

                    <%# md-global-country-list %>
                    <%- include ("../../common/md-global-country-list.ejs") %>

                    <span class="error-msg">목록에서 국가를 선택하세요</span>
                </div>
                <div class="option-wrapper">
                    <div class="m-radio-button u-clearfix">
                        <input class="a-radio-button men"
                               type="radio"
                               id="men"
                               required=""
                               data-validation-required-text="관심 카테고리는 필수선택항목입니다."
                               name="department">
                        <label class="a-label js-a-label u-no-select custom-radio" for="men"></label>
                        <label class="a-label js-a-label label-text" for="men">남성</label>
                        <label class="a-label js-a-label error-msg" for="men" data-placeholder="" >관심 카테고리는 필수선택항목입니다.</label>
                    </div>
                    <div class="m-radio-button u-clearfix">
                        <input class="a-radio-button women" type="radio" id="women" required="" data-validation-required-text="관심 카테고리는 필수선택항목입니다." name="department">
                        <label class="a-label js-a-label u-no-select custom-radio" for="women"></label>
                        <label class="a-label js-a-label label-text" for="women">여성</label>
                    </div>
                </div>
                <span class="m-checkbox v2 u-clearfix m-checkbox-age" data-component="MInput" id="age">
                    <input class="a-checkbox js-a-input"
                           type="checkbox"
                           required=""
                           data-validation-required-text="Please accept our terms and conditions before continuing"
                           data-validation-required-text-below="제 3자 정보제공에 동의해 주세요."
                           id="checkbox_age">
                    <label class="a-label js-a-label custom-box" for="checkbox_age" tabindex="0"></label>
                    <label class="a-label js-a-label" for="checkbox_age">네, 저는 H&M 그룹의 브랜드인 ARKET에서 프로모션 소식을 받고 싶습니다. 저는 제가 만18세 이상임을 확인합니다. 개인 정보 보호 통지에 따라, 소셜 미디어 피드 이메일과 SMS를 통해 개인화된 프로모션을 제공하기 위해, H&M 그룹에
<<<<<<< HEAD
                        <a href="#" class="a-link open-lightbox has-underline" data-template="lp-join-policy" target="_self">개인정보 제3자 (H&M) 정보제공 및 국외 이전</a>에 동의합니다.
=======
                        <!-- type1 : 이용약관, type2 : 개인정보처리방침, type3:개인정보처리방침 12조 -->
                        <a href="#" class="a-link open-lightbox has-underline" data-template="lp-join-policy" data-classes="join-policy-type type3" target="_self" >개인정보 제3자 (H&M) 정보제공 및 국외 이전</a>에 동의합니다.
>>>>>>> 3f8a1e4b7f40d307b9dbab83871bfa301098099a
                    </label>
                    <label class="a-label js-a-label" for="checkbox_age" data-placeholder=""></label>
                </span>
                <p class="a-paragraph is-richtext">
                    <span class="desc-text">뉴스레터 구독을 위한 개인정보 마케팅 활용에 동의하신 것으로 간주합니다.</span>
                    <span class="desc-text">RM Williams는 할인 대상에서 제외됩니다.</span>
                </p>
            </div>
            <button class="a-button" type="submit">
                <span>구독</span>
            </button>
        </form>
    </div>
</div>

<!-- handlebars-template -->
<%# 전문보기 %>
<%- include ("../../handlebars/hndl-lp-join-policy.ejs") %>
<!-- //handlebars-template -->