<div data-component="OPageContent" class="o-page-content">

    Contens Area

</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        setTimeout(function(){
            //page loading 호출
            renewCommon.loadingDisplay.page(true);
            // renewCommon.loadingDisplay.page(false);
        },1000);
    })();
</script>
<!-- //tip -->