<div data-component="OPageContent" class="o-page-content iframe-wrap">
    <iframe id="sisFrame"
        class="sisFrame parsys"
        <%
            if(pageInfo.isLocalExPath) {
        %>
        src="<%= pageInfo.pageRoot %>/dist-sis-con/<%= pageInfo.lang %>/women-sis-con.html"
        <%
            }else {
        %>
        src="/<%= pageInfo.lang %>/women-sis-con.html"
        <%
            }
        %>
        width="100%"
        frameborder="no"
        scrolling="no"
        marginheight="0"
        marginwidth="0"
        onload="iframeAutoResize(this);">
</iframe>
</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //헤더 border-bottom 라인 숨기기
        // let tempHeader = document.querySelector('.o-header');
        //tempHeader.classList.add('hide-border');
        // $('.o-header').addClass('hide-border') //gnb 활성화

        // let tempHeaderWomen = tempHeader.querySelector('.departments li:nth-child(1) a')
        // tempHeaderWomen.classList.add('is-active'); //gnb 활성화
        $('.departments li:nth-child(1) a').addClass('is-active') //gnb 활성화
    })();
</script>
<!-- //tip -->