<div data-component="OPageContent" class="o-page-content guide-content">

    <!-- description-box -->
    <div class="description-box full-width">
        <h2 class="a-heading-1">
            <strong class="a-strong">layout</strong>
        </h2>
        <div class="m-informative-section">
            <h3>Description</h3>

            <h3>.has-background</h3>
            <p>layout 태그 내에 padding 생성</p>

            <h3>.layout-row-1</h3>
            <p>레이아웃 제목(사용하지 않음)</p>

            <h3>.layout-row-2, .layout-row-3</h3>
            <p>레이아웃 컨텐츠</p>

            <h3>.layout-2</h3>
            <p>50% + 50% = 100%</p>

            <h3>.layout-3</h3>
            <p>67% + 33% = 100%</p>

            <h3>.layout-4</h3>
            <p>33% + 67% = 100%</p>

            <h3>.layout-5</h3>
            <p>45%(margin-right:5%) + 45%(margin-left:5%) = 100%</p>
            
        </div>

    </div>
    <!-- //description-box -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">layout-5</span>
    </h2>
    <!-- //a-heading -->
    <!-- o-layout -->
    <!-- to Dev [toggle Class] : wc-100, wc-75, wc-50, wc-25 -->
    <div class="o-width wc-75">
        <!-- to Dev [toggle Class] : has-background -->
        <!-- to Dev [inline Style] : background-color, margin-top, margin-bottom -->
        <div class="o-layout has-background">
            <div class="layout-row-1"></div>
            <!-- to Dev [toggle Class] : layout-2, layout-3, layout-4, layout-5 -->
            <div class="layout-5">
                <!-- layout-row -->
                <div class="layout-row-2">
                    <div class="image-slideshow parbase section">
                        <div class="o-image-listing cols-1">
                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/component/BABY_002_WEB.jpg">
                                </div>
                                <div class="slider-text-block">
                                    <div class="is-richtext o-text-field">
                                        <h2 style="text-align: center;">
                                            <br>Borrow from others
                                        </h2>
                                        <p style="text-align: left;">
                                            <br>Reusing clothes is a simple way to reduce waste and
                                            ensure that garments live longer. Reaching out to friends and family can be an
                                            easy first step when you’re in need for certain garments or items that our
                                            children will make use of for short periods of time.<br><br>&nbsp;
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //layout-row -->
                <!-- layout-row -->
                <div class="layout-row-3">
                    <div class="image-slideshow parbase section">
                        <div class="o-image-listing cols-1">
                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/component/BABY_003_WEB.jpg">
                                </div>
                                <div class="slider-text-block">
                                    <div class="is-richtext o-text-field">
                                        <h2 style="text-align: center;">
                                            <br>Think long-term when buying
                                        </h2>
                                        <p style="text-align: left;">
                                            <br>Reusing garments only makes sense if they retain a
                                            certain quality over time. Paying close attention to material and construction
                                            is a key step when looking for durable clothing that can withstand intense
                                            periods of hard wear.</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //layout-row -->
            </div>
        </div>
    </div>
    <!-- //o-layout -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">layout-5-1</span>
    </h2>
    <!-- //a-heading -->
    <!-- o-layout -->
    <!-- to Dev [toggle Class] : wc-100, wc-75, wc-50, wc-25 -->
    <div class="o-width wc-75">

        <!-- to Dev [toggle Class] : has-background -->
        <!-- to Dev [inline Style] : background-color, margin-top, margin-bottom -->
        <div class="o-layout">
            <div class="layout-row-1"></div>
            <!-- to Dev [toggle Class] : layout-2, layout-3, layout-4, layout-5 -->
            <div class="layout-5">
                <!-- layout-row -->
                <div class="layout-row-2">
                    <div class="headline parbase section">
                        <div class="m-headline with-icon u-align-center is-main-headline full-width">
                            <img class="a-image" src="<%= pageInfo.root %>/images/component/ARKET_9_GRID_Food.png">
                            <h2 class="a-heading-2 ">
                                <span class="heading-cap">Chef</span>
                                <span class="heading-value">Martin Berg</span>
                            </h2>
                        </div>
                    </div>
                    <div class="textcomponent parbase section">
                        <div class="o-text-field is-wide is-large">
                            <div class="text-container"><p class="a-paragraph is-richtext"><br>Martin Berg's work
                                    with ARKET café is based on the conviction that the transformation towards a
                                    healthier and more sustainable food culture needs to be broader and more
                                    accessible than the world of fine dining, but rather, encompass our everyday
                                    meals and habits. By offering a delicious seasonal menu based on whole grains,
                                    fruits, vegetables, nuts, seeds and traditional legumes, Martin’s mission is to
                                    inspire people to choose the positive alternative.<br><br></p>
                            </div>
                        </div>
                    </div>
                    <div class="tagCloud parbase section">
                        <div class="o-tag-cloud">
                            <h6 class="a-heading-6 cloud-title">Why we care so much about food</h6>
                            <ul class="tags-container"><!--
                             --><li class="tag "><!--
                                 --><a href="/en/about/food/martin-berg.html" target="_self" class="a-link">Read more</a><!--
                             --></li><!--
                         --></ul>
                        </div>
                    </div>
                </div>
                <!-- //layout-row -->
                <!-- layout-row -->
                <div class="layout-row-3">
                    <div class="image-slideshow parbase section">
                        <div class="o-image-listing cols-1">
                            <div class="image-container">
                                <a href="/en/about/food/martin-berg.html" target="_self" class="trackImage a-link">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/component/ARKET_18S7B2_cafe_CPH_martinberg_f.jpg" alt="Martin Berg">
                                    <span class="promoIndex" hidden="">13</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //layout-row -->
            </div>
        </div>
    </div>
    <!-- //o-layout -->
        
</div>