<div data-component="OPageContent" class="o-page-content guide-content">

    <!-- description-box -->
    <div class="description-box full-width">
        <h2 class="a-heading-1">
            <strong class="a-strong">Banner</strong>
        </h2>
        <div class="m-informative-section">
            <h3>Description</h3>

            <h3>.full-width</h3>
            <p>margin-left:0, margin-right:0</p>

            <h3>.invert</h3>
            <p>color:#fff</p>
        </div>

    </div>
    <!-- //description-box -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">banner-style1</span>
    </h2>
    <!-- //a-heading -->
    <!-- banner-style1 -->
    <!-- to Dev [toggle Class] : invert -->
    <!-- to Dev [inline Style] : background-color -->
    <div class="fullWidth--desktop fullWidth--tablet fullWidth--mobile free-shipping wc-100" style="background-color: #faf8f3">
        <div class="o-text-field is-wide">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <!-- to Dev [inline Style] : text-align -->
                <div style="text-align: center;">
                    <b>Text here in bold</b>
                    <br>
                </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <!-- //banner-style1 -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">banner-style2</span>
    </h2>
    <!-- //a-heading -->
    <!-- banner-style1 -->
    <!-- to Dev [toggle Class] : invert -->
    <!-- to Dev [inline Style] : background-color -->
    <div class="free-shipping fullWidth--desktop fullWidth--tablet fullWidth--mobile wc-100" style="background-color: #fff">
        <div class="o-text-field is-wide ">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <!-- to Dev [inline Style] : text-align -->
                <div style="text-align: center;">
                    <b>Text here in bold</b>
                    <br>
                </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <!-- //banner-style1 -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">banner-style3</span>
    </h2>
    <!-- //a-heading -->
    <!-- banner-style1 -->
    <!-- to Dev [toggle Class] : invert -->
    <!-- to Dev [inline Style] : background-color -->
    <div class="invert fullWidth--desktop fullWidth--tablet fullWidth--mobile free-shipping wc-100" style="background-color: #000">
        <div class="o-text-field is-wide ">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <!-- to Dev [inline Style] : text-align -->
                <div style="text-align: center;">
                    <b>Text here in bold</b>
                    <br>
                </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <!-- //banner-style1 -->

    <!----------------------->
        
</div>