<div data-component="OPageContent" class="o-page-content guide-content">

    <!-- description-box -->
    <div class="description-box full-width">
        <h2 class="a-heading-1">
            <strong class="a-strong">o-text-field</strong>
        </h2>
        <div class="m-informative-section">
            <h3>Description</h3>

            <h3>.free-shipping</h3>
            <p>font-family:'arket sans SC', font-size:14px</p>

            <h3>.title--large > a-heading-2</h3>
            <p>font-size:calc(56px + 2vw)</p>

            <h3>.title--medium > a-heading-2</h3>
            <p>font-size:calc(56px + 1vw)</p>

            <h3>.title--small > a-heading-2</h3>
            <p>font-size:56px</p>

            <h3>.title--m-small > a-heading-2</h3>
            <p>font-size:46px</p>

            <h3>.title--x-samll > a-heading-2</h3>
            <p>font-size:38px</p>

            <h3>.title--xx-samll > a-heading-2</h3>
            <p>font-size:29px</p>

            <h3>.a-paragraph</h3>
            <p>font-size:12px</p>

            <h3>.is-large > .a-paragraph</h3>
            <p>font-size:18px</p>
        </div>

    </div>
    <!-- //description-box -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">free-shipping</span>
    </h2>
    <!-- //a-heading -->
    <!-- o-text-field -->
    <!-- to Dev [toggle Class] : free-shipping -->
    <div class="o-width free-shipping wc-100">
        <!-- to Dev [toggle Class] : is-large -->
        <div class="o-text-field">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    <b>Free shipping on all orders&nbsp; –&nbsp; end 20.01.01</b>
                </p>
                <p class="a-paragraph is-richtext">
                    <b>모든 주문에 대해 무료 배송&nbsp; –&nbsp; 20.01.01 까지</b>
                </p>
            </div>
        </div>
    </div>
    <!-- //o-text-field -->
    <!-- o-text-field -->
    <div class="o-width free-shipping wc-100">
        <div class="o-text-field">
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    <a class="a-link" href="#none">
                        <b>Subscribe for 15% off your first purchase</b>
                    </a>
                </p>
                <p class="a-paragraph is-richtext">
                    <a class="a-link" href="#none">
                        <b>첫 구매시 15% 할인</b>
                    </a>
                </p>
            </div>
        </div>
    </div>
    <!-- //o-text-field -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">TITLE-SIZE</span>
    </h2>
    <!-- //a-heading -->
    <!-- title-- -->
    <!-- to Dev [toggle Class] : title--large, title--medium, title--small, title--x-small  -->
    <div class="title--large wc-100">
        <div class="headings">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">LARGE TITLE / 아르켓</h2>
            </div>
        </div>
    </div>
    <!-- //title-- -->
    <!-- title-- -->
    <div class="title--medium wc-100">
        <div class="headings">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">MEDIUM TITLE / 아르켓</h2>
            </div>
        </div>
    </div>
    <!-- //title-- -->
    <!-- title-- -->
    <div class="title--small wc-100">
        <div class="headings">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">SMALL TITLE / 아르켓</h2>
            </div>
        </div>
    </div>
    <!-- //title-- -->
    <!-- title-- -->
    <div class="title--m-small wc-100">
        <div class="headings">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">M-SMALL TITLE / 아르켓</h2>
            </div>
        </div>
    </div>
    <!-- //title-- -->
    <!-- title-- -->
    <div class="title--x-small wc-100">
        <div class="headings">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">X-SMALL TITLE / 아르켓</h2>
            </div>
        </div>
    </div>
    <!-- //title-- -->

    <!-- title-- -->
    <div class="title--xx-small wc-100">
        <div class="headings">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">XX-SMALL TITLE / 아르켓</h2>
            </div>
        </div>
    </div>
    <!-- //title-- -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">a-paragraph</span>
    </h2>
    <!-- //a-heading -->
    <!-- o-text-field -->
    <div class="o-width wc-50">
        <!-- to Dev [toggle Class] : is-large -->
        <div class="o-text-field">
            <div class="headings" >
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        <span class="heading-cap">prefix</span>Title
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">Introductory text in 20/13px should ideally
                    be maximum 220 characters to cater for mobile users and to not feel overwhelming. The body text can then
                    continue further down preferably with other types of content in between.</p>
                <p class="a-paragraph is-richtext">20/13px로 소개 텍스트는 이상적으로는 모바일 사용자에게 적합하고 부담스럽지 않게 최대 220자여야합니다. 그런 다음 본문 텍스트는 가급적 다른 유형의 콘텐츠와 함께 더 아래로 계속 될수 있습니다.</p>
            </div>
        </div>
    </div>
    <!-- //o-text-field -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">is-large > a-paragraph</span>
    </h2>
    <!-- //a-heading -->
    <!-- o-text-field -->
    <div class="o-width wc-50">
        <!-- to Dev [toggle Class] : is-large -->
        <div class="o-text-field is-large">
            <div class="headings">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        <span class="heading-cap">prefix</span>Title
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">Introductory text in 20/13px should ideally
                    be maximum 220 characters to cater for mobile users and to not feel overwhelming. The body text can then
                    continue further down preferably with other types of content in between.</p>
                <p class="a-paragraph is-richtext">20/13px로 소개 텍스트는 이상적으로는 모바일 사용자에게 적합하고 부담스럽지 않게 최대 220자여야합니다. 그런 다음 본문 텍스트는 가급적 다른 유형의 콘텐츠와 함께 더 아래로 계속 될수 있습니다.</p>
            </div>
        </div>
    </div>
    <!-- //o-text-field -->
        
</div>