<div data-component="OPageContent" class="o-page-content guide-content">

    <!-- description-box -->
    <div class="description-box full-width">
        <h2 class="a-heading-1">
            <strong class="a-strong">o-tag-cloud</strong>
        </h2>
        <div class="m-informative-section">
            <h3>Description</h3>

            <h3>background-color</h3>
            <p>.o-tag-cloud 태그를 감싼 태그에 인라인 스타일로 적용</p>

            <h3>.invert</h3>
            <p>.tags-container 폰트컬러 #fff, .tag 배경컬러 #fff</p>

            <h3>.title--small, .title--medium</h3>
            <p>.a-heading-2 폰트사이즈 60px, calc(60px + 1vw)</p>
            
        </div>
    </div>
    <!-- //description-box -->

    <!----------------------->
    
    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">Regular tag cloud</span>
    </h2>
    <!-- //a-heading -->
    <!-- o-tag-cloud -->
    <!-- to Dev [toggle Class] : invert, title--small, title--medium -->
    <!-- to Dev [inline Style] : background-color -->
    <div class="o-width spacer wc-75">
        <div class="o-tag-cloud">
            <h6 class="a-heading-6 cloud-title">Regular tag cloud</h6>
            <ul class="tags-container">
                <li class="tag">
                    <a class="a-link" href="/men" target="_self">Men</a>
                </li>
                <li class="tag">
                    <a class="a-link" href="/woman" target="_self">Women</a>
                </li>
                <li class="tag">
                    <a class="a-link" href="/childern" target="_self">Children</a>
                </li>
                <li class="tag">
                    <a class="a-link" href="/kitchen" target="_self">Kitchen</a>
                </li>
                <li class="tag">
                    <a class="a-link" href="/hats" target="_self">Hats</a>
                </li>
                <li class="tag">
                    <a class="a-link" href="/bomber-jacket" target="_self">Bomber Jacket</a>
                </li>
                <li class="tag">
                    <a class="a-link" href="/qwerty" target="_self">Qwerty</a>
                </li>
                <li class="tag">
                    <a class="a-link" href="/field-jacket" target="_self">Field Jacket</a>
                </li>
                <li class="tag is-selected">
                    <a class="a-link" href="#" target="_self">No Link</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- //o-tag-cloud -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">invert</span>
    </h2>
    <!-- //a-heading -->
    <!-- o-tag-cloud -->
    <!-- to Dev [toggle Class] : invert, title--small, title--medium -->
    <!-- to Dev [inline Style] : background-color -->
    <div class="o-width invert wc-100" style="background-color: rgb(0, 0, 0);">
        <div class="o-tag-cloud">
            <h6 class="a-heading-6 cloud-title">Inverted tag cloud</h6>
            <ul class="tags-container">
                <li class="tag ">
                    <a class="a-link" href="/en_gbp/index.html" target="_self">Shop now</a>
                </li>
            </ul>
        </div>
    </div>
    <!-- //o-tag-cloud -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">invert / title--small</span>
    </h2>
    <!-- //a-heading -->
    <!-- o-tag-cloud -->
    <!-- to Dev [toggle Class] : invert, title--small, title--medium -->
    <!-- to Dev [inline Style] : background-color -->
    <div class="o-width title--small invert wc-100" style="background-color: rgb(250, 160, 140);">
        <div class="headings" style="text-align: center;">
            <div class="m-headline">
                <h2 class="a-heading-2 has-hover has-margin">
                    <a class="a-link heading-tag" href="/en_gbp/c/valentines-shop.html" target="_self">VALENTINE'S
                        SHOP
                    </a>
                </h2>
            </div>
        </div>
        <div class="o-tag-cloud">
            <h6 class="a-heading-6 cloud-title"></h6>
            <ul class="tags-container"><!-- -->
                <li class="tag "><!-- -->
                    <a class="a-link" href="/en_gbp/c/valentines-shop.html" target="_self">Explore now</a><!-- -->
                    <div class="promotion-data p11-tag-cloud" hidden="">
                        <span class="promo_id">startpage-valentines-shopnow</span>
                        <span class="promo_name">startpage-valentines-shopnow</span>
                        <span class="promo_creative">startpage-valentines-shopnow</span>
                    </div>
                </li>
            </ul>
        </div>
    </div>
    <!-- //o-tag-cloud -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">invert / title--medium</span>
    </h2>
    <!-- //a-heading -->
    <!-- o-tag-cloud -->
    <!-- to Dev [toggle Class] : invert, title--small, title--medium -->
    <!-- to Dev [inline Style] : background-color -->
    <div class="o-width title--medium invert wc-100" style="background-color: red;">
        <div class="headings" style="text-align: center;">
            <div class="m-headline"><h2 class="a-heading-2  has-margin">RED COLOUR</h2></div>
        </div>
        <div class="o-tag-cloud"><h6 class="a-heading-6 cloud-title"></h6>
            <ul class="tags-container"><!-- -->
                <li class="tag "><!-- -->
                    <a class="a-link" href="/content/campaigns.html" target="_self">Women</a><!-- --></li><!-- -->
                <!-- -->
                <li class="tag "><!-- -->
                    <a class="a-link" href="/content/campaigns.html" target="_self">Men</a><!-- --></li><!-- --><!-- -->
                <li class="tag "><!-- -->
                    <a class="a-link" href="/content/campaigns.html" target="_self">Children</a><!-- --></li><!-- -->
                <!-- -->
                <li class="tag "><!-- -->
                    <a class="a-link" href="/content/campaigns.html" target="_self">Homeware</a><!-- --></li><!-- -->
            </ul>
        </div>
    </div>
    <!-- //o-tag-cloud -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">title--medium</span>
    </h2>
    <!-- //a-heading -->
    <!-- o-tag-cloud -->
    <!-- to Dev [toggle Class] : invert, title--small, title--medium -->
    <!-- to Dev [inline Style] : background-color -->
    <div class="o-width title--medium wc-100">
        <div class="headings" style="text-align: center;">
            <div class="m-headline"><h2 class="a-heading-2  has-margin">NEW ARRIVALS</h2></div>
        </div>
        <div class="o-tag-cloud">
            <h6 class="a-heading-6 cloud-title"></h6>
            <ul class="tags-container"><!-- -->
                <li class="tag "><!-- -->
                    <a class="a-link" href="/content/campaigns.html" target="_self">Women</a><!-- --></li><!-- -->
                <!-- -->
                <li class="tag "><!-- -->
                    <a class="a-link" href="/content/campaigns.html" target="_self">Men</a><!-- --></li><!-- --><!-- -->
                <li class="tag "><!-- -->
                    <a class="a-link" href="/content/campaigns.html" target="_self">Children</a><!-- --></li><!-- -->
                <!-- -->
                <li class="tag "><!-- -->
                    <a class="a-link" href="/content/campaigns.html" target="_self">Homeware</a><!-- --></li><!-- -->
            </ul>
        </div>
    </div>
    <!-- //o-tag-cloud -->
        
</div>