<div data-component="OPageContent" class="o-page-content guide-content">

    <!-- description-box -->
    <div class="description-box full-width">
        <h2 class="a-heading-1">
            <strong class="a-strong">Local-navigation</strong>
        </h2>
        <div class="m-informative-section">
            <h3>Description</h3>

            <h3>.is-long</h3>
            <p>자동생성됨, 버튼이 지정한 width 값보다 넘어갈 시 사용하면, 좌우에 버튼 생성</p>
            
        </div>

    </div>
    <!-- //description-box -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">default</span>
    </h2>
    <!-- //a-heading -->
    <!-- local-navigation-basic -->
    <div class="sdp-component local-navigation">
        <div class="o-local-navigation" data-component="OLocalNavigation">
            <button class="a-button-nostyle show-more-left-btn" type="button"></button>
            <span class="nav-title">Type</span>
            <ul>
                <li>
                    <a tabindex="0" class="a-link" href="#none" target="_self" data-title="Components">
                        All Components
                    </a>
                </li>
                <li class="is-selected">
                    <a tabindex="0" class="a-link" href="#none" target="_self" data-title="Hero">
                        Hero
                    </a>
                </li>
                <li>
                    <a tabindex="0" class="a-link" href="#none" target="_self" data-title="Banner">
                        Banner
                    </a>
                </li>
                <li>
                    <a tabindex="0" class="a-link" href="#none" target="_self" data-title="Breadcrumb component">
                        Breadcrumb component
                    </a>
                </li>
                <li>
                    <a tabindex="0" class="a-link" href="#none" target="_self" data-title="Local navigation">
                        Local navigation
                    </a>
                </li>
            </ul>
            <button class="a-button-nostyle show-more-right-btn" type="button"></button>
        </div>
    </div>
    <!-- // local-navigation-basic -->

    <!----------------------->

    <!-- a-heading -->
    <h2 class="a-heading-2 is-main-heading">
        <span class="heading-cap">type</span>
        <span class="a-tag is-department">is-long</span>
    </h2>
    <!-- //a-heading -->
    <!-- local-navigation-basic -->
    <div class="sdp-component local-navigation">
        <div class="o-local-navigation" data-component="OLocalNavigation">
            <button class="a-button-nostyle show-more-left-btn" type="button"></button>
            <span class="nav-title">Type</span>
            <ul>
                <li>
                    <a tabindex="0" class="a-link" href="#none" target="_self" data-title="Components">
                        All Components
                    </a>
                </li>
                <li class="is-selected">
                    <a tabindex="0" class="a-link" href="#none" target="_self" data-title="Hero">
                        Hero
                    </a>
                </li>
                <li>
                    <a tabindex="0" class="a-link" href="#none" target="_self" data-title="Banner">
                        Banner
                    </a>
                </li>
                <li>
                    <a tabindex="0" class="a-link" href="#none" target="_self" data-title="Breadcrumb component">
                        Breadcrumb component
                    </a>
                </li>
                <li>
                    <a tabindex="0" class="a-link" href="#none" target="_self" data-title="Local navigation">
                        Local navigation
                    </a>
                </li>
                <li>
                    <a tabindex="0" class="a-link" href="#none" target="_self" data-title="Focus panels">
                        Focus panels
                    </a>
                </li>
                <li>
                    <a tabindex="0" class="a-link" href="#none" target="_self" data-title="Image component">
                        Image component
                    </a>
                </li>
                <li>
                    <a tabindex="0" class="a-link" href="#none" target="_self" data-title="Product listings">
                        Product listings
                    </a>
                </li>
                <li>
                    <a tabindex="0" class="a-link" href="#none" target="_self" data-title="Tag cloud">
                        Tag cloud
                    </a>
                </li>
                <li>
                    <a tabindex="0" class="a-link" href="#none" target="_self" data-title="Text Component">
                        Text Component
                    </a>
                </li>
                <li>
                    <a tabindex="0" class="a-link" href="#none" target="_self" data-title="Traffic divider">
                        Traffic divider
                    </a>
                </li>
                <li>
                    <a tabindex="0" class="a-link" href="#none" target="_self" data-title="Accordion">
                        Accordion
                    </a>
                </li>
                <li>
                    <a tabindex="0" class="a-link" href="#none" target="_self" data-title="Teaser component">
                        Teaser component
                    </a>
                </li>
                <li>
                    <a tabindex="0" class="a-link" href="#none" target="_self" data-title="Other">
                        Other
                    </a>
                </li>
                <li>
                    <a tabindex="0" class="a-link" href="#none" target="_self" data-title="Layout component">
                        Layout component
                    </a>
                </li>
                <li>
                    <a tabindex="0" class="a-link" href="#none" target="_self" data-title="SDP Headline">
                        SDP Headline
                    </a>
                </li>
                <li>
                    <a tabindex="0" class="a-link" href="#none" target="_self" data-title="Holiday toolbox">
                        Holiday toolbox
                    </a>
                </li>
            </ul>
            <button class="a-button-nostyle show-more-right-btn" type="button"></button>
        </div>
    </div>
    <!-- // local-navigation-basic -->
    
</div>