<div class="image-container">
    <div class="trackImage col-item">
        <img class="a-image" alt="wallnut perfum" src="<%= pageInfo.root %>/images/component/ff_perfume3b_f.jpg">
        <div class="caption">
            <span>Caption</span>
        </div>
    </div>
</div>
<a class="a-link image-container" href="#" target="_self">
    <div class="trackImage col-item">
        <img class="a-image" alt="wallnut perfum" src="<%= pageInfo.root %>/images/component/ff_perfume4b_f-1.jpg">
    </div>
</a>
<div class="image-container">
    <div class="trackImage col-item">
        <img class="a-image" alt="wallnut perfum" src="<%= pageInfo.root %>/images/component/ff_perfume5b_f.jpg">
    </div>
</div>
<a class="a-link image-container" href="#" target="_self">
    <div class="trackImage col-item">
        <img class="a-image" alt="wallnut perfum" src="<%= pageInfo.root %>/images/component/ff_perfume3b_f.jpg">
    </div>
</a>