<div data-component="OPageContent" class="o-page-content cofs-page" data-component-id="">
    <!-- o-my-page -->
    <div class="o-my-page o-width wc-75">

        <h2 class="a-heading-2 is-main-heading page-top-title">
            <span>회원탈퇴</span>
        </h2>

        <!-- membership-leave-wrap -->
        <div class="leave-wrap leave-complete">
            <div class="subTitle-section">
                고객님의 탈퇴가 완료되었습니다.<br>
                앞으로 더 좋은 모습으로 찾아 뵙겠습니다.
            </div>

            <div class="info-section">
                <ul class="txt-list">
                    <li>
                        <span class="txt-bold">발송되는 이메일의 경우, 회원탈퇴 후 24시간 이내에 발송이 중지됩니다.</span><br>
                        더현대닷컴에 가지고 있는 더머니, 예치금, 할인쿠폰 등의 혜택이 자동 삭제되며, 재가입하실 경우에도 복원되지 않습니다.
                    </li>
                    <li>
                        <span class="txt-bold">단, 드물게 데이터 처리상 일부 지연될 수 있사오니, 회원탈퇴 후 48시간이 지난후에 이메일 또는 SMS를 받으시는 경우 ARKET 온라인 스토어 고객센터(1522-0176)로 연락하여 주시기 바랍니다.</span>
                    </li>
                </ul>
            </div>

            <button type="submit" class="a-button is-primary">
                <span>ARKET 메인으로</span>
            </button>
        </div>
        <!-- // membership-leave-wrap -->
    </div>
    <!-- // o-my-page -->

</div>