<div data-component="OPageContent" class="o-page-content cofs-page">

    <!-- o-my-page -->
    <div class="o-my-page">

        <%# md-o-my-page-navigation %>
        <%- include ("../../../common/md-o-my-page-navigation.ejs") %>

        <!-- my-order-delivery-content -->
        <div class="my-order-delivery-content u-clearfix">

            <h3 class="a-heading-3 sub">주문/배송</h3>
            <!-- my-orders-list-wrap -->
            <div class="my-orders-list-wrap">

                <%# md-my-orderlist-listoption-dropdown %>
                <%- include ("../../../common/md-my-orderlist-listoption-dropdown") %>

                <!-- my-order-list -->
                <div class="my-order-list">

                    <!--
                    <div class="order-list-ul-header">
                        <div class="order-info">주문일/주문번호</div>
                        <ul class="product-list-ul">
                            <li class="m-order-summary-row">상품정보/옵션정보</li>
                            <li class="order-price">결제금액</li>
                            <li class="order-status">주문상태</li>
                            <li class="order-btns">취소/반품</li>
                        </ul>
                    </div>
                    -->
                    <ul class="order-list-ul">
                        <li class="empty-li">
                            <p class="empty-item">주문/배송 내역이 없습니다.</p>
                        </li>
                    </ul>

                </div>
                <!-- //my-order-list -->

            </div>
            <!-- //my-orders-list-wrap -->

        </div>
        <!-- //my-order-delivery-content -->

    </div>
    <!-- //o-my-page -->
</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let tabMydetailsr = document.querySelector('.menu-my-details');
        let tabMyorders = document.querySelector('.menu-my-orders');
        if(tabMyorders){
            tabMyorders.parentNode.classList.add('is-active');
        }
    })();
</script>
<!-- //tip -->