<div data-component="OPageContent" class="o-page-content cofs-page">

    <!-- n-find-idpw -->
    <div class="n-find-idpw">

        <h2 class="a-heading-2">아이디 찾기 결과</h2>

        <div class="n-wrap">

            <!-- find-result-box -->
            <div class="find-result-box complete">
                <p class="tit-txt">이메일 인증이 완료되었습니다.</p>
                <p class="data">이메일 주소를 입력한 이전 화면에서 인증완료 버튼을 클릭하여 다음단계를 진행해 주세요.</p>
            </div>
            <!-- //find-result-box -->

        </div>

        <!-- button -->
        <a href="#none" class="a-button">
            <span>확인</span>
        </a><!-- // button -->

    </div>
    <!-- //n-find-idpw -->

</div>

