<div data-component="OPageContent" class="o-page-content cofs-page">

    <!-- n-find-idpw -->
    <div class="n-find-idpw">

        <h2 class="a-heading-2">아이디 찾기 결과</h2>
        <p class="data">전체 아이디를 확인하기 위하여 하단의 다음을 선택하여 주세요.</p>

        <div class="n-wrap">
            <!-- find-result-box -->
            <div class="find-result-box wait">
                <ul class="find-result-list">
                    <li>
                        <div class="find-result-item">
                            <span class="tit">Hong***@mail.com</span>
                            <span class="info">가입일시 : 2020-10-17</span>
                        </div>
                    </li>
                </ul>
                <p class="data">아이디 찾기에 더 궁금하신 사항이 있다면 ARKET 고객센터 [1522-0176] 로 문의하여 주십시오.</p>
            </div><!-- //find-result-box -->
        </div>
        <!-- button-container -->
        <div class="button-container col-2">
            <a href="#none" class="a-button is-outlined"><span>인증메일 재발송</span></a>
            <a href="#none" class="a-button"><span>다음</span></a>
        </div><!-- //button-container -->

    </div><!-- //n-find-idpw -->

</div>

