<div data-component="OPageContent" class="o-page-content cofs-page">

    <!-- n-find-idpw -->
    <div class="n-find-idpw">

        <h2 class="a-heading-2">아이디 찾기 결과</h2>
        <p class="data">고객님의 아이디는</p>

        <div class="n-wrap">
            <!-- find-result-box -->
            <div class="find-result-box guide">
                <p class="tit-txt">goodluck00</p>
                <p class="data">아이디 찾기에 더 궁금하신 사항이 있다면 ARKET 고객센터 [1522-0176] 로 문의하여 주십시오.</p>
            </div><!-- //find-result-box -->
        </div>

        <!-- button-container -->
        <div class="button-container col-2">
            <a href="#none" class="a-button is-outlined"><span>비밀번호 찾기</span></a>
            <a href="#none" class="a-button is-primary"><span>로그인하기</span></a>
        </div><!-- //button-container -->

    </div><!-- //n-find-idpw -->

</div>

