<div data-component="OPageContent" class="o-page-content cofs-page">
    <span id="content" tabindex="-1" class="access-content">Content of the page</span>

    <!-- n-find-idpw -->
    <div class="n-find-idpw">
        <div class="form-wrap">
            <form id="" name="" novalidate="true" data-component="OForm" class="o-form ng-pristine ng-valid" action="" method="post">
                <h2 class="a-heading-2">아이디 찾기</h2>
                <p class="data">ARKET을 방문해 주셔서 감사합니다. 고객님의 정보를 편리하고 안전하게 찾을 수 있도록 도와드리겠습니다.</p>

                <div class="n-wrap">
                    <!-- input : 이름 -->
                    <div data-component="MInput" class="m-input">
                        <label class="a-label js-a-label" for="name">이름</label>
                        <input class="a-input js-a-input" id="name" name="name" type="text" pattern="" placeholder="이름" data-validation-required-text="이름을 입력해 주세요." data-validation-pattern-text="이름은 한글 또는 영문만 입력 가능합니다.">
                        <label class="a-label js-a-label"  for="name"></label>
                    </div><!-- // input : 이름 -->

                    <!-- input : 생년월일 -->
                    <div data-component="MInput" class="m-input">
                        <label class="a-label js-a-label" for="birthday">생년월일</label>
                        <input class="a-input js-a-input" id="birthday" name="birthday" type="tel" pattern="" placeholder="생년월일" data-validation-required-text="생년월일을 입력해 주세요." data-validation-pattern-text="올바른 날짜형식이 아닙니다." maxlength="8">
                        <label class="a-label js-a-label" for="birthday"></label>
                        <p class="guide-text">생년월일을 -없이 입력해주세요(예:19880512)</p>
                    </div><!-- // input : 생년월일 -->
                </div>

                <!-- button -->
                <button type="submit" id="forgottenButton" class="a-button is-primary">
                    <span>확인</span>
                </button><!-- // button -->
            </form>
        </div>
    </div> <!-- //n-find-idpw -->

</div>
