<div data-component="OPageContent" class="o-page-content cofs-page">
    <span id="content" tabindex="-1" class="access-content">Content of the page</span>

    <!-- n-find-idpw -->
    <div class="n-find-idpw">

        <h2 class="a-heading-2">아이디 찾기 결과</h2>
        <p class="data">다음 정보로 가입된 아이디가 총 ( <span>2</span> )개 있습니다.</p>

        <div class="n-wrap">
            <!-- find-result-box -->
            <div class="find-result-box">
                <table>
                    <tbody>
                    <tr>
                        <th>이름</th>
                        <td>홍길동</td>
                    </tr>
                    <tr>
                        <th>생년월일</th>
                        <td>1988-05-12</td>
                    </tr>
                    </tbody>
                </table>
                <ul class="find-result-list">
                    <li>
                        <div class="m-radio-button v3 valign-top">
                            <input type="radio" class="a-radio-button" id="find-result-item-radio1" name="find-result-item-radio">
                            <label class="a-label js-a-label u-no-select custom-radio" for="find-result-item-radio1"></label>
                            <label class="a-label js-a-label label-text" for="find-result-item-radio1">
                                <div class="find-result-item">
                                    <span class="tit">Hong***@mail.com</span>
                                    <span class="info">가입일시 : 2020-10-17</span>
                                </div>
                            </label>
                        </div>
                    </li>
                    <li>
                        <div class="m-radio-button v3 valign-top">
                            <input type="radio" class="a-radio-button" id="find-result-item-radio2" name="find-result-item-radio">
                            <label class="a-label js-a-label u-no-select custom-radio" for="find-result-item-radio2"></label>
                            <label class="a-label js-a-label label-text" for="find-result-item-radio2">
                                <div class="find-result-item">
                                    <span class="tit">Hong***</span>
                                    <span class="info">가입일시 : 2020-10-17</span>
                                </div>
                            </label>
                        </div>
                    </li>
                </ul>
                <p class="data p-certify">
                    <span>아이디가 기억나지 않으신다면 인증을 이용해 주세요.</span>
                    <br class="only-m">
                    <a class="a-link a-link-udln btn-certification" href="#none" target="_self">인증하기</a>
                </p>
                <p class="data">아이디 찾기에 더 궁금하신 사항이 있다면 ARKET 고객센터 [1800-2765] 로 문의하여 주십시오.</p>
            </div>
            <!-- //find-result-box -->
        </div>
        <!-- button-container -->
        <div class="button-container col-2">
            <a href="#none" class="a-button is-outlined"><span>비밀번호 찾기</span></a>
            <a href="#none" class="a-button is-primary"><span>로그인하기</span></a>
        </div><!-- //button-container -->

    </div><!-- //n-find-idpw -->

</div>

