<div data-component="OPageContent" class="o-page-content cofs-page">
    <span id="content" tabindex="-1" class="access-content">Content of the page</span>

    <!-- n-find-idpw -->
    <div class="n-find-idpw">

        <h2 class="a-heading-2">아이디 찾기 결과</h2>
        <p class="data">다음 정보로 가입된 아이디가 없습니다.</p>

        <div class="n-wrap v3">
            <!-- find-result-box -->
            <div class="find-result-box">
                <table>
                    <tbody>
                    <tr>
                        <th>이름</th>
                        <td>홍길동</td>
                    </tr>
                    <tr>
                        <th>생년월일</th>
                        <td>1988-05-12</td>
                    </tr>
                    </tbody>
                </table>
                <p class="data">입력하신 정보를 재확인 하여 주시거나, 회원가입을 해주세요.</p>
            </div> <!-- //find-result-box -->
        </div>

        <!-- button-container -->
        <div class="button-container col-2">
            <a href="#none" class="a-button is-outlined"><span>아이디 찾기</span></a>
            <a href="#none" class="a-button is-primary"><span>회원가입하기</span></a>
        </div><!-- //button-container -->

    </div><!-- //n-find-idpw -->

</div>

