<div data-component="OPageContent" class="o-page-content">
    <div class="o-width wc-50">
        <%# md-text-policy %>
        <%- include ("../../../common/md-text-policy.ejs") %>
    </div>
</div>
<!-- end -->