<div data-component="OPageContent" class="o-page-content" data-component-id="">
    <div class="o-width wc-50">
        <%# md-text-privacy %>
        <%- include ("../../../common/md-text-private.ejs") %>
    </div>
</div>
<!-- end -->