<div data-component="OPageContent" class="o-page-content">

    <!-- o-hero -->
    <div class="o-hero is-takeover full-width hero-takeover   single-image   " data-component="OHero" data-component-id="0788c5b0-85cc-4e18-bff0-c82797239fd0">
        <div class="takeover-wrapper">
            <div class="textblock-container">
                <div class="o-text-block " style="color:">
                    <div class="heading-wrapper">
                        <div class="m-headline">
                            <h1 class="a-heading-1 medium-font">
                                <span class="heading-cap">arket</span>
                                <span class="heading-value">Size guide</span>
                            </h1>
                        </div>
                    </div>
                    <div class="cta-wrapper" style="--cta-color:black; --text-color:white;">
                        <div class="o-tag-cloud">
                            <ul class="tags-container">
                                <li class="tag">
                                    <a class="a-link" href="size-guide/size-guide-women.html" onclick="TealiumUtils.heroCtaClicked('','','size guide – women');">
                                        Women
                                    </a>
                                </li>
                                <li class="tag">
                                    <a class="a-link" href="size-guide/size-guide-men.html" onclick="TealiumUtils.heroCtaClicked('','','size guide – men');">
                                        Men
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="image-wrapper">
            <div style="background-image:url(<%= pageInfo.root %>/images/component/ARKET_Store_Hamburg_Oct2018_206_f.jpg)" class="takeover-background"></div>
        </div>
    </div>
    <!-- //o-hero -->

    <%# md-o-teaser %>
    <%- include ("../../../common/md-o-teaser.ejs") %>

</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let activeTab = document.querySelectorAll('.o-local-navigation > ul > li');
        if(activeTab){
            activeTab[4].classList.add('is-selected');
        }
    })();
</script>
<!-- //tip -->