<%- include ("./common/layout-header") %>

<body data-component="OPage" class="layout-inside is-iframe-body" id="oPage">

    <!-- o-page-content -->
    <%- include ("./pages/"+targetPath) %>
    <!-- //o-page-content -->

    <%# md-include-script %>
    <%- include ("./common/md-include-script.ejs") %>

</body>
</html>