<div data-component="OPageContent" class="o-page-content">

    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Suppliers.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">Suppliers</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">BOTINELLI</h2>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        <span class="heading-cap">Suppliers</span>
                        Bottinelli is a small family-owned weaving mill founded in 1931 in Villa Guardia, Lombardy – an important centre for Italian silk and textile production.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    During the following decades, the company earned a reputation as a manufacturer of intricate silk jacquards for men’s accessories.
                    As the demand for ready-to-wear items increased in the ‘70s and ‘80s, Bottinelli expanded their production to offer finished accessories such as ties, bowties and scarves.
                    The company was thus able to oversee the entire process from yarn to a finished product, ensuring quality and style. Today, the fourth generation of Attilio Bottinelli’s family runs a modern mill and factory,
                    employing 54 highly skilled professionals that craft men’s and women’s silk accessories for ARKET.ular shape.
                </p>
            </div>
        </div>
    </div>

</div>