<div data-component="OPageContent" class="o-page-content footer-about-wrap">

    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Suppliers.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">Suppliers</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">FLAMINGO FASHION</h2>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        <span class="heading-cap">Suppliers</span>
                        Flamingo Fashion은 방글라데시 5대 의류 및 섬유 제조업체 중 하나인 DBL Group이라는 다카 기반 대기업의 일부입니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    1991년에 설립되었으며, 지속가능성에 대한 전체론적인 접근 방식을 취합니다. 그들은 다수의 환경 및 유기농 섬유 관련 인증을 보유하고 있으며 면화 재배의 더 나은 표준을 촉진하는 Better Cotton Initiative와 같은 곳에서 원료를 공급받습니다. 또한 어린이집, 기술 개발과정, 할인 매장 등 28,000명의 직원에게 도움이 되는 좋은 근무 환경을 제공합니다. Flamingo Fashion은 남성과 여성을 위한 ARKET 니트 상의, 하의, 점퍼와 아기와 아동을 위한 잠옷을 만들고 있습니다.
                </p>
            </div>
        </div>
    </div>

    <div class="o-width wc-100">
        <div class="parbase sdp-component product-listing align-below">

            <%# md-o-product-filters %>
            <%#- include ("../../../../common/md-o-product-filters.ejs") %>

            <!-- o-product-listing -->
            <div id="lazyLoadSpan">
                <div id="reloadProducts" class="o-product-listing has-upper-body-images fixed-columns-6 u-align-center">
                    <%# md-o-product-listing-product-list %>
                    <%- include ("../../../../common/md-o-product-listing-product-list-30ea-corner.ejs") %>
                </div>
            </div>

            <span id="lazyDiv">
                <%# md-o-lazy-load %>
                <%- include ("../../../../common/md-o-lazy-load.ejs") %>
            </span>
            <!-- //o-product-listing -->
        </div>
    </div>

</div>