<div data-component="OPageContent" class="o-page-content footer-about-wrap">

    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Suppliers.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">Suppliers</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">FOSHAN<br>HUILONG KNITTING & APPAREL</h2>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        <span class="heading-cap">Suppliers</span>
                        1994년에 설립된 Foshan Huilong Knitting & Apparel은 중국 남부 광둥성에 기반을 두고 있으며 ARKET용 원형 니트 면 저지를 제조합니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    직물은 생백사로 편직되어 염색되고 안정화되며 의복 재단과 봉제를 위해 준비됩니다. 각 직물의 구조는 회사의 250명의 직원들이 개별적으로  모니터링하고 유지 관리합니다.
                </p>
            </div>
        </div>
    </div>

    <div class="o-width wc-50">

        <div class="o-image-listing cols-1">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/huilong_01_a.jpg">
                </div>
            </div>
        </div>

        <div class="o-image-listing cols-2">
            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/huilong_04_a.jpg">
                </div>
            </div>

            <div class="image-container">
                <div class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/huilong_03_a.jpg">
                </div>
            </div>
        </div>
    </div>

</div>