<div data-component="OPageContent" class="o-page-content footer-about-wrap">

    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Suppliers.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">Suppliers</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">MARZOTTO</h2>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        <span class="heading-cap">Suppliers</span>
                        Marzotto는 180년 이상 이탈리아 Valdagno에서 직물을 만들어 왔습니다.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    품질에 대한 세심한 주의를 기울이는 Marzotto와 4,200명의 직원은 원자재 선택에서 완제품 생산에 이르기까지 공급망의 모든 단계를 관리합니다. Luigi Marzotto가 1836년에 설립한 이 회사는 그의 아들 Gaetano가 불과 21세의 나이에 회사를 인수했습니다. 그 후 수십 년 동안 수작업 모델에서 산업 모델로 전환했으며 그 이후로 번창했습니다. Marzotto는 ARKET 남성 및 여성 테일러링을 위한 고품질 천연 직물을 만들기 위해 전문 지식을 사용하는 글로벌 리더입니다.
                </p>
            </div>
        </div>
    </div>

    <div class="o-width wc-100">
        <div class="parbase sdp-component product-listing align-below">
            <!-- o-product-listing -->
            <div id="lazyLoadSpan">
                <div id="reloadProducts" class="o-product-listing has-still-life-images fixed-columns-5  u-align-center">
                    <%# md-o-product-listing-product-list %>
                    <%- include ("../../../../common/md-o-product-listing-search-list.ejs") %>
                </div>
            </div>

            <span id="lazyDiv">
                <%# md-o-lazy-load %>
                <%- include ("../../../../common/md-o-lazy-load.ejs") %>
            </span>
            <!-- //o-product-listing -->
        </div>

        <div class="o-width wc-75"></div>

        <!-- carousel -->
        <div class="o-width wc-75 carousel">
            <!-- product-suggestions-slider -->
            <div class="o-pra-component is-suggestions"
                 data-component="OPra"
                 data-pra-panel="product-detail-page"
                 data-slides-desktop="4"
                 data-slides-tablet="4"
                 data-slides-mobile="2"
                 data-pra-locale="en"
                 data-pra-id="PRA1">
                <h2 class="a-heading-2 u-align-center is-main-heading slider-title">Other items you may like</h2>

                <%# md-o-slider-product %>
                <%#- include ("../../../../common/md-o-slider-product.ejs") %>
                <%- include ("../../../../common/md-o-slider-product2-1-5ea") %>

            </div>
            <!-- // product-suggestions-slider -->
        </div>
        <!-- //carousel -->
    </div>

</div>