<div data-component="OPageContent" class="o-page-content">

    <div class="o-width title--medium about-icon wc-50">
        <div class="m-headline with-icon u-align-center is-main-headline full-width">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_9_GRID_Suppliers.png">
            <h2 class="a-heading-2 ">
                <span class="heading-cap">Suppliers</span>
                <span class="heading-value"></span>
            </h2>
        </div>
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2 has-margin">MARZOTTO</h2>
            </div>
        </div>
    </div>

    <div class="o-width about wc-50">
        <div class="o-text-field two-columns ">
            <div class="headings" style="text-align:left;">
                <div class="m-headline">
                    <h2 class="a-heading-2 has-margin">
                        <span class="heading-cap">Suppliers</span>
                        Marzotto has been making fabrics in the Italian town of Valdagno for more than 180 years.
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext">
                    With scrupulous attention to quality, Marzotto and its 4,200 employees control all steps in the supply chain – from raw material selection to the production of finished fabric.
                    Founded in 1836 by Luigi Marzotto, the company was taken over by his son Gaetano at just 21. In the decades that followed, it switched from a craft model to an industrial one – and has flourished ever since.
                    Marzotto are a global leader, using their expertise to create high-quality, natural fabrics for ARKET men’s and women’s tailoring.
                </p>
            </div>
        </div>
    </div>

    <div class="o-width wc-100">
        <style type="text/css">
            html.no-touchevents .o-product .image:hover .a-image.default-image {
                display: inline-block !important;
            }
        </style>

        <div class="parbase sdp-component product-listing align-below">
            <!-- o-product-listing -->
            <div id="lazyLoadSpan">
                <div id="reloadProducts" class="o-product-listing has-still-life-images fixed-columns-5  u-align-center">
                    <%# md-o-product-listing-product-list %>
                    <%- include ("../../../../common/md-o-product-listing-search-list.ejs") %>
                </div>
            </div>

            <span id="lazyDiv">
                <%# md-o-lazy-load %>
                <%- include ("../../../../common/md-o-lazy-load.ejs") %>
            </span>
            <!-- //o-product-listing -->
        </div>

        <div class="o-width wc-75"></div>

        <!-- carousel -->
        <div class="o-width wc-75 carousel">
            <!-- product-suggestions-slider -->
            <div class="o-pra-component is-suggestions"
                 data-component="OPra"
                 data-pra-panel="product-detail-page"
                 data-pra-locale="en"
                 data-pra-id="PRA1">
                <h2 class="a-heading-2 u-align-center is-main-heading slider-title">Other items you may like</h2>

                <%# md-o-slider-product %>
                <%- include ("../../../../common/md-o-slider-product.ejs") %>

            </div>
            <!-- // product-suggestions-slider -->
        </div>
        <!-- //carousel -->
    </div>

</div>