<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:'Arket Sans','Noto Sans KR',Arial,sans-serif;border-collapse:collapse;">
    <tbody>
    <tr>
        <td align="left" style="padding:20px 0px 40px 0px;font-weight:700;font-size:20px;color:#000;">
            고객님의 입금이 확인 되었습니다.
        </td>
    </tr>
    <tr>
        <td align="left" style="font-size:12px;line-height:18px;color:#000;">
            {이름} 고객님!<br>
            ARKET 고객센터 상담원 ㅇㅇㅇ입니다.<br>
            <br>
            저희 ARKET를 방문해주셔서 감사합니다.<br>
        </td>
    </tr>
    <tr>
        <td align="left" style="font-size:13px;line-height:18px;color:#000;padding-bottom:108px;">
            요청해주신 사항은 입금 확인되어 결제되셨습니다.
        </td>
    </tr>
    </tbody>
</table>