<table align="center" width="100%" border="0" cellspacing="0" cellpadding="0" style="font-family:'Arket Sans','Noto Sans KR',Arial,sans-serif;border-collapse:collapse;">
    <tbody>
    <tr>
        <td align="left" style="padding:20px 0px 20px 0px;font-weight:700;font-size:30px;color:#000;">
            간편로그인이 설정되었습니다.
        </td>
    </tr>
    <tr><td height="2" style="background-color: #000000;"></td></tr>
    <tr><td height="20"></td></tr>
    <tr>
        <td align="left">
            <table width="100%">
                <tbody>
                <tr>
                    <td>
                        <table width="100%" style="border-collapse:collapse;">
                            <colgroup>
                                <col width="180px">
                                <col>
                            </colgroup>
                            <tbody style="color: #000;font-size:13px; line-height: 18px;">
                                <tr>
                                    <td>· 아이디</td>
                                    <td>abc123 </td>
                                </tr>
                                <tr><td height="26"></td></tr>
                                <tr>
                                    <td>· 간편로그인 유형
                                    </td><td>페이스북</td>
                                </tr>
                                <tr><td height="26"></td></tr>
                                <tr>
                                    <td>· 제 3자(페이스북)로 부터<br>&nbsp;&nbsp;제공받은 정보</td>
                                    <td>이메일<br>(로그인 목적)
                                    </td>
                                </tr>
                            </tbody>
                     </table>
                    </td>
                </tr>
                <tr><td height="30"></td></tr>
                </tbody>
            </table>
        </td>
    </tr>
    <tr><td height="1" style="background-color: #000000;"></td></tr>
    <tr><td height="70"></td></tr>
    </tbody>
</table>