<div data-component="OPageContent" class="o-page-content care-guide-content">

    <h1 class="a-heading-1 seo-heading ">
        <span>Canvas</span>
    </h1>
    <%# md-o-local-navigation-care-guide %>
    <%- include ("../../../../common/md-o-local-navigation-care-guide.ejs") %>

    <!-- info-section -->
    <div class="o-width wc-75">
        <div class="o-layout">
            <div class="layout-row-1">
            </div>
            <div class="layout-5">

                <!-- text-box -->
                <div class="layout-row-2">
                    <div class="textcomponent parbase section">
                        <div class="o-text-field is-wide is-large">
                            <div class="text-container">
                                <p class="a-paragraph is-richtext"></p>
                                <p class="a-paragraph">새 컨버스 운동화를 착용하기 전 얼룩과 방수 처리를 하여 보호해주세요. </p>
                                <p class="a-paragraph">먼지와 얼룩이 묻는 경우 비누와 찬물을 이용해 작은 강모 브러시나 칫솔로 부드럽게 원을 그리며 제거해주세요. 찬물로 씻어내되 신발이 젖지 않도록 해주시고 통풍이 잘 되는 곳에서 자연건조 시켜주세요. </p>
                                <p class="a-paragraph">끈은 비눗물에 따로 담가 세탁하세요.<br></p>
                                <p class="a-paragraph"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // text-box -->

                <!-- img-box -->
                <div class="layout-row-3">
                    <div class="image-slideshow parbase section">
                        <div class="o-image-listing cols-2">

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_canvas_trainers_01_f.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_canvas_trainers_02_f.jpg">
                                </div>
                            </div>

                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/CARE_canvas_trainers_03_f.jpg">
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <!-- // img-box -->

            </div>
        </div>
    </div>
    <!-- // info-section -->

</div>


<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let activeTab = document.querySelectorAll('.o-local-navigation > ul > li');
        if(activeTab){
            activeTab[6].classList.add('is-selected');
        }
    })();
</script>
<!-- //tip -->