<div data-component="OPageContent" class="o-page-content care-guide-content">

    <h1 class="a-heading-1 seo-heading">
        <span>Denim</span>
    </h1>

    <%# md-o-local-navigation-care-guide %>
    <%- include ("../../../../common/md-o-local-navigation-care-guide.ejs") %>

    <!-- info-section -->
    <div class="o-width wc-75">
        <div class="o-layout">
            <div class="layout-row-1">
            </div>
            <div class="layout-5">

                <!-- text-box -->
                <div class="layout-row-2">
                    <div class="textcomponent parbase section">
                        <div class="o-text-field is-wide is-large">
                            <div class="text-container">
                                <p class="a-paragraph is-richtext"></p>
                                <p class="a-paragraph"><b>pre-washed denim</b>&nbsp;손빨래 또는 세탁기를 사용하여 청바지를 뒤집어 찬물에서 약하게 세탁하세요. 구김을 방지하기 위해 세탁이 끝난 후 가능한 빨리 기계에서 꺼내 걸이 걸어 건조하세요. </p>
                                <p class="a-paragraph"><b>raw denim&nbsp;&nbsp;</b>다른 데님과의 차이점 중 하나는 무릎과 주머니 같은 부분에 보이는 선명한 패턴입니다. 그 패턴은 로우 데님을 착용할수록 개개인의 신체에 맞게 변화합니다. 이러한 데님으로 만들기 위해서는 일정 기간 동안 착용하고 최대한 세탁을 하지 않아야 합니다. 데님 전체가 균일하게 변색되는 것을 선호한다면 청바지를 더 자주 세탁하세요. </p>
                                <p class="a-paragraph">색을 최대한 유지하기 위해서는 데님을 뒤집어 중성세제를 사용해 손세탁 하세요. 청바지는 기계세탁 가능하나 다른 옷에 데님 염료가 물들 수 있으니 단독 또는 유사한 색상과 함께 세탁해야 합니다. 회전식 건조를 하지 마시고 옷걸이 걸고 세탁한 데님에서 떨어질 수 있는 염료가 바닦에 바로 떨어지지 않도록 수건등을 아래 놓아주세요.</p>
                                <p class="a-paragraph">데님을 처음 입을 떄는 셔츠, 속옷, 캔버스 운동화, 가구와 같은 밝은 색상의 표면에 착색되지 않도록 주의해주세요.</p>
                                <p class="a-paragraph"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // text-box -->

                <!-- img-box -->
                <div class="layout-row-3">
                    <div class="image-slideshow parbase section">
                        <div class="o-image-listing cols-1">
                            <div class="image-container">
                                <div class="trackImage col-item">
                                    <img class="a-image" src="<%= pageInfo.root %>/images/care/ARKET_19S9B2_care_2_vn.jpg">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- // img-box -->

            </div>
        </div>
    </div>
    <!-- // info-section -->

    <!-- product-listing-section -->
    <div class="o-width wc-100">
        <div class="parbase sdp-component product-listing align-below">

            <%# md-o-product-filters %>
            <%#- include ("../../../../common/md-o-product-filters.ejs") %>

            <!-- o-product-listing -->
            <div id="lazyLoadSpan">
                <div id="reloadProducts" class="o-product-listing has-upper-body-images fixed-columns-5 u-align-center">
                    <%# md-o-product-listing-search-list %>
                    <%- include ("../../../../common/md-o-product-listing-search-list.ejs") %>
                </div>
            </div>

            <span id="lazyDiv">
                <%# md-o-lazy-load %>
                <%- include ("../../../../common/md-o-lazy-load.ejs") %>
            </span>
            <!-- //o-product-listing -->

        </div>
    </div>
    <!-- // product-listing-section -->

</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let activeTab = document.querySelectorAll('.o-local-navigation > ul > li');
        if(activeTab){
            activeTab[8].classList.add('is-selected');
        }
    })();
</script>
<!-- //tip -->