/* ========================================================== */
/*                                                            */
/* file		: error                                   	      */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* errorpage s ============================================== */
@font-face { font-family: "Arket Sans"; src: url("../fonts/ArketSans-Regular.woff") format("woff"), url("../fonts/ArketSans-Regular.woff2") format("woff2"); font-weight: 400; font-style: normal; }
@font-face { font-family: 'Noto Sans KR'; src: local("../fonts/NotoSansKR-Light"); src: url("../fonts/NotoSansKR-Light.woff2") format("woff2"), url("../fonts/NotoSansKR-Light.woff") format("woff"); font-weight: 300; font-style: normal; }
@font-face { font-family: 'Noto Sans KR'; src: url("../fonts/NotoSansKR-Regular.woff2") format("woff2"), url("../fonts/NotoSansKR-Regular.woff") format("woff"); font-weight: 400; font-style: normal; }
* { margin: 0; padding: 0; box-sizing: border-box; }

html, body { width: 100%; height: 100%; }

a { font-size: inherit; color: inherit; }

@media (min-width: 401px) { .only-m { display: none; } }

@media (max-width: 401px) { .only-pc { display: none; } }

.fwr { font-weight: 400; }

.error-page-wrap { display: block; padding: 12px; width: 100%; background-image: linear-gradient(145deg, #faf8f3 17.65%, #f3f3f3 17.65%, #f3f3f3 35.29%, #fff 35.29%, #fff 50%, #faf8f3 50%, #faf8f3 67.65%, #f3f3f3 67.65%, #f3f3f3 85.29%, #fff 85.29%, #fff 100%); background-size: 68.00px 47.61px; }
.error-page-wrap .content { padding: 70px 20px 90px; width: 100%; font-family: "Arket Sans", "Noto Sans KR", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Sans-Serif"; text-align: center; background: #fff; }
.error-page-wrap .content .logo { font-weight: 400; font-size: 63px; letter-spacing: -1.26px; }
.error-page-wrap .content .text-bx { font-weight: 300; color: #000; }
.error-page-wrap .content .text-bx .t0 { margin-top: 10px; font-size: 20px; }
.error-page-wrap .content .text-bx .t1-1 { font-size: 13px; }
.error-page-wrap .content .text-bx .t1 { font-size: 17px; line-height: 26px; }
.error-page-wrap .content .text-bx .t2 { font-size: 13px; line-height: 19px; }
.error-page-wrap .content .text-bx t3 { font-weight: 400; font-size: 14px; line-height: 19px; }
.error-page-wrap .content .text-bx .t4 { font-size: 18px; }
.error-page-wrap .content .text-bx .contact-us-p { margin-top: 45px; }
.error-page-wrap .content .text-bx .desc, .error-page-wrap .content .text-bx .date-tit { padding-top: 20px; }
.error-page-wrap .content .dot-ul-tit { margin-top: 40px; text-align: left; }
.error-page-wrap .content .dot-ul { list-style: none; text-align: left; }
.error-page-wrap .content .dot-ul li { position: relative; font-size: 12px; padding-left: 10px; }
.error-page-wrap .content .dot-ul li::before { position: absolute; top: 2px; left: 0; display: inline-block; content: "-"; }
.error-page-wrap .content .tel { margin-top: 20px; }
@media (min-width: 401px) { .error-page-wrap { display: flex; justify-content: center; align-items: center; height: 100%; }
  .error-page-wrap .content { padding: 70px 20px 90px; width: 610px; }
  .error-page-wrap .content .logo { font-weight: 400; font-size: 110px; letter-spacing: -2.2px; }
  .error-page-wrap .content .text-bx .t0 { margin-top: 0; }
  .error-page-wrap .content .dot-ul-tit, .error-page-wrap .content .dot-ul { width: 380px; margin-right: auto; margin-left: auto; }
  .error-page-wrap .content .tel { margin-top: 0; } }

/* errorpage s ============================================== */

/*# sourceMappingURL=frontend.renew.error.css.map */
