@charset "UTF-8";
/* ========================================================== */
/*                                                            */
/* file		: lim                                   	      */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* common s ================================================= */
/* 로그인, 회원가입 icon-img */
.o-sign-in-wrapper .icon.naver, .o-sign-in .icon.naver, .o-registration-form .icon.naver { background-image: url(../images/icon/icon-naver.png); }
.o-sign-in-wrapper .icon.kakao, .o-sign-in .icon.kakao, .o-registration-form .icon.kakao { background-image: url(../images/icon/icon-kakao.png); }
.o-sign-in-wrapper .icon.facebook, .o-sign-in .icon.facebook, .o-registration-form .icon.facebook { background-image: url(../images/icon/icon-facebook.png); }
.o-sign-in-wrapper .icon.google, .o-sign-in .icon.google, .o-registration-form .icon.google { background-image: url(../images/icon/icon-google.png); }
.o-sign-in-wrapper .icon.phone, .o-sign-in .icon.phone, .o-registration-form .icon.phone { background-image: url(../images/icon/icon-phone-01.png); }
.o-sign-in-wrapper .icon.mail, .o-sign-in .icon.mail, .o-registration-form .icon.mail { background-image: url(../images/icon/icon-mail-01.png); }

/* login > input 공통 사항 */
.o-sign-in .m-input, .o-registration .m-input, .o-forgot-password .m-input, .n-find-idpw .m-input { margin-top: 8px; }
.o-sign-in .m-input .a-label:first-child, .o-registration .m-input .a-label:first-child, .o-forgot-password .m-input .a-label:first-child, .n-find-idpw .m-input .a-label:first-child { color: #7b7b7b; height: 19px; }
.o-sign-in .m-input .a-input, .o-registration .m-input .a-input, .o-forgot-password .m-input .a-input, .n-find-idpw .m-input .a-input { padding: 0; height: 39px; line-height: 26px; font-weight: 300; font-size: 18px; color: #000000; background-color: #ffffff; }
.o-sign-in .m-input .a-label:last-of-type, .o-registration .m-input .a-label:last-of-type, .o-forgot-password .m-input .a-label:last-of-type, .n-find-idpw .m-input .a-label:last-of-type { font-size: 12px; line-height: 20px; font-family: "Arket Sans", "Noto Sans KR", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Helvetica", "Arial", "Sans-Serif"; }
.o-sign-in .m-input .guide-text, .o-registration .m-input .guide-text, .o-forgot-password .m-input .guide-text, .n-find-idpw .m-input .guide-text { margin-top: 2px; margin-bottom: 0; font-weight: 300; font-size: 12px; color: #b2b2b2; }
.o-sign-in .m-input.r-only, .o-registration .m-input.r-only, .o-forgot-password .m-input.r-only, .n-find-idpw .m-input.r-only { min-height: inherit; }
.o-sign-in .m-input.r-only .a-input, .o-registration .m-input.r-only .a-input, .o-forgot-password .m-input.r-only .a-input, .n-find-idpw .m-input.r-only .a-input { background-color: #E9F0FE; }
.o-sign-in .m-input.with-button .a-button, .o-registration .m-input.with-button .a-button, .o-forgot-password .m-input.with-button .a-button, .n-find-idpw .m-input.with-button .a-button { width: 120px; margin-top: 0; margin-left: 10px; }

/* underline 하단간격 */
.o-sign-in-wrapper .a-link-udln, .n-wrap .a-link-udln { text-underline-offset: 1px; }

/* registration - accordion */
.o-registration-form.v2 .n-wrap .accordion-con { width: 100%; height: auto; background: #ffffff; border-color: #000; border-top-width: 1px; border-top-style: solid; padding-top: 40px; }
.o-registration-form.v2 .n-wrap .accordion-con .none { display: none; }
@media (min-width: 401px) { .o-registration-form.v2 .n-wrap .accordion-con { padding-top: 20px; } }
.o-registration-form.v2 .n-wrap .accordion-con .a-heading-2 { font-weight: 300; font-size: 16px; color: #000; }
.o-registration-form.v2 .n-wrap .accordion-con .button-container { clear: both; }
.o-registration-form.v2 .n-wrap .accordion-con.phone .content .m-input:first-child { margin-bottom: 20px; }
@media (min-width: 401px) { .o-registration-form.v2 .n-wrap .accordion-con.phone .content .m-input:first-child { margin-bottom: 40px; } }
.o-registration-form.v2 .n-wrap .accordion-con.phone .content .m-input .a-input { width: calc(65% - 10px); }
@media (min-width: 401px) { .o-registration-form.v2 .n-wrap .accordion-con.phone .content .m-input .a-input { width: calc(78% - 10px); } }
.o-registration-form.v2 .n-wrap .accordion-con.phone .content .m-input .a-button { padding: 0; width: 35%; height: 38px; margin-left: 4px; margin-bottom: 2px; }
@media (min-width: 401px) { .o-registration-form.v2 .n-wrap .accordion-con.phone .content .m-input .a-button { width: 22%; height: 38px; margin-left: 10px; } }
.o-registration-form.v2 .n-wrap .accordion-con.phone .content .guide-text { font-weight: 300; font-size: 12px; color: #000; padding-top: 35px; clear: both; }
.o-registration-form.v2 .n-wrap .accordion-con.mail .content { padding-top: 15px; margin-bottom: 90px; }
@media (min-width: 401px) { .o-registration-form.v2 .n-wrap .accordion-con.mail .content .m-input { display: inline-block; width: calc(70% - 10px); } }
.o-registration-form.v2 .n-wrap .accordion-con.mail .content .m-dropdown { clear: both; }
.o-registration-form.v2 .n-wrap .accordion-con.mail .content .m-dropdown .option-wrap { background-color: transparent; border-bottom: 1px solid #000; padding: 0; height: 39px; line-height: 26px; font-weight: 300; font-size: 18px; color: #babbbc; }
.o-registration-form.v2 .n-wrap .accordion-con.mail .content .m-dropdown .option-wrap .a-option { font-weight: 400; font-size: 13px; color: #787573; line-height: 26px; }
@media (min-width: 401px) { .o-registration-form.v2 .n-wrap .accordion-con.mail .content .m-dropdown { display: inline-block; width: 30%; margin-top: 4px; margin-left: 10px; } }
@media (min-width: 401px) { .o-registration-form.v2 .n-wrap .accordion-con.mail .button-container.col-2 { width: 124%; margin-left: -12%; }
  .o-registration-form.v2 .n-wrap .accordion-con.mail .button-container.col-2 .a-button { width: initial; margin-left: 0; } }

/* 회원가입 > 팝업 : 전문보기 */
.policy-wrap { font-weight: 300; font-size: 13px; color: #000; }
.policy-wrap .table-title { margin-bottom: -18px; }
.policy-wrap .table-wrap { border-top: 1px solid #dddddd; border-left: 1px solid #dddddd; margin-top: 10px; }
.policy-wrap .table-wrap th, .policy-wrap .table-wrap td { border-right: 1px solid #dddddd; border-bottom: 1px solid #dddddd; padding: 3px 7px; text-align: center; word-break: break-all; vertical-align: middle; font-size: 12px; }
@media (min-width: 401px) { .policy-wrap .table-wrap td { text-align: left; } }

/* common e ================================================= */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* simple s ================================================= */
/* simple e ================================================= */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* frontend.min overwrite s ================================= */
/* 210713 기획 > 퍼블수정 : 팝업 - 옵션변경 */
.cart-product-option-change .a-size-swatch .size-options:last-child span { line-height: inherit; }

/* 210713 기획 > 퍼블수정 : 검색 > 상품추천 영역 이미지 */
.navigation-curtain .o-search-suggestion ul li .icon:before { display: initial; }

/* login */
.o-sign-in-wrapper .sign-in-heading .a-heading-2 { font-weight: 400; font-size: 18px; color: #000; line-height: 26px; }
.o-sign-in-wrapper .o-sign-in .o-form .password { margin-bottom: 20px; }
.o-sign-in-wrapper .o-sign-in .o-form .checkbox-input { width: 35%; margin-bottom: 0; }
.o-sign-in-wrapper .o-sign-in .o-form .checkbox-input .a-label { font-size: 12px; }
.o-sign-in-wrapper .o-sign-in .link-holder.col-2 { display: flex; justify-content: right; width: 55%; margin-top: 0; margin-bottom: 25px; }
@media (min-width: 769px) { .o-sign-in-wrapper .o-sign-in .link-holder.col-2 { margin-top: -2px; margin-bottom: 0; } }
.o-sign-in-wrapper .o-sign-in .link-holder.col-2 a { position: absolute; width: auto; padding: 0; border-bottom: 1px solid #b3b3b3; font-weight: 300; font-size: 11px; color: #afb0b5; }
.o-sign-in-wrapper .o-sign-in .link-holder.col-2 .forgot-id { right: 66px; top: -20px; margin-right: 30px; }
.o-sign-in-wrapper .o-sign-in .link-holder.col-2 .forgot-password { bottom: 0; }

/* register */
.o-registration .o-registration-form { width: 100%; }
@media (min-width: 769px) { .o-registration .o-registration-form { width: 80%; } }

/* frontend.min overwrite e ================================= */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* login s ================================================== */
/* 간편가입-sns-btn */
.social-login-container { width: 100%; margin: 0 auto; }
@media (min-width: 769px) { .social-login-container { width: 80%; } }
.social-login-container .sns-list { display: block; font-size: 0; padding: 60px 0 20px; }
@media (min-width: 769px) { .social-login-container .sns-list { padding: 85px 0 20px; } }
.social-login-container .sns-list ul { display: flex; flex-wrap: wrap; justify-content: space-between; margin: 0; border: 0; }
@media (min-width: 769px) { .social-login-container .sns-list ul { flex-wrap: nowrap; } }
.social-login-container .sns-list li { width: 50%; height: 35px; margin: 3px 0px; padding: 0px 3px; border: 0; text-align: left; }
@media (min-width: 769px) { .social-login-container .sns-list li { width: 100%; } }
.social-login-container .sns-list a { position: relative; display: block; width: 100%; height: 100%; text-align: left; padding: 5px; padding-left: 10px; border: 1px solid #b2b2b2; cursor: pointer; }
.social-login-container .sns-list a .icontab { position: absolute; float: left; }
.social-login-container .sns-list a .icon { display: inline-block; width: 24px; height: 24px; background-size: contain; }
.social-login-container .sns-list a .captiontab { text-align: left; padding-left: 35%; width: 100%; float: left; line-height: 25px; font-weight: 300; font-size: 12px; color: #000; }
.social-login-container .sns-list a:hover div { opacity: 0.6; }
.social-login-container .info { font-weight: 300; font-size: 12px; color: #000; }

/* 비회원 주문조회 버튼 */
@media (min-width: 769px) { .btn-non-member { width: 80%; margin: 0 auto; } }
.btn-non-member a { font-weight: 300; font-size: 12px; color: #000; }

/* 로그인 - 비회원 주문 */
@media (min-width: 631px) { .m-tablist.tabs-1-3 li { width: calc(33.3% - 9px); max-width: calc(33.3% - 9px); margin: 0 10px 0 0; }
  .m-tablist.tabs-1-3 li:last-child { margin-right: 0; } }
.m-tablist.tabs-1-3 li:first-child .a-link::before { content: "\e916"; }
.m-tablist.tabs-1-3 li:nth-child(2) .a-link::before { content: "\e904"; }
.m-tablist.tabs-1-3 li:last-child .a-link::before { content: url(../images/icon/icon-nomem-black.png); opacity: 0.3; }
@media (min-width: 631px) { .m-tablist.tabs-1-3 li:last-child .a-link::before { top: 44px; } }
.m-tablist.tabs-1-3 li:last-child:hover .a-link::before { opacity: 0.7; }
@media (min-width: 631px) { .m-tablist.tabs-1-3 li .a-link { padding: 78px 0 34px 0; max-height: 140px; } }
.m-tablist.tabs-1-3 li .a-link::before { font-family: "Arket Icons"; font-weight: 400; }
@media (min-width: 631px) { .m-tablist.tabs-1-3 li .a-link::before { top: 48px; } }

/* login e ================================================== */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* register s =============================================== */
.o-registration-form.v2 { text-align: left; font-weight: 300; font-size: 12px; color: #000; line-height: 20px; /* 개인계정연결 안내 페이지 간격 조절 */ /* 회원가입 단계 표기 */ }
.o-registration-form.v2 .main-info { font-weight: 300; font-size: 12px; color: #000; line-height: 20px; margin: 50px 0 15px; }
@media (min-width: 769px) { .o-registration-form.v2 .main-info { margin: 75px 0 35px; } }
.o-registration-form.v2.id-cnnt { margin-top: -45px; }
.o-registration-form.v2 .step { display: flex; justify-content: space-between; color: #7b7b7b; }
@media (min-width: 769px) { .o-registration-form.v2 .step { width: 60%; margin: 0 auto; } }
.o-registration-form.v2 .step li { font-size: 13px; height: 30px; }
.o-registration-form.v2 .step li.on, .o-registration-form.v2 .step span.on { font-weight: 400; color: #000; }
.o-registration-form.v2 .step span { font-size: 18px; }
.o-registration-form.v2 .title { width: 100%; padding-bottom: 15px; border-bottom: 1px solid #000; font-weight: 400; font-size: 16px; color: #000; }
@media (min-width: 769px) { .o-registration-form.v2 .title { font-size: 21px; } }
.o-registration-form.v2 .info-1 { font-weight: 300; font-size: 12px; color: #000; }
.o-registration-form.v2 .n-wrap { margin-top: 30px; }
.o-registration-form.v2 .n-wrap.step-1 .info-1 { font-weight: 300; font-size: 12px; color: #000; padding-bottom: 10px; text-align: center; }
.o-registration-form.v2 .n-wrap.step-1 .social-certify-container { width: 100%; margin: 0 auto; padding-bottom: 18px; }
.o-registration-form.v2 .n-wrap.step-1 .social-certify-container .sns-list { display: block; font-size: 0; padding: 0; }
.o-registration-form.v2 .n-wrap.step-1 .social-certify-container .sns-list ul { position: relative; display: flex; justify-content: flex-start; flex-wrap: wrap; border: 0; width: calc(100% + 6px); margin: -3px; }
@media (min-width: 769px) { .o-registration-form.v2 .n-wrap.step-1 .social-certify-container .sns-list ul { width: calc(100% + 11px); margin: -5px; } }
.o-registration-form.v2 .n-wrap.step-1 .social-certify-container .sns-list li { width: calc(50% - 6px); height: 35px; margin: 0px 3px 6px 3px; padding: 0; border: 0; text-align: center; }
@media (min-width: 769px) { .o-registration-form.v2 .n-wrap.step-1 .social-certify-container .sns-list li { width: calc(33.3% - 10px); margin: 0px 5px 10px 5px; } }
.o-registration-form.v2 .n-wrap.step-1 .social-certify-container .sns-list a { position: relative; display: block; width: 100%; height: 100%; text-align: left; padding: 5px; padding-left: 10px; border: 1px solid #b2b2b2; cursor: pointer; }
.o-registration-form.v2 .n-wrap.step-1 .social-certify-container .sns-list a .icontab { position: absolute; float: left; }
.o-registration-form.v2 .n-wrap.step-1 .social-certify-container .sns-list a .icon { display: inline-block; width: 24px; height: 24px; background-size: contain; background-repeat: no-repeat; }
.o-registration-form.v2 .n-wrap.step-1 .social-certify-container .sns-list a .icon.phone, .o-registration-form.v2 .n-wrap.step-1 .social-certify-container .sns-list a .icon.mail { width: 23px; height: 23px; }
.o-registration-form.v2 .n-wrap.step-1 .social-certify-container .sns-list a .captiontab { text-align: center; width: 100%; float: left; line-height: 25px; font-weight: 300; font-size: 12px; color: #000; }
.o-registration-form.v2 .n-wrap.step-1 .social-certify-container .sns-list a:hover div { opacity: 0.6; }
.o-registration-form.v2 .n-wrap.step-1 .social-certify-container .sns-list a.active { background-color: #000000; }
.o-registration-form.v2 .n-wrap.step-1 .social-certify-container .sns-list a.active .icon.phone { background-image: url(../images/icon/icon-phone-click.png); }
.o-registration-form.v2 .n-wrap.step-1 .social-certify-container .sns-list a.active .icon.mail { background-image: url(../images/icon/icon-mail-click.png); }
.o-registration-form.v2 .n-wrap.step-1 .social-certify-container .sns-list a.active .captiontab { color: #ffffff; }
.o-registration-form.v2 .n-wrap.step-1-2 { margin-top: 45px; }
.o-registration-form.v2 .n-wrap.step-1-2 .title { font-size: 21px; }
.o-registration-form.v2 .n-wrap.step-1-2 .in-service { margin-bottom: 15px; padding: 25px 15px; border-color: #000; border-bottom-width: 1px; border-bottom-style: solid; font-weight: 300; font-size: 13px; color: #000; line-height: 20px; text-align: center; }
@media (min-width: 631px) { .o-registration-form.v2 .n-wrap.step-1-2 .in-service { width: 125%; margin-left: -12%; margin-bottom: 30px; } }
.o-registration-form.v2 .n-wrap.step-1-2 .m-input.id { margin-top: -5px; }
@media (min-width: 401px) { .o-registration-form.v2 .n-wrap.step-1-2 .m-input.id { margin-top: 20px; } }
.o-registration-form.v2 .n-wrap.step-1-2 .password { width: 100%; }
.o-registration-form.v2 .n-wrap.step-1-2 .a-button { margin-top: 35px; }
.o-registration-form.v2 .n-wrap.step-1-2 .link-holder { position: relative; margin-top: 20px; }
.o-registration-form.v2 .n-wrap.step-1-2 .link-holder .a-link { margin-right: 20px; font-weight: 300; font-size: 11px; color: #7b7b7b; line-height: 26px; }
@media (min-width: 769px) { .o-registration-form.v2 .n-wrap.step-1-2 .link-holder .a-link { margin-right: 30px; } }
.o-registration-form.v2 .n-wrap.step-1-2 .link-holder .register { position: absolute; right: 0; margin-right: 0; font-weight: 300; font-size: 12px; color: #000; }
@media (min-width: 769px) { .o-registration-form.v2 .n-wrap.step-1-2 .link-holder .register { position: unset; } }

/* register e =============================================== */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* register kakao s ========================================= */
@media (min-width: 769px) { .o-registration-form.v2 .n-wrap.kakao-wrap { margin-top: 56px; } }
.o-registration-form.v2 .n-wrap.kakao-wrap .usable-select .m-input, .o-registration-form.v2 .n-wrap.kakao-wrap .double-select .m-input { min-height: inherit; margin-bottom: 0px; }
@media (min-width: 769px) { .o-registration-form.v2 .n-wrap.kakao-wrap .usable-select .m-input, .o-registration-form.v2 .n-wrap.kakao-wrap .double-select .m-input { margin-bottom: 2px; } }
.o-registration-form.v2 .n-wrap.kakao-wrap .usable-select .error-text, .o-registration-form.v2 .n-wrap.kakao-wrap .double-select .error-text { color: #d00; font-weight: 400; }
.o-registration-form.v2 .n-wrap.kakao-wrap .text { clear: both; padding: 20px 0px; }
@media (min-width: 769px) { .o-registration-form.v2 .n-wrap.kakao-wrap .text { padding: 18px 0px 34px; } }

/* register kakao e ========================================= */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* register-info s ========================================== */
.o-registration-form.v2 { padding-bottom: 120px; }
.o-registration-form.v2 .n-wrap.step-2 { /* 인증완료 계정 */ /* input 공통 */ }
.o-registration-form.v2 .n-wrap.step-2 .auth-select { padding-bottom: 15px; }
.o-registration-form.v2 .n-wrap.step-2 .auth-select .info-1 { margin-bottom: 2px; }
.o-registration-form.v2 .n-wrap.step-2 .auth-select .m-input.r-only { margin-bottom: 16px; }
.o-registration-form.v2 .n-wrap.step-2 .auth-select .m-checkbox.v2 { display: block; line-height: 16px; }
.o-registration-form.v2 .n-wrap.step-2 .m-input.password, .o-registration-form.v2 .n-wrap.step-2 .m-input.password-repeat { margin-bottom: 0; }
.o-registration-form.v2 .n-wrap.step-2 .m-input:last-child { clear: both; }
.o-registration-form.v2 .n-wrap.step-2 .text-container { clear: both; padding-top: 60px; /* 이용약관 */ }
.o-registration-form.v2 .n-wrap.step-2 .text-container .a-heading-2 { font-weight: 400; font-size: 16px; color: #000000; }
.o-registration-form.v2 .n-wrap.step-2 .text-container .all-agree .m-checkbox.v2 { display: block; padding-top: 30px; padding-bottom: 15px; line-height: 16px; }
@media (min-width: 769px) { .o-registration-form.v2 .n-wrap.step-2 .text-container .all-agree .m-checkbox.v2 .a-label { font-weight: 300; font-size: 15px; color: #000000; } }
.o-registration-form.v2 .n-wrap.step-2 .text-container .section { margin-bottom: 55px; }
.o-registration-form.v2 .n-wrap.step-2 .text-container .section .caption { font-weight: 300; font-size: 13px; color: #000000; }
.o-registration-form.v2 .n-wrap.step-2 .text-container .section .table-wrap { border-collapse: initial; border-top: 1px solid #626262; border-bottom: 1px solid #626262; }
.o-registration-form.v2 .n-wrap.step-2 .text-container .section .table-wrap tr th, .o-registration-form.v2 .n-wrap.step-2 .text-container .section .table-wrap tr td { border-right: 1px solid #dddddd; border-top: 1px solid #dddddd; }
.o-registration-form.v2 .n-wrap.step-2 .text-container .section .table-wrap tr th { padding: 10px 0; background-color: #f4f4f4; text-align: center; }
.o-registration-form.v2 .n-wrap.step-2 .text-container .section .table-wrap tr td { padding: 5px; }
.o-registration-form.v2 .n-wrap.step-2 .text-container .section .table-wrap tr:first-child th { border-top: 0; }
.o-registration-form.v2 .n-wrap.step-2 .text-container .section .table-wrap.type1 th:nth-child(4), .o-registration-form.v2 .n-wrap.step-2 .text-container .section .table-wrap.type1 td:nth-child(4), .o-registration-form.v2 .n-wrap.step-2 .text-container .section .table-wrap.type2 th:nth-child(4), .o-registration-form.v2 .n-wrap.step-2 .text-container .section .table-wrap.type2 td:nth-child(4), .o-registration-form.v2 .n-wrap.step-2 .text-container .section .table-wrap.type3 th:last-child, .o-registration-form.v2 .n-wrap.step-2 .text-container .section .table-wrap.type3 td:last-child { border-right: none; }
.o-registration-form.v2 .n-wrap.step-2 .text-container .section .description { font-weight: 300; font-size: 12px; color: #707070; }
.o-registration-form.v2 .n-wrap.step-2 .text-container .section .m-radio-button.v2 { line-height: 15px; }
.o-registration-form.v2 .n-wrap.step-2 .text-container .section .m-radio-button.v2 .label-text { font-weight: 400; font-size: 12px; color: #000; }
@media (min-width: 769px) { .o-registration-form.v2 .n-wrap.step-2 .text-container .section .m-radio-button.v2 .label-text { font-weight: 400; font-size: 14px; color: #000; } }
.o-registration-form.v2 .n-wrap.step-2 .text-container .section .marketing-agree { display: flex; flex-wrap: wrap; margin-top: 12px; border-top: 1px solid #dddd; border-bottom: 1px solid #dddd; }
.o-registration-form.v2 .n-wrap.step-2 .text-container .section .marketing-agree .radio-button-list, .o-registration-form.v2 .n-wrap.step-2 .text-container .section .marketing-agree .checkbox-list { width: 100%; padding-top: 12px; padding-bottom: 12px; padding-left: 40px; }
@media (min-width: 769px) { .o-registration-form.v2 .n-wrap.step-2 .text-container .section .marketing-agree .radio-button-list, .o-registration-form.v2 .n-wrap.step-2 .text-container .section .marketing-agree .checkbox-list { padding-left: 50px; } }
.o-registration-form.v2 .n-wrap.step-2 .text-container .section .marketing-agree .radio-button-list { position: relative; border-bottom: 1px solid #dddd; }
.o-registration-form.v2 .n-wrap.step-2 .text-container .section .marketing-agree .radio-button-list::before { content: "성별 : "; position: absolute; top: 10px; left: 0; font-weight: 300; font-size: 12px; color: #000; }
@media (min-width: 769px) { .o-registration-form.v2 .n-wrap.step-2 .text-container .section .marketing-agree .radio-button-list::before { left: 10px; } }
.o-registration-form.v2 .n-wrap.step-2 .text-container .section .marketing-agree .radio-button-list .m-radio-button.v2 { width: 50%; margin-left: 0; }
.o-registration-form.v2 .n-wrap.step-2 .text-container .section .marketing-agree .radio-button-list .m-radio-button.v2 .label-text { font-weight: 300; font-size: 12px; color: #000; }
@media (min-width: 769px) { .o-registration-form.v2 .n-wrap.step-2 .text-container .section .marketing-agree .radio-button-list .m-radio-button.v2 { width: 25%; } }
.o-registration-form.v2 .n-wrap.step-2 .text-container .section .marketing-agree .checkbox-list { margin-left: -1px; }
.o-registration-form.v2 .n-wrap.step-2 .text-container .section .marketing-agree .checkbox-list .m-checkbox.v2 { width: calc(50% - 3px); padding-top: 0; font-weight: 300; font-size: 12px; color: #000; line-height: 16px; }
@media (min-width: 769px) { .o-registration-form.v2 .n-wrap.step-2 .text-container .section .marketing-agree .checkbox-list .m-checkbox.v2 { width: calc(25% - 3px); } }
.o-registration-form.v2 .n-wrap.step-2 .text-container .policy-select { display: flex; justify-content: space-between; flex-wrap: wrap; width: 100%; padding-bottom: 30px; }
.o-registration-form.v2 .n-wrap.step-2 .text-container .policy-select .text-1 { width: 80%; font-weight: 400; font-size: 16px; color: #000; }
.o-registration-form.v2 .n-wrap.step-2 .text-container .policy-select .a-label { width: auto; font-weight: 300; font-size: 13px; color: #000; }
.o-registration-form.v2 .n-wrap.step-2 .text-container .policy-select .text-2 { width: 100%; font-weight: 300; font-size: 13px; color: #000; }
.o-registration-form.v2 .n-wrap.step-2 .text-container .section:last-child { margin-bottom: 30px; }

/* register-info e ========================================== */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* register-complete s ====================================== */
.o-registration-form.v2 .n-wrap.step-3 { text-align: center; }
@media (min-width: 769px) { .o-registration-form.v2 .n-wrap.step-3 { margin-top: 65px; } }
.o-registration-form.v2 .n-wrap.step-3 .info-1 { font-weight: 400; font-size: 18px; color: #000000; line-height: 26px; }
.o-registration-form.v2 .n-wrap.step-3 .info-2 { font-weight: 400; font-size: 13px; color: #000; line-height: 20px; margin: -3px 0 50px; }
.o-registration-form.v2 .n-wrap.step-3 .fs21 { font-size: 21px; }

/* register-complete e ====================================== */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* 공통 find-id-pw s ======================================== */
html.no-touchevents .n-find-idpw { padding-bottom: 70px; }
@media (min-width: 769px) { html.no-touchevents .n-find-idpw { padding-bottom: 100px; } }
html.no-touchevents .n-find-idpw .a-heading-2 { font-size: 18px; }
html.no-touchevents .n-find-idpw .n-wrap { margin-top: 45px; margin-bottom: 50px; }
@media (min-width: 769px) { html.no-touchevents .n-find-idpw .n-wrap { margin-top: 50px; margin-bottom: 55px; } }
html.no-touchevents .n-find-idpw .n-wrap .m-input { margin-left: auto; margin-right: auto; }
html.no-touchevents .n-find-idpw .n-wrap .m-input .a-label:first-child { margin-bottom: 0; }
@media (min-width: 769px) { html.no-touchevents .n-find-idpw .n-wrap .find-result-box .tit-txt + .data, html.no-touchevents .n-find-idpw .n-wrap .find-result-box .find-result-list + .data { padding-top: 25px; } }
html.no-touchevents .n-find-idpw .n-wrap .sub-title { font-weight: 300; font-size: 18px; color: #000; }
html.no-touchevents .n-find-idpw .n-wrap .sub-title.v2 { margin-top: -20px; padding-bottom: 30px; border-color: #000; border-bottom-width: 1px; border-bottom-style: solid; }
@media (min-width: 769px) { html.no-touchevents .n-find-idpw .n-wrap .sub-title.v2 { margin-top: 0; padding-bottom: 50px; } }
html.no-touchevents .n-find-idpw .n-wrap .text-content { padding-top: 15px; font-weight: 300; font-size: 12px; color: #000; }
html.no-touchevents .n-find-idpw .n-wrap .text-content.v2 { padding-bottom: 45px; }
@media (min-width: 769px) { html.no-touchevents .n-find-idpw .n-wrap .text-content.v2 { padding-top: 30px; } }
html.no-touchevents .n-find-idpw .n-wrap .text-content .info { line-height: 22px; }
@media (min-width: 769px) { html.no-touchevents .n-find-idpw .n-wrap .text-content .info { padding-left: 32px; } }
html.no-touchevents .n-find-idpw .n-wrap .text-content .info.v2 { margin-top: -15px; font-weight: 300; font-size: 14px; color: #000; }
html.no-touchevents .n-find-idpw .n-wrap .text-content .list-box li { padding-left: 10px; font-weight: 300; font-size: 12px; color: #000; line-height: 20px; text-indent: -10px; }
@media (min-width: 769px) { html.no-touchevents .n-find-idpw .n-wrap .text-content .list-box li { padding-left: 42px; } }
html.no-touchevents .n-find-idpw .n-wrap .text-content .list-box li:before { content: "-"; padding-right: 5px; }
html.no-touchevents .n-find-idpw .n-wrap.resting-guide .info { padding-bottom: 10px; }

/* 공통 find-id-pw e ========================================= */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* find-pw s ================================================ */
.o-forgot-password.n-find-idpw .a-heading-2 { font-size: 18px; text-align: left; }
.o-forgot-password.n-find-idpw .n-wrap .sub-title { text-align: center; }
.o-forgot-password.n-find-idpw .n-wrap .data { padding-bottom: 0; font-weight: 300; font-size: 12px; color: #000; line-height: 18px; }
@media (min-width: 769px) { .o-forgot-password.n-find-idpw .n-wrap .data { line-height: 20px; } }
.o-forgot-password.n-find-idpw .n-wrap .data.v2 { font-weight: 400; font-size: 13px; color: #000; }

/* find-pw e ================================================ */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* my-page-leave s ========================================== */
.o-my-page { /* 회원 탈퇴 */ }
.o-my-page .a-heading-2.title.v2 { font-weight: 300; font-size: 16px; color: #000; text-align: left; margin-top: 130px; }
.o-my-page .leave-wrap { padding-bottom: 90px; font-weight: 300; font-size: 12px; color: #000; line-height: 20px; /* PC화면 일때 컨텐츠 가운데 정렬 공통선언 */ /* 회원탈퇴 완료 */ }
.o-my-page .leave-wrap .txt-bold { display: inline-block; font-weight: 400; text-indent: -15px; padding-left: 15px; }
.o-my-page .leave-wrap .txt-bold:before { content: "※"; padding-right: 5px; }
.o-my-page .leave-wrap .subTitle-section { margin-bottom: 50px; }
.o-my-page .leave-wrap .info-section { margin-bottom: 15px; }
.o-my-page .leave-wrap .info-section .txt-list li { padding-left: 15px; padding-bottom: 15px; }
.o-my-page .leave-wrap .info-section .txt-list li .txt-bold { padding-left: 0; }
.o-my-page .leave-wrap .form-section .survey-box { margin-bottom: 40px; }
@media (min-width: 769px) { .o-my-page .leave-wrap .form-section .survey-box .radio-button-wrap { display: flex; flex-wrap: wrap; width: 100%; } }
.o-my-page .leave-wrap .form-section .survey-box .radio-button-wrap .m-radio-button { padding: 5px 0px; }
@media (min-width: 769px) { .o-my-page .leave-wrap .form-section .survey-box .radio-button-wrap .m-radio-button { width: 60%; } }
@media (min-width: 769px) { .o-my-page .leave-wrap .form-section .survey-box .radio-button-wrap .m-radio-button:nth-child(even) { width: auto; } }
.o-my-page .leave-wrap .form-section .survey-box .fs12 { font-size: 12px; }
.o-my-page .leave-wrap .form-section .textArea-box { margin-top: 10px; margin-bottom: 35px; }
.o-my-page .leave-wrap .form-section .textArea-box .a-textarea { position: relative; width: 100%; height: 85px; font-weight: 300; font-size: 18px; color: #000; line-height: 26px; border: none; border-bottom: 1px solid #000; }
.o-my-page .leave-wrap .form-section .textArea-box .a-textarea::placeholder { color: #afb0b5; }
.o-my-page .leave-wrap .form-section .textArea-box .txt-byte { text-align: right; margin-top: -5px; font-weight: 300; font-size: 12px; color: #787573; }
.o-my-page .leave-wrap .form-section .textArea-box .txt-bold { margin-top: 0px; }
@media (min-width: 769px) { .o-my-page .leave-wrap .info-section, .o-my-page .leave-wrap .survey-box, .o-my-page .leave-wrap .textArea-box { padding-left: 75px; padding-right: 75px; } }
.o-my-page .leave-wrap.leave-complete .info-section { margin-bottom: 60px; }

/* my-page-leave e ========================================== */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* my-page-popup s ========================================== */
.lp-social-connect .content, .lp-mbr-leave-confirm .content { text-align: left; padding-top: 0; padding-bottom: 0; }

/* 개인계정 연결관리 팝업 */
.lp-social-connect .is-main-headline { margin-bottom: 0; }
.lp-social-connect .content .sns-list { margin-bottom: 18px; padding-top: 25px; padding-bottom: 25px; }
.lp-social-connect .content .sns-list li { position: relative; padding-top: 12px; padding-bottom: 12px; }
.lp-social-connect .content .sns-list li:first-child { padding-top: 0; }
.lp-social-connect .content .sns-list li:first-child .mail-text { top: 32px; }
.lp-social-connect .content .sns-list li:last-child { padding-bottom: 0; }
@media (max-width: 400px) { .lp-social-connect .content .sns-list li [class^="f-type"] { flex-basis: 50%; } }
@media (min-width: 769px) { .lp-social-connect .content .sns-list li { padding-left: 40px; } }
.lp-social-connect .content .sns-list li .icon { display: flex; align-items: center; min-width: 120px; height: 37px; }
.lp-social-connect .content .sns-list li .icon.naver.on { color: #19ce60; }
.lp-social-connect .content .sns-list li .icon::before { content: " "; display: inline-block; width: 37px; height: 37px; padding-right: 12px; }
.lp-social-connect .content .sns-list li .icon.naver::before { content: url(../images/icon/icon-naver-my.png); }
.lp-social-connect .content .sns-list li .icon.naver.on::before { content: url(../images/icon/icon-naver-myConnect.png); }
.lp-social-connect .content .sns-list li .icon.kakao::before { content: url(../images/icon/icon-kakao-my.png); }
.lp-social-connect .content .sns-list li .icon.kakao.on::before { content: url(../images/icon/icon-kakao-myConnect.png); }
.lp-social-connect .content .sns-list li .icon.facebook::before { content: url(../images/icon/icon-facebook-my.png); }
.lp-social-connect .content .sns-list li .icon.facebook.on::before { content: url(../images/icon/icon-facebook-myConnect.png); }
.lp-social-connect .content .sns-list li .icon.google::before { content: url(../images/icon/icon-google-my.png); }
.lp-social-connect .content .sns-list li .icon.google.on::before { content: url(../images/icon/icon-google-myConnect.png); }
.lp-social-connect .content .sns-list li .mail-text { font-weight: 300; font-size: 12px; color: #000; position: absolute; top: 44px; left: 49px; }
@media (min-width: 401px) { .lp-social-connect .content .sns-list li .mail-text { left: 69px; } }
@media (min-width: 769px) { .lp-social-connect .content .sns-list li .mail-text { position: inherit; padding-right: 15px; } }
.lp-social-connect .content .sns-list li .a-link-udln { color: #000; }
.lp-social-connect .content .sns-list li .none { display: none; }

/* 회원탈퇴 재확인 팝업 */
.lp-mbr-leave-confirm .content .o-info-line-box.point-cont { margin-top: 20px; margin-bottom: 25px; padding-left: 18px; border: none; background-color: #f5f5f5; }
.lp-mbr-leave-confirm .content .o-info-line-box.point-cont li span { font-weight: 400; font-size: 14px; color: #000; }
.lp-mbr-leave-confirm .content .o-info-line-box.point-cont li span:first-child { width: 25%; }
.lp-mbr-leave-confirm .content .o-info-line-box.point-cont li span:last-child { width: 75%; font-weight: 300; }
.lp-mbr-leave-confirm .content .o-info-line-box.point-cont li .coupon::after { content: '장'; font-family: "Noto Sans KR"; font-size: inherit; }
.lp-mbr-leave-confirm .content .o-info-line-box.point-cont li .the-money::after { content: 'P'; font-family: inherit; font-size: inherit; }
.lp-mbr-leave-confirm .content .o-info-line-box.point-cont li .price-won { text-align: left; }
.lp-mbr-leave-confirm .content .o-info-line-box.point-cont li .star::after { content: '별'; font-family: "Noto Sans KR"; font-size: inherit; }
.lp-mbr-leave-confirm .button-container { margin-top: 30px; }

/* my-page-popup e ========================================== */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */

/*# sourceMappingURL=renew.v2.css.map */
