@charset "UTF-8";
/* ========================================================== */
/*                                                            */
/* file		: lim                                   	      */
/*                                                            */
/* ========================================================== */
/* ---------------------------------------------------------- */
/* common s ================================================= */
/* common e ================================================= */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* simple s ================================================= */
/* simple e ================================================= */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* frontend.min overwrite s ================================= */
/* frontend.min overwrite e ================================= */
/* ---------------------------------------------------------- */
/* ---------------------------------------------------------- */
/* footer > stores s ======================================== */
.stores-content .seo-heading .text-address { display: block; margin-top: 35px; }
@media (min-width: 769px) { .stores-content .seo-heading .text-address { margin-top: 50px; } }
.stores-content .o-hero .takeover-wrapper { width: 100%; height: 100%; }
.stores-content .text-container.align-center { text-align: center; }
.stores-content .text-container .open-day b { padding-right: 10px; }
@media (min-width: 769px) { .stores-content .text-container .open-day b:last-child { padding-left: 15px; } }
.stores-content .text-container .cafe-info b { display: block; padding-top: 50px; padding-bottom: 30px; }

/* footer > stores e ========================================= */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* 07.21 디자인팀 수정요청 s ==================================== */
.my-profile-content .email-input-bx .m-dropdown.v3 .option-wrap .a-option { font-size: 13px; }

.o-lightbox .lp-select-pay-way .radio-button-list .m-radio-button.v3 .a-label.label-text { font-size: 13px; }
.o-lightbox .lp-select-pay-way .rd-toggle-con .m-radio-button.v3 .a-label.label-text { font-size: 12px; }

/* 07.21 디자인팀 수정요청 e ===================================  */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */
/* 08.05 뉴스레터 수정 s ======================================  */
.o-newsletter-signup .option-wrapper .m-radio-button { position: relative; }
.o-newsletter-signup .option-wrapper .m-radio-button .error-msg { display: none; position: absolute; top: 30px; left: 30px; width: 210px; font-size: 12px; }
.o-newsletter-signup .option-wrapper .m-radio-button.has-error .a-radio-button + .custom-radio { border-color: #000; }
.o-newsletter-signup .option-wrapper .m-radio-button.has-error .a-label { color: #000; }
.o-newsletter-signup .option-wrapper .m-radio-button.has-error .a-label.error-msg { display: block; color: #d00; }
.o-newsletter-signup .m-checkbox.has-error .a-label { color: #000; }
.o-newsletter-signup .m-checkbox.has-error .a-label:last-child { display: block; color: #d00; }
.o-newsletter-signup .m-checkbox .a-label:last-child { display: none; padding-top: 5px; padding-left: 28px; }
.o-newsletter-signup .personalized-option .is-richtext { color: #afb0b5; }

@media (min-width: 631px) { .o-newsletter-popup { padding-left: 50px; padding-right: 50px; } }
.o-newsletter-popup .option-wrapper .m-radio-button { position: relative; }
.o-newsletter-popup .option-wrapper .m-radio-button .error-msg { display: none; position: absolute; top: 114px; left: 0px; width: 190px; font-size: 12px; }
.o-newsletter-popup .option-wrapper .m-radio-button .error-msg:hover { background-color: #fff; }
.o-newsletter-popup .option-wrapper .m-radio-button.has-error .a-label { color: #000; }
.o-newsletter-popup .option-wrapper .m-radio-button.has-error .a-label:hover { color: #fff; }
.o-newsletter-popup .option-wrapper .m-radio-button.has-error .error-msg { display: block; color: #d00; }
.o-newsletter-popup .option-wrapper .m-radio-button.has-error .error-msg:before { background: #fff; }
.o-newsletter-popup .option-wrapper .m-radio-button.has-error .error-msg:hover { color: #d00; }
.o-newsletter-popup .m-checkbox.has-error .a-label { color: #000; }
.o-newsletter-popup .m-checkbox.has-error .a-label:last-child { display: block; color: #d00; }
.o-newsletter-popup .m-checkbox .a-label:last-child { display: none; padding-top: 5px; padding-left: 28px; }
.o-newsletter-popup .personalized-option .is-richtext { color: #afb0b5; }

/* 08.05 뉴스레터 수정 e ======================================  */
/* ----------------------------------------------------------- */
/* ----------------------------------------------------------- */

/*# sourceMappingURL=renew.v2.css.map */
