<div data-component="OPageContent" class="o-page-content">

    <div class="parbase sdp-component left-component">
        <%# m-breadcrumb %>
        <%- include ("../../../common/md-m-breadcrumb.ejs") %>
    </div>

    <div class="o-width title--x-small spacer wc-75">
        <div class="headings" style="text-align:center;">
            <div class="m-headline">
                <h2 class="a-heading-2  has-margin">
                    <span class="heading-cap">women</span>
                    Online exclusive
                </h2>
            </div>
        </div>
        <div class="o-width spacer wc-75">
            <div class="o-text-field is-wide is-large">
                <div class="text-container"><p class="a-paragraph is-richtext"></p>
                    <div style="text-align: center;">Shop online exclusive pieces from the women's collection</div>
                    <p class="a-paragraph"></p>
                </div>
            </div>
        </div>
    </div>
    
    <div class="o-width wc-100">
        <div class="parbase sdp-component product-listing align-below">

            <%# md-o-product-filters %>
            <%- include ("../../../common/md-o-product-filters.ejs") %>

            <!-- o-product-listing -->
            <div id="lazyLoadSpan">
                <div id="reloadProducts" class="o-product-listing has-upper-body-images fixed-columns-4 u-align-center">
                    <%# md-o-product-listing-product-list %>
                    <%- include ("../../../common/md-o-product-listing-product-list-30ea-corner.ejs") %>
                </div>

            </div>

            <span id="lazyDiv">
                <%# md-o-lazy-load %>
                <%- include ("../../../common/md-o-lazy-load.ejs") %>
            </span>
            <!-- //o-product-listing -->

        </div>

        <div id="productStart" class="0"></div>
        <div id="productPath" class="/en/women/new-arrivals/_jcr_content/homepagepar/widthcomponent_16087/o-width/productlisting_copy_.products.html"></div>
        <div id="productCount" class="102"></div>
        <div id="productPerPage" class="36"></div>
    </div>

</div>
