<div data-component="OPageContent" class="o-page-content cofs-page">

    <!-- o-my-page -->
    <div class="o-my-page">

        <%# md-o-my-page-navigation %>
        <%- include ("../../../common/md-o-my-page-navigation.ejs") %>
        <!-- balance -->
        <div class="balance">
            <h2 class="a-heading-2 page-top-title page-title-line">
                <span>예치금</span>
            </h2>
            <div class="page-title-serve">
                <span>사용 가능한 예치금</span>
                <span class="f-type6">0</span>
            </div>

            <!-- my-table-list-wrap -->
            <div class="my-table-list-wrap">

                <%# md-my-orderlist-month-dropdown %>
                <%- include ("../../../common/md-my-balance-month-dropdown.ejs") %>

                <!-- my-order-list -->
                <div class="my-order-list">
                    <ul class="order-list-ul">
                        <li class="empty-li">
                            <p class="empty-item balance-empty">예치금 내역이 없습니다.</p>
                        </li>
                    </ul>
                </div> <!-- //my-order-list -->
                
            </div> <!-- //my-table-list-wrap -->
        </div> <!-- //balance -->
    </div>
    <!-- //o-my-page -->
</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let tabMydetailsr = document.querySelector('.menu-my-details');
        let tabMyorders = document.querySelector('.menu-my-orders');
        let tabMybalance = document.querySelector('.menu-deposit');
        if(tabMybalance){
            tabMybalance.parentNode.classList.add('is-active');
        }
    })();
</script>
<!-- //tip -->