<!-- 회원탈퇴 - 환불계좌 등록 안내 팝업 -->
<script type="text/x-handlebars-template" id="lp-mbr-leave-info-refund">
    <div class="lightbox-content-dft lp-mbr-leave-info-refund">
        <div class="m-headline is-main-headline">
            <h2 class="a-heading-2"><span>회원탈퇴</span></h2>
        </div>
        <div class="content">
            <p class="guide-text">환불 가능한 예치금이 존재합니다. 환불계좌를 등록하세요.</p>
        </div>
        <div class="button-container">
            <button class="a-button js-close-button" type="button"><span>확인</span></button>
        </div>
    </div>
</script>
<!-- // 회원탈퇴 - 환불계좌 등록 안내 팝업 -->