<!-- 이메일수신거부완료 -->
<script type="text/x-handlebars-template" id="lp-mail-unsubscription-complete">
    <div class="lightbox-content-dft lp-mail-unsubscription-complete">
        <div class="content">
            <p class="tit-text lg">2021년 08월 01일 마케팅 광고 이메일 <br>수신 거부가 정상적으로 처리되었습니다.</p>
        </div>
        <button class="a-button is-primary" type="button"><span>확인</span></button>
    </div>
</script>
<!-- //이메일수신거부완료-->