<!-- 세금계산서인쇄 -->
<script type="text/x-handlebars-template" id="lp-receipt-print-tax">
    <div class="lightbox-content-dft lp-receipt-print-tax">
        <h2 class="a-heading-2"><span>세금계산서 인쇄</span></h2>
        <div class="content">
            <div class="print-area-wrap">
                <div class="print-bg-img-bx">
                    <img src="<%= pageInfo.root %>/images/print/bg-receipt-tax.png" class="a-image" alt="영수증배경"/>
                </div>
                <div class="print-text-bx">
                    <ul class="text-info-ul">

                        <!-- 승인번호호 -->
                       <li><span>20211005-41000052-755aac2d</span></li>
                        <!-- 등록번호 -->
                        <li><span>000-00-00000</span></li>
                        <!-- 종사업장번호 -->
                        <li><span>12345-45</span></li>
                        <!-- 등록번호 -->
                        <li><span>131-04-53100</span></li>
                        <!-- 종사업장번호 -->
                        <li><span>12345-45</span></li>
                        <!-- 상호 -->
                        <li><span>주식회사 현대백화점</span></li>
                        <!-- 성명 -->
                        <li><span>이동호</span></li>
                        <!-- 상호 -->
                        <li><span>홍나라라라</span></li>
                        <!-- 성명 -->
                        <li><span>홍길동</span></li>
                        <!-- 사업장주소 -->
                        <li><span>서울 강남구 테헤란로98길 12</span></li>
                        <!-- 사업장주소 -->
                        <li><span>서울 강남구 테헤란로98길 12</span></li>
                        <!-- 업태 -->
                        <li><span>서비스, 소매</span></li>
                        <!-- 종목 -->
                        <li><span>방송프로그램 제작, TV홈쇼핑</span></li>
                        <!-- 업태 -->
                        <li><span>도소매</span></li>
                        <!-- 종목 -->
                        <li><span>유제품유통,온라인정보제공</span></li>
                        <!-- 이메일 -->
                        <li><span></span></li>
                        <!-- 이메일 -->
                        <li><span>jdjdidkddk@naver.com</span></li>
                        <!-- 년 -->
                        <li><span>2021</span></li>
                        <!-- 월 -->
                        <li><span>07</span></li>
                        <!-- 일 -->
                        <li><span>07</span></li>
                        <!-- 공란수 -->
                        <li><span>7</span></li>
                        <!-- 공급가액 -->
                        <li class="price"><span>12345678912</span></li>
                        <!--<li class="price"><span>999999999999</span></li>-->
                        <!-- 세액 -->
                        <li class="price"><span>45612345645</span></li>
                        <!-- 수정사유 -->
                        <li><span>수정사유</span></li>
                        <!-- 비고 -->
                        <li><span>비고</span></li>

                        <!-- line -->
                        <!-- 월 -->
                        <li><span>07</span></li>
                        <!-- 일 -->
                        <li><span>31</span></li>
                        <!-- 품목 -->
                        <li><span>유제품유통,온라인정보제공</span></li>
                        <!-- 규격 -->
                        <li><span></span></li>
                        <!-- 수량 -->
                        <li><span>5</span></li>
                        <!-- 단가 -->
                        <li><span>\10,000</span></li>
                        <!-- 공급가액 -->
                        <li><span>\10,000</span></li>
                        <!-- 세액 -->
                        <li><span>\10,000</span></li>
                        <!-- 비고 -->
                        <li><span></span></li>
                        <!-- line -->

                        <!-- line -->
                        <!-- 월 -->
                        <li><span></span></li>
                        <!-- 일 -->
                        <li><span></span></li>
                        <!-- 품목 -->
                        <li><span></span></li>
                        <!-- 규격 -->
                        <li><span></span></li>
                        <!-- 수량 -->
                        <li><span></span></li>
                        <!-- 단가 -->
                        <li><span></span></li>
                        <!-- 공급가액 -->
                        <li><span></span></li>
                        <!-- 세액 -->
                        <li><span></span></li>
                        <!-- 비고 -->
                        <li><span></span></li>
                        <!-- line -->

                        <!-- line -->
                        <!-- 월 -->
                        <li><span></span></li>
                        <!-- 일 -->
                        <li><span></span></li>
                        <!-- 품목 -->
                        <li><span></span></li>
                        <!-- 규격 -->
                        <li><span></span></li>
                        <!-- 수량 -->
                        <li><span></span></li>
                        <!-- 단가 -->
                        <li><span></span></li>
                        <!-- 공급가액 -->
                        <li><span></span></li>
                        <!-- 세액 -->
                        <li><span></span></li>
                        <!-- 비고 -->
                        <li><span></span></li>
                        <!-- line -->

                        <!-- line -->
                        <!-- 월 -->
                        <li><span></span></li>
                        <!-- 일 -->
                        <li><span></span></li>
                        <!-- 품목 -->
                        <li><span></span></li>
                        <!-- 규격 -->
                        <li><span></span></li>
                        <!-- 수량 -->
                        <li><span></span></li>
                        <!-- 단가 -->
                        <li><span></span></li>
                        <!-- 공급가액 -->
                        <li><span></span></li>
                        <!-- 세액 -->
                        <li><span></span></li>
                        <!-- 비고 -->
                        <li><span></span></li>
                        <!-- line -->

                        <!-- 합계금액 -->
                        <li><span>67,950</span></li>
                        <!-- 현금 -->
                        <li><span></span></li>
                        <!-- 수표 -->
                        <li><span></span></li>
                        <!-- 어음 -->
                        <li><span></span></li>
                        <!-- 외상미수금 -->
                        <li><span></span></li>

                    </ul>
                </div>
            </div>
            <p class="guide-text">1)본 전자금계산서는 공인인증서를 사용하여 전자서명한 세금계산서로 서명법에 의거 법적 효력을 갖는 문서입니다.</p>
            <p class="guide-text"> 2)본 세금계산서는 www.esero.go.kr에서도 확인할 수 있습니다.</p>
        </div>
        <div class="button-container col-2">
            <button type="button" class="a-button is-outlined js-close-button">닫기</button>
            <button type="submit" class="a-button btn-lp-print" onClick="lpPrint();">인쇄하기</button>
        </div>
    </div>
</script>
<!-- //세금계산서인쇄 -->