<!-- 휴면계정복구 완료 -->
<!--
<script type="text/x-handlebars-template" id="lp-restid-repair-complete">
    <div class="lightbox-content-dft">
        <h2 class="a-heading-2"><span>고객님의 아이디가 복구되었습니다</span></h2>
        <div class="content"></div>
        <button class="a-button js-close-button" type="button"><span>확인</span></button>
    </div>
</script>
-->

<div id="lp-restid-repair-complete" class="dialog-bx alert">
    <div class="content ta-c">
        <p class="tit-text lg">고객님의 아이디가 복구되었습니다</p>
    </div>
    <button class="a-button dialog-close-btn" type="button"><span>확인</span></button>
</div>
<!-- //휴면계정복구 완료 -->