<!-- 주문고객정보 -->
<script type="text/x-handlebars-template" id="lp-orderer-info">
    <div class="lightbox-content-dft lp-orderer-info">
        <h2 class="a-heading-2"><span>주문 고객정보</span></h2>
        <div class="content">
            <form class="o-form" data-component="OForm" action="" method="POST">
                <div class="m-input v3" data-component="MInput">
                    <label class="a-label js-a-label" for="orderer-name">이름</label>
                    <input class="a-input js-a-input"
                           placeholder="이름 입력"
                           type="text"
                           value="홍길동"
                           name="orderer-name"
                           id="orderer-name"
                           required=""
                           data-validation-required-text="이름을 입력해주세요"
                           data-validation-pattern-text="주문고객 이름은 한글, 영문만 가능합니다">
                    <label class="a-label js-a-label" for="orderer-name" data-placeholder=""></label>
                </div>
                <p class="guide-text sm">E-mail, 연락처 정보는 회원정보에서 변경 가능합니다.</p>
            </form>
        </div>
        <div class="button-container col-2">
            <button class="a-button is-outlined js-close-button" type="button"><span>취소</span></button>
            <button class="a-button is-primary" type="button"><span>확인</span></button>
        </div>
    </div>
</script>
<!-- //주문고객정보 -->