<!-- 환불계좌삭제완료 -->
<!--
<script type="text/x-handlebars-template" id="lp-refund-account-del-complete">
    <div class="lightbox-content-dft lp-refund-account-del-complete">
        <div class="content">
            <p class="tit-text lg">환불계좌가 삭제되었습니다.</p>
        </div>
        <div class="button-container">
            <button class="a-button js-close-button" type="button"><span>확인</span></button>
        </div>
    </div>
</script>
-->

<div id="lp-refund-account-del-complete" class="dialog-bx alert">
    <div class="content ta-c">
        <p class="tit-text lg">환불계좌가 삭제되었습니다.</p>
    </div>
    <button class="a-button dialog-close-btn" type="button"><span>확인</span></button>
</div>
<!-- // 환불계좌삭제완료 -->