<!-- 회원탈퇴 - 주문/교환/반품/AS 안내 팝업 -->
<script type="text/x-handlebars-template" id="lp-mbr-leave-info-order">
    <div class="lightbox-content-dft lp-mbr-leave-info-order">
        <div class="m-headline is-main-headline">
            <h2 class="a-heading-2"><span>회원탈퇴</span></h2>
        </div>
        <div class="content">
            <p class="guide-text">
                고객님은 현재 진행 중인 주문/교환/반품/AS 내역이 있습니다.<br class="only-pc">
                회원탈퇴는 해당 서비스 처리완료 후 신청하실 수 있습니다.
            </p>
        </div>
        <div class="button-container">
            <button class="a-button js-close-button" type="button"><span>확인</span></button>
        </div>
    </div>
</script>
<!-- // 회원탈퇴 - 주문/교환/반품/AS 안내 팝업 -->