<!-- 개인계정 연결관리 -->
<script type="text/x-handlebars-template" id="lp-social-connect">
    <div class="lightbox-content-dft lp-social-connect">
        <div class="m-headline is-main-headline">
            <h2 class="a-heading-2"><span>개인계정 연결관리</span></h2>
        </div>

        <div class="content">
            <ul class="o-info-line-box col-2-1 sns-list">
                <!--   to Dev : 등록 안되어있을 시 등록하기 버튼, 등록되어있으면 해제하기 버튼 표기 -->
                <li>
                    <span class="f-type1 icon">NAVER</span>
                    <a href="#none" class="f-type1 a-link-udln">등록하기</a>
                </li>
                <li>
                    <span class="f-type1 icon">Kakao</span>
                    <a href="#none" class="f-type1 a-link-udln">등록하기</a>
                </li>
                <li>
                    <span class="f-type1 icon">Facebook</span>
                    <a href="#none" class="f-type1 a-link-udln">등록하기</a>
                </li>
                <li>
                    <span class="f-type1 icon">Google +</span>
                    <a href="#none" class="f-type1 a-link-udln">등록하기</a>
                </li>
            </ul>
            <p class="desc-text">SNS 및 네이버 계정과 연동하여 간편하게 로그인 할 수 있는 기능을 설정/해제 하실 수 있습니다.</p>
            <p class="desc-text">간편계정 연결의 해제는 단순히 간편계정 연동 로그인 기능만을 해제 하는 것이며, 회원탈퇴가 되는 것은 아닙니다.</p>
            <p class="desc-text">간편계정 연결을 해제 하셔도 기존의 아이디(이메일), 비밀번호로 로그인 하실 수 있습니다.</p>
            <p class="desc-text">회원탈퇴는 회원정보변경에서 회원탈퇴 메뉴를 통해 가능합니다.</p>
        </div>
    </div>
</script>
<!-- // 개인계정 연결관리 -->