<!-- 영수증/세금계산서 리스트 : noresult -->
<script type="text/x-handlebars-template" id="lp-receipt-list-noresult">
    <div class="lightbox-content-dft lp-receipt-list">
        <div class="m-headline is-main-headline">
            <h2 class="a-heading-2"><span>영수증/세금계산서</span></h2>
        </div>
        <div class="content">

            <p class="guide-text">발행 가능한 영수증 및 세금계산서가 없습니다. </p>

            <%# md-my-orderlist-listoption-dropdown %>
            <%- include ("../common/md-my-orderlist-listoption-dropdown-term.ejs") %>

            <!-- line-list-wrap -->
            <div class="line-list-wrap">
                <ul class="list-header">
                    <li class="col-1">주문번호</li>
                    <li class="col-2">사업소명</li>
                    <li class="col-3">상품정보</li>
                    <li class="col-4">주문금액</li>
                    <li class="col-5">영수증/(세금)계산서발행</li>
                </ul>
                <ul class="list-body">
                    <li class="empty-li">
                        <p class="empty-item">&nbsp;</p>
                    </li>
                </ul>
            </div>
            <!-- //line-list-wrap -->

        </div>
    </div>
</script>
<!-- 영수증/세금계산서 리스트 : noresult -->