<!-- 메인팝업 -->
<script type="text/x-handlebars-template" id="lp-main-popup">
    <div class="lightbox-content-dft lp-main-popup">
        <div class="content">
            <div class="main-popup-wrap">
                <img class="a-image" src="<%= pageInfo.root %>/images/temp/sp-img.png" alt="ARKET">
            </div>
            <div class="option-bx">
                <a href="#none" class="a-link a-link-udln">오늘 하루 보이지 않기</a>
                <button type="button" class="a-button-nostyle m-button-icon-v2 a-icon-close js-close-button"></button>
            </div>
        </div>
    </div>
</script>
<!-- //메인팝업 -->