<!-- 주문내용동의 -->
<!--
<script type="text/x-handlebars-template" id="lp-order-info-agree">
    <div class="lightbox-content-dft lp-order-info-agree">
        <div class="content">
            <p class="tit-text lg">주문 내용에 동의해주셔야<br>결제가 가능합니다.</p>
        </div>
        <button class="a-button is-primary js-close-button" type="button"><span>확인</span></button>
    </div>
</script>
-->

<div id="lp-order-info-agree" class="dialog-bx alert">
    <div class="content ta-c">
        <p class="tit-text lg">주문 내용에 동의해주셔야<br>결제가 가능합니다.</p>
    </div>
    <button class="a-button dialog-close-btn" type="button"><span>확인</span></button>
</div>
<!-- //주문내용동의 -->