<!-- 무통장 입금 전용계좌 안내 -->
<div id="lp-deposit-account-guide-v2" class="dialog-bx confirm lp-deposit-account-guide">
    <div class="m-headline is-main-headline">
        <h2 class="a-heading-2"><span>무통장 입금 전용계좌 안내</span></h2>
    </div>
    <div class="content">
        <ul class="o-info-line-box sty2 col-2-1">
            <li>
                <span class="f-type1">입금금액</span>
                <span class="f-type1 price-won">12,390,000</span>
            </li>
            <li>
                <span class="f-type1">입금자명</span>
                <span class="f-type1">이민호</span>
            </li>
            <li>
                <span class="f-type1">입금은행</span>
                <span class="f-type1">우리은행 <span>2560-3980-2391-49</span></span>
            </li>
            <li>
                <span class="f-type1">예금주명</span>
                <span class="f-type1">현대백화점몰</span>
            </li>
            <li>
                <span class="f-type1 v-top-0">입금기한</span>
                <span class="f-type1">2021년 07월03일 <br><br> - 기한 내 입금하지 못하면 주문이 자동으로 취소됩니다.</span>
            </li>
        </ul>
        <p class="desc-text">상품대금은 1회성 계좌로 입금해야 하며, 비회원 무통장입금 결제의 경우 일회성 가상계좌로 운용되며 해당 주문 건에 한해서만 유효합니다. 입금완료 후 해당 계좌는 사용하실 수 없습니다.</p>
    </div>
    <div class="button-container col-2">
        <button class="a-button is-outlined dialog-close-btn" type="button"><span>취소</span></button>
        <button class="a-button" type="button"><span>확인</span></button>
    </div>
</div>
<!-- //무통장 입금 전용계좌 안내 -->