<!-- 결제진행중 -->
<script type="text/x-handlebars-template" id="lp-pay-processing">
    <div class="lightbox-content-dft lp-pay-processing">
        <div class="content">
            <img class="a-image loading-img" src="<%= pageInfo.root %>/images/common/loading.svg" alt="loading">
            <p class="tit-text lg">결제 진행 중입니다.</p>
            <p class="tit-text">창을 닫거나, 새로 고침 시 주문오류가 발생할 수 있습니다</p>
        </div>
    </div>
</script>
<!-- //결제진행중 -->