<!-- 환불계좌삭제완료 -->
<script type="text/x-handlebars-template" id="lp-refund-account-del-complete">
    <div class="lightbox-content-dft lp-refund-account-del-complete">
        <h2 class="a-heading-2"><span>환불계좌가 삭제되었습니다.</span></h2>
        <div class="content"></div>
        <div class="button-container">
            <button class="a-button js-close-button" type="button"><span>확인</span></button>
        </div>
    </div>
</script>
<!-- // 환불계좌삭제완료 -->