<!-- 개인계정 연결관리 > 등록완료 -->
<script type="text/x-handlebars-template" id="lp-social-connect-complete">
    <div class="lightbox-content-dft lp-social-connect-complete">
        <div class="content">
            <p class="tit-text lg">간편계정이 등록 되었습니다.</p>
        </div>
        <div class="button-container">
            <button class="a-button js-close-button" type="button"><span>확인</span></button>
        </div>
    </div>
</script>
<!-- // 개인계정 연결관리 > 등록완료 -->