<!-- 현금영수증 취소 확인 -->
<!--
<script type="text/x-handlebars-template" id="lp-receipt-cash-cancle-confirm">
    <div class="lightbox-content-dft lp-receipt-cash-cancle-confirm">
        <div class="content">
            <p class="tit-text lg">현금영수증을 취소하시겠습니까?</p>
        </div>
        <div class="button-container col-2">
            <button class="a-button is-outlined js-close-button" type="button"><span>취소</span></button>
            <button class="a-button" type="button"><span>확인</span></button>
        </div>
    </div>
</script>
-->
<div id="lp-receipt-cash-cancle-confirm" class="dialog-bx confirm">
    <div class="content ta-c">
        <p class="tit-text lg">현금영수증을 취소하시겠습니까?</p>
    </div>
    <div class="button-container col-2">
        <button class="a-button is-outlined dialog-close-btn" type="button"><span>취소</span></button>
        <button class="a-button" type="button"><span>확인</span></button>
    </div>
</div>
<!-- //현금영수증 취소 확인 -->