<!-- 임직원카드번호삭제 -->
<!--
<script type="text/x-handlebars-template" id="lp-staff-card-del">
    <div class="lightbox-content-dft lp-staff-card-del">
        <div class="content">
            <p class="tit-text lg">임직원 카드 번호를 삭제하시겠습니까?</p>
        </div>
        <div class="button-container col-2">
            <button class="a-button is-outlined js-close-button" type="button"><span>취소</span></button>
            <button class="a-button" type="button"><span>확인</span></button>
        </div>
    </div>
</script>
-->
<div id="lp-staff-card-del" class="dialog-bx confirm">
    <div class="content ta-c">
        <p class="tit-text lg">임직원 카드 번호를 삭제하시겠습니까?</p>
    </div>
    <div class="button-container col-2">
        <button class="a-button is-outlined dialog-close-btn" type="button"><span>취소</span></button>
        <button class="a-button" type="button"><span>확인</span></button>
    </div>
</div>
<!-- //임직원카드번호삭제 -->