<!-- 환불계좌삭제 -->
<script type="text/x-handlebars-template" id="lp-biznum-check-2">
    <div class="lightbox-content-dft lp-biznum-check-2">
        <h2 class="a-heading-2"><span>입력하신 사업자 번호로<br>등록된 이력이 있습니다. <br>기본 정보를 사용 하시겠습니까?</span></h2>
        <div class="content"></div>
        <div class="button-container col-2">
            <button class="a-button is-outlined js-close-button" type="button"><span>취소</span></button>
            <button class="a-button" type="button"><span>확인</span></button>
        </div>
    </div>
</script>
<!-- // 환불계좌삭제 -->