<!-- 서비스가입사실확인 -->
<script type="text/x-handlebars-template" id="lp-service-join-confirm">
    <div class="lightbox-content-dft lp-service-join-confirm">
        <div class="m-headline is-main-headline">
            <h2 class="a-heading-2"><span>지급보증서</span></h2>
        </div>
        <div class="content">
            <a href="<%= pageInfo.root %>/images/common/img-guarantee.png" target="_blank">
                <img src="<%= pageInfo.root %>/images/common/img-guarantee-pc.png" class="only-pc" style="width:100%" alt="지급보증서">
                <img src="<%= pageInfo.root %>/images/common/img-guarantee-m.png" class="only-m" style="width:100%" alt="지급보증서">
            </a>
        </div>
    </div>
</script>
<!-- //서비스가입사실확인 -->