<!-- 반품 상세 정보 -->
<script type="text/x-handlebars-template" id="lp-return-details">
    <!-- mrk-edit : 20210819 -->
    <!--<div class="lightbox-content-dft lp-deposit-account-guide">-->
    <div class="lightbox-content-dft lp-return-details">
    <!-- //mrk-edit : 20210819 -->
        <div class="m-headline is-main-headline">
            <h2 class="a-heading-2"><span>반품 상세 정보</span></h2>
        </div>
        <div class="content">
            <!--<ul class="o-info-line-box sty2 col-2-1 o-info-line-box-top">-->
            <ul class="o-info-line-box sty2 col-2-1">
                <li>
                    <span class="f-type3">반품상태</span>
                    <span class="f-type3">
                        반품접수 <span class="f-type4">(2021-05-26 11:12:13)</span><br>
                        반품진행중 <span class="f-type4">(2021-05-26 11:12:13)</span>
                    </span>
                </li>
                <li class="left-star">
                    <span class="f-type3">반품정보<br>(상품/배송지)</span>
                    <div class="product-param-info second">
                        <div class="product-params data">
                            <div class="f-type3">오버사이즈리넨 재킷</div>
                            <div class="product-size product">44</div>
                            <div class="product-color product">블루</div>
                            <div class="product-quantity product">1</div>
                        </div>
                        <div class="f-type3 guide-top">홍길동 휴대폰 : 010-000-0000 <Br>
                            12456  서울 강남구 청담동 123-5 현대빌딩 3층 </div>
                    </div>
                </li>
                <li>
                    <span class="f-type3">환불방법</span>
                    <span class="f-type3">신용카드</span>
                </li>
            </ul>

            <!-- mrk-add : 20210819 -->
            <ul class="o-info-line-box sty2 col-2-1">
                <li>
                    <span class="f-type3">반품상태</span>
                    <span class="f-type3">
                        반품접수 <span class="f-type4">(2021-05-26 11:12:13)</span><br>
                        반품진행중 <span class="f-type4">(2021-05-26 11:12:13)</span>
                    </span>
                </li>
                <li class="left-star">
                    <span class="f-type3">반품정보<br>(상품/배송지)</span>
                    <div class="product-param-info second">
                        <div class="product-params data">
                            <div class="f-type3">오버사이즈리넨 재킷</div>
                            <div class="product-size product">44</div>
                            <div class="product-color product">블루</div>
                            <div class="product-quantity product">1</div>
                        </div>
                        <div class="f-type3 guide-top">홍길동 휴대폰 : 010-000-0000 <Br>
                            12456  서울 강남구 청담동 123-5 현대빌딩 3층 </div>
                    </div>
                </li>
                <li>
                    <span class="f-type3">환불방법</span>
                    <span class="f-type3">신용카드</span>
                </li>
            </ul>
            <!-- //mrk-add : 20210819 -->
            
        </div>
    </div>
</script>
<!-- //반품 상세 정보 -->