<!-- lp-find-address-v2 -->
<div id="lp-find-address-v2" class="dialog-bx basic lightbox-content-dft lp-find-address step1">
    <div class="m-headline is-main-headline">
        <h2 class="a-heading-2"><span>주소 검색</span></h2>
    </div>
    <div class="content">

        <form class="o-form" data-component="OForm" action="" method="POST">
            <p class="guide-text sm">찾고자 하는 주소를 입력하신 후 검색을 누르세요.</p>
            <div class="m-input v3 with-button big-btn" data-component="MInput">
                <input class="a-input js-a-input"
                       placeholder="도로명 또는 지번 주소를 입력해주세요."
                       type="text"
                       name="address-keyword"
                       id="address-keyword"
                       required=""
                       data-validation-required-text="검색할 주소를 입력해주세요"
                       data-validation-pattern-text="지역명을 입력해주세요">
                <button class="a-button sm btn-address-search" type="submit"><span>검색</span></button>
                <label class="a-label js-a-label" for="address-keyword" data-placeholder=""></label>
            </div>
            <p class="guide-text sm">
                <span class="desc-text">동(읍/면)명 또는 도로명주소(건물번호/ 건물명)를 입력해 주세요.</span>
                <span class="desc-text">일부 군사지역은 배송이 불가능할 수 있습니다.</span>
            </p>
        </form>

        <!-- con-step2 -->
        <div class="con-step2">
            <div class="justify-bx">
                <div class="m-dropdown v3 cate-address-select">
                    <label class="a-label js-a-label" for="cate-si-do"></label>
                    <select name="selectSize" id="cate-si-do">
                        <option class="a-option">시/도</option>
                        <option class="a-option">경기도</option>
                        <option class="a-option">강원도</option>
                        <option class="a-option">충청북도</option>
                    </select>
                    <span class="a-icon-accordion a-icon-arrow-down-small"></span>
                </div>
                <div class="m-dropdown v3 cate-address-select">
                    <label class="a-label js-a-label" for="cate-gun-gu"></label>
                    <select name="selectSize" id="cate-si-do">
                        <option class="a-option">군/구</option>
                        <option class="a-option">구로구</option>
                        <option class="a-option">양천구</option>
                        <option class="a-option">마포구</option>
                    </select>
                    <span class="a-icon-accordion a-icon-arrow-down-small"></span>
                </div>
            </div>

            <!-- 주소검색결과 -->
            <ul class="find-address-result">
                <li>
                    <a href="#none">
                        <div class="address-item">
                            <div class="gubun">도로명<br>지번</div>
                            <div class="address-text">
                                <p>서울시 광진구 구의강변로 1</p>
                                <p>서울시 광진구 구의동 624-1</p>
                            </div>
                            <div class="zip-code"><span>05116</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#none">
                        <div class="address-item">
                            <div class="gubun">도로명<br>지번</div>
                            <div class="address-text">
                                <p>서울시 광진구 구의강변로 1</p>
                                <p>서울시 광진구 구의동 624-1</p>
                            </div>
                            <div class="zip-code"><span>05116</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#none">
                        <div class="address-item">
                            <div class="gubun">도로명<br>지번</div>
                            <div class="address-text">
                                <p>서울시 광진구 구의강변로 1</p>
                                <p>서울시 광진구 구의동 624-1</p>
                            </div>
                            <div class="zip-code"><span>05116</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#none">
                        <div class="address-item">
                            <div class="gubun">도로명<br>지번</div>
                            <div class="address-text">
                                <p>서울시 광진구 구의강변로 1</p>
                                <p>서울시 광진구 구의동 624-1</p>
                            </div>
                            <div class="zip-code"><span>05116</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#none">
                        <div class="address-item">
                            <div class="gubun">도로명<br>지번</div>
                            <div class="address-text">
                                <p>서울시 광진구 구의강변로 1</p>
                                <p>서울시 광진구 구의동 624-1</p>
                            </div>
                            <div class="zip-code"><span>05116</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#none">
                        <div class="address-item">
                            <div class="gubun">도로명<br>지번</div>
                            <div class="address-text">
                                <p>서울시 광진구 구의강변로 1</p>
                                <p>서울시 광진구 구의동 624-1</p>
                            </div>
                            <div class="zip-code"><span>05116</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#none">
                        <div class="address-item">
                            <div class="gubun">도로명<br>지번</div>
                            <div class="address-text">
                                <p>서울시 광진구 구의강변로 1</p>
                                <p>서울시 광진구 구의동 624-1</p>
                            </div>
                            <div class="zip-code"><span>05116</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#none">
                        <div class="address-item">
                            <div class="gubun">도로명<br>지번</div>
                            <div class="address-text">
                                <p>서울시 광진구 구의강변로 1</p>
                                <p>서울시 광진구 구의동 624-1</p>
                            </div>
                            <div class="zip-code"><span>05116</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#none">
                        <div class="address-item">
                            <div class="gubun">도로명<br>지번</div>
                            <div class="address-text">
                                <p>서울시 광진구 구의강변로 1</p>
                                <p>서울시 광진구 구의동 624-1</p>
                            </div>
                            <div class="zip-code"><span>05116</span></div>
                        </div>
                    </a>
                </li>
                <li>
                    <a href="#none">
                        <div class="address-item">
                            <div class="gubun">도로명<br>지번</div>
                            <div class="address-text">
                                <p>서울시 광진구 구의강변로 1</p>
                                <p>서울시 광진구 구의동 624-1</p>
                            </div>
                            <div class="zip-code"><span>05116</span></div>
                        </div>
                    </a>
                </li>
            </ul>
            <!-- //주소검색결과 -->

            <!-- list loading -->
            <div class="list-loading-bx is-visible"></div>
            <!-- //list loading -->

            <!-- 주소검색결과 없을 경우 -->
            <div class="find-address-result">
                <p class="empty-item">검색된 주소가 없습니다.</p>
            </div>
            <!-- //주소검색결과 없을 경우 -->
        </div>
        <!-- //con-step2 -->

        <!-- con-step3 -->
        <div class="con-step3">
            <p class="tit-text">상세주소 입력</p>
            <p class="guide-text sm">저장하고 싶은 방식의 주소를 선택하시고 나머지 주소를 입력해 주세요</p>

            <!-- 주소검색선택 -->
            <ul class="find-address-result">
                <li>
                    <div class="address-item mode-select">
                        <div class="m-radio-button v3">
                            <input type="radio" class="a-radio-button" id="dlvr-address-type-1" name="dlvr-address-type">
                            <label class="a-label js-a-label u-no-select custom-radio" for="dlvr-address-type-1"></label>
                        </div>
                        <div class="gubun"><label class="a-label js-a-label label-text" for="dlvr-address-type-1">도로명</label></div>
                        <div class="address-text">
                            <p><label class="a-label js-a-label label-text" for="dlvr-address-type-1">서울시 광진구 구의강변로 1 서울시 광진구 구의강변로 1서울시 광진구 구의강변로 1</label></p>
                        </div>
                    </div>
                </li>
                <li>
                    <div class="address-item mode-select">
                        <div class="m-radio-button v3">
                            <input type="radio" class="a-radio-button" id="dlvr-address-type-2" name="dlvr-address-type">
                            <label class="a-label js-a-label u-no-select custom-radio" for="dlvr-address-type-2"></label>
                        </div>
                        <div class="gubun"><label class="a-label js-a-label label-text" for="dlvr-address-type-2">지번</label></div>
                        <div class="address-text">
                            <p><label class="a-label js-a-label label-text" for="dlvr-address-type-2">서울시 광진구 구의강변로 1</label></p>
                        </div>
                    </div>
                </li>
            </ul>
            <!-- //주소검색선택 -->

            <div class="m-input v3" data-component="MInput">
                <input class="a-input js-a-input"
                       placeholder="상세주소를 입력해 주세요."
                       type="text"
                       name="detail-address"
                       id="detail-address"
                       required=""
                       data-validation-required-text="상세주소를 입력해 주세요">
                <label class="a-label js-a-label" for="detail-address" data-placeholder=""></label>
            </div>

            <div class="button-container col-2">
                <button class="a-button is-outlined dialog-close-btn" type="button">
                    <span>취소</span>
                </button>
                <button class="a-button btn-save" type="button">
                    <span>확인</span>
                </button>
            </div>

        </div>
        <!-- //con-step3 -->

    </div>
</div>
<!-- //lp-find-address-v2 -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        setTimeout(function(){
            let btnAddressSearch = document.querySelector('.btn-address-search');
            if(btnAddressSearch) {
                btnAddressSearch.addEventListener('click', function (_evt) {
                    _evt.preventDefault();
                    _evt.stopPropagation();
                    // let tempWrap = this.closest('.lp-find-address');
                    // if(tempWrap && !tempWrap.classList.contains('step2')){
                    //     tempWrap.classList.add('step2')
                    // }
                    // if(tempWrap && tempWrap.classList.contains('step3')){
                    //     tempWrap.classList.remove('step3')
                    // }
                    let tempWrap = $(this).parents('.lp-find-address');
                    if(tempWrap && !tempWrap.hasClass('step2')){
                        tempWrap.addClass('step2')
                    }
                    if(tempWrap && tempWrap.hasClass('step3')){
                        tempWrap.removeClass('step3')
                    }
                });
            }
            let aTagAddressItem = document.querySelectorAll('.find-address-result li a');
            if(aTagAddressItem){
                Array.prototype.slice.call(aTagAddressItem).forEach( function (_obj) {
                    _obj.addEventListener('click', function (_evt) {
                        _evt.preventDefault();
                        _evt.stopPropagation();
                        // let tempWrap = this.closest('.lp-find-address');
                        // if(tempWrap && tempWrap.classList.contains('step2')){
                        //     tempWrap.classList.remove('step2')
                        // }
                        // if(tempWrap && !tempWrap.classList.contains('step3')){
                        //     tempWrap.classList.add('step3')
                        // }
                        let tempWrap = $(this).parents('.lp-find-address');
                        if(tempWrap && tempWrap.hasClass('step2')){
                            tempWrap.removeClass('step2')
                        }
                        if(tempWrap && !tempWrap.hasClass('step3')){
                            tempWrap.addClass('step3')
                        }
                    });
                });
            }
        },100);
    })();
</script>
<!-- //tip -->



