<!-- 검색어입력 -->
<!--
<script type="text/x-handlebars-template" id="lp-search-no-keyword">
    <div class="lightbox-content-dft lp-search-no-keyword">
        <div class="content">
            <p class="tit-text lg">검색어를 입력하세요</p>
        </div>
        <button class="a-button js-close-button" type="button"><span>확인</span></button>
    </div>
</script>
-->

<div id="lp-search-no-keyword" class="dialog-bx alert">
    <div class="content ta-c">
        <p class="tit-text lg">검색어를 입력하세요</p>
    </div>
    <button class="a-button dialog-close-btn" type="button"><span>확인</span></button>
</div>
<!-- //검색어입력 -->