<div class="o-quick-buy" data-component="OQuickBuy">
    <form class="o-form add-to-cart" data-component="OForm" action="/someURL" method="POST">
        <div class="m-headline is-main-headline u-align-center">
            <h2 class="a-heading-2">
                <span>추천상품상세</span>
            </h2>
        </div>
        <div class="content">
            <div class="m-product-image">
                <div class="cross"></div>
                <div class="placeholder-wrapper">
                    <!--<img class="a-image product-image is-hidden" alt="image description" src="//:0" data-src="http://pava-0341648599.s3-eu-west-1.amazonaws.com/images/57bff610ce2d320300110c32/21968704-origpic-2a275c-thumbnail-big.jpg">-->
                    <img class="a-image product-image is-hidden"
                         alt="image description"
                         src="//:0"
                         data-src="<%= pageInfo.root %>/images/temp/app006prod-3.jpg">
                </div>
            </div>
            <div class="m-product-price">
                <span class="product-name u-ellipsis">코튼 유틸리티 재킷</span>
                <span class="price price-won">34,900</span>
            </div>

            <div class="size">
                <h4 class="a-heading-4">사이즈</h4>
                <a class="a-link view-more" href="views/themes/p11/views/pages/product-detail/product-detail-coat.html" target="_self">
                    상품페이지로 보기
                </a>
                <div class="a-size-swatch" data-component="ASizeSwatch">
                    <input class="a-input js-input" name="selectSize">
                    <button class="a-button-nostyle size-options longer-size in-stock first-size-swatch" type="button" data-value="32/33">
                        <span>32/33</span>
                        <p class="a-paragraph low-stock">
                            <span>품절임박</span>
                        </p>
                    </button>
                    <button class="a-button-nostyle size-options in-stock low-in-stock" type="button" data-value="34">
                        <span>34</span>
                        <p class="a-paragraph low-stock">
                            <span>품절임박</span>
                        </p>
                    </button>
                    <button class="a-button-nostyle size-options longer-size out-of-stock" type="button" data-value="36/38" tabindex="-1">
                        <span>36/38</span>
                    </button>
                    <button class="a-button-nostyle size-options in-stock low-in-stock" type="button" data-value="38">
                        <span>38</span>
                        <p class="a-paragraph low-stock">
                            <span>품절임박</span>
                        </p>
                    </button>
                    <button class="a-button-nostyle size-options in-stock low-in-stock" type="button" data-value="40">
                        <span>40</span>
                        <p class="a-paragraph low-stock">
                            <span>품절임박</span>
                        </p>
                    </button>
                    <button class="a-button-nostyle size-options in-stock low-in-stock" type="button" data-value="46">
                        <span>46</span>
                        <p class="a-paragraph low-stock">
                            <span>품절임박</span>
                        </p>
                    </button>
                    <button class="a-button-nostyle size-options in-stock low-in-stock" type="button" data-value="48">
                        <span>48</span>
                        <p class="a-paragraph low-stock">
                            <span>품절임박</span>
                        </p>
                    </button>
                    <button class="a-button-nostyle size-options in-stock low-in-stock" type="button" data-value="50">
                        <span>50</span>
                        <p class="a-paragraph low-stock">
                            <span>품절임박</span>
                        </p>
                    </button>
                </div>
            </div>

            <button class="a-button add-to-cart" data-text-default="ADD TO CART" data-text-disabled="CHOOSE SIZE FIRST">
                <span>장바구니 담기</span>
            </button>
        </div>
</div>