<!-- 메인팝업 -->
<script type="text/x-handlebars-template" id="lp-main-popup2">
    <div class="lightbox-content-dft lp-main-popup2">
        <div class="content">
            <div class="main-popup-wrap">
                <img class="a-image" src="<%= pageInfo.root %>/images/temp/sp-img.png" alt="ARKET">
            </div>
        </div>
    </div>
</script>
<!-- //메인팝업 -->