<!-- 결제진행중-외부 -->
<script type="text/x-handlebars-template" id="lp-pay-processing-ex">
    <div class="lightbox-content-dft lp-pay-processing-ex">
        <div class="content">
            <p class="tit-text lg">결제 서비스가 진행중입니다. <br>잠시만 기다려 주시기 바랍니다.</p>
        </div>
    </div>
</script>
<!-- //결제진행중-외부-->