<!-- 현금영수증 취소 -->
<script type="text/x-handlebars-template" id="lp-receipt-cash-cancle">
    <div class="lightbox-content-dft lp-receipt-cash-cancle">
        <div class="content">
            <p class="tit-text lg">현금영수증이 취소되었습니다.</p>
        </div>
        <div class="button-container">
            <button class="a-button js-close-button" type="button"><span>확인</span></button>
        </div>
    </div>
</script>
<!-- //현금영수증 취소 -->