<!-- 영수증/세금계산서 리스트 -->
<script type="text/x-handlebars-template" id="lp-receipt-list">
    <div class="lightbox-content-dft lp-receipt-list">
        <div class="m-headline is-main-headline">
            <h2 class="a-heading-2"><span>영수증/세금계산서</span></h2>
        </div>
        <div class="content">

            <p class="guide-text">주문하신 상품이 출고가 완료되어 현금영수증 및 세금계산서 발행 가능한 주문에 대해 확인 하실 수 있습니다.</p>

            <%# md-my-orderlist-listoption-dropdown %>
            <%- include ("../common/md-my-orderlist-listoption-dropdown-term.ejs") %>

            <!-- line-list-wrap -->
            <div class="line-list-wrap">
                <ul class="list-header">
                    <li class="col-1">주문번호</li>
                    <li class="col-2">사업소명</li>
                    <li class="col-3">상품정보</li>
                    <li class="col-4">주문금액</li>
                    <li class="col-5">영수증/(세금)계산서발행</li>
                </ul>
                <ul class="list-body">
                    <li>
                        <!-- list-item -->
                        <ul class="list-item">
                            <li class="col-1">
                                <span class="order-date">2021-05-26</span>
                                <span class="order-number">2105263226320</span>
                                <a href="#none" class="a-link a-link-udln open-lightbox" data-template="lp-receipt-print">영수증출력</a>
                            </li>
                            <li class="col-2">
                                <span>현대백화점</span>
                                <span>판교점</span>
                            </li>
                            <li class="col-3">
                                <!-- product-info -->
                                <div class="product-info">
                                    <div class="product-item-info first">
                                        <div class="product-details">
                                            <div class="product-name">해리 블랙 슈즈해리 블랙 슈즈해리 블랙 슈즈</div>
                                        </div>
                                    </div>
                                    <div class="product-param-info second">
                                        <div class="product-params data">
                                            <div class="product-size">44</div>
                                            <div class="product-color">블루</div>
                                            <div class="product-quantity">2</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //product-info -->
                            </li>
                            <li class="col-4">
                                <span class="price-won">1,854,9000</span>
                            </li>
                            <li class="col-5">
                                <span class="desc">발급하실 전표(계산서)가 없습니다.</span>
                            </li>
                        </ul>
                        <!-- //list-item -->
                    </li>
                    <li>
                        <!-- list-item -->
                        <ul class="list-item">
                            <li class="col-1">
                                <span class="order-date">2021-05-26</span>
                                <span class="order-number">2105263226320</span>
                                <a href="#none" class="a-link a-link-udln open-lightbox" data-template="lp-receipt-print">영수증출력</a>
                            </li>
                            <li class="col-2">
                                <span>현대백화점</span>
                                <span>판교점</span>
                            </li>
                            <li class="col-3">
                                <!-- product-info -->
                                <div class="product-info">
                                    <div class="product-item-info first">
                                        <div class="product-details">
                                            <div class="product-name">해리 블랙 슈즈해리</div>
                                        </div>
                                    </div>
                                    <div class="product-param-info second">
                                        <div class="product-params data">
                                            <div class="product-size">44</div>
                                            <div class="product-color">블루</div>
                                            <div class="product-quantity">2</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //product-info -->
                                <!-- product-info -->
                                <div class="product-info">
                                    <div class="product-item-info first">
                                        <div class="product-details">
                                            <div class="product-name">해리 블랙 슈즈해리 블랙 슈즈해리 블랙 슈즈</div>
                                        </div>
                                    </div>
                                    <div class="product-param-info second">
                                        <div class="product-params data">
                                            <div class="product-size">44</div>
                                            <div class="product-color">블루</div>
                                            <div class="product-quantity">2</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //product-info -->
                            </li>
                            <li class="col-4">
                                <span class="price-won">654,9000</span>
                            </li>
                            <li class="col-5">
                                <a href="#none" class="a-link a-link-udln open-lightbox" data-template="lp-receipt-print-cash" data-classes="print-receipt-card">현금영수증 출력</a>
                            </li>
                        </ul>
                        <!-- //list-item -->
                    </li>
                    <li>
                        <!-- list-item -->
                        <ul class="list-item">
                            <li class="col-1">
                                <span class="order-date">2021-05-26</span>
                                <span class="order-number">2105263226320</span>
                                <a href="#none" class="a-link a-link-udln open-lightbox" data-template="lp-receipt-print">영수증출력</a>
                            </li>
                            <li class="col-2">
                                <span>현대백화점</span>
                                <span>판교점</span>
                            </li>
                            <li class="col-3">
                                <!-- product-info -->
                                <div class="product-info">
                                    <div class="product-item-info first">
                                        <div class="product-details">
                                            <div class="product-name">해리 블랙 슈즈해리</div>
                                        </div>
                                    </div>
                                    <div class="product-param-info second">
                                        <div class="product-params data">
                                            <div class="product-size">44</div>
                                            <div class="product-color">블루</div>
                                            <div class="product-quantity">2</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //product-info -->
                            </li>
                            <li class="col-4">
                                <span class="price-won">76,9000</span>
                            </li>
                            <li class="col-5">
                                <a href="#none" class="a-link a-link-udln open-lightbox" data-template="lp-receipt-print-credit" data-classes="print-receipt-card">카드전표 출력</a>
                            </li>
                        </ul>
                        <!-- //list-item -->
                    </li>
                    <li>
                        <!-- list-item -->
                        <ul class="list-item">
                            <li class="col-1">
                                <span class="order-date">2021-05-26</span>
                                <span class="order-number">2105263226320</span>
                                <a href="#none" class="a-link a-link-udln open-lightbox" data-template="lp-receipt-print">영수증출력</a>
                            </li>
                            <li class="col-2">
                                <span>현대백화점</span>
                                <span>판교점</span>
                            </li>
                            <li class="col-3">
                                <!-- product-info -->
                                <div class="product-info">
                                    <div class="product-item-info first">
                                        <div class="product-details">
                                            <div class="product-name">해리 블랙 슈즈해리 블랙 슈즈해리 블랙 슈즈</div>
                                        </div>
                                    </div>
                                    <div class="product-param-info second">
                                        <div class="product-params data">
                                            <div class="product-size">44</div>
                                            <div class="product-color">블루</div>
                                            <div class="product-quantity">2</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //product-info -->
                            </li>
                            <li class="col-4">
                                <span class="price-won">654,9000</span>
                            </li>
                            <li class="col-5">
                                <span class="desc">승인번호 :123456789</span>
                                <a href="https://www.hometax.go.kr/" class="a-link a-link-udln">국세청홈텍스 바로가기</a>
                                <a href="#none" class="a-link a-link-udln open-lightbox" data-template="lp-receipt-print-cash" data-classes="print-receipt-card">현금영수증 출력</a>
                                <a href="#none" class="a-link a-link-udln open-lightbox" data-template="lp-receipt-cash-cancle-confirm" data-classes="alert">현금영수증 취소 신청</a>
                            </li>
                        </ul>
                        <!-- //list-item -->
                    </li>
                    <li>
                        <!-- list-item -->
                        <ul class="list-item">
                            <li class="col-1">
                                <span class="order-date">2021-05-26</span>
                                <span class="order-number">2105263226320</span>
                                <a href="#none" class="a-link a-link-udln open-lightbox" data-template="lp-receipt-print">영수증출력</a>
                            </li>
                            <li class="col-2">
                                <span>현대백화점</span>
                                <span>판교점</span>
                            </li>
                            <li class="col-3">
                                <!-- product-info -->
                                <div class="product-info">
                                    <div class="product-item-info first">
                                        <div class="product-details">
                                            <div class="product-name">해리 블랙 슈즈해리 블랙 슈즈해리 블랙 슈즈</div>
                                        </div>
                                    </div>
                                    <div class="product-param-info second">
                                        <div class="product-params data">
                                            <div class="product-size">44</div>
                                            <div class="product-color">블루</div>
                                            <div class="product-quantity">2</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //product-info -->
                            </li>
                            <li class="col-4">
                                <span class="price-won">654,9000</span>
                            </li>
                            <li class="col-5">
                                <span class="desc">2021.12.11 현금영수증 취소 </span>
                                <a href="#none" class="a-link a-link-udln open-lightbox" data-template="lp-receipt-apply-tax" data-classes="is-large">세금계산서 신청</a>
                            </li>
                        </ul>
                        <!-- //list-item -->
                    </li>
                    <li>
                        <!-- list-item -->
                        <ul class="list-item">
                            <li class="col-1">
                                <span class="order-date">2021-05-26</span>
                                <span class="order-number">2105263226320</span>
                                <a href="#none" class="a-link a-link-udln open-lightbox" data-template="lp-receipt-print">영수증출력</a>
                            </li>
                            <li class="col-2">
                                <span>현대백화점</span>
                                <span>판교점</span>
                            </li>
                            <li class="col-3">
                                <!-- product-info -->
                                <div class="product-info">
                                    <div class="product-item-info first">
                                        <div class="product-details">
                                            <div class="product-name">해리 블랙 슈즈해리 블랙 슈즈해리 블랙 슈즈</div>
                                        </div>
                                    </div>
                                    <div class="product-param-info second">
                                        <div class="product-params data">
                                            <div class="product-size">44</div>
                                            <div class="product-color">블루</div>
                                            <div class="product-quantity">2</div>
                                        </div>
                                    </div>
                                </div>
                                <!-- //product-info -->
                            </li>
                            <li class="col-4">
                                <span class="price-won">54,9000</span>
                            </li>
                            <li class="col-5">
                                <span class="desc">2021.12.11 현금영수증 취소 </span>
                                <a href="#none" class="a-link a-link-udln open-lightbox" data-template="lp-receipt-print-tax" data-classes="print-receipt-tax">세금계산서 출력</a>
                            </li>
                        </ul>
                        <!-- //list-item -->
                    </li>

                </ul>
            </div>
            <!-- //line-list-wrap -->

            <p class="guide-text">
                <span class="desc-text">더현대닷컴은 고객님의 편의를 위해 고객님께서 신청하시지 않은 현금주문건에 대해서도 국세청이 지정한 코드로 자진신고하고 있습니다.</span>
                <span class="desc-text">더현대닷컴에서 자진신고한 현금영수증은 국세청 홈페이지內 "사용내역조회 > 자진발급분 사용자등록" 메뉴를 통해 사용자등록시 고객님 내역으로 현금영수증을 신청 할 수 있습니다.</span>
                <span class="desc-text">세금계산서 신청은 주문한 상품의 배송상태가 (발송완료)이후에 가능하며, 신용카드전표 및 현금영수증 출력은 (발송완료)이후에 가능합니다.</span>
                <span class="desc-text">부가가치세법 제33조 (세금계산서 발급의무의 면제) 2항 규정에 의거하여, 신용카드 매출전표를 발급한 경우에는 세금계산서 발행이 불가합니다.</span>
                <span class="desc-text">복합결제는 세금계산서 발행이 불가하며, 현금영수증(일반,사업자)만 신청 가능합니다.<br>(예) 카드 + 현금 = 카드전표 + 현금영수증(일반,사업자) / 단, 현금 + 예치금은 세금계산서 신청이 가능합니다.</span>
                <span class="desc-text">세금계산서 발행이 필요한 고객님께서는 현금영수증 취소 신청 후 세금계산서 발행이 가능합니다.
                    <span class="desc-text2">세금계산서 발급 가능 기간은 구매 월로 부터 익월 09일 오후 11시 59분까지 가능합니다. <br>익월 10일이 토/일요일/공휴일인 경우 신청기간은 연장되지 않으며, 익월 8일까지 신청해야 합니다.</span>
                    <span class="desc-text2">해당일을 초과한 경우 세금계산서 신청이 가능하지 않습니다.</span>
                </span>
            </p>
            
        </div>
    </div>
</script>
<!-- //영수증/세금계산서 리스트 -->