<!-- 현금영수증 취소 -->
<script type="text/x-handlebars-template" id="lp-receipt-cash-cancle">
    <div class="lightbox-content-dft lp-receipt-cash-cancle">
        <h2 class="a-heading-2"><span>현금영수증이 취소되었습니다.</span></h2>
        <div class="content"></div>
        <div class="button-container">
            <button class="a-button js-close-button" type="button"><span>확인</span></button>
        </div>
    </div>
</script>
<!-- //현금영수증 취소 -->