<!-- 사업자등록번호 이력 있을 때 -->
<!--
<script type="text/x-handlebars-template" id="lp-biznum-check-2">
    <div class="lightbox-content-dft lp-biznum-check-2">
        <h2 class="a-heading-2"><span>입력하신 사업자 번호로<br>등록된 이력이 있습니다. <br>기본 정보를 사용 하시겠습니까?</span></h2>
        <div class="content"></div>
        <div class="button-container col-2">
            <button class="a-button is-outlined js-close-button" type="button"><span>취소</span></button>
            <button class="a-button" type="button"><span>확인</span></button>
        </div>
    </div>
</script>
-->
<div id="lp-biznum-check-2" class="dialog-bx confirm">
    <div class="content ta-c">
        <p class="tit-text lg"><span>입력하신 사업자 번호로<br>등록된 이력이 있습니다. <br>기본 정보를 사용 하시겠습니까?</span></p>
    </div>
    <div class="button-container col-2">
        <button class="a-button is-outlined dialog-close-btn" type="button"><span>취소</span></button>
        <button class="a-button" type="button"><span>확인</span></button>
    </div>
</div>
<!-- //사업자등록번호 이력 있을 때 -->