<!-- 정보가 일치하지 않는 경우 -->
<!--
<script type="text/x-handlebars-template" id="lp-info-incorrect">
    <div class="lightbox-content-dft">
        <h2 class="a-heading-2"><span>회원 정보가 존재하지 않습니다.</span></h2>
        <div class="content">
            <p class="text-box">입력 정보를 다시 확인해 보세요.</p>
        </div>
        <button class="a-button js-close-button" type="button"><span>확인</span></button>
    </div>
</script>
-->

<div id="lp-info-incorrect" class="dialog-bx alert">
    <div class="content ta-c">
        <p class="tit-text lg">회원 정보가 존재하지 않습니다.</p>
        <p class="con-text">입력 정보를 다시 확인해 보세요.</p>
    </div>
    <button class="a-button dialog-close-btn" type="button"><span>확인</span></button>
</div>
<!-- //정보가 일치하지 않는 경우 -->