<!-- 배송지목록 > 삭제 -->
<script type="text/x-handlebars-template" id="lp-dlvr-list-del">
    <div class="lightbox-content-dft lp-dlvr-list-del">
        <div class="content">
            <p class="tit-text lg">해당 배송지 정보를 삭제하시겠습니까?</p>
        </div>
        <div class="button-container col-2">
            <button class="a-button is-outlined js-close-button" type="button"><span>취소</span></button>
            <button class="a-button is-primary" type="button"><span>확인</span></button>
        </div>
    </div>
</script>
<!-- //배송지목록 > 삭제 -->