<!-- lp-find-address -->
<script type="text/x-handlebars-template" id="lp-find-address-standard">
    <div class="lightbox-content-dft lp-find-address step1">
        <div class="m-headline is-main-headline">
            <h2 class="a-heading-2"><span>주소 검색</span></h2>
        </div>
        <div class="content">

            <!-- con-step4 -->
            <div class="con-step4">
                <p class="guide-text sm">입력하신 주소에 해당하는 표준주소가 있습니다.아래 표준주소로 바꾸시겠습니까?</p>

                <!-- 주소검색선택 -->
                <ul class="find-address-result">
                    <li>
                        <div class="address-item mode-select-standard">
                            <div class="m-radio-button v3">
                                <input type="radio" class="a-radio-button" id="dlvr-address-type-1" name="dlvr-address-type">
                                <label class="a-label js-a-label u-no-select custom-radio" for="dlvr-address-type-1"></label>
                            </div>
                            <div class="address-text">
                                <p>
                                    <label class="a-label js-a-label label-text" for="dlvr-address-type-1">
                                        <span class="zip">[입력한주소] 12365</span>
                                        서울시 광진구 구의강변로 1 서울시 광진구 구의강변로 1서울시 광진구 구의강변로 1
                                    </label>
                                </p>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="address-item mode-select-standard">
                            <div class="m-radio-button v3">
                                <input type="radio" class="a-radio-button" id="dlvr-address-type-2" name="dlvr-address-type">
                                <label class="a-label js-a-label u-no-select custom-radio" for="dlvr-address-type-2"></label>
                            </div>
                            <div class="address-text">
                                <p>
                                    <label class="a-label js-a-label label-text" for="dlvr-address-type-2">
                                        <span class="zip">[표준주소] 14652 (123-456)</span>
                                        서울시 광진구 구의강변로 1
                                    </label>
                                </p>
                            </div>
                        </div>
                    </li>
                </ul>
                <!-- //주소검색선택 -->

                <div class="button-container col-2">
                    <button class="a-button is-outlined js-close-button" type="button">
                        <span>취소</span>
                    </button>
                    <!--
                    <button class="a-button is-primary btn-save" type="button">
                        <span>확인</span>
                    </button>
                    -->

                    <!-- 팝업에 팝업 띄우기 테스트-->
                    <button class="a-button is-primary btn-save open-lightbox" data-template="lp-find-address" type="button">
                        <span>확인</span>
                    </button>
                </div>

            </div>
            <!-- //con-4 -->
            
        </div>
    </div>
</script>
<!-- //lp-find-address -->



