<!-- 이메일 아이디 선택 시 -->
<!--
<script type="text/x-handlebars-template" id="lp-email-id-selected">
    <div class="lightbox-content-dft">
        <h2 class="a-heading-2"><span>죄송합니다.</span></h2>
        <div class="content">
            <p class="text-box">
                이메일 아이디의 경우 전체 아이디를 확인 하실 수 없습니다.<br>
                고객센터로 문의하여 주십시오.
            </p>
        </div>
        <button class="a-button is-primary js-close-button" type="button"><span>확인</span></button>
    </div>
</script>
-->
<div id="lp-email-id-selected" class="dialog-bx alert">
    <h2 class="a-heading-2"><span>죄송합니다.</span></h2>
    <div class="content ta-c">
        <p class="text-box">
            이메일 아이디의 경우 전체 아이디를 확인 하실 수 없습니다.<br>
            고객센터로 문의하여 주십시오.
        </p>
    </div>
    <button class="a-button dialog-close-btn" type="button"><span>확인</span></button>
</div>
<!-- //이메일 아이디 선택 시 -->