<!-- 사이즈가이드 -->
<script type="text/x-handlebars-template" id="lp-size-guide-type2-m">

    <!-- o-sizeguide -->
    <div class="o-sizeguide">
        <div id="sizeguideIntroID" class="is-richtext">

            <!-- freeHTML-sizeguide -->
            <div class="freeHTML-sizeguide">
                <h1 class="freeHTML-sizeguide-title">사이즈 가이드 – 남성</h1>

                <!-- o-accordion -->
                <div class="o-accordion v2" data-component="OAccordion" data-exclusive="true" data-exclusive-group="size-guide-male">
                    <div class="accordion-header">
                        <a class="a-link accordion-title js-accordion-toggle" href="#none" target="_self">
                            <h3 class="a-heading-3">남성의류(셔츠)</h3>
                        </a>
                    </div>
                    <div class="accordion-content">

                        <!-- information -->
                        <div class="freeHTML-sizeguide-information">
                            <p>측정 방법</p>
                            <table class="freeHTML-sizeguide-information-text">
                                <tbody>
                                <tr>
                                    <th>가슴</th>
                                    <td>가슴의 가장 큰 부분을 측정합니다.</td>
                                </tr>
                                <tr>
                                    <th>허리</th>
                                    <td>허리의 가장 좁은 부분을 측정합니다.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //information -->

                        <!-- chart -->
                        <div class="freeHTML-sizeguide-chart">
                            <p class="freeHTML-sizeguide-chartTitle">사이즈 변환</p>

                            <input class="freeHTML-sizeguide-inputInch" type="radio" name="men_shirt_free_html_sizeguide">
                            <span class="freeHTML-sizeguide-titleInch">inch</span>
                            <input class="freeHTML-sizeguide-inputCm" type="radio" name="men_shirt_free_html_sizeguide" checked="checked">
                            <span class="freeHTML-sizeguide-titleCm">cm</span>

                            <table class="freeHTML-sizeguide-chart-titles">
                                <thead>
                                <tr>
                                    <th><span>사이즈</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>EUR</td>
                                </tr>
                                <tr>
                                    <td>UK</td>
                                </tr>
                                <tr>
                                    <td>Chest</td>
                                </tr>
                                <tr>
                                    <td>Waist</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="freeHTML-sizeguide-overflow freeHTML-is-cm">
                                <table class="freeHTML-sizeguide-chart-sizes">
                                    <thead>
                                    <tr>
                                        <th><span>XS</span></th>
                                        <th><span>S</span></th>
                                        <th><span>M</span></th>
                                        <th><span>L</span></th>
                                        <th><span>XL</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>42</td>
                                        <td>44-46</td>
                                        <td>48-50</td>
                                        <td>52-54</td>
                                        <td>56-58</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>80-84</td>
                                        <td>88-92</td>
                                        <td>96-100</td>
                                        <td>104-108</td>
                                        <td>112-116</td>
                                    </tr>
                                    <tr>
                                        <td>68-72</td>
                                        <td>76-80</td>
                                        <td>84-88</td>
                                        <td>92-96</td>
                                        <td>100-104</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="freeHTML-sizeguide-overflow freeHTML-is-inch">
                                <table class="freeHTML-sizeguide-chart-sizes">
                                    <thead>
                                    <tr>
                                        <th><span>XS</span></th>
                                        <th><span>S</span></th>
                                        <th><span>M</span></th>
                                        <th><span>L</span></th>
                                        <th><span>XL</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>42</td>
                                        <td>44-46</td>
                                        <td>48-50</td>
                                        <td>52-54</td>
                                        <td>56-58</td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>80-84</td>
                                        <td>88-92</td>
                                        <td>96-100</td>
                                        <td>104-108</td>
                                        <td>112-116</td>
                                    </tr>
                                    <tr>
                                        <td>68-72</td>
                                        <td>76-80</td>
                                        <td>84-88</td>
                                        <td>92-96</td>
                                        <td>100-104</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- //chart -->
                        
                    </div>
                </div>
                <!-- o-accordion -->

                <!-- o-accordion -->
                <div class="o-accordion v2" data-component="OAccordion" data-exclusive="true" data-exclusive-group="size-guide-male">
                    <div class="accordion-header">
                        <a class="a-link accordion-title js-accordion-toggle" href="#none" target="_self">
                            <h3 class="a-heading-3">남성의류(상의)</h3>
                        </a>
                    </div>
                    <div class="accordion-content">

                        <!-- information -->
                        <div class="freeHTML-sizeguide-information">
                            <p>측정 방법</p>
                            <table class="freeHTML-sizeguide-information-text">
                                <tbody>
                                <tr>
                                    <th>가슴</th>
                                    <td>가슴의 가장 큰 부분을 측정합니다.</td>
                                </tr>
                                <tr>
                                    <th>허리</th>
                                    <td>허리의 가장 좁은 부분을 측정합니다.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //information -->

                        <!-- chart -->
                        <div class="freeHTML-sizeguide-chart">
                            <p class="freeHTML-sizeguide-chartTitle">사이즈 변환</p>

                            <input class="freeHTML-sizeguide-inputInch" type="radio" name="men_top_free_html_sizeguide">
                            <span class="freeHTML-sizeguide-titleInch">inch</span>
                            <input class="freeHTML-sizeguide-inputCm" type="radio" name="men_top_free_html_sizeguide" checked="checked">
                            <span class="freeHTML-sizeguide-titleCm">cm</span>

                            <table class="freeHTML-sizeguide-chart-titles">
                                <thead>
                                <tr>
                                    <th><span>사이즈</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>EUR</td>
                                </tr>
                                <tr>
                                    <td>UK</td>
                                </tr>
                                <tr>
                                    <td>Chest</td>
                                </tr>
                                <tr>
                                    <td>Waist</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="freeHTML-sizeguide-overflow freeHTML-is-cm">
                                <table class="freeHTML-sizeguide-chart-sizes">
                                    <thead>
                                    <tr>
                                        <th><span>XS</span></th>
                                        <th><span>S</span></th>
                                        <th><span>M</span></th>
                                        <th><span>L</span></th>
                                        <th><span>XL</span></th>
                                        <th><span>XXL</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>42</td>
                                        <td>44-46</td>
                                        <td>48-50</td>
                                        <td>52-54</td>
                                        <td>56-58</td>
                                        <td>60-62</td>
                                    </tr>
                                    <tr>
                                        <td>32R</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>84</td>
                                        <td>88-92</td>
                                        <td>96-100</td>
                                        <td>104-108</td>
                                        <td>112-116</td>
                                        <td>120-124</td>
                                    </tr>
                                    <tr>
                                        <td>72</td>
                                        <td>76-80</td>
                                        <td>84-88</td>
                                        <td>92-96</td>
                                        <td>100-104</td>
                                        <td>108-112</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="freeHTML-sizeguide-overflow freeHTML-is-inch">
                                <table class="freeHTML-sizeguide-chart-sizes">
                                    <thead>
                                    <tr>
                                        <th><span>XS</span></th>
                                        <th><span>S</span></th>
                                        <th><span>M</span></th>
                                        <th><span>L</span></th>
                                        <th><span>XL</span></th>
                                        <th><span>XXL</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>42</td>
                                        <td>44-46</td>
                                        <td>48-50</td>
                                        <td>52-54</td>
                                        <td>56-58</td>
                                        <td>60-62</td>
                                    </tr>
                                    <tr>
                                        <td>32R</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>33</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- //chart -->

                    </div>
                </div>
                <!-- o-accordion -->

                <!-- o-accordion -->
                <div class="o-accordion v2" data-component="OAccordion" data-exclusive="true" data-exclusive-group="size-guide-male">
                    <div class="accordion-header">
                        <a class="a-link accordion-title js-accordion-toggle" href="#none" target="_self">
                            <h3 class="a-heading-3">남성의류(바지)</h3>
                        </a>
                    </div>
                    <div class="accordion-content">

                        <!-- information -->
                        <div class="freeHTML-sizeguide-information">
                            <p>측정 방법</p>
                            <table class="freeHTML-sizeguide-information-text">
                                <tbody>
                                <tr>
                                    <th>허리</th>
                                    <td>허리의 가장 좁은 부분을 측정합니다.</td>
                                </tr>
                                <tr>
                                    <th>엉덩이</th>
                                    <td>엉덩이의 가장 큰 부분 주위를 측정하십시오</td>
                                </tr>
                                <tr>
                                    <th>다리안쪽길이</th>
                                    <td>다리 안쪽의 가장 윗부분부터 바닥까지 측정하세요.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //information -->

                        <!-- chart -->
                        <div class="freeHTML-sizeguide-chart">
                            <p class="freeHTML-sizeguide-chartTitle">사이즈 변환</p>

                            <input class="freeHTML-sizeguide-inputInch" type="radio" name="men_pants_free_html_sizeguide">
                            <span class="freeHTML-sizeguide-titleInch">inch</span>
                            <input class="freeHTML-sizeguide-inputCm" type="radio" name="men_pants_free_html_sizeguide" checked="checked">
                            <span class="freeHTML-sizeguide-titleCm">cm</span>

                            <table class="freeHTML-sizeguide-chart-titles">
                                <thead>
                                <tr>
                                    <th><span>사이즈</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>EUR</td>
                                </tr>
                                <tr>
                                    <td>UK</td>
                                </tr>
                                <tr>
                                    <td>허리둘레(cm)</td>
                                </tr>
                                <tr>
                                    <td>엉덩이둘레(cm)</td>
                                </tr>
                                <tr>
                                    <td>다리안쪽길이</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="freeHTML-sizeguide-overflow freeHTML-is-cm">
                                <table class="freeHTML-sizeguide-chart-sizes">
                                    <thead>
                                    <tr>
                                        <th><span>XS</span></th>
                                        <th><span>S</span></th>
                                        <th><span>M</span></th>
                                        <th><span>L</span></th>
                                        <th><span>XL</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>42</td>
                                        <td>44-46</td>
                                        <td>48-50</td>
                                        <td>52-54</td>
                                        <td>56-58</td>
                                    </tr>
                                    <tr>
                                        <td>28R</td>
                                        <td>30R-32R</td>
                                        <td>33R-34R</td>
                                        <td>36R-38R</td>
                                        <td>40R-42R</td>
                                    </tr>
                                    <tr>
                                        <td>72</td>
                                        <td>76-80</td>
                                        <td>84-88</td>
                                        <td>92-96</td>
                                        <td>100-104</td>
                                    </tr>
                                    <tr>
                                        <td>90</td>
                                        <td>93-96</td>
                                        <td>99-102</td>
                                        <td>105-108</td>
                                        <td>111-114</td>
                                    </tr>
                                    <tr>
                                        <td>81</td>
                                        <td>81-82</td>
                                        <td>82-83</td>
                                        <td>83-84</td>
                                        <td>85</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="freeHTML-sizeguide-overflow freeHTML-is-inch">
                                <table class="freeHTML-sizeguide-chart-sizes">
                                    <thead>
                                    <tr>
                                        <th><span>XS</span></th>
                                        <th><span>S</span></th>
                                        <th><span>M</span></th>
                                        <th><span>L</span></th>
                                        <th><span>XL</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>42</td>
                                        <td>44-46</td>
                                        <td>48-50</td>
                                        <td>52-54</td>
                                        <td>56-58</td>
                                    </tr>
                                    <tr>
                                        <td>28R</td>
                                        <td>30R-32R</td>
                                        <td>33R-34R</td>
                                        <td>36R-38R</td>
                                        <td>40R-42R</td>
                                    </tr>
                                    <tr>
                                        <td>28</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>35</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    <tr>
                                        <td>31</td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                        <td></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- //chart -->

                    </div>
                </div>
                <!-- o-accordion -->
                
                <!-- o-accordion -->
                <div class="o-accordion v2" data-component="OAccordion" data-exclusive="true" data-exclusive-group="size-guide-male">
                    <div class="accordion-header">
                        <a class="a-link accordion-title js-accordion-toggle" href="#none" target="_self">
                            <h3 class="a-heading-3">남성의류(청바지)</h3>
                        </a>
                    </div>
                    <div class="accordion-content">

                        <!-- information -->
                        <div class="freeHTML-sizeguide-information">
                            <p>측정 방법</p>
                            <table class="freeHTML-sizeguide-information-text">
                                <tbody>
                                <tr>
                                    <th>허리둘레</th>
                                    <td>허리둘레에서 가장 얇은 부분을 측정하세요.</td>
                                </tr>
                                <tr>
                                    <th>엉덩이둘레</th>
                                    <td>엉덩이의 가장 넓은 부분을 측정하세요.</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //information -->

                        <!-- chart -->
                        <div class="freeHTML-sizeguide-chart">
                            <p class="freeHTML-sizeguide-chartTitle">사이즈차트</p>
                            <table class="freeHTML-sizeguide-chart-titles">
                                <thead>
                                <tr>
                                    <th><span>사이즈</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>허리둘레(cm)</td>
                                </tr>
                                <tr>
                                    <td>엉덩이둘레(cm)</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="freeHTML-sizeguide-overflow">
                                <table class="freeHTML-sizeguide-chart-sizes">
                                    <thead>
                                    <tr>
                                        <th><span>28</span></th>
                                        <th><span>29</span></th>
                                        <th><span>30</span></th>
                                        <th><span>31</span></th>
                                        <th><span>32</span></th>
                                        <th><span>33</span></th>
                                        <th><span>34</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>73.5</td>
                                        <td>76</td>
                                        <td>78.5</td>
                                        <td>81</td>
                                        <td>83.5</td>
                                        <td>86</td>
                                        <td>88.5</td>
                                    </tr>
                                    <tr>
                                        <td>89.5</td>
                                        <td>92</td>
                                        <td>94.5</td>
                                        <td>97</td>
                                        <td>99.5</td>
                                        <td>102</td>
                                        <td>104.5</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- //chart -->

                        <!-- chart -->
                        <div class="freeHTML-sizeguide-chart">
                            <p class="freeHTML-sizeguide-chartTitle">사이즈변환</p>
                            <table class="freeHTML-sizeguide-chart-titles">
                                <thead>
                                <tr>
                                    <th><span>사이즈</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>S-L</td>
                                </tr>
                                <tr>
                                    <td>EUR</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="freeHTML-sizeguide-overflow">
                                <table class="freeHTML-sizeguide-chart-sizes">
                                    <thead>
                                    <tr>
                                        <th><span>28</span></th>
                                        <th><span>29</span></th>
                                        <th><span>30</span></th>
                                        <th><span>31</span></th>
                                        <th><span>32</span></th>
                                        <th><span>33</span></th>
                                        <th><span>34</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>S</td>
                                        <td>S</td>
                                        <td>S</td>
                                        <td>M</td>
                                        <td>M</td>
                                        <td>M</td>
                                        <td>L</td>
                                    </tr>
                                    <tr>
                                        <td>46</td>
                                        <td>46</td>
                                        <td>48</td>
                                        <td>48</td>
                                        <td>50</td>
                                        <td>50</td>
                                        <td>52</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- //chart -->

                    </div>
                </div>
                <!-- o-accordion -->

                <!-- o-accordion -->
                <div class="o-accordion v2" data-component="OAccordion" data-exclusive="true" data-exclusive-group="size-guide-male">
                    <div class="accordion-header">
                        <a class="a-link accordion-title js-accordion-toggle" href="#none" target="_self">
                            <h3 class="a-heading-3">스윔웨어</h3>
                        </a>
                    </div>
                    <div class="accordion-content">

                        <!-- information -->
                        <div class="freeHTML-sizeguide-information">
                            <p>측정 방법</p>
                            <table class="freeHTML-sizeguide-information-text">
                                <tbody>
                                <tr>
                                    <th>허리</th>
                                    <td>허리의 가장 좁은 부분을 측정합니다.</td>
                                </tr>
                                <tr>
                                    <th>엉덩이</th>
                                    <td>엉덩이의 가장 큰 부분 주위를 측정하십시오</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //information -->

                        <!-- chart -->
                        <div class="freeHTML-sizeguide-chart">
                            <p class="freeHTML-sizeguide-chartTitle">사이즈 변환</p>

                            <input class="freeHTML-sizeguide-inputInch" type="radio" name="men_swim_free_html_sizeguide">
                            <span class="freeHTML-sizeguide-titleInch">inch</span>
                            <input class="freeHTML-sizeguide-inputCm" type="radio" name="men_swim_free_html_sizeguide" checked="checked">
                            <span class="freeHTML-sizeguide-titleCm">cm</span>

                            <table class="freeHTML-sizeguide-chart-titles">
                                <thead>
                                <tr>
                                    <th><span>사이즈</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>EUR</td>
                                </tr>
                                <tr>
                                    <td>UK</td>
                                </tr>
                                <tr>
                                    <td>Extended</td>
                                </tr>
                                <tr>
                                    <td>Relaxed</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="freeHTML-sizeguide-overflow freeHTML-is-cm">
                                <table class="freeHTML-sizeguide-chart-sizes">
                                    <thead>
                                    <tr>
                                        <th><span>XS</span></th>
                                        <th><span>S</span></th>
                                        <th><span>M</span></th>
                                        <th><span>L</span></th>
                                        <th><span>XL</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>42</td>
                                        <td>44-46</td>
                                        <td>48-50</td>
                                        <td>52-54</td>
                                        <td>56-58</td>
                                    </tr>
                                    <tr>
                                        <td>28R</td>
                                        <td>30R-32R</td>
                                        <td>33R-34R</td>
                                        <td>36R-38R</td>
                                        <td>40R-42R</td>
                                    </tr>
                                    <tr>
                                        <td>91</td>
                                        <td>99</td>
                                        <td>107</td>
                                        <td>115</td>
                                        <td>123</td>
                                    </tr>
                                    <tr>
                                        <td>58</td>
                                        <td>66</td>
                                        <td>74</td>
                                        <td>82</td>
                                        <td>90</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="freeHTML-sizeguide-overflow freeHTML-is-inch">
                                <table class="freeHTML-sizeguide-chart-sizes">
                                    <thead>
                                    <tr>
                                        <th><span>XS</span></th>
                                        <th><span>S</span></th>
                                        <th><span>M</span></th>
                                        <th><span>L</span></th>
                                        <th><span>XL</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>42</td>
                                        <td>44-46</td>
                                        <td>48-50</td>
                                        <td>52-54</td>
                                        <td>56-58</td>
                                    </tr>
                                    <tr>
                                        <td>28R</td>
                                        <td>30R-32R</td>
                                        <td>33R-34R</td>
                                        <td>36R-38R</td>
                                        <td>40R-42R</td>
                                    </tr>
                                    <tr>
                                        <td>35.8</td>
                                        <td>39</td>
                                        <td>42.1</td>
                                        <td>45.25</td>
                                        <td>48.4</td>
                                    </tr>
                                    <tr>
                                        <td>21.25</td>
                                        <td>26</td>
                                        <td>29.1</td>
                                        <td>32.25</td>
                                        <td>35.4</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- //chart -->

                    </div>
                </div>
                <!-- o-accordion -->

                <!-- o-accordion -->
                <div class="o-accordion v2" data-component="OAccordion" data-exclusive="true" data-exclusive-group="size-guide-male">
                    <div class="accordion-header">
                        <a class="a-link accordion-title js-accordion-toggle" href="#none" target="_self">
                            <h3 class="a-heading-3">남성신발</h3>
                        </a>
                    </div>
                    <div class="accordion-content">

                        <!-- information -->
                        <div class="freeHTML-sizeguide-information">
                            <p>측정 방법</p>
                            <table class="freeHTML-sizeguide-information-text">
                                <tbody>
                                <tr>
                                    <th>발 크기</th>
                                    <td>뒤꿈치의 뒤쪽부터 가장 긴 발가락까지의 길이를 측정하세요</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //information -->

                        <!-- chart -->
                        <div class="freeHTML-sizeguide-chart">
                            <p class="freeHTML-sizeguide-chartTitle">사이즈변환</p>
                            <table class="freeHTML-sizeguide-chart-titles">
                                <tbody>
                                <tr>
                                    <td>EU</td>
                                </tr>
                                <tr>
                                    <td>UK</td>
                                </tr>
                                <tr>
                                    <td>US</td>
                                </tr>
                                <tr>
                                    <td>발사이즈(cm)</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="freeHTML-sizeguide-overflow">
                                <table class="freeHTML-sizeguide-chart-sizes">
                                    <tbody>
                                    <tr>
                                        <td>40</td>
                                        <td>41</td>
                                        <td>42</td>
                                        <td>43</td>
                                        <td>44</td>
                                        <td>45</td>
                                    </tr>
                                    <tr>
                                        <td>6</td>
                                        <td>7</td>
                                        <td>8</td>
                                        <td>9</td>
                                        <td>10</td>
                                        <td>11</td>
                                    </tr>
                                    <tr>
                                        <td>8</td>
                                        <td>8.5</td>
                                        <td>9</td>
                                        <td>10</td>
                                        <td>10.5</td>
                                        <td>11.5</td>
                                    </tr>
                                    <tr>
                                        <td>25.6</td>
                                        <td>26.3</td>
                                        <td>26.9</td>
                                        <td>27.6</td>
                                        <td>28.3</td>
                                        <td>29</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- //chart -->

                    </div>
                </div>
                <!-- o-accordion -->

                <!-- o-accordion -->
                <div class="o-accordion v2" data-component="OAccordion" data-exclusive="true" data-exclusive-group="size-guide-male">
                    <div class="accordion-header">
                        <a class="a-link accordion-title js-accordion-toggle" href="#none" target="_self">
                            <h3 class="a-heading-3">벨트</h3>
                        </a>
                    </div>
                    <div class="accordion-content">

                        <br>
                        <!-- chart -->
                        <div class="freeHTML-sizeguide-chart">
                            <p class="freeHTML-sizeguide-chartTitle">사이즈 차트</p>
                            <table class="freeHTML-sizeguide-chart-titles">
                                <thead>
                                <tr>
                                    <th><span>크기</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>길이(cm)</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="freeHTML-sizeguide-overflow">
                                <table class="freeHTML-sizeguide-chart-sizes">
                                    <thead>
                                    <tr>
                                        <th><span>S</span></th>
                                        <th><span>M</span></th>
                                        <th><span>L</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>84.5</td>
                                        <td>92</td>
                                        <td>99.5</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- //chart -->

                    </div>
                </div>
                <!-- o-accordion -->

                <!-- o-accordion -->
                <div class="o-accordion v2" data-component="OAccordion" data-exclusive="true" data-exclusive-group="size-guide-male">
                    <div class="accordion-header">
                        <a class="a-link accordion-title js-accordion-toggle" href="#none" target="_self">
                            <h3 class="a-heading-3">장갑</h3>
                        </a>
                    </div>
                    <div class="accordion-content">

                        <!-- information -->
                        <div class="freeHTML-sizeguide-information">
                            <p>측정 방법</p>
                            <table class="freeHTML-sizeguide-information-text">
                                <tbody>
                                <tr>
                                    <th>손바닥둘레</th>
                                    <td>손바닥의 가장 넓은 부분을 측정합니다</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //information -->

                        <!-- chart -->
                        <div class="freeHTML-sizeguide-chart">
                            <p class="freeHTML-sizeguide-chartTitle">사이즈 차트</p>

                            <input class="freeHTML-sizeguide-inputInch" type="radio" name="men_glove_free_html_sizeguide">
                            <span class="freeHTML-sizeguide-titleInch">inch</span>
                            <input class="freeHTML-sizeguide-inputCm" type="radio" name="men_glove_free_html_sizeguide" checked="checked">
                            <span class="freeHTML-sizeguide-titleCm">cm</span>

                            <table class="freeHTML-sizeguide-chart-titles">
                                <thead>
                                <tr>
                                    <th><span>크기</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>손바닥 둘레</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="freeHTML-sizeguide-overflow freeHTML-is-cm">
                                <table class="freeHTML-sizeguide-chart-sizes">
                                    <thead>
                                    <tr>
                                        <th><span>XS</span></th>
                                        <th><span>S</span></th>
                                        <th><span>M</span></th>
                                        <th><span>L</span></th>
                                        <th><span>XL</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>20.1</td>
                                        <td>20.9</td>
                                        <td>21.7</td>
                                        <td>22.5</td>
                                        <td>23.3</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="freeHTML-sizeguide-overflow freeHTML-is-inch">
                                <table class="freeHTML-sizeguide-chart-sizes">
                                    <thead>
                                    <tr>
                                        <th><span>XS</span></th>
                                        <th><span>S</span></th>
                                        <th><span>M</span></th>
                                        <th><span>L</span></th>
                                        <th><span>XL</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>7.9</td>
                                        <td>8.2</td>
                                        <td>8.5</td>
                                        <td>8.6</td>
                                        <td>9.2</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- //chart -->

                    </div>
                </div>
                <!-- o-accordion -->

                <!-- o-accordion -->
                <div class="o-accordion v2" data-component="OAccordion" data-exclusive="true" data-exclusive-group="size-guide-male">
                    <div class="accordion-header">
                        <a class="a-link accordion-title js-accordion-toggle" href="#none" target="_self">
                            <h3 class="a-heading-3">Swimshort(Tailored waist)</h3>
                        </a>
                    </div>
                    <div class="accordion-content">

                        <!-- information -->
                        <div class="freeHTML-sizeguide-information">
                            <p>측정 방법</p>
                            <table class="freeHTML-sizeguide-information-text">
                                <tbody>
                                <tr>
                                    <th>허리</th>
                                    <td>허리의 가장 좁은 부분을 측정합니다.</td>
                                </tr>
                                <tr>
                                    <th>엉덩이</th>
                                    <td>엉덩이의 가장 큰 부분 주위를 측정하십시오</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                        <!-- //information -->

                        <!-- chart -->
                        <div class="freeHTML-sizeguide-chart">
                            <p class="freeHTML-sizeguide-chartTitle">사이즈 변환</p>

                            <input class="freeHTML-sizeguide-inputInch" type="radio" name="men_swimshort_free_html_sizeguide">
                            <span class="freeHTML-sizeguide-titleInch">inch</span>
                            <input class="freeHTML-sizeguide-inputCm" type="radio" name="men_swimshort_free_html_sizeguide" checked="checked">
                            <span class="freeHTML-sizeguide-titleCm">cm</span>

                            <table class="freeHTML-sizeguide-chart-titles">
                                <thead>
                                <tr>
                                    <th><span>사이즈</span></th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>EUR</td>
                                </tr>
                                <tr>
                                    <td>UK</td>
                                </tr>
                                <tr>
                                    <td>Waist</td>
                                </tr>
                                </tbody>
                            </table>
                            <div class="freeHTML-sizeguide-overflow freeHTML-is-cm">
                                <table class="freeHTML-sizeguide-chart-sizes">
                                    <thead>
                                    <tr>
                                        <th><span>46</span></th>
                                        <th><span>48</span></th>
                                        <th><span>50</span></th>
                                        <th><span>52</span></th>
                                        <th><span>54</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>42</td>
                                        <td>44-46</td>
                                        <td>48-50</td>
                                        <td>52-54</td>
                                        <td>56-58</td>
                                    </tr>
                                    <tr>
                                        <td>28R</td>
                                        <td>30R-32R</td>
                                        <td>33R-34R</td>
                                        <td>36R-38R</td>
                                        <td>40R-42R</td>
                                    </tr>
                                    <tr>
                                        <td>83</td>
                                        <td>87</td>
                                        <td>91</td>
                                        <td>95</td>
                                        <td>99</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                            <div class="freeHTML-sizeguide-overflow freeHTML-is-inch">
                                <table class="freeHTML-sizeguide-chart-sizes">
                                    <thead>
                                    <tr>
                                        <th><span>XS</span></th>
                                        <th><span>S</span></th>
                                        <th><span>M</span></th>
                                        <th><span>L</span></th>
                                        <th><span>XL</span></th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>42</td>
                                        <td>44-46</td>
                                        <td>48-50</td>
                                        <td>52-54</td>
                                        <td>56-58</td>
                                    </tr>
                                    <tr>
                                        <td>28R</td>
                                        <td>30R-32R</td>
                                        <td>33R-34R</td>
                                        <td>36R-38R</td>
                                        <td>40R-42R</td>
                                    </tr>
                                    <tr>
                                        <td>32.7</td>
                                        <td>34.25</td>
                                        <td>35.8</td>
                                        <td>37.4</td>
                                        <td>39</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <!-- //chart -->

                    </div>
                </div>
                <!-- o-accordion -->

            </div>
            <!-- //freeHTML-sizeguide -->

        </div>
    </div>
    <!-- //o-sizeguide -->

</script>
<!-- //사이즈가이드 -->