<!-- 결제수단변경 -->
<script type="text/x-handlebars-template" id="lp-select-pay-way">
    <div class="lightbox-content-dft lp-select-pay-way">
        <div class="m-headline is-main-headline">
            <h2 class="a-heading-2"><span>결제수단변경</span></h2>
        </div>
        <div class="content">

            <div class="total-pay-price">
                <span class="t1">총 결제예정금액</span>
                <span class="t2">12,390,000</span>
            </div>

            <%# md-pay-info-bx-for-lp : 결제 %>
            <%- include ("../common/md-pay-info-bx-for-lp.ejs") %>

            <%# md-pay-policy-bx %>
            <%- include ("../common/md-pay-policy-bx.ejs") %>
        </div>
        <div class="button-container col-2">
            <button class="a-button is-outlined js-close-button" type="button"><span>취소</span></button>
            <button class="a-button" type="button"><span>확인</span></button>
        </div>
    </div>

    <!-- tip : when develop this script must be delete -->
    <script type="text/javascript">
        (function() {
            setTimeout(function(){
                //rdToggle 활성화
                renewCommon.rdToggle.init();
            },100);
        })();
    </script>
    <!-- //tip -->

</script>
<!-- //결제수단변경 -->