<!-- 장바구니 수량 변경 -->
<!--
<script type="text/x-handlebars-template" id="lp-cart-count-change">
    <div class="lightbox-content-dft lp-cart-count-change">
        <div class="content">
            <p class="tit-text lg">장바구니에 담긴 상품의 <br>주문 가능 수량이 변경되었습니다.</p>
        </div>
        <button class="a-button is-primary js-close-button" type="button"><span>확인</span></button>
    </div>
</script>
-->
<div id="lp-cart-count-change" class="dialog-bx alert">
    <div class="content ta-c">
        <p class="tit-text lg">장바구니에 담긴 상품의 <br>주문 가능 수량이 변경되었습니다.</p>
    </div>
    <button class="a-button dialog-close-btn" type="button"><span>확인</span></button>
</div>
<!-- //장바구니 수량 변경 -->