<!-- 결제수단변경 -->
<script type="text/x-handlebars-template" id="lp-delivery-trace">
    <div class="lightbox-content-dft lp-delivery-trace">
        <div class="m-headline is-main-headline">
            <h2 class="a-heading-2"><span>배송추적</span></h2>
        </div>
        <div class="content">

            <iframe src="http://www.naver.com" frameborder="0" style="width:100%;"></iframe>
            
        </div>
    </div>
</script>
<!-- //결제수단변경 -->