<!-- 주문배송_상세_주문취소 상세 정보 -->
<script type="text/x-handlebars-template" id="lp-order-cancel-details">
    <div class="lightbox-content-dft lp-deposit-account-guide">
        <div class="m-headline is-main-headline">
            <h2 class="a-heading-2"><span>주문취소 상세 정보</span></h2>
        </div>
        <div class="content">
            <ul class="o-info-line-box col-2-1 o-info-line-box-top">
                <li>
                    <span class="f-type3">접수일</span>
                    <span class="f-type3">
                        주문취소 <span class="f-type4">(2021-05-26 11:12:13)</span><br>
                    </span>
                </li>
                <li class="left-star">
                    <span class="f-type3">취소상품</span>
                    <div class="product-param-info second">
                        <div class="product-params data">
                            <div class="f-type3">오버사이즈리넨 재킷</div>
                            <div class="product-size product">44</div>
                            <div class="product-color product">블루</div>
                            <div class="product-quantity product">1</div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</script>
<!-- //주문배송_상세_주문취소 상세 정보 -->