<!-- 휴면계정복구 취소 -->
<!--
<script type="text/x-handlebars-template" id="lp-restid-repair-cancle">
    <div class="lightbox-content-dft lp-restid-repair-cancle">
        <h2 class="a-heading-2"><span>휴면계정 복구를 취소하시겠습니까?</span></h2>
        <div class="content">
            <p class="text-box">취소하시면 고객님의 아이디로 로그인 하실 수 없습니다. </p>
        </div>
        <div class="button-container col-2">
            <button class="a-button is-outlined js-close-button" type="button"><span>취소</span></button>
            <button class="a-button" type="button"><span>확인</span></button>
        </div>
    </div>
</script>
-->

<div id="lp-restid-repair-cancle" class="dialog-bx confirm">
    <div class="content ta-c">
        <p class="tit-text lg">휴면계정 복구를 취소하시겠습니까?</p>
        <p class="con-text">취소하시면 고객님의 아이디로 로그인 하실 수 없습니다.</p>
    </div>
    <div class="button-container col-2">
        <button class="a-button is-outlined dialog-close-btn" type="button"><span>취소</span></button>
        <button class="a-button" type="button"><span>확인</span></button>
    </div>
</div>
<!-- //휴면계정복구 취소 -->