<!-- 상품필수정보 -->
<script type="text/x-handlebars-template" id="lp-prd-essential-info">
    <h2 class="freeHTML-sizeguide-title"><span>상품 필수 표시 정보</span></h2>
    <div class="scrollbar-inner scroll-content">
        <div class="m-change-country-lightbox false">
            <div class="information-product">
                <table class="left freeHTML-sizeguide-chart-info">
                    <tbody></tbody>
                    <colgroup>
                        <col style="width: 25%">
                        <col>
                    </colgroup>
                    <tbody>
                    <tr>
                        <th scope="row">제품소재</th>
                        <td>78% 비스코스, 22% 실크</td>
                    </tr>
                    <tr>
                        <th scope="row">색상</th>
                        <td>블랙</td>
                    </tr>
                    <tr>
                        <th scope="row">치수</th>
                        <td>32, 34, 36, 38, 40, 42</td>
                    </tr>
                    <tr>
                        <th scope="row">제조자<br class="only-m">(수입자명)</th>
                        <td>ARKET</td>
                    </tr>
                    <tr>
                        <th scope="row">제조국</th>
                        <td>중국</td>
                    </tr>
                    <tr>
                        <th scope="row">세탁방법<br class="only-m"> 및 취급 시 주의사항</th>
                        <td>드라이 클리닝</td>
                    </tr>
                    <tr>
                        <th scope="row">제조연월</th>
                        <td>2021-06-04</td>
                    </tr>
                    <tr>
                        <th scope="row">품질보증<br class="only-m">기준</th>
                        <td>상품에 동봉되는 품질보증서 또는 공정거래위원회 고시 소비자 분쟁해결 기준에 따릅니다. <br class="only-pc">공정거래위원회 고시 소비자 분쟁 해결 기본은 품질보증서에 우선하여 진행됩니다.</td>
                    </tr>
                    <tr>
                        <th scope="row">A/S책임자와 전화번호</th>
                        <td>ARKET고객센터 1522-0176</td>
                    </tr>
                    <tr>
                        <th scope="row">안전인증<br class="only-m">정보</th>
                        <td>본 상품은 국가통합인증(KC마크) 대상품목으로 국가통합인증을 필하였습니다.</td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</script>
<!-- //상품필수정보 -->