<!-- 현금영수증 취소 확인 -->
<script type="text/x-handlebars-template" id="lp-receipt-cash-cancle-confirm">
    <div class="lightbox-content-dft lp-receipt-cash-cancle-confirm">
        <h2 class="a-heading-2"><span>현금영수증을 취소하시겠습니까?</span></h2>
        <div class="content"></div>
        <div class="button-container col-2">
            <button class="a-button is-outlined js-close-button" type="button"><span>취소</span></button>
            <button class="a-button is-primary" type="button"><span>확인</span></button>
        </div>
    </div>
</script>
<!-- //현금영수증 취소 확인 -->