<script type="text/html" id="country-selector">
    <div class="selectCountryLightboxEOT parbase">
        <div data-component="MCountrySelection" class="m-country-selection with-flags">
            <div class="matrix-content">
                <div class="country-selector-title">
                    <h2 class="a-heading-2">배송 국가를 선택하세요</h2>
                </div>

                <div class="country-container">
                    <a href="https://www.arket.com/content/p11/page.countryselector.de_AT.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="AT">
                        <img alt="Austria" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/austria.svg" />
                        <span>오스트리아</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.nl_BE.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="BE">
                        <img alt="Belgium" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/belgium.svg" />
                        <span>벨기에</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.bg_BG.en_eur.EUR.jsp" target="_self" class="a-link m-country-select" data-country="BG">
                        <img alt="Bulgaria" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/Bulgaria.svg" />
                        <span>불가리아</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.hr_HR.en_eur.EUR.jsp" target="_self" class="a-link m-country-select" data-country="HR">
                        <img alt="Croatia" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/Croatia.svg" />
                        <span>크로아티아</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.el_CY.en_eur.EUR.jsp" target="_self" class="a-link m-country-select" data-country="CY">
                        <img alt="Cyprus" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/cyprus_flag.svg" />
                        <span>키프로스</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.cs_CZ.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="CZ">
                        <img alt="Czech Republic" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/czech_republic.svg" />
                        <span>체코 공화국</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.da_DK.en_eur.DKK.jsp" target="_self" class="a-link internal-link m-country-select" data-country="DK">
                        <img alt="Denmark" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/denmark.svg" />
                        <span>덴마크</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.et_EE.en_eur.EUR.jsp" target="_self" class="a-link m-country-select" data-country="EE">
                        <img alt="Estonia" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/Estonia.svg" />
                        <span>에스토니아</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.fi_FI.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="FI">
                        <img alt="Finland" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/finland.svg" />
                        <span>핀란드</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.fr_FR.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="FR">
                        <img alt="France" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/france.svg" />
                        <span>프랑스</span>
                    </a>

                    <button type="button" class="a-button-nostyle m-country-select" data-country="DE">
                        <img alt="Germany" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/germany.svg" />
                        <span>Germany</span>
                        <div data-component="MDropdownFilter" class="m-dropdown-filter country-dropdown has-error">
                            <input placeholder="Germany" class="a-input filter" type="text" required="" onfocus="blur();" />
                            <ul>
                                <li class="ul-container">
                                    <ul class="options">
                                        <li class="a-option">
                                            <a href="https://www.arket.com/content/p11/page.countryselector.de_DE.de_de.EUR.jsp" target="_self" class="a-link is-multilanguage internal-link">독일</a>
                                        </li>
                                        <li class="a-option">
                                            <a href="https://www.arket.com/content/cos/page.countryselector.en_DE.en_de.EUR.jsp" target="_self" class="a-link is-multilanguage internal-link">영어</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </button>

                    <a href="https://www.arket.com/content/p11/page.countryselector.el_GR.en_eur.EUR.jsp" target="_self" class="a-link m-country-select" data-country="GR">
                        <img alt="Greece" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/Greece.svg" />
                        <span>그리스</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.hu_HU.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="HU">
                        <img alt="Hungary" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/hungary.svg" />
                        <span>헝가리</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.en_IE.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="IE">
                        <img alt="Ireland" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/ireland.svg" />
                        <span>아일랜드</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.it_IT.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="IT">
                        <img alt="Italy" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/italy.svg" />
                        <span>이탈리아</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.lv_LV.en_eur.EUR.jsp" target="_self" class="a-link m-country-select" data-country="LV">
                        <img alt="Latvia" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/Latvia.svg" />
                        <span>라트비아</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.lt_LT.en_eur.EUR.jsp" target="_self" class="a-link m-country-select" data-country="LT">
                        <img alt="Lithuania" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/Lithuania.svg" />
                        <span>리투아니아</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.fr_LU.en_eur.EUR.jsp" target="_self" class="a-link m-country-select" data-country="LU">
                        <img alt="Luxembourg" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/Luxembourg.svg" />
                        <span>록셈부르크</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.nl_NL.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="NL">
                        <img alt="Netherlands" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/netherlands.svg" />
                        <span>네덜란드</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.no_NO.en_eur.NOK.jsp" target="_self" class="a-link internal-link m-country-select" data-country="NO">
                        <img alt="Norway" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/norway.svg" />
                        <span>노르웨이</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.pl_PL.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="PL">
                        <img alt="Poland" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/poland.svg" />
                        <span>폴란드</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.pt_PT.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="PT">
                        <img alt="Portugal" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/portugal.svg" />
                        <span>포르투갈</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.ro_RO.en_eur.EUR.jsp" target="_self" class="a-link m-country-select" data-country="RO">
                        <img alt="Romania" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/Romania.svg" />
                        <span>루마니아</span>
                    </a>

                    <a href="https://www.arket.com/ru_ru/" target="_self" class="a-link m-country-select" data-country="RU">
                        <img alt="Russia" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/Russian.svg" />
                        <span>러시아</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.sk_SK.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="SK">
                        <img alt="Slovakia" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/slovakia.svg" />
                        <span>솔로바키아</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.sl_SI.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="SI">
                        <img alt="Slovenia" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/slovenia.svg" />
                        <span>슬로베니아</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.sl_SI.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="SI">
                        <img alt="South Korea" class="a-image icon-flag" src="<%= pageInfo.root %>/images/icon/icon-country-korea.svg" />
                        <span>대한민국</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.es_ES.en_eur.EUR.jsp" target="_self" class="a-link internal-link m-country-select" data-country="ES">
                        <img alt="Spain" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/spain.svg" />
                        <span>스페인</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselector.sv_SE.en_eur.SEK.jsp" target="_self" class="a-link internal-link m-country-select" data-country="SE">
                        <img alt="Sweden" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/swedish-flag.svg" />
                        <span>스웨덴</span>
                    </a>

                    <button type="button" class="a-button-nostyle m-country-select" data-country="CH">
                        <img alt="Switzerland" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/switzerland.svg" />
                        <span>Switzerland</span>
                        <div data-component="MDropdownFilter" class="m-dropdown-filter country-dropdown has-error">
                            <input placeholder="Switzerland" class="a-input filter" type="text" required="" onfocus="blur();" />
                            <ul>
                                <li class="ul-container">
                                    <ul class="options">
                                        <li class="a-option">
                                            <a href="https://www.arket.com/content/p11/page.countryselector.de_CH.de_ch.CHF.jsp" target="_self" class="a-link is-multilanguage internal-link">독일</a>
                                        </li>
                                        <li class="a-option">
                                            <a href="https://www.arket.com/content/p11/page.countryselector.en_CH.en_ch.CHF.jsp" target="_self" class="a-link is-multilanguage internal-link">영문</a>
                                        </li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </button>

                    <a href="https://www.arket.com/content/p11/page.countryselector.en_GB.en_eur.GBP.jsp" target="_self" class="a-link internal-link m-country-select" data-country="GB">
                        <img alt="United Kingdom" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/uk.svg" />
                        <span>영국</span>
                    </a>

                    <a href="https://www.arket.com/content/p11/page.countryselectorGlobal.en_WW.en.USD.jsp" target="_self" class="a-link internal-link m-country-select" data-country="WW">
                        <img alt="International Shipping" class="a-image icon-flag" src="https://www.arket.com/content/dam/P11/country-flags/Global.svg" />
                        <span>국제배송</span>
                    </a>
                </div>
                <p class="a-paragraph">정확한 가격, 배송 시간 및 배송비를<br class="only-m"> 확인하려면 국가를 선택하세요.<br>상품의 가격은 구가별 가격 정책 및 세금에 따라<br class="only-m">달라 질 수 있는 점에 유의하세요.</p>
            </div>
        </div>
    </div>
</script>