<!-- 임직원카드번호저장 -->
<!--
<script type="text/x-handlebars-template" id="lp-staff-card-save">
    <div class="lightbox-content-dft lp-staff-card-save">
        <h2 class="a-heading-2"><span>임직원 카드 번호 저장</span></h2>
        <div class="content">
            <p class="text-box">저장하시겠습니까?</p>
        </div>
        <div class="button-container col-2">
            <button class="a-button is-outlined js-close-button" type="button"><span>취소</span></button>
            <button class="a-button" type="button"><span>확인</span></button>
        </div>
    </div>
</script>
-->
<div id="lp-staff-card-save" class="dialog-bx confirm">
    <h2 class="a-heading-2"><span>임직원 카드 번호 저장</span></h2>
    <div class="content ta-c">
        <p class="text-box">저장하시겠습니까?</p>
    </div>
    <div class="button-container col-2">
        <button class="a-button is-outlined dialog-close-btn" type="button"><span>취소</span></button>
        <button class="a-button" type="button"><span>확인</span></button>
    </div>
</div>
<!-- //임직원카드번호저장 -->