<!-- 아이디 미선택 시 -->
<!--
<script type="text/x-handlebars-template" id="lp-required-input-id">
    <div class="lightbox-content-dft">
        <h2 class="a-heading-2"><span>아이디를 선택해 주세요</span></h2>
        <div class="content"></div>
        <button class="a-button is-primary js-close-button" type="button"><span>확인</span></button>
    </div>
</script>
-->
<div id="lp-required-input-id" class="dialog-bx alert">
    <div class="content ta-c">
        <p class="tit-text lg">아이디를 선택해 주세요</p>
    </div>
    <button class="a-button dialog-close-btn" type="button"><span>확인</span></button>
</div>
<!-- //아이디 미선택 시 -->