<!-- 검색어입력 -->
<script type="text/x-handlebars-template" id="lp-search-no-keyword">
    <div class="lightbox-content-dft lp-search-no-keyword">
        <h2 class="a-heading-2"><span>검색어를 입력하세요</span></h2>
        <div class="content"></div>
        <button class="a-button is-primary js-close-button" type="button"><span>확인</span></button>
    </div>
</script>
<!-- //검색어입력 -->