<!-- 결제수단변경 -->
<script type="text/x-handlebars-template" id="lp-mbr-leave-confirm">
    <div class="lightbox-content-dft lp-mbr-leave-confirm">
        <h2 class="a-heading-2"><span>회원탈퇴 재확인 팝업</span></h2>
        <div class="content">

        </div>
    </div>
</script>
<!-- //결제수단변경 -->