<!-- 인증 메일 발송완료 안내 -->
<!--
<script type="text/x-handlebars-template" id="lp-email-send-complete">
    <div class="lightbox-content-dft">
        <h2 class="a-heading-2"><span>이메일 인증</span></h2>
        <div class="content">
            <p class="text-box">
                Honggildong@hamll.com로 인증메일이 발송되었습니다.<br>
                인증 완료 후 "다음" 버튼을 선택해 주세요.<br>
                전체 아이디를 확인하실 수 있습니다.
            </p>
        </div>
        <button class="a-button is-primary js-close-button" type="button"><span>확인</span></button>
    </div>
</script>
-->

<div id="lp-email-send-complete" class="dialog-bx alert">
    <h2 class="a-heading-2"><span>이메일 인증</span></h2>
    <div class="content ta-c">
        <p class="text-box">
            Honggildong@hamll.com로 인증메일이 발송되었습니다.<br>
            인증 완료 후 "다음" 버튼을 선택해 주세요.<br>
            전체 아이디를 확인하실 수 있습니다.
        </p>
    </div>
    <button class="a-button is-primary js-close-button" type="button"><span>확인</span></button>
</div>

<!-- //인증 메일 발송완료 안내 -->