<!-- 개인계정 연결관리 > 해제완료 -->
<script type="text/x-handlebars-template" id="lp-social-connect-cancel">
    <div class="lightbox-content-dft lp-social-connect-cancel">
        <h2 class="a-heading-2"><span>개인계정 연결관리 - 해제완료</span></h2>
        <div class="content">

        </div>
    </div>
</script>
<!-- // 개인계정 연결관리 > 해제완료 -->