<!-- //마이페이지_주문배송_배송지변경_선택 -->
<script type="text/x-handlebars-template" id="lp-select-delivery-address">
    <div class="lightbox-content-dft lp-select-delivery-address">
        <div class="m-headline is-main-headline">
            <h2 class="a-heading-2"><span>배송지 변경</span></h2>
        </div>
        <div class="content">
            <%# md-deliver-info-bx : 배송지 목록 %>
            <%- include ("../common/md-delivery-info-bx.ejs") %>

            <div class="button-container col-2">
                <button class="a-button is-outlined js-close-button" type="button"><span>취소</span></button>
                <button class="a-button" type="button"><span>변경</span></button>
            </div>
        </div>
    </div>

    <!-- tip : when develop this script must be delete -->
    <script type="text/javascript">
        (function() {
            setTimeout(function(){
                //rdToggle 활성화
                renewCommon.rdToggle.init();

                //배송지 수정, 삭제 버튼 클릭이벤트
                renewCommon.deliverListEdit.init();
            },100);
        })();
    </script>
    <!-- //tip -->

</script>
<!-- //마이페이지_주문배송_배송지변경_선택 -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
    })();
</script>
<!-- //tip -->