<!-- 뉴스레터신청완료 -->
<script type="text/x-handlebars-template" id="lp-newsletter-apply-complete">
    <div class="lightbox-content-dft lp-newsletter-apply-complete">
        <div class="content">
            <p class="tit-text lg">가입 해주셔서 감사합니다.<br>할인 코드는 이메일을 확인하십시오.</p>
        </div>
        <button class="a-button js-close-button" type="button"><span>확인</span></button>
    </div>
</script>
<!-- //뉴스레터신청완료 -->