<!-- 전문보기 -->
<script type="text/x-handlebars-template" id="lp-join-policy">
    <div class="lightbox-content-dft lp-join-policy">
        <div class="m-headline is-main-headline">
            <h2 class="a-heading-2"><span>전문보기</span></h2>
        </div>
        <div class="content">

            <div class="tab-btn-wrap">
                <a href="#none" class="a-tab" data-target="a-tab-con-1">이용약관</a>
                <a href="#none" class="a-tab" data-target="a-tab-con-2">개인정보처리방침</a>
            </div>
            
            <div class="policy-wrap a-tab-con a-tab-con-1">
                <%# 이용약관 %>
                <%- include ("../common/md-text-policy.ejs") %>
            </div>

            <div class="policy-wrap a-tab-con a-tab-con-2">
                <%# 개인정보처리방침 %>
                <%- include ("../common/md-text-private.ejs") %>
            </div>

            <!--
            <button class="a-button js-close-button" type="button"><span>확인</span></button>
            -->

        </div>
    </div>
    <script>
        (function() {
            renewCommon.aTab.init();

            setTimeout(function(){
                //.a-tab click trigger
                let lightboxType = document.querySelector('.join-policy-type.is-open');
                if(lightboxType){
                    let lightboxWrap = document.querySelector('.lightbox-wrapper');
                    lightboxWrap.scrollTop = 0;

                    //type1 : 이용약관, type2 : 개인정보처리방침, type3:개인정보처리방침 12조
                    if(lightboxType.classList.contains("type1")){
                        lightboxWrap.querySelector('.a-tab:nth-child(1)').click();
                    } else if(lightboxType.classList.contains("type2")){
                        lightboxWrap.querySelector('.a-tab:nth-child(2)').click();
                    } else if(lightboxType.classList.contains("type3")){
                        lightboxWrap.querySelector('.a-tab:nth-child(2)').click();
                        lightboxWrap.querySelector('.h3-list p:nth-child(12) a').click();
                    } else {
                        lightboxWrap.querySelector('.a-tab:nth-child(1)').click();
                    }
                }
            },100);

        })();
    </script>
</script>
<!-- //전문보기 -->