<!-- 이메일 발송 불가 시 -->
<!--
<script type="text/x-handlebars-template" id="lp-email-send-fail">
    <div class="lightbox-content-dft">
        <h2 class="a-heading-2"><span>일시적인 에러로 인증<br>이메일 전송에 실패하였습니다. </span></h2>
        <div class="content">
            <p class="text-box">
                잠시 후에 다시 시도해주세요.
            </p>
        </div>
        <button class="a-button js-close-button" type="button"><span>확인</span></button>
    </div>
</script>
-->

<div id="lp-email-send-fail" class="dialog-bx alert">
    <div class="content ta-c">
        <p class="tit-text lg">일시적인 에러로 인증<br>이메일 전송에 실패하였습니다.</p>
        <p class="con-text">
            잠시 후에 다시 시도해주세요.
        </p>
    </div>
    <button class="a-button js-close-button" type="button"><span>확인</span></button>
</div>
<!-- //이메일 발송 불가 시 -->