<!-- 주문내용동의 -->
<script type="text/x-handlebars-template" id="lp-order-info-agree">
    <div class="lightbox-content-dft lp-order-info-agree">
        <h2 class="a-heading-2"><span>주문 내용에 동의해주셔야<br>결제가 가능합니다</span></h2>
        <div class="content"></div>
        <button class="a-button is-primary js-close-button" type="button"><span>확인</span></button>
    </div>
</script>
<!-- //주문내용동의 -->