<!-- 비밀번호 변경 완료 -->
<!--
<script type="text/x-handlebars-template" id="lp-pw-change-complete">
    <div class="lightbox-content-dft">
        <h2 class="a-heading-2"><span>비밀번호 변경이 완료되었습니다.</span></h2>
        <div class="content"></div>
        <button class="a-button is-primary js-close-button" type="button"><span>확인</span></button>
    </div>
</script>
-->

<div id="lp-pw-change-complete" class="dialog-bx alert">
    <div class="content ta-c">
        <p class="tit-text lg">비밀번호 변경이 완료되었습니다.</p>
    </div>
    <button class="a-button dialog-close-btn" type="button"><span>확인</span></button>
</div>
<!-- 비밀번호 변경 완료 -->