<!-- 주문배송_환불계좌변경_계좌인증성공 -->
<script type="text/x-handlebars-template" id="lp-account-failure">
    <div class="lightbox-content-dft lp-deposit-account-guide">
        <div class="m-headline is-main-headline">
            <h2 class="a-heading-2"><span>계좌인증</span></h2>
        </div>
        <div class="content">
            <ul class="o-info-line-box col-2-1">
                <li>
                    <span class="f-type1">은행명</span>
                    <span class="f-type1">KB국민은행</span>
                </li>
                <li>
                    <span class="f-type1">계좌번호</span>
                    <span class="f-type1">52525252525252</span>
                </li>
                <li>
                    <span class="f-type1">예금주</span>
                    <span class="f-type1">홍길동</span>
                </li>
                <li>
                    <span class="f-type1">응답메시지</span>
                    <span class="f-type1">전문오류</span>
                </li>
            </ul>
            <p class="guide-text-pop guide-text-color">정확한 계좌 정보로 재시도하십시오.</p>
        </div>
        <button class="a-button is-primary js-close-button" type="button"><span>닫기</span></button>
    </div>
</script>
<!-- //주문배송_환불계좌변경_계좌인증성공 -->