<!-- 결제수단변경 -->
<script type="text/x-handlebars-template" id="lp-receipt-print-credit">
    <div class="lightbox-content-dft lp-receipt-print-credit">
        <h2 class="a-heading-2"><span>신용카드 영수증 인쇄</span></h2>
        <div class="content">
            <div class="print-area-wrap">
                <div class="print-bg-img-bx">
                    <img src="<%= pageInfo.root %>/images/print/bg-receipt-card.png" class="a-image" alt="영수증배경"/>
                </div>
                <div class="print-text-bx">
                    <ul class="text-info-ul">
                        <!-- 전표번호 -->
                        <li><span>12345</span></li>
                        <!-- 매입사 일련번호 -->
                        <li><span>123456</span></li>
                        <!-- 단종기종구분 -->
                        <li><span>1234545</span></li>
                        <!-- 카드종류 -->
                        <li><span>현대카드</span></li>
                        <!-- 거래종류 -->
                        <li><span>승인</span></li>
                        <!-- 회원번호 -->
                        <li><span>43028023**********</span></li>
                        <!-- 유효기간 -->
                        <li><span>** / **</span></li>
                        <!-- 거래일시 -->
                        <li><span>2031-07-07 20:23:34</span></li>
                        <!-- 매출취소시당초거래일 -->
                        <li><span>20210705</span></li>
                        <!-- 가맹점번호 -->
                        <li><span>72227</span></li>
                        <!-- 금액 -->
                        <li class="price"><span>6686688</span></li>
                        <!-- 가맹점 -->
                        <li><span>가맹점명</span></li>
                        <!-- 세금 -->
                        <li class="price"><span>6686688</span></li>
                        <!-- 가맹점사업자번호 -->
                        <li><span>000-00-0000</span></li>
                        <!-- 봉사료 -->
                        <li class="price"><span>6686688</span></li>
                        <!-- 일반 -->
                        <li><span>일시불</span></li>
                        <!-- 할부 -->
                        <li><span>12개월</span></li>
                        <!-- 현금지급 -->
                        <li class="price"><span>6686688</span></li>
                        <!-- 단말번호 -->
                        <li><span>5487</span></li>
                        <!-- 합계 -->
                        <li class="price"><span>46686688</span></li>
                        <!-- 매출전표매입사 -->
                        <li><span>LG</span></li>
                        <!-- 승인번호 -->
                        <li><span>794580</span></li>
                        <!-- 대표자 -->
                        <li><span>김인원</span></li>
                        <!-- 판매자사업자번호 -->
                        <li><span>211-87-21455</span></li>
                        <!-- 판매자상호 -->
                        <li><span>현대백화점</span></li>
                        <!-- 품명 -->
                        <li><span>오버사이즈 티셔츠롱 패딩 컬렉션</span></li>
                        <!-- 판매자 주소 -->
                        <li><span>서울 강동구 천호동 454-2</span></li>
                        <!-- 문의전화 -->
                        <li><span>1800-2554</span></li>
                        <!-- 알림 -->
                        <li><span>알림</span></li>
                        <!-- 거래고유번호 -->
                        <li><span>00000</span></li>
                        <!-- 서명 -->
                        <li><span>서명</span></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="button-container col-2">
            <button type="button" class="a-button is-outlined js-close-button">닫기</button>
            <button type="submit" class="a-button btn-lp-print" onClick="lpPrint();">인쇄하기</button>
        </div>
    </div>
</script>
<!-- //결제수단변경 -->