<!-- 본인인증 방법 선택 -->
<script type="text/x-handlebars-template" id="lp-verification-way">
    <div class="lightbox-content-dft lp-verification-way">
        <h2 class="a-heading-2"><span>본인인증 방법 선택</span></h2>
        <div class="content">
            <div class="button-container col-2">
                <button class="a-button is-outlined" type="button"><span>휴대폰 인증</span></button>
                <button class="a-button is-outlined" type="button"><span>I-PIN 인증</span></button>
            </div>
            <p class="long-text">본인인증시 유의사항
                본인인증 서비스는 신용정보 취급정식 인가 업체인 (주)드림시큐리티 /(주)서울신용
                평가정보에서 제공합니다.

                본인인증에 문제가 있는 경우
                (주)드림시큐리티 (02-1899-4134)  / (주)서울신용평가정보 (1577-1006) 으로 문의
                하여 주시기 바랍니다.

                위 인증방법이 모두 실패하셨을 경우, ARKET 고객센터 [1522-0176]으로 문의하여
                주시기 바랍니다.
            </p>
        </div>
    </div>
</script>
<!-- //본인인증 방법 선택 -->