<div data-component="OPageContent" class="o-page-content landing-page">

    <!-- landing-page-wrap -->
    <div class="landing-page-wrap order-during">

        <div class="content-bx">
            <img class="a-image loading-img" src="<%= pageInfo.root %>/images/common/loading.svg" alt="loading">
            <p class="tit-text lg">처리 중입니다.</p>
            <p class="tit-text">잠시만 기다려주십시오.</p>
        </div>

    </div>
    <!-- //landing-page-wrap -->

</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        document.querySelector('.checkout-title').innerHTML="주문진행";
    })();
</script>
<!-- //tip -->