<div data-component="OPageContent" class="o-page-content cofs-page">

    <div class="o-order-confirmation order-complete-wrap">
        <!-- order-sheet-info -->
        <div class="order-sheet-info">

            <!-- order-info-bx -->
            <h2 class="a-heading-2">주문에 감사드립니다.</h2>
            <ul class="dft-bx line-bx order-info-bx">
                <p class="order-num">주문번호 <b>SE829384</b></p>
                <p class="guide-text sm">
                    고객님의 주문이 정상적으로 접수되었습니다. <br>
                    주문하신 상품의 배송현황이 궁금하시다면 <strong class="a-link-udln">로그인 > 비회원 주문조회</strong>에서 확인하실 수 있습니다.
                </p>
                <p class="guide-text sm">비회원용 주문 비밀번호를 분실하신 경우 ARKET 고객센터 [1522-0176] 로 문의주세요</p>
            </ul>
            <!-- //order-info-bx -->

            <!-- order-product-info-bx -->
            <h2 class="a-heading-2">주문상품</h2>
            <div class="dft-bx line-bx order-product-info-bx">
                <div class="m-order-product-list">
                    <div class="m-order-summary-row u-clearfix">
                        <div class="product-image">
                            <!--<img class="a-image" alt="product image" src="http://pava-0341648599.s3-eu-west-1.amazonaws.com/images/571a2ab9834df503009f067f/men_shoes_adrian-grain-black-thumbnail-thumbnail-big.jpg">-->
                            <img class="a-image" alt="product image" src="<%= pageInfo.root %>/images/temp/men_shoes_01.jpg">
                        </div>
                        <div class="product-info">
                            <!--
                            <div class="quantity-section">
                                <span class="quantity-label" tabindex="0"></span>
                                <span class="quantity">1</span>
                            </div>
                            -->
                            <div class="product-item-info first">
                                <div class="product-details">
                                    <div class="product-name">해리 블랙 슈즈</div>
                                </div>
                            </div>
                            <div class="product-param-info second">
                                <div class="product-params data">
                                    <div class="product-size">44</div>
                                    <div class="product-color">블랙</div>
                                    <div class="product-qty">2</div>
                                </div>
                            </div>
                            <div class="product-param-price fourth">
                                <div class="product-params data">
                                    <div class="product-price">195,000</div>
                                    <div class="product-total">95,000</div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="m-order-summary-row u-clearfix">
                        <div class="product-image">
                            <!-- <img class="a-image" alt="product image" src="http://pava-0341648599.s3-eu-west-1.amazonaws.com/images/55f88dcce517704a05ab1da5/boy-vintage-thumbnail-big.jpg">-->
                            <img class="a-image" alt="product image" src="<%= pageInfo.root %>/images/temp/boy-vintage-thumbnail-big.jpg">
                        </div>
                        <div class="product-info">
                            <!--
                            <div class="quantity-section">
                                <span class="quantity-label" tabindex="0"></span>
                                <span class="quantity">2</span>
                            </div>
                            -->
                            <div class="product-item-info first">
                                <div class="product-details">
                                    <div class="product-name">고렐 진 블루</div>
                                </div>
                            </div>
                            <div class="product-param-info second">
                                <div class="product-params data">
                                    <div class="product-size">26/32</div>
                                    <div class="product-color">블루</div>
                                    <div class="product-qty">4</div>
                                </div>
                            </div>
                            <div class="product-param-price fourth">
                                <div class="product-params data">
                                    <div class="product-price is-deprecated">100,000</div>
                                    <div class="product-discount">85,000</div>
                                    <div class="product-total">85,000</div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="o-order-summary lightbox-summary">
                    <div class="order-value-section">
                        <span class="order-value-label">총 상품금액</span>
                        <span class="order-value price-won">190,000</span>
                    </div>
                    <div class="discount-section">
                        <span class="discount-label">총 할인금액</span>
                        <span class="discount price-won">-100,000</span>
                    </div>
                    <div class="staff-discount-section">
                        <span class="staff-discount-label">임직원 할인</span>
                        <span class="staff-discount price-won">-4,000</span>
                    </div>
                    <div class="shipping-section">
                        <span class="shipping-label">배송비</span>
                        <span class="shipping price-won">2,500</span>
                    </div>
                    <div class="total-section">
                        <span class="total-label">총 결제금액</span>
                        <span class="total price-won">9,983,500</span>
                    </div>
                </div>
            </div>
            <!-- //order-product-info-bx -->

        </div>
        <!-- //order-sheet-info -->

        <!-- order-summary-section -->
        <div class="order-summary-section">
            <h2 class="a-heading-2 order-summary-heading">주문정보</h2>

            <%# md-order-complete-summary-info %>
            <%- include ("../../../common/md-order-complete-summary-info-nonmbr.ejs") %>

        </div>
        <!-- //order-summary-section -->

    </div>

</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        let staffDis = document.querySelector('.staff-discount-section');
        staffDis.style.display = "none";
    })();
</script>
<!-- //tip -->