<div data-component="OPageContent" class="o-page-content landing-page">

    <!-- landing-page-wrap -->
    <div class="landing-page-wrap pay-processing">

        <div class="content-bx is-richtext">
            <h2 class="a-heading-2">결제처리 중 입니다.</h2>

            <p>해당 카드로 결제 시 ISP 앱을 설치하셔야 합니다.</p>
            <button class="a-button is-outlined isp-download-btn"><span>ISP 앱 다운로드</span></button>

            <p>해당 카드로 결제 시 ISP 앱을 설치하셔야 합니다.</p>
            <button class="a-button keep-going-btn"><span>계속 진행</span></button>

            <p class="long-text">ISP 앱이 설치되지 않은 상태에서 계속 진행을 하시면 오류 페이지가 뜰 수 있으니, ISP 앱 설치 여부를 먼저 확인하여 주세요.</p>
        </div>
        
    </div>
    <!-- //landing-page-wrap -->

</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        document.querySelector('.landing-page-title').innerHTML="결제처리 중";
    })();
</script>
<!-- //tip -->