<div class="o-cookie-message">
    <div data-component="MCookieBar SiteEntryLocator" class="m-cookie-bar is-visible" data-component-id="db1f2f7f-2031-49ca-bea5-122cf055b802" style="display: block;">
        <div class="country-data" data-countries-with-local-sites="[]" data-countries-with-delivery="[AD,AR,AU,BH,BB,BT,BN,CA,CL,CK,CR,EC,SV,FJ,PF,GI,GL,GU,GT,GG,HN,IS,ID,IL,JM,JP,JE,KE,KI,LI,MV,MH,MX,FM,MN,MA,NC,NZ,NG,MP,PW,PE,PR,SM,RS,SG,SB,KR,SR,TH,TO,TR,TV,AE,UY,VN,WF,HK,MO,TW,IN,MY,PH,WS,ZA,BD]"></div>
        <div class="cookie-wrapper">
            <!--
            <div class="is-static">
                <p class="a-paragraph i18n">
                    배송 위치가 국제배송으로 설정되어 있습니다. 위치를 바꾸시려면
                    <a href="#" id="geo-city-utils" class="a-link open-lightbox i18n" data-template="country-selector" data-classes="is-country-selector is-multi-language">여기</a>를 클릭하세요.
                </p>
            </div>
            -->
            <div class="is-richtext ">
                <p></p>
                <div style="text-align: left;">ARKET 사이트는 고객님의 쇼핑 경험을 위해 쿠키를 사용합니다.&nbsp;<a href="/en/customer-service/privacy-notice/cookie.html">자세히 보기</a></div>
                <p></p>
            </div>
        </div>
        <button type="button" class="a-button-nostyle close-click-area">
            <span class="a-icon-close"></span>
        </button>
        <button class="a-button">
            <span class="i18n">Close</span>
        </button>
    </div>
</div>