<script type="text/x-handlebars-template" id="empty"></script>
<script type="text/x-handlebars-template" id="search-suggestions-site">
    {{#each suggestions}}
        <li>
            <div id="site-search-suggestion-{{this.suggestion}}" class="u-display-none">{{this.suggestion}}</div>
            <a href="{{this.url}}" target="_self" class="a-link suggestion-tag"
               aria-labelledby="site-search-suggestion-{{this.suggestion}}"><span
                    class="text">{{this.searchString}}</span><span class="suggestion">{{this.completeText}}</span></a>
        </li>
    {{/each}}
</script>

<script type="text/x-handlebars-template" id="search-suggestions-product">
    {{#each suggestions}}
        <li>
            <div id="product-search-suggestion-{{this.suggestion}}" class="u-display-none">{{this.suggestion}}</div>
            <a href="{{this.url}}" target="_self" class="a-link suggestion-tag"
               aria-labelledby="product-search-suggestion-{{this.suggestion}}"><span class="icon"><img
                    alt="{{this.alt}}" class="a-image" src="{{this.imageURL}}"></span><span
                    class="text">{{this.suggestion}}</span></a>
        </li>
    {{/each}}
</script>

<script type="text/x-handlebars-template" id="initial-suggestions-hbs">
    {{#each suggestionURLs}}
        <li data-url="{{this.link}}" class="filter-option initial-suggestion"><a href="{{this.link}}" target="_self"
                                                                                 class="a-link initial-text">{{#if
                this.title }} {{this.title}} {{/if}}</a></li>
    {{/each}}
</script>

<script type="text/x-handlebars-template" id="search-suggestions-site">
    {{#each suggestions}}
        <li data-type="{{this.type}}" data-title="{{this.title}}" data-code="{{this.code}}" data-url="{{this.link}}"
            data-icon="{{this.icon}}" class="filter-option"><a href="{{this.link}}" target="_self"
                                                               class="a-link suggestion-tag"><span
                class="text">{{this.searchString}}</span><span class="suggestion">{{this.completeText}}</span></a></li>
    {{/each}}
</script>

<script type="text/x-handlebars-template" id="search-suggestions-product">
    {{#each suggestions}}
        <li data-type="product" data-title="{{this.title}}" data-code="{{this.code}}" data-url="{{this.url}}"
            data-icon="{{this.imageURL}}" class="filter-option"
            onclick="sendNotificationTicketAutoSuggest('{{this.url}}', '{{this.ticket}}', event);"><a
                href="{{this.url}}" target="_self" class="a-link suggestion-tag"><span class="icon"><img class="a-image"
                                                                                                         src="{{this.imageURL}}"
                                                                                                         alt="{{this.title}}"></span><span
                class="text">{{this.searchString}}</span><span class="suggestion">{{this.completeText}}</span></a></li>
    {{/each}}
</script>

<script type="text/x-handlebars-template" id="hbs-search-tag">
    {{#if_eq type 'department'}}
        <span class="a-tag is-department" data-type="{{type}}" data-title="{{title}}" data-code="{{code}}">
                    <!-- DEPARTMENT TAG-->{{title}}<span class="close"></span>
                </span>
    {{else if_eq type 'category'}}
        <span class="a-tag is-category" data-type="{{type}}" data-title="{{title}}" data-code="{{code}}">
            <!-- CATEGORY TAG-->{{title}}<span class="close"></span>
            </span>
    {{else if_eq type 'subdepartment'}}
        <span class="a-tag is-category" data-type="{{type}}" data-title="{{title}}" data-code="{{code}}">
            <!-- SUBDEPARTMENT TAG-->{{title}}<span class="close"></span>
            </span>
    {{else if_eq type 'product'}}
        <span class="a-tag is-product" data-type="{{type}}" data-title="{{title}}" data-code="{{code}}">
            <!-- PRODUCT TAG-->{{#if icon}}
            <span class="icon"><img class="a-image" src="{{icon}}" alt="{{title}}"></span>{{/if}}<span
                class="name">{{title}}</span><span class="number">{{code}}</span><span class="close"></span>
            </span>
    {{else if_eq type 'curated'}}
        <span class="a-tag is-curated" data-type="{{type}}" data-title="{{title}}" data-code="{{code}}">
            <!-- CURATED TAG-->{{title}}<span class="close"></span>
            </span>
    {{else if_eq type 'sale'}}
        <span class="a-tag is-sale" data-type="{{type}}" data-title="{{title}}" data-code="{{code}}">
            <!-- SALE TAG-->{{title}}<span class="close"></span>
            </span>
    {{else if_eq type 'gender'}}
        <span class="a-tag is-inverted" data-type="{{type}}" data-title="{{title}}" data-code="{{code}}">
            <!-- GENDER (INVERTED) TAG-->{{title}}<span class="close"></span>
            </span>
    {{else if_eq type 'colorWithNames'}}
        <span class="a-tag is-color" data-type="{{type}}" data-title="{{title}}" data-code="{{code}}"
              data-value="{{value}}">
            <!-- COLOR TAG--><span class="color-swatch icon"></span>{{title}}<span class="close"></span>
            </span>
    {{else if_eq type 'printPattern'}}
        <span class="a-tag is-print" data-type="{{type}}" data-title="{{title}}" data-code="{{code}}"
              data-value="{{value}}">
            <!-- PRINT TAG-->{{#if icon}}
            <span class="icon"><img class="a-image" src="{{icon}}" alt="{{title}}"></span>{{/if}}{{title}}<span
                class="close"></span>
            </span>
    {{else if_eq type 'sizes'}}
        <span class="a-tag is-size" data-type="{{type}}" data-title="{{title}}" data-code="{{code}}">
            <!-- SIZE TAG-->
            <div class="sizes">{{#each sizeValues}}<span class="size">{{this}}</span>{{/each}}</div><span
                class="close"></span>
            </span>
    {{else if_eq type 'material'}}
        <span class="a-tag is-material" data-type="{{type}}" data-title="{{title}}" data-code="{{code}}"
              data-value="{{value}}">
            <!-- MATERIAL TAG-->{{#if icon}}
            <span class="icon"><img class="a-image" src="{{icon}}" alt="{{title}}"></span>{{/if}}{{title}}<span
                class="close"></span>
            </span>
    {{else if_eq type 'store'}}
        <span class="a-tag is-store" data-type="{{type}}" data-title="{{title}}" data-code="{{code}}">
            <!-- STORE TAG-->{{#if icon}}
            <span class="icon"><img class="a-image" src="{{icon}}" alt="{{title}}"></span>{{/if}}
            <div class="store-info"><span class="code">{{code}}</span><span class="address">{{title}}</span></div><span
                class="close"></span>
            </span>
    {{else}}<span class="a-tag is-default" data-type="{{type}}" data-title="{{title}}" data-code="{{code}}">
            <!-- DEFAULT INVERTED TAG-->{{#if icon}}
        <span class="icon"><img class="a-image" src="{{icon}}" alt="{{title}}"></span>{{/if}}{{title}}<span
            class="close"></span>
            </span>
    {{/if_eq}}
</script>

<script type="text/x-handlebars-template" id="o-department-filter">
    <div class="department-palette"><h6 class="a-heading-6 department">Department</h6>
        <div class="department-top-menu-section u-display-none">{{#each departments}}
            <a href="{{this.link}}" target="_self" class="a-link"><h6 class="a-heading-6 filter-option headline"
                                                                      data-title="{{this.title}}"
                                                                      data-code="{{this.code}}"
                                                                      data-type="{{this.type}}"
                                                                      data-url="{{this.link}}">{{this.title}}</h6>
            </a>{{/each}}</div>
        <div class="departments-section">{{#each departments}}
            <a href="{{this.link}}" target="_self" data-title="{{this.title}}" data-code="{{this.code}}"
               data-type="{{this.type}}" data-url="{{this.link}}" class="a-link department-square filter-option"><h2
                    class="a-heading-2 headline">{{this.title}}</h2></a>{{/each}}</div>
        <div class="subdepartments-section u-display-none">{{#each departments}} {{#if this.subdepartments }}
            <div data-title="{{toLowerCase this.title}}" class="palette">
                <div class="scroll">{{#each this.subdepartments}}
                    <a href="{{this.link}}" target="_self" data-title="{{this.title}}" data-code="{{this.code}}"
                       data-type="{{this.type}}" data-url="{{this.link}}" class="a-link subdepartment filter-option"><h6
                            class="a-heading-6">{{this.title}}</h6></a>{{/each}}</div>
            </div>{{/if}} {{/each}}</div>
    </div>
</script>

<script type="text/x-handlebars-template" id="o-filter-color-hbs">
    {{#if facets.colors}}
        <div id="colors" class="content is-active">
            <canvas data-component="OFilterColor" data-facets="{{stringify facets.colors}}"
                    data-type="colorWithNames"></canvas>
            <canvas class="hinted"></canvas>
        </div>
    {{/if}}
</script>

<script type="text/x-handlebars-template" id="o-filter-singleselect-hbs">
    <div data-value="{{this.value}}" data-title="{{this.title}}" data-code="{{this.code}}" data-type="{{this.type}}"
         class="filter-option">{{#if this.value }}
        <h5 class="a-heading-5"><span class="item-code">{{this.value}}</span><span>{{this.title}}</span></h5>{{else}}
        <h5 class="a-heading-5"><span>{{this.title}}</span></h5>{{/if}}</div>
</script>

<script type="text/x-handlebars-template" id="o-filter-multiselect-hbs">
    <div class="m-checkbox u-clearfix filter-option is-small" id="{{this.code}}" data-title="{{this.title}}"
         data-value="{{this.value}}" data-code="{{this.code}}" data-type="{{this.type}}"><input type="checkbox"
                                                                                                class="a-checkbox"
                                                                                                id="connected_{{this.code}}"><label
            class="a-label js-a-label custom-box" for="connected_{{this.code}}"></label><label
            class="a-label js-a-label" for="connected_{{this.code}}"><span>{{this.title}}</span></label></div>
</script>

<script type="text/x-handlebars-template" id="chooser-item">
    {{#each this.content}}
        <div class="m-chooser-item {{this.type}}"><a href="{{this.id}}" target="_self" class="a-link"><img
                class="a-image" src="{{this.imageLink}}" alt="{{this.imageAlt}}"><span
                class="anchor-title">{{this.anchorTitle}}</span></a></div>
    {{/each}}
</script>

<script type="text/x-handlebars-template" id="notification-no-sale">
    <div class="content i18n">There is no sale right now. Therefore the sale filter was removed.</div>
</script>

<script type="text/x-handlebars-template" id="other-countries">
    <div class="o-country">
        <div class="title"><h2 class="a-heading-2">Availability in stores worldwide</h2></div>
        <div class="country-content">
            <div class="country"><h6 class="a-heading-6">Sweden</h6></div>
            <div class="city">
                <div class="m-country-city in-stock">
                    <div class="city-container container">
                        <span>Stockholm</span>
                        <span class="status-label">Available</span>
                    </div>
                    <div class="info-container container">
                        <span>Mood Gallerian, 12362</span>
                        <span>Phone: 12345667890</span>
                    </div>
                    <div class="link-container container">
                        <a class="a-link" href="#" target="_self">More info</a>
                    </div>
                </div>
                <div class="m-country-city few-left">
                    <div class="city-container container">
                        <span>Goteborg</span>
                        <span class="status-label">Low in stock</span>
                    </div>
                    <div class="info-container container">
                        <span>Sturegatan 54, 12362</span>
                        <span>Phone: 12345667890</span>
                    </div>
                    <div class="link-container container">
                        <a class="a-link" href="#" target="_self">More info</a>
                    </div>
                </div>
                <div class="m-country-city sold-out">
                    <div class="city-container container">
                        <span>Malmo</span>
                        <span class="status-label">Sold out</span>
                    </div>
                    <div class="info-container container">
                        <span>Sturegatan 54, 12362</span>
                        <span>Phone: 12345667890</span>
                    </div>
                    <div class="link-container container">
                        <a class="a-link" href="#" target="_self">More info</a>
                    </div>
                </div>
                <div class="m-country-city in-stock">
                    <div class="city-container container">
                        <span>Stockholm</span>
                        <span class="status-label">Available</span>
                    </div>
                    <div class="info-container container">
                        <span>ood Gallerian, 12362</span>
                        <span>Phone: 12345667890</span>
                    </div>
                    <div class="link-container container">
                        <a class="a-link" href="#" target="_self">More info</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="country-content">
            <div class="country"><h6 class="a-heading-6">Germany</h6></div>
            <div class="city">
                <div class="m-country-city in-stock">
                    <div class="city-container container">
                        <span>Berlin</span>
                        <span class="status-label">Available</span>
                    </div>
                    <div class="info-container container">
                        <span>Mood Gallerian, 12362</span>
                        <span>Phone: 12345667890</span>
                    </div>
                    <div class="link-container container">
                        <a class="a-link" href="#" target="_self">More info</a>
                    </div>
                </div>
                <div class="m-country-city few-left">
                    <div class="city-container container">
                        <span>Hamburg</span>
                        <span class="status-label">Low in stock</span>
                    </div>
                    <div class="info-container container">
                        <span>Mood Gallerian, 12362</span>
                        <span>Phone: 12345667890</span>
                    </div>
                    <div class="link-container container">
                        <a class="a-link" href="#" target="_self">More info</a>
                    </div>
                </div>
                <div class="m-country-city sold-out">
                    <div class="city-container container">
                        <span>Munchen</span>
                        <span class="status-label">Sold out</span>
                    </div>
                    <div class="info-container container">
                        <span>Sturegatan 54, 12362</span>
                        <span>Phone: 12345667890</span>
                    </div>
                    <div class="link-container container">
                        <a class="a-link" href="#" target="_self">More info</a>
                    </div>
                </div>
                <div class="m-country-city in-stock">
                    <div class="city-container container">
                        <span>Koln</span>
                        <span class="status-label">Available</span>
                    </div>
                    <div class="info-container container">
                        <span>Mood Gallerian, 12362</span>
                        <span>Phone: 12345667890</span>
                    </div>
                    <div class="link-container container">
                        <a class="a-link" href="#" target="_self">More info</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>

<script type="text/x-handlebars-template" id="notification-no-result">
    <div class="content i18n">0 results were found</div>
</script>

<script type="text/x-handlebars-template" id="notification-undo">
    <div class="content i18n">{{#listTags tags}}{{name}}{{/listTags}} does not exist in this category and was therefore
        removed.&nbsp;{{#if undo}}<span class="undo i18n">Undo</span>{{/if}}</div>
</script>

<script type="text/x-handlebars-template" id="notification-no-sale-in-category">
    <div class="content i18n">There are no sale items in this category.&nbsp;<span class="undo i18n">Undo</span>
    </div>
</script>

<script type="text/x-handlebars-template" id="page-not-found">
    <div class="content i18n">The page requested could not be found.</div>
</script>