<!-- departments -->
<ul class="departments">
    <li>
        <a href="/<%= pageInfo.lang %>/women-sis.html" target="_self" class="a-link department-item" data-title="Women">
            Women
        </a>
    </li>
    <li>
        <a href="/<%= pageInfo.lang %>/men-sis.html" target="_self" class="a-link department-item" data-title="Men">
            Men
        </a>
    </li>

    <li>
        <a href="/<%= pageInfo.lang %>/homeware-sis.html" target="_self" class="a-link department-item" data-title="Homeware">
            Homeware
        </a>
    </li>

    <li>
        <a href="/language-masters/<%= pageInfo.lang %>/travel-sis.html" target="_self" class="a-link department-item" data-title="Travel">
            Travel
        </a>
    </li>
</ul>
<!-- //departments -->