<table align="center" width="100%" cellpadding="0" cellspacing="0" border="0" style="font-family:'Arket Sans','Noto Sans KR',sans-serif;">
    <tbody>
    <tr bgcolor="#f5f5f5">
        <td align="center" style="padding:25px 18px 30px 18px;font-size:13px;color:#666;line-height:19px;">
             메일은 광고성 정보전송에 대한 정보통신망 법률등 관련규정에 의거하여 발송되며, <br>
            {이름}님께서는 {수신동의날짜}기준 광고메일 수신동의 여부를 확인한 결과 동의하셨기에 발송되었습니다.<br>
            본 메일수신을 원치 않으시면
            <a href="#none" style="color:#000;">수신거부</a>를 눌러주시기 바랍니다.<br>
            (If you do not want this type of information or email, please click <a href="#none" style="color:#000;">here</a>)<br>
            <br>
            본 메일 내용과 관련하여 궁금하신 사항은 고객센터나 이메일로 문의 바랍니다.<br>
            <br>
            고객센터 : 1522-0176<br>
            이메일 : customerservice.kr@arket.com
        </td>
    </tr>
    <tr>
        <td align="center" style="padding:20px 20px 30px 20px;font-size:12px;color:#999;line-height:18px;">
            주식회사 <span style="color:#555;">현대백화점</span>  대표이사 : 김형종 외 2인 서울 테헤란로98길 12<br>
            사업자등록번호 : 211-87-21455  통신판매번호 : 2010-서울강남-01882<br>
            개인정보관리 및 청소년보호 책임자 : 회원운영관리담당 장근혁
        </td>
    </tr>
    </tbody>
</table>