<table align="center" border="0" cellspacing="0" cellpadding="0" style="border-collapse:collapse; margin:0 auto;">
    <tbody>
    <tr>
        <td align="center" style="padding:38px 20px 40px 20px;font-size:1px;line-height:0">
            <a href="http://www.arket.com">
                <img src="<%= pageInfo.root %>/images/mail/mail-logo-top.png" border="0" style="outline:none;text-decoration:none;border:none;display:block" width="150" alt="Arket">
            </a>
        </td>
    </tr>
    </tbody>
</table>