<div class="o-width about-grid wc-50">
    <div class="headings" style="text-align:center;">
        <div class="m-headline">
            <h2 class="a-heading-2 has-hover has-margin">
                <span class="heading-cap">explore</span>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about.html" target="_self" class="a-link heading-tag">ARKET</a>
            </h2>
        </div>
    </div>
    <%# md-about-o-image-list-explore-arket %>
    <%- include ("md-about-o-image-list-explore-arket.ejs") %>
</div>

<div class="o-width wc-25">
    <div class="o-text-field is-wide ">
        <div class="text-container">
            <p class="a-paragraph is-richtext"></p>
            <div style="text-align: left;font-size: 14.0px;">
                그리드는 우리의 시각적 아이덴티티에 있어 필수적인 요소입니다. 그것은 아카이브의 개념을 나타내며,
                식물 이름부터 직물의 무게 및 우리의 컬렉션에 사용되는 다양한 소재에 이르는 정보를 정리하고 표시하는 데 사용됩니다.
                이 9개의 사각형은 우리의 세상을 구성하는 각 부분을 상징하며, 우리가 변화를 만들기 위해 노력하는 영역을 나타냅니다.
            </div>
            <p class="a-paragraph"></p>
        </div>
    </div>
</div>