<!-- md-about-o-focus-tiles -->
<div class="free-tile focus-panel">
    <a href="#none" target="_self" class="a-link">
        <div class="m-free-tile q-color-black-100 is-promo">
            <picture data-component="APicture" class="a-picture" data-background="m-free-tile">
                <img class="a-image" src="<%= pageInfo.root %>/images/care/ARKET_19S9B2_care_3_f.jpg" alt="Care guide">
            </picture>
            <div class="text-content">
                <h2 class="a-heading-2  ">Care guide</h2>
            </div>
        </div>
    </a>
</div>
<!-- //md-about-o-focus-tiles -->