<!-- md-about-o-focus-tiles -->
<div class="free-tile focus-panel">
    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/design.html" target="_self" class="a-link">
        <div class="m-free-tile q-color-black-100">
            <picture class="a-picture"
                     data-component="APicture"
                     data-background="m-free-tile">
                <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_elisabeth_05_WEB.jpg" alt="Next story">
            </picture>
            <div class="text-content">
                <!-- mrk-edit : 20211025 -->
                <h2 class="a-heading-2">
                    <!--Next story-->
                    디자인
                </h2>
                <!-- //mrk-edit : 20211025 -->
            </div>
        </div>
    </a>
</div>
<!-- //md-about-o-focus-tiles -->