<!-- md-about-o-focus-tiles -->
<div class="free-tile focus-panel"> <!--added style-->
    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/community/women-in-leadership/lina-hallgren.html" target="_self" class="a-link">
        <div class="m-free-tile q-color-black-100 ">
            <picture data-component="APicture" class="a-picture" data-background="m-free-tile">
                <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21123_IWD_3_WEB.jpg" alt="Lina Hällgren, Creative Content &amp; Studio Manager, Stockholm">
            </picture>
            <div class="text-content">
                <h2 class="a-heading-2 big-tags">Lina Hällgren</h2>
                <p class="a-paragraph q-gamma">Creative Content &amp; Studio Manager, Stockholm</p>
            </div>
        </div>
    </a>
</div>
<!-- //md-about-o-focus-tiles -->