<!-- md-about-o-focus-tiles -->
<div class="free-tile focus-panel"> <!--added style-->
    <a href="#none" target="_self" class="a-link">
        <div class="m-free-tile q-color-black-100">
            <picture data-component="APicture" class="a-picture" data-background="m-free-tile">
                <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21123_IWD_7_WEB.jpg" alt="Leona Whitfield, Area Manager for UK, Benelux &amp; South Korea, London ">
            </picture>
            <div class="text-content">
                <h2 class="a-heading-2 big-tags">Leona Whitfield</h2>
                <p class="a-paragraph q-gamma">Area Manager for UK, Benelux&nbsp;&amp; South Korea, London&nbsp;</p>
            </div>
        </div>
    </a>
</div>
<!-- //md-about-o-focus-tiles -->