<!-- md-about-o-focus-tiles -->
<div class="free-tile focus-panel">
    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about.html" target="_self" class="a-link">
        <div class="m-free-tile q-color-black-100">
            <picture class="a-picture"
                     data-component="APicture"
                     data-background="m-free-tile">
                <img class="a-image" src="<%= pageInfo.root %>/images/about/arketgrid_vnav.gif" alt="About ARKET">
            </picture>
            <div class="text-content">
                <h2 class="a-heading-2">About ARKET</h2>
            </div>
        </div>
    </a>
</div>
<!-- //md-about-o-focus-tiles -->