<!-- md-about-o-focus-tiles -->
<div class="free-tile focus-panel">
    <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about/materials.html" target="_self" class="a-link">
        <div class="m-free-tile q-color-black-100 is-promo">
            <picture data-component="APicture" class="a-picture" data-background="m-free-tile">
                <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_ken_08_WEB.jpg" alt="Materials">
            </picture>
            <div class="text-content">
                <h2 class="a-heading-2  ">Materials</h2>
                <p class="a-paragraph q-gamma"></p>
            </div>
        </div>
    </a>
</div>
<!-- //md-about-o-focus-tiles -->