<div class="o-width about-grid wc-50">
    <div class="headings" style="text-align:center;">
        <div class="m-headline">
            <h2 class="a-heading-2 has-hover has-margin">
                <span class="heading-cap">explore</span>
                <a href="<%= pageInfo.root %>/<%= pageInfo.lang %>/about.html" target="_self" class="a-link heading-tag">ARKET</a>
            </h2>
        </div>
    </div>
    <%# md-about-o-image-list-explore-arket %>
    <%- include ("md-about-o-image-list-explore-arket.ejs") %>
</div>

<div class="o-width wc-25">
    <div class="o-text-field is-wide ">
        <div class="text-container">
            <p class="a-paragraph is-richtext"></p>
            <div style="text-align: left;font-size: 14.0px;">The grid is an essential element of our visual
                identity. It represents the notion of the archive and is used to organise and display information
                ranging from the names of plants to fabric weights and different types of materials used in our
                collections. These nine squares symbolise the separate parts that together form our world, and they
                are also the areas where we strive to make a difference.
            </div>
            <p class="a-paragraph"></p>
        </div>
    </div>
</div>