<div class="o-width fullWidth--mobile fullWidth--desktop fullWidth--tablet spacer wc-100 fullWidth--bgColor">
    <div class="o-width title--small about-icon wc-50">
        <div class="o-text-field is-wide is-large">
            <div class="headings">
                <div class="m-headline">
                    <h2 class="a-heading-2  has-margin">
                        공동체의 변화
                    </h2>
                </div>
            </div>
            <div class="text-container">
                <p class="a-paragraph is-richtext"> </p>
                <p class="a-paragraph"></p>
                <p class="a-paragraph">
                    기업으로서 우리는 성 평등을 증진하고 우리의 사업을 통해 여성들에게 힘을 실어줄 기회를 적극적으로 찾아야 할 큰 책임이 있습니다. 이는 당사의 직원과 공급업체에 고용된 17만 명의 섬유 근로자 모두에게 해당됩니다.
                </p>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>

    <div class="o-width image-comp--4-col wc-75">
        <div class="o-image-listing cols-3">
            <div class="image-container">
                <class class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/IWD-Headquarters.png" alt="ARKET HEADQUARTERS currently consist of 72% female colleagues and 76% female managers">
                </class>
            </div>
            <div class="image-container">
                <class class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/IWD-Stores.png" alt="ARKET STORES AND CAFÉS currently consist of 71% female colleagues and 70% female managers">
                </class>
            </div>
            <div class="image-container">
                <class class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/IWD-Prroduction-Office.png" alt="ARKET PRODUCTION OFFICE currently consist of 77% female colleagues and 90% female managers">
                </class>
            </div>
            <div class="image-container">
                <class class="trackImage col-item">
                    <img class="a-image" src="<%= pageInfo.root %>/images/about/IWD-Production_new.png" alt="The production supply chain that we use currently consist of 61% female colleagues and 35% female managers">
                </class>
            </div>
        </div>
    </div>
    <div class="o-width hide--desktop-401 wc-50">
        <div class="o-text-field is-wide ">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <div style="text-align: center;">
                    <b>Swipe to read more<span style="font-family: arket sans ding;"> c</span> <br></b>
                </div>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
    <div class="o-width wc-50">
        <div class="o-text-field two-columns ">
            <div class="text-container">
                <p class="a-paragraph is-richtext"></p>
                <p class="a-paragraph">우리는 다양성, 포괄성 및 평등 정책에 전념하고, 목표를 설정하고, 브랜드로서의 성과를 측정함으로써 이러한 성과를 달성합니다. 우리는  <a title="H&amp;M Foundation" href="https://hmfoundation.com/2020/06/16/women-mean-business-global-program-care/" class="a-link">H&amp;M 그룹</a>과 함께 다양한 계획을 통해 보다 성 평등한 리더십 구조를 만들 수 있도록 적극적으로 협력하고 있습니다.</p>
                <p class="a-paragraph">개인으로서, 우리는 또한 모범을 보이고, 우리 주변의 여성들을 지지하며, 현재 상황에 도전할 엄청난 힘을 가지고 있습니다. ARKET에서는 우리 각자가 변화의 일부가 될 수 있다고 생각합니다. 우리의 공동의 노력은 결국 모든 성별, 정체성, 재능, 배경을 가진 사람들이 사회에 평등하게 참여하고 의미 있는 대표가 될 수 있는 구조적인 변화로 이어질 것 입니다.</p>
                <p class="a-paragraph"></p>
            </div>
        </div>
    </div>
</div>