    <!-- radio-button-list -->
    <div class="radio-button-list">
        <div class="m-radio-button v3">
            <input type="radio" class="a-radio-button rd-toggle" id="delivery-input-cate1" name="delivery-input-cate" checked data-toggle-target="rd-toggle-con-list">
            <label class="a-label js-a-label u-no-select custom-radio" for="delivery-input-cate1"></label>
            <label class="a-label js-a-label label-text" for="delivery-input-cate1">배송지 목록</label>
        </div>

        <div class="m-radio-button v3">
            <input type="radio" class="a-radio-button rd-toggle" id="delivery-input-cate2" name="delivery-input-cate" data-toggle-target="rd-toggle-con-new">
            <label class="a-label js-a-label u-no-select custom-radio" for="delivery-input-cate2"></label>
            <label class="a-label js-a-label label-text" for="delivery-input-cate2">새로 입력</label>
        </div>
    </div>
    <!-- //radio-button-list -->

    <!-- rd-toggle-con : 배송지목록 -->
    <div class="rd-toggle-con rd-toggle-con-list" data-name="delivery-input-cate">
        <ul class="my-delivery-list">
            <li>
                <div class="m-radio-button v3">
                    <input type="radio" class="a-radio-button" id="delivery-item-radio1" name="delivery-item-radio">
                    <label class="a-label js-a-label u-no-select custom-radio" for="delivery-item-radio1"></label>
                    <label class="a-label js-a-label label-text" for="delivery-item-radio1">
                        <div class="delivery-item">
                            <p class="item-top">
                                <span class="name">홍길동</span>
                                <span class="basic-label">[기본배송지]</span>
                                <a class="a-link a-link-udln delivery-item-edit" href="#none" target="_self">수정</a>
                            </p>
                            <p class="phone-num">010-6841-9653</p>
                            <p class="phone-num">010-6841-9653</p>
                            <p class="address">서울시 강남구 테헤란로 98길, 현대백화점 404호</p>
                        </div>
                    </label>
                </div>
                <%# md-my-delivery-input %>
                <%- include ("md-my-delivery-input-edit.ejs") %>
            </li>
            <li>
                <div class="m-radio-button v3">
                    <input type="radio" class="a-radio-button" id="delivery-item-radio2" name="delivery-item-radio">
                    <label class="a-label js-a-label u-no-select custom-radio" for="delivery-item-radio2"></label>
                    <label class="a-label js-a-label label-text" for="delivery-item-radio2">
                        <div class="delivery-item">
                            <p class="item-top">
                                <span class="name">홍길동</span>
                                <a class="a-link a-link-udln delivery-item-edit" href="#none" target="_self">수정</a>
                                <a class="a-link a-link-udln delivery-item-del open-dialog-btn" data-target="lp-dlvr-list-del" href="#none" target="_self">삭제</a>
                            </p>
                            <p class="phone-num">010-6841-9653</p>
                            <p class="phone-num">010-6841-9653</p>
                            <p class="address">서울시 강남구 테헤란로 98길, 현대백화점 404호</p>
                        </div>
                    </label>
                </div>
                <%# md-my-delivery-input %>
                <%- include ("md-my-delivery-input-edit.ejs") %>
            </li>
        </ul>
    </div>
    <!-- //rd-toggle-con : 배송지목록 -->

    <!-- rd-toggle-con : 새로입력 -->
    <div class="rd-toggle-con rd-toggle-con-new is-hidden-strong" data-name="delivery-input-cate">
        <%# md-my-delivery-input %>
        <%- include ("md-my-delivery-input.ejs") %>
    </div>
    <!-- //rd-toggle-con : 새로입력 -->