<!-- delivery-info-bx -->
<div class="delivery-info-bx">

    <%# md-my-delivery-input %>
    <%- include ("md-delivery-info-list.ejs") %>

    <%# md-delivery-request %>
    <%- include ("md-delivery-request.ejs") %>

</div>
<!-- //delivery-info-bx -->