<p class="t2 contact-us-p">도움이 필요하시면 <br class="only-m">고객센터로 연락해 주세요.</p>
<p class="t3 tel">1522-0176<br class="only-m"><span class="only-pc"> / </span><a href="mailto:customerservice.kr@arket.com" class="a-link">customerservice.kr@arket.com</a></p>