<ul>
    <li class="ul-container">
        <ul class="options">
            <li class="a-option is-dropdown-value is-selected">South Korea</li>
            <li class="a-option">American Samoa</li>
            <li class="a-option">Andorra</li>
            <li class="a-option">Argentina</li>
            <li class="a-option">Australia</li>
            <li class="a-option">Austria</li>
            <li class="a-option">Bahrain</li>
            <li class="a-option">Bangladesh</li>
            <li class="a-option">Barbados</li>
            <li class="a-option">Belgium</li>
            <li class="a-option">Bhutan</li>
            <li class="a-option">Brunei Darussalam</li>
            <li class="a-option">Bulgaria</li>
            <li class="a-option">Canada</li>
            <li class="a-option">Chile</li>
            <li class="a-option">Cook Islands</li>
            <li class="a-option">Costa Rica</li>
            <li class="a-option">Croatia</li>
            <li class="a-option">Cyprus</li>
            <li class="a-option">Czech Republic</li>
            <li class="a-option">Denmark</li>
            <li class="a-option">Ecuador</li>
            <li class="a-option">El Salvador</li>
            <li class="a-option">Estonia</li>
            <li class="a-option">Fiji</li>
            <li class="a-option">Finland</li>
            <li class="a-option">France</li>
            <li class="a-option">French Polynesia</li>
            <li class="a-option">Georgia</li>
            <li class="a-option">Germany</li>
            <li class="a-option">Gibraltar</li>
            <li class="a-option">Greece</li>
            <li class="a-option">Greenland</li>
            <li class="a-option">Guam</li>
            <li class="a-option">Guatemala</li>
            <li class="a-option">Guernsey</li>
            <li class="a-option">Honduras</li>
            <li class="a-option">Hong Kong</li>
            <li class="a-option">Hungary</li>
            <li class="a-option">Iceland</li>
            <li class="a-option">India</li>
            <li class="a-option">Indonesia</li>
            <li class="a-option">Ireland</li>
            <li class="a-option">Israel</li>
            <li class="a-option">Italy</li>
            <li class="a-option">Jamaica</li>
            <li class="a-option">Japan</li>
            <li class="a-option">Jersey</li>
            <li class="a-option">Kenya</li>
            <li class="a-option">Kiribati</li>
            <li class="a-option">Latvia</li>
            <li class="a-option">Leichtenstein</li>
            <li class="a-option">Lithuania</li>
            <li class="a-option">Luxembourg</li>
            <li class="a-option">Macao</li>
            <li class="a-option">Malaysia</li>
            <li class="a-option">Maldives</li>
            <li class="a-option">Marshall Islands</li>
            <li class="a-option">Mexico</li>
            <li class="a-option">Micronesia, Federated States of</li>
            <li class="a-option">Mongolia</li>
            <li class="a-option">Morocco</li>
            <li class="a-option">Netherlands</li>
            <li class="a-option">New Caledonia</li>
            <li class="a-option">New Zealand</li>
            <li class="a-option">Nigeria</li>
            <li class="a-option">Northern Mariana Islands</li>
            <li class="a-option">Norway</li>
            <li class="a-option">Palau</li>
            <li class="a-option">Peru</li>
            <li class="a-option">Philippines</li>
            <li class="a-option">Poland</li>
            <li class="a-option">Portugal</li>
            <li class="a-option">Puerto Rico</li>
            <li class="a-option">Romania</li>
            <li class="a-option">Saint Kitts and Nevis</li>
            <li class="a-option">Samoa</li>
            <li class="a-option">San Marino</li>
            <li class="a-option">Serbia</li>
            <li class="a-option">Singapore</li>
            <li class="a-option">Slovakia</li>
            <li class="a-option">Slovenia</li>
            <li class="a-option">Solomon Islands</li>
            <li class="a-option">South Africa</li>
            <li class="a-option">South Korea</li>
            <li class="a-option">Spain</li>
            <li class="a-option">Suriname</li>
            <li class="a-option">Sweden</li>
            <li class="a-option">Switzerland</li>
            <li class="a-option">Taiwan</li>
            <li class="a-option">Thailand</li>
            <li class="a-option">Tonga</li>
            <li class="a-option">Turkey</li>
            <li class="a-option">Tuvalu</li>
            <li class="a-option">United Arab Emirates</li>
            <li class="a-option">United Kingdom</li>
            <li class="a-option">United States</li>
            <li class="a-option">Uruguay</li>
            <li class="a-option">Viet Nam</li>
            <li class="a-option">Wallis and Futuna</li>
        </ul>
    </li>
</ul>