<!-- m-notification : pc 일때 사용 -->
<!-- to Dev : 활성화되면 .o-header 태그에 .has-sis-notification 클래스 추가 필요 -->
<div data-component="MNotification" class="m-notification is-inline" id="notificationbnnr" style="background:#1B1B1B;display:block;">
    <input type="hidden" name="startDateField" value="2021/06/10 08:10:00" id="sitebannercountsd">
    <input type="hidden" name="endDateField" value="2021/12/13 18:45:00" id="sitebannercounted">
    <div>
        <div class="a-paragraph site-banner-desktop is-richtext" style="color:#FFFFFF">
            <a title="ARKET SALE" href="/en/sale.html">SALE — 최대 80% 할인</a>
            <a title="Women SALE" href="/en/women/sale.html">여성,</a>
            <a title="Men SALE" href="/en/men/sale.html">남성,</a>
            <a title="Homeware SALE" href="/en/homeware/sale.html">&amp; 홈웨어</a>
            &nbsp;&nbsp;
            <section id="desktoptimer">
                <input class="sitebannertimer" id="desktopdaysid" value="01">
                <span id="desktopdayspan" class="timeLabel">D</span>
                <input class="sitebannertimer" id="desktophoursid" value="43">
                <span class="timeLabel">H</span>
                <input class="sitebannertimer" id="desktopminutesid" value="21">
                <span class="timeLabel">M</span>
                <input class="sitebannertimer" id="desktopsecondsid" value="55">
                <span class="timeLabel">S</span>
            </section>
        </div>
    </div>
</div>
<script>
    setTimeout(function(){
        //--ntfbnnrh css Property 생성
        var ntfbnnrh = $('#notificationbnnr').innerHeight(); //샵인샵 PC 띠배너 높이 사이즈

        //샵인샵 PC 띠배너 체크 후 header position 재정의
        setSisHeaderPosition(ntfbnnrh);

        //띠배너 타이머 시작
        displaySiteBannerCountDown();
    },3000);
</script>
<!-- //m-notification : pc 일때 사용 -->