<!-- list-option -->
<div class="list-option">
    <span class="m-dropdown-label-ex">기간별 보기</span>
    <div class="m-dropdown v2 list-term">
        <select name="selectSize" id="list-term">
            <option class="a-option">1개월 보기</option>
            <option class="a-option">2개월 보기</option>
            <option class="a-option">3개월 보기</option>
            <option class="a-option">전체기간</option>
        </select>
        <span class="a-icon-accordion a-icon-arrow-down-small"></span>
    </div>
</div>
<!-- //list-option -->