<!-- 활성화 탭 표기 : 회원가입 -->
<ul class="m-tablist tabs-1-2">
    <li class="u-no-select ">
        <a href="/en/login" target="_self" class="a-link">로그인</a>
    </li>
    <li class="u-no-select is-active" onclick="TealiumUtils.trackFunnelLink('registration_start');">
        <a href="/en/register" target="_self" class="a-link">회원가입</a>
    </li>
</ul>
<!-- // 활성화 탭 표기 : 회원가입 -->