<ol class="breadcrumb-container" itemscope="" itemtype="http://schema.org/BreadcrumbList">
	<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
		<a class="a-link" href="<%= pageInfo.root %>/<%= pageInfo.lang %>/index.html" target="_self" itemprop="item">
			<span itemprop="name">ARKET</span>
		</a>
		<meta itemprop="position" content="1">
	</li>
	<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
		<a class="a-link" href="#none" target="_self" itemprop="item" aria-current="page" data-no-click="true">
			<span itemprop="name">Women</span>
		</a>
		<meta itemprop="position" content="2">
	</li>
	<li itemprop="itemListElement" itemscope="" itemtype="https://schema.org/ListItem">
		<a class="a-link" target="_self" itemprop="item" aria-current="page" data-no-click="true">
			<span itemprop="name">드레스</span>
		</a>
		<meta itemprop="position" content="2">
	</li>
</ol>