<!-- m-cart-addition -->
<div data-component="MCartAddition" class="m-cart-addition">
    <div class="a-tooltip has-animation">
        <div class="basket-wrapper">
            <div class="added-item">
                <div class="basket-added-image">
                    <img class="a-image ResolveComplete" src="<%= pageInfo.root %>/images/temp/sample-img.jpg">
                </div>
                <div class="basket-added-info">
                    <p class="a-paragraph">
                        <span class="item-title">루즈핏 리넨 쇼츠</span>
                        <!--
                        <div class="markers">
                            <div class="m-product-marker" data-component="MProductMarkers">
                                <div class="marker-text product-marker">
                                    <span>online exclusive</span>
                                </div>
                            </div>
                        </div>
                        -->
                        <div class="product-param-info second">
                            <div class="product-params data">
                                <div class="product-size">44</div>
                                <div class="product-color">핑크</div>
                                <div class="product-qty">2</div>
                            </div>
                        </div>

                        <!-- 할인이 있을 경우 -->
                        <span class="basket-added-info-price">
                            <span class="u-price is-deprecated">100,000</span>
                            <span class="u-price discount total">85,000</span>
                        </span>
                        <!-- //할인이 있을 경우 -->

                        <!-- 할인이 없을 경우 -->
                        <span class="basket-added-info-price">
                            <span class="u-price is-regular">100,000</span>
                        </span>
                        <!-- //할인이 없을 경우 -->
                    </p>
                    <a class="a-button checkout i18n" href="/<%= pageInfo.lang %>/cart">장바구니 보기</a>
                </div>
            </div>
            <div class="no-added-item">
                <div class="basket-added-info-title i18n">장바구니 담기 실패</div>

                <!-- case1 : 장바구니에 상품을 최대로 담을 경우 -->
                <p class="a-paragraph i18n">장바구니에 더 이상 상품을 담을 수 없습니다.</p>

                <!-- case2 : 장바구니에 동일상품을 최대로 담을 경우 -->
<!--                <p class="a-paragraph i18n">죄송합니다. 한 번에 15개 이상의 상품을 담을 수 없습니다.</p>-->

                <!-- case3 : 재고가 15개 미만으로 남았을 경우 -->
<!--                <p class="a-paragraph i18n">죄송합니다. 재고가 부족하여 최대 N개 까지 구매 하실 수 있습니다.</p>-->

            </div>
        </div>
    </div>
</div>
<!-- //m-cart-addition -->