<!-- m-informative-section -->
<div class="m-informative-section">
	<h3>Customer</h3>
	<p class="fc-point2">무료배송, 무료반품 혜택과 함께 새로운 상품을 찾아보세요<br class="only-pc">택배사 파업으로 인해 배송 및 반품이 지연될 수 있습니다.</p>
	<p>배송완료 후 14일 이내 청약철회(반품)가 가능합니다.
		단, 위생상의 이유로 속옷, 피어싱류 보석은 반품 불가합니다.
		자세한 내용은 <a href="#" class="a-link open-lightbox" data-template="lp-return-refund-guide">반품 및 환불</a>을 확인해주세요.</p>
	<h3>배송정보 안내</h3>
	<p>
		<span  class="desc-text">3일 내에 발송됩니다. (주말 및 공휴일 제외) 주문상품 품절/배송 지연 예상 시 유선/SMS안내</span>
		<span  class="desc-text">일부 군사지역은 배송이 불가능할 수 있습니다.</span>
	</p>
	<h3>채무지급 보증안내</h3>
	<p>고객님의 안전거래를 위해 현금결제시 우리은행과채무지급보증
		계약을 체결하여 안전거래를 보장하고 있습니다.</p>

	<h3>도움이 필요하신가요?</h3>
	<p>더 궁금하신 사항이 있다면 <a href="#" class="a-link open-lightbox" data-template="empty" data-classes="is-large">ARKET 고객센터</a> [1522-0176]로 문의
		하여 주십시오.</p>
</div>
<!-- //m-informative-section -->

<!-- handlebars-template -->
<%# 반품 및 환불 %>
<%- include ("../handlebars/hndl-lp-return-refund-guide.ejs") %>

<script type="text/x-handlebars-template" id="service-join-fact-confirm">
	<p>서비스 가입사실 확인</p>
</script>
<!-- //handlebars-template -->