<!-- m-breadcrumb -->
<nav class="m-breadcrumb" data-component="MBreadCrumb">
	<ol class="breadcrumb-container">
		<li>
			<a class="a-link" href="<%= pageInfo.root %>/<%= pageInfo.lang %>/index.html" target="_self">
				<span>ARKET</span>
			</a>
		</li>
		<li>
			<a class="a-link" href="#none" target="_self">
				<span>Women</span>
			</a>
		</li>
		<li>
			<a class="a-link subcategory" target="_self" data-no-click="true">
				<span>드레스</span>
			</a>
		</li>
	</ol>
</nav>
<!-- //m-breadcrumb -->