<!-- o-slider -->
<div data-component="OSlider"
     class="o-slider"
     data-pagination="false"
     data-multislide="false"
     data-num-slides="customized-pra"
     data-slide-width="200">
    <div class="redils">
        <div class="slide-cont" id="sliderStyleWith">

            <!-- slides -->
            <div class="slides">
                <div class="o-product">
                    <a href="#none" target="_self" class="a-link">
                        <div class="image">
                            <div class="m-product-image">
                                <div class="cross"></div>
                                <div class="placeholder-wrapper">
                                    <img class="product-image a-image is-hidden Resolve"
                                         src="<%= pageInfo.root %>/images/temp/app006prod_pra_1.jpg"
                                         alt="" >
                                </div>
                            </div>
                        </div>
                        <div class="description">
                            <div class="product">
                                <span class="i18n">Product</span>
                                <span>Birkenstock Madrid 슬라이드 샌들</span>
                            </div>
                            <div class="price">
                                <span class="i18n">Price</span>
                                <div class="m-product-price">
                                    <span class="is-regular price-value">42,000</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- //slides -->

        </div>
    </div>
    <div class="redils-controls">
        <div class="arrow-area arrow-area-left">
            <button type="button" class="a-button-nostyle arrow"></button>
        </div>
        <div class="arrow-area arrow-area-right">
            <button type="button" class="a-button-nostyle arrow"></button>
        </div>
    </div>
    <div class="pagination"></div>
</div>
<!-- //o-slider -->

