<!-- md-o-image-listing -->
<div class="o-image-listing cols-3">
    <div class="image-container">
        <a href="#none" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/component/BABY_004_WEB.jpg" alt="ARKET-baby">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Baby</div>
        </div>
    </div>
    <div class="image-container">
        <a href="#none" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/component/ARKET_21_cafe_strawberry_bun_B_WEB_X2.jpg" alt="ARKET café">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">ARKET café<br></div>
        </div>
    </div>
    <div class="image-container">
        <a href="#none" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/component/6.NEW-ITEMS-ADDED_SALE-21_WEB.jpg" alt="Sale start">
        </a>
    </div>
    <div class="image-container">
        <a href="#none" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/component/ARKET_Q2_Summerhike_3_PR.jpg">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Selected brands</div>
        </div>
    </div>
</div>
<!-- //md-o-image-listing -->