<!-- md-o-image-listing -->
<div class="o-image-listing cols-3">
    <div class="image-container">
        <a href="#none" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_cafe_cookbook_cover.jpg">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Our cookbook</div>
        </div>
    </div>
    <div class="image-container">
        <a href="#none" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/vnav_stores-new.jpg">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Opening hours</div>
        </div>
    </div>
    <div class="image-container">
        <a href="#none" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21Q2_cafe_nordiskravara_3.jpg">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Nordisk Råvara</div>
        </div>
    </div>
    <div class="image-container">
        <a href="#none" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_20Q4_about_jessica_10_WEB.jpg">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">About ARKET</div>
        </div>
    </div>
</div>
<!-- //md-o-image-listing -->