<!-- container_materialFilterNoPipe -->
<div data-component="OFilter" id="container_materialFilterNoPipe" class="o-filter">
    <div class="filter-container">
        <button type="button" class="a-button-nostyle filter-link">소재<span class="selected-value"></span></button>
        <div class="filter-section" style="">
            <button type="button" class="a-button-nostyle a-icon-close"></button>
            <div class="filters-content">
                <h6 class="a-heading-6 filter-title"></h6>
                <ul class="checkbox-wrapper">
                    <li>
									<span class="m-checkbox u-clearfix is-small" id="010 wool-Wool">
										<input type="checkbox" class="a-checkbox is-small" id="connected_010 wool-Wool" data-filter="materialFilterNoPipe=010 wool-Wool">
										<label class="a-label js-a-label custom-box" for="connected_010 wool-Wool"></label>
										<label class="a-label js-a-label" data-label="true" for="connected_010 wool-Wool">울</label>
									</span>
                    </li>
                    <li>
									<span class="m-checkbox u-clearfix is-small" id="200 cotton-Cotton">
										<input type="checkbox" class="a-checkbox is-small" id="connected_200 cotton-Cotton" data-filter="materialFilterNoPipe=200 cotton-Cotton">
										<label class="a-label js-a-label custom-box" for="connected_200 cotton-Cotton"></label>
										<label class="a-label js-a-label" data-label="true" for="connected_200 cotton-Cotton">면</label>
									</span>
                    </li>

                    <li>
									<span class="m-checkbox u-clearfix is-small" id="3596-Synthetic">
										<input type="checkbox" class="a-checkbox is-small" id="connected_3596-Synthetic" data-filter="materialFilterNoPipe=3596-Synthetic">
										<label class="a-label js-a-label custom-box" for="connected_3596-Synthetic"></label>
										<label class="a-label js-a-label" data-label="true" for="connected_3596-Synthetic">인조</label>
									</span>
                    </li>

                    <li>
									<span class="m-checkbox u-clearfix is-small" id="380 linen-Linen">
										<input type="checkbox" class="a-checkbox is-small" id="connected_380 linen-Linen" data-filter="materialFilterNoPipe=380 linen-Linen">
										<label class="a-label js-a-label custom-box" for="connected_380 linen-Linen"></label>
										<label class="a-label js-a-label" data-label="true" for="connected_380 linen-Linen">리넨</label>
									</span>
                    </li>

                    <li>
									<span class="m-checkbox u-clearfix is-small" id="420 Regenerated fibre-Regenerated fibre">
										<input type="checkbox" class="a-checkbox is-small" id="connected_420 Regenerated fibre-Regenerated fibre" data-filter="materialFilterNoPipe=420 Regenerated fibre-Regenerated fibre">
										<label class="a-label js-a-label custom-box" for="connected_420 Regenerated fibre-Regenerated fibre"></label>
										<label class="a-label js-a-label" data-label="true" for="connected_420 Regenerated fibre-Regenerated fibre">재생섬유</label>
									</span>
                    </li>

                    <li>
									<span class="m-checkbox u-clearfix is-small" id="560 Leather-Leather">
										<input type="checkbox" class="a-checkbox is-small" id="connected_560 Leather-Leather" data-filter="materialFilterNoPipe=560 Leather-Leather">
										<label class="a-label js-a-label custom-box" for="connected_560 Leather-Leather"></label>
										<label class="a-label js-a-label" data-label="true" for="connected_560 Leather-Leather">가죽</label>
									</span>
                    </li>

                    <li>
									<span class="m-checkbox u-clearfix is-small" id="660 paper-Paper">
										<input type="checkbox" class="a-checkbox is-small" id="connected_660 paper-Paper" data-filter="materialFilterNoPipe=660 paper-Paper">
										<label class="a-label js-a-label custom-box" for="connected_660 paper-Paper"></label>
										<label class="a-label js-a-label" data-label="true" for="connected_660 paper-Paper">종이</label>
									</span>
                    </li>

                    <li>
									<span class="m-checkbox u-clearfix is-small"
                                          id="775 Plastic and Rubber-Plastic &amp; Rubber">
										<input type="checkbox" class="a-checkbox is-small"
                                               id="connected_775 Plastic and Rubber-Plastic &amp; Rubber"
                                               data-filter="materialFilterNoPipe=775 Plastic and Rubber-Plastic &amp;amp; Rubber">
										<label class="a-label js-a-label custom-box"
                                               for="connected_775 Plastic and Rubber-Plastic &amp; Rubber"></label>
										<label class="a-label js-a-label" data-label="true"
                                               for="connected_775 Plastic and Rubber-Plastic &amp; Rubber">플라스틱 &amp; 루버</label>
									</span>
                    </li>

                </ul>

            </div>
        </div>
    </div>
</div>
<!-- //container_materialFilterNoPipe -->