<!-- container_category -->
<div data-component="OFilter" id="container_category" class="o-filter">
	<div class="filter-container">
		<button type="button" class="a-button-nostyle filter-link">
			카테고리<span class="selected-value"></span>
		</button>
		<div class="filter-section" style="">
			<button type="button" class="a-button-nostyle a-icon-close"></button>
			<div class="filters-content">
				<h6 class="a-heading-6 filter-title"></h6>
				<ul class="checkbox-wrapper">
					<li>
						<span class="m-checkbox u-clearfix is-small" id="">
							<input type="checkbox" class="a-checkbox is-small" id="connected_0" data-filter="">
							<label class="a-label js-a-label custom-box" for="connected_0"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_0">전체</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="">
							<input type="checkbox" class="a-checkbox is-small" id="connected_1" data-filter="">
							<label class="a-label js-a-label custom-box" for="connected_1"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_1">탑</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="">
							<input type="checkbox" class="a-checkbox is-small" id="connected_2" data-filter="">
							<label class="a-label js-a-label custom-box" for="connected_2"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_2">셔츠</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="">
							<input type="checkbox" class="a-checkbox is-small" id="connected_3" data-filter="">
							<label class="a-label js-a-label custom-box" for="connected_3"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_3">바지</label>
						</span>
					</li>

				</ul>

			</div>
		</div>
	</div>
</div>
<!-- //container_category -->