<!-- md-o-img-promotion-data -->
<div class="promotion-data p11-imagegrid" hidden="" data-slides-index="">
    <span class="promo_id"></span>
    <span class="promo_name"></span>
    <span class="promo_creative"></span>
</div>
<!-- // md-o-img-promotion-data -->