<!-- o-my-page-navigation -->
<!--<div class="o-my-page-navigation" data-component="OMyPageNavigation">-->
<div class="o-my-page-navigation">
    <span class="a-icon-global-close js-close"></span>
    <div class="o-menu-list js-o-menu-list js-code">
        <h2 class="a-heading-2 js-a-heading-2">Your account</h2>
        <div class="o-list js-o-list">
            <ul>
                <li>
                    <a href="../my-account/order-list.html" target="_self" class="a-link menu-my-orders">주문/배송</a>
                </li>
            </ul>
        </div>
    </div>
</div>
<!-- //o-my-page-navigation -->