<!-- container_colorWithNames -->
<div data-component="OFilter" id="container_colorWithNames" class="o-filter">
	<div class="filter-container">
		<button type="button" class="a-button-nostyle filter-link">
			컬러<span class="selected-value"></span>
		</button>
		<div class="filter-section">
			<button type="button" class="a-button-nostyle a-icon-close"></button>
			<div class="filters-content">
				<h6 class="a-heading-6 filter-title"></h6>
				<ul class="checkbox-wrapper">
					<li>
						<span class="m-checkbox u-clearfix is-small" id="000000">
							<input type="checkbox" class="a-checkbox is-small" id="connected_000000" value="colorWithNames=000000_black" data-type="colorWithNames">
							<label class="a-label js-a-label custom-box" for="connected_000000"></label>
							<label class="a-label js-a-label" for="connected_000000">블랙</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="0000ff">
							<input type="checkbox" class="a-checkbox is-small" id="connected_0000ff" value="colorWithNames=0000ff_blue" data-type="colorWithNames">
							<label class="a-label js-a-label custom-box" for="connected_0000ff"></label>
							<label class="a-label js-a-label" for="connected_0000ff">블루</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="008000">
							<input type="checkbox" class="a-checkbox is-small" id="connected_008000" value="colorWithNames=008000_green" data-type="colorWithNames">
							<label class="a-label js-a-label custom-box" for="connected_008000"></label>
							<label class="a-label js-a-label" for="connected_008000">그린</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="800080">
							<input type="checkbox" class="a-checkbox is-small" id="connected_800080" value="colorWithNames=800080_purple" data-type="colorWithNames">
							<label class="a-label js-a-label custom-box" for="connected_800080"></label>
							<label class="a-label js-a-label" for="connected_800080">퍼플</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="808080">
							<input type="checkbox" class="a-checkbox is-small" id="connected_808080" value="colorWithNames=808080_grey" data-type="colorWithNames">
							<label class="a-label js-a-label custom-box" for="connected_808080"></label>
							<label class="a-label js-a-label" for="connected_808080">그레이</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="a52a2a">
							<input type="checkbox" class="a-checkbox is-small" id="connected_a52a2a" value="colorWithNames=a52a2a_brown" data-type="colorWithNames">
							<label class="a-label js-a-label custom-box" for="connected_a52a2a"></label>
							<label class="a-label js-a-label" for="connected_a52a2a">브라운</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="f5f5dc">
							<input type="checkbox" class="a-checkbox is-small" id="connected_f5f5dc" value="colorWithNames=f5f5dc_beige" data-type="colorWithNames">
							<label class="a-label js-a-label custom-box" for="connected_f5f5dc"></label>
							<label class="a-label js-a-label" for="connected_f5f5dc">베이지</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="ff0000">
							<input type="checkbox" class="a-checkbox is-small" id="connected_ff0000" value="colorWithNames=ff0000_red" data-type="colorWithNames">
							<label class="a-label js-a-label custom-box" for="connected_ff0000"></label>
							<label class="a-label js-a-label" for="connected_ff0000">레드</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="ffa500">
							<input type="checkbox" class="a-checkbox is-small" id="connected_ffa500" value="colorWithNames=ffa500_orange" data-type="colorWithNames">
							<label class="a-label js-a-label custom-box" for="connected_ffa500"></label>
							<label class="a-label js-a-label" for="connected_ffa500">오렌지</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="ffc0cb">
							<input type="checkbox" class="a-checkbox is-small" id="connected_ffc0cb" value="colorWithNames=ffc0cb_pink" data-type="colorWithNames">
							<label class="a-label js-a-label custom-box" for="connected_ffc0cb"></label>
							<label class="a-label js-a-label" for="connected_ffc0cb">핑크</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="ffff00">
							<input type="checkbox" class="a-checkbox is-small" id="connected_ffff00" value="colorWithNames=ffff00_yellow" data-type="colorWithNames">
							<label class="a-label js-a-label custom-box" for="connected_ffff00"></label>
							<label class="a-label js-a-label" for="connected_ffff00">옐로우</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="ffffff">
							<input type="checkbox" class="a-checkbox is-small" id="connected_ffffff" value="colorWithNames=ffffff_white" data-type="colorWithNames">
							<label class="a-label js-a-label custom-box" for="connected_ffffff"></label>
							<label class="a-label js-a-label" for="connected_ffffff">화이트</label>
						</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- //container_colorWithNames -->