<!-- o-my-page-navigation -->
<!--<div class="o-my-page-navigation" data-component="OMyPageNavigation">-->
<div class="o-my-page-navigation">
    <span class="a-icon-global-close js-close"></span>
    <div class="o-menu-list js-o-menu-list js-code">
        <h2 class="a-heading-2 js-a-heading-2">Your account</h2>
        <div class="o-list js-o-list">
            <ul>
                <li>
                    <a href="/en/my-account/profile" target="_self" class="a-link menu-my-details">회원정보</a>
                </li>
                <li>
                    <a href="/en/my-account/orders" target="_self" class="a-link menu-my-orders">주문/배송</a>
                </li>
                <li>
                    <a class="a-link menu-addressbook" href="#none" target="_self">배송지관리</a>
                </li>
                <li>
                    <a class="a-link menu-deposit" href="#none" target="_self">예치금</a>
                </li>
                <!--
                <li>
                    <a class="a-link menu-payments" href="#none" target="_self">Saved Cards</a>
                </li>
                -->
            </ul>
        </div>
    </div>
</div>
<!-- //o-my-page-navigation -->