<!-- container_printPattern -->
<div data-component="OFilter" id="container_printPattern" class="o-filter">
    <div class="filter-container">
        <button type="button" class="a-button-nostyle filter-link">패턴<span class="selected-value"></span></button>
        <div class="filter-section" style="">
            <button type="button" class="a-button-nostyle a-icon-close"></button>
            <div class="filters-content">
                <h6 class="a-heading-6 filter-title"></h6>
                <ul class="checkbox-wrapper">

                    <li>
									<span class="m-checkbox u-clearfix is-small" id="Checks|Checks">
										<input type="checkbox" class="a-checkbox is-small" id="connected_Checks|Checks" data-filter="printPattern=Checks|Checks">
										<label class="a-label js-a-label custom-box" for="connected_Checks|Checks"></label>
										<label class="a-label js-a-label" data-label="true" for="connected_Checks|Checks">체크</label>
									</span>
                    </li>

                    <li>
									<span class="m-checkbox u-clearfix is-small" id="Florals|Florals">
										<input type="checkbox" class="a-checkbox is-small" id="connected_Florals|Florals" data-filter="printPattern=Florals|Florals">
										<label class="a-label js-a-label custom-box" for="connected_Florals|Florals"></label>
										<label class="a-label js-a-label" data-label="true" for="connected_Florals|Florals">플로럴</label>
									</span>
                    </li>

                    <li>
									<span class="m-checkbox u-clearfix is-small" id="Stripes|Stripes">
										<input type="checkbox" class="a-checkbox is-small" id="connected_Stripes|Stripes" data-filter="printPattern=Stripes|Stripes">
										<label class="a-label js-a-label custom-box" for="connected_Stripes|Stripes"></label>
										<label class="a-label js-a-label" data-label="true" for="connected_Stripes|Stripes">스트라이프</label>
									</span>
                    </li>

                </ul>
            </div>
        </div>
    </div>
</div>
<!-- //container_printPattern -->