<!-- 회원가입 단계 표기 : 1.간편인증 -->
<ul class="step">
    <li class="on">1.간편인증</li>
    <span class="a-icon-arrow-right on"></span>
    <li>2.가입정보입력</li>
    <span class="a-icon-arrow-right"></span>
    <li>3.가입완료</li>
</ul>
<!-- // 회원가입 단계 표기 : 1.간편인증 -->