<div class="o-product productTrack">
    <!-- plp-link-track -->
    <a href="https://www.arket.com/en/women/dresses/product.wide-fit-voile-dress-beige.0865251002.html"
       target="_self"
       class="a-link plp-link-track"
       data-product-id="0865251002"
       data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDg2NTI1MV9ncm91cF8wMDJfZW5fd3c7MDg2NTI1MTAwMl9lbl93dzs7Tk9ORTpOT05FOzU4Ow"
       data-image="SMALL">
        <div class="image">
            <div class="m-product-image">
                <div class="cross"></div>
                <div class="" style="">
                    <img class="a-image default-image ResolveComplete"
                         src="https://lp.arket.com/app006prod?set=key%5Bresolve.pixelRatio%5D,value%5B1%5D&amp;set=key%5Bresolve.width%5D,value%5B250%5D&amp;set=key%5Bresolve.height%5D,value%5B10000%5D&amp;set=key%5Bresolve.imageFit%5D,value%5Bcontainerwidth%5D&amp;set=key%5Bresolve.allowImageUpscaling%5D,value%5B0%5D&amp;set=key%5Bresolve.format%5D,value%5Bwebp%5D&amp;set=key%5Bresolve.quality%5D,value%5B70%5D&amp;set=ImageVersion%5B1%5D,origin%5Bdam%5D,source%5B/07/d1/07d188c524ec070b0b36294f8f826612cdd3532d.jpg%5D,type%5BLOOKBOOK%5D&amp;call=url%5Bfile:/product/dynamic.chain%5D"
                         data-resolvechain="set=source[/07/d1/07d188c524ec070b0b36294f8f826612cdd3532d.jpg],origin[dam],type[LOOKBOOK],ImageVersion[1]&amp;call=url[file:/product/dynamic.chain]"
                         data-resolvewidth="2" data-resolveheight="3" id="resolve_1">
                    <img class="a-image hover-image ResolveComplete"
                         src="https://lp.arket.com/app006prod?set=key%5Bresolve.pixelRatio%5D,value%5B1%5D&amp;set=key%5Bresolve.width%5D,value%5B250%5D&amp;set=key%5Bresolve.height%5D,value%5B10000%5D&amp;set=key%5Bresolve.imageFit%5D,value%5Bcontainerwidth%5D&amp;set=key%5Bresolve.allowImageUpscaling%5D,value%5B0%5D&amp;set=key%5Bresolve.format%5D,value%5Bwebp%5D&amp;set=key%5Bresolve.quality%5D,value%5B70%5D&amp;set=ImageVersion%5B1%5D,origin%5Bdam%5D,source%5B/48/d7/48d7de42115168e14f89a760f58c47ef25e57d0a.jpg%5D,type%5BLOOKBOOK%5D&amp;call=url%5Bfile:/product/dynamic.chain%5D"
                         data-resolvechain="set=source[/48/d7/48d7de42115168e14f89a760f58c47ef25e57d0a.jpg],origin[dam],type[LOOKBOOK],ImageVersion[1]&amp;call=url[file:/product/dynamic.chain]"
                         data-resolvewidth="2" data-resolveheight="3" id="resolve_2">
                </div>
            </div>
        </div>
    </a>
    <!-- //plp-link-track -->

    <!-- description -->
    <div class="description style-corner-aligned">
        <!-- Swatch change-->
        <div class="product-wrapper u-clearfix">
            <a href="https://www.arket.com/en/women/dresses/product.wide-fit-voile-dress-beige.0865251002.html"
               target="_self"
               class="a-link plp-link-track"
               data-product-id="0865251002"
               data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDg2NTI1MV9ncm91cF8wMDJfZW5fd3c7MDg2NTI1MTAwMl9lbl93dzs7Tk9ORTpOT05FOzU4Ow"
               data-image="SMALL" tabindex="-1">
                <div class="product">
                    <span class="i18n">Product</span>
                    <span>Wide-Fit Voile Dress</span>
                </div>
            </a>

            <div class="swatches">
                <div class="m-swatches" data-component="MSwatches">
                    <div>
                        <a href="/en/women/dresses/product.wide-fit-voile-dress-beige.0865251002.html"
                           target="_self"
                           class="a-link pdp"
                           tabindex="-1">
                            <div class="a-swatch js-swatch current">
                                <input type="radio" name="colors" value="Off White/Multi">
                                <button type="button" class="a-button-nostyle">
                                    <span class="a-swatch-foreground"></span>
                                    <img class="a-image" src="https://lp.arket.com/app006prod%3Fset%3Dcolor%5BDCD6C7%5D%26call%3Durl%5Bfile%3A%2Fproduct%2FcolorSwatch.chain%5D">
                                    <span class="sold-out i18n">Sold out</span>
                                </button>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>

        <div class="color">
            <a href="https://www.arket.com/en/women/dresses/product.wide-fit-voile-dress-beige.0865251002.html"
               target="_self"
               class="a-link plp-link-track"
               data-product-id="0865251002"
               data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDg2NTI1MV9ncm91cF8wMDJfZW5fd3c7MDg2NTI1MTAwMl9lbl93dzs7Tk9ORTpOT05FOzU4Ow"
               data-image="SMALL">
                <span class="i18n">Color</span>
                <span>Off White/Multi</span>
            </a>
        </div>

        <a href="https://www.arket.com/en/women/dresses/product.wide-fit-voile-dress-beige.0865251002.html"
           target="_self"
           class="a-link plp-link-track"
           data-product-id="0865251002"
           data-ticket="Oy9wbHAvcHJvZHVjdC1saXN0LXdpdGgtY291bnQvcHJvZHVjdC1saXN0OyM7cHJvZHVjdF9rZXk7MDg2NTI1MV9ncm91cF8wMDJfZW5fd3c7MDg2NTI1MTAwMl9lbl93dzs7Tk9ORTpOT05FOzU4Ow"
           data-image="SMALL">
            <div class="price">
                <span class="i18n">Price</span>
                <div class="m-product-price">
                    <span>229,000</span>
                </div>
            </div>
        </a>

        <div class="swatches swatches-bottom">
            <div class="m-swatches" data-component="MSwatches">
                <div>
                    <a href="/en/women/dresses/product.wide-fit-voile-dress-beige.0865251002.html"
                       target="_self"
                       class="a-link pdp"
                       tabindex="-1">
                        <div class="a-swatch js-swatch current ">
                            <input type="radio" name="colors" value="Off White/Multi">
                            <button type="button" class="a-button-nostyle">
                                <span class="a-swatch-foreground"></span>
                                <img class="a-image" src="https://lp.arket.com/app006prod%3Fset%3Dcolor%5BDCD6C7%5D%26call%3Durl%5Bfile%3A%2Fproduct%2FcolorSwatch.chain%5D">
                                <span class="sold-out i18n">Sold out</span>
                            </button>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!-- //description -->

    <!-- producttile-details -->
    <div class="producttile-details" hidden="" data-slides-index="0">
        <div>
            <span class="articleCode">0865251002</span>
            <span class="baseProductCode">0865251_group_002</span>
            <span class="productCategory">Dresses - women_dresses_all</span>
            <span class="currencyCode">USD</span>
            <span class="price">119.0</span>
            <span class="originalPrice">119.0</span>
            <div>
                <span class="productName">Wide-Fit Voile Dress</span>
                <span class="brandName"></span>
                <span class="colorName">Off White/Multi</span>
                <span class="colorLoc">Off White/Multi</span>
                <span class="atelierName"></span>
                <span class="originCountry">China</span>
            </div>
        </div>
    </div>
    <!-- //producttile-details -->

</div>