<!-- o-product-cofs -->
<div class="o-product-cofs">
    <a class="a-link no-styling full-area-link"
       href="/views/themes/stories/views/pages/product-detail/product-detail-coat.html"
       title="Body Jacket Socks"
       target="_self"></a>
    <div class="image-holder">
        <!--<img class="a-image product-image"
             ng-src="https://lp.arket.com/app006prod?set=source[/67/51/6751a46e1d0ae3af87e975ad2972450d05e36874.jpg],origin[dam],type[DESCRIPTIVESTILLLIFE],device[hdpi],quality[80],ImageVersion[1]&amp;call=url[file:/product/main]"
             alt="Ribbed Racer Tank"
             src="https://lp.arket.com/app006prod?set=source[/67/51/6751a46e1d0ae3af87e975ad2972450d05e36874.jpg],origin[dam],type[DESCRIPTIVESTILLLIFE],device[hdpi],quality[80],ImageVersion[1]&amp;call=url[file:/product/main]">
        -->
        <img class="a-image product-image"
             alt="Ribbed Racer Tank"
             src="<%= pageInfo.root %>/images/temp/app006prod-0.jpg">
        <button class="a-button is-quickbuy open-lightbox no-states" data-template="o-quick-buy" data-nopadding="true" data-classes="is-medium is-flexible">
            <span>Quickshop</span>
        </button>
    </div>
    <div class="description">
        <!--
        <div class="product-variants">
            <span>3 변형</span>
        </div>
        -->
        <div class="m-product-marker m-product-markers" data-component="MProductMarkersCofs">
            <div class="markers-wrapper">
                <div class="marker-text product-marker">
                    <span>organic cotton</span>
                </div>
                <!--
                <div class="marker-text promo-marker">
                    <span>3 FOR 2</span>
                </div>
                -->
            </div>
        </div>
        <!--
        <div class="marker-label temp-marker new-marker">
            <span>NEW</span>
        </div>
        -->
        <h3 class="a-heading-3 product-title">보디 자켓</h3>
        <div class="m-product-price">
            <span class="price-won">12,250,000</span>
        </div>
    </div>
</div>
<!-- //o-product-cofs -->

<!-- o-product-cofs -->
<div class="o-product-cofs">
    <a class="a-link no-styling full-area-link"
       href="/views/themes/stories/views/pages/product-detail/product-detail-coat.html"
       title="Body Jacket Socks" target="_self"></a>
    <div class="image-holder">
        <!--
        <img class="a-image product-image"
             ng-src="https://lp.arket.com/app006prod?set=source[/6a/bc/6abc64acf13267c82f8dcfa92c5720cc3a0f1be6.jpg],origin[dam],type[DESCRIPTIVESTILLLIFE],device[hdpi],quality[80],ImageVersion[1]&amp;call=url[file:/product/main]"
             alt="Crew-Neck T-shirt"
             src="https://lp.arket.com/app006prod?set=source[/6a/bc/6abc64acf13267c82f8dcfa92c5720cc3a0f1be6.jpg],origin[dam],type[DESCRIPTIVESTILLLIFE],device[hdpi],quality[80],ImageVersion[1]&amp;call=url[file:/product/main]">
        -->
        <img class="a-image product-image"
             alt="Ribbed Racer Tank"
             src="<%= pageInfo.root %>/images/temp/app006prod-1.jpg">
        <button class="a-button is-quickbuy open-lightbox no-states" data-template="o-quick-buy"
                data-nopadding="true" data-classes="is-medium is-flexible">
            <span>Quickshop</span>
        </button>
    </div>
    <div class="description">
        <div class="m-product-marker m-product-markers" data-component="MProductMarkersCofs">
            <div class="markers-wrapper">
                <div class="marker-text product-marker">
                    <span>organic cotton</span>
                </div>
            </div>
        </div>
        <h3 class="a-heading-3 product-title">보디 자켓</h3>
        <div class="m-product-price">
            <span class="is-regular">50,000</span>
            <span class="show-percentage-off">50%</span>
        </div>
    </div>
</div>
<!-- //o-product-cofs -->

<!-- o-product-cofs -->
<div class="o-product-cofs">
    <a class="a-link no-styling full-area-link"
       href="/views/themes/stories/views/pages/product-detail/product-detail-coat.html"
       title="Body Jacket Socks" target="_self"></a>
    <div class="image-holder">
        <!--
        <img class="a-image product-image"
             ng-src="https://lp.arket.com/app006prod?set=source[/41/ab/41ab8d8f2e6551549a6f5cd948d6fd49494dc53e.jpg],origin[dam],type[DESCRIPTIVESTILLLIFE],device[hdpi],quality[80],ImageVersion[1]&amp;call=url[file:/product/main]"
             alt="Rib Strap Top"
             src="https://lp.arket.com/app006prod?set=source[/41/ab/41ab8d8f2e6551549a6f5cd948d6fd49494dc53e.jpg],origin[dam],type[DESCRIPTIVESTILLLIFE],device[hdpi],quality[80],ImageVersion[1]&amp;call=url[file:/product/main]">
         -->
        <img class="a-image product-image"
             alt="Ribbed Racer Tank"
             src="<%= pageInfo.root %>/images/temp/app006prod-2.jpg">
        <button class="a-button is-quickbuy open-lightbox no-states"
                data-template="o-quick-buy"
                data-nopadding="true"
                data-classes="is-medium is-flexible">
            <span>Quickshop</span>
        </button>
    </div>
    <div class="description">
        <div class="m-product-marker m-product-markers" data-component="MProductMarkersCofs">
            <div class="markers-wrapper">
                <div class="marker-text product-marker">
                    <span>organic cotton</span>
                </div>
            </div>
        </div>
        <h3 class="a-heading-3 product-title">보디 자켓</h3>
        <div class="m-product-price">
            <span class="is-deprecated">50,000</span>
            <span class="is-reduced">40,000</span>
        </div>
    </div>
</div>
<!-- //o-product-cofs -->

<!-- o-product-cofs -->
<div class="o-product-cofs">
    <a class="a-link no-styling full-area-link"
       href="/views/themes/stories/views/pages/product-detail/product-detail-coat.html"
       title="Body Jacket Socks"
       target="_self"></a>
    <div class="image-holder">
        <!--
        <img class="a-image product-image"
             ng-src="https://lp.arket.com/app006prod?set=source[/95/52/95528393c34b632413f95e874acc40f608fafa0a.jpg],origin[dam],type[DESCRIPTIVESTILLLIFE],device[hdpi],quality[80],ImageVersion[1]&amp;call=url[file:/product/main]"
             alt="Crew-Neck T-shirt"
             src="https://lp.arket.com/app006prod?set=source[/95/52/95528393c34b632413f95e874acc40f608fafa0a.jpg],origin[dam],type[DESCRIPTIVESTILLLIFE],device[hdpi],quality[80],ImageVersion[1]&amp;call=url[file:/product/main]">
         -->
        <img class="a-image product-image"
             alt="Ribbed Racer Tank"
             src="<%= pageInfo.root %>/images/temp/app006prod-3.jpg">
        <button class="a-button is-quickbuy open-lightbox no-states" data-template="o-quick-buy" data-nopadding="true" data-classes="is-medium is-flexible">
            <span>Quickshop</span>
        </button>
    </div>
    <div class="description">
        <div class="m-product-marker m-product-markers" data-component="MProductMarkersCofs">
            <div class="markers-wrapper">
                <div class="marker-text product-marker">
                    <span>ogarnic</span>
                </div>
            </div>
        </div>
        <h3 class="a-heading-3 product-title">보디 자켓</h3>
        <div class="m-product-price">
            <span class="is-deprecated">50,000</span>
            <span class="is-reduced">40,000</span>
        </div>
    </div>
</div>
<!-- //o-product-cofs -->