<!-- departmentDropdown -->
<div data-component="OFilter" id="departmentDropdown" class="o-filter a-buttons department is-open" data-state-open="true">
	<input type="hidden" id="inputDepartment" value="" class="js-input">
	<div class="filter-container">
		<button type="button" class="a-button-nostyle filter-link">구분<span class="selected-value"></span></button>
		<div class="filter-section" style="display: none;">
			<button type="button" class="a-button-nostyle a-icon-close"></button>
			<div class="filters-content"><h6 class="a-heading-6 filter-title">구분</h6>
				<ul class="button-wrapper">
					<li>
						<button type="button" class="a-button-nostyle department-button " data-type="department" data-value="women_all">Women</button>
					</li>
					<li>
						<button type="button" class="a-button-nostyle department-button " data-type="department" data-value="children_all">Men</button>
					</li>
					<li>
						<button type="button" class="a-button-nostyle department-button " data-type="department" data-value="children_babynewborn_all">Homeware</button>
					</li>
					<!--
					<li>
						<button type="button" class="a-button-nostyle department-button " data-type="department" data-value="homeware_all">Travel</button>
					</li>
					-->
				</ul>
			</div>
		</div>
	</div>
</div>
<!-- //departmentDropdown -->