<!-- order-summary-info -->
<div class="order-summary-info">
    <div class="m-order-summary-row u-clearfix">
        <div class="product-image">
            <!--<img class="a-image" alt="product image" src="http://pava-0341648599.s3-eu-west-1.amazonaws.com/images/571a2ab9834df503009f067f/men_shoes_adrian-grain-black-thumbnail-thumbnail-big.jpg">-->
            <img class="a-image" alt="product image" src="<%= pageInfo.root %>/images/temp/men_shoes_01.jpg">
        </div>
        <div class="product-info">
            <!--
            <div class="quantity-section">
                <span class="quantity-label" tabindex="0"></span>
                <span class="quantity">1</span>
            </div>
            -->
            <div class="product-item-info first">
                <div class="product-details">
                    <div class="product-name">해리 블랙 슈즈</div>
                </div>
            </div>
            <div class="product-param-info second">
                <div class="product-params data">
                    <div class="product-size">s-4Y(EUR 104)</div>
                    <div class="product-color">더스티 라일락</div>
                    <div class="product-qty">999</div>
                </div>
            </div>
            <div class="product-param-price fourth">
                <div class="product-params data">
                    <div class="product-price">195,000</div>
                    <div class="product-total">95,000</div>
                </div>
            </div>
        </div>
    </div>
    <div class="m-order-summary-row u-clearfix">
        <div class="product-image">
            <!-- <img class="a-image" alt="product image" src="http://pava-0341648599.s3-eu-west-1.amazonaws.com/images/55f88dcce517704a05ab1da5/boy-vintage-thumbnail-big.jpg">-->
            <img class="a-image" alt="product image" src="<%= pageInfo.root %>/images/temp/boy-vintage-thumbnail-big.jpg">
        </div>
        <div class="product-info">
            <!--
            <div class="quantity-section">
                <span class="quantity-label" tabindex="0"></span>
                <span class="quantity">2</span>
            </div>
            -->
            <div class="product-item-info first">
                <div class="product-details">
                    <div class="product-name">고렐 진 블루</div>
                </div>
            </div>
            <div class="product-param-info second">
                <div class="product-params data">
                    <div class="product-size">26/32</div>
                    <div class="product-color">Blue</div>
                    <div class="product-qty">4</div>
                </div>
            </div>
            <div class="product-param-price fourth">
                <div class="product-params data">
                    <div class="product-price is-deprecated">100,000</div>
                    <div class="product-discount">85,000</div>
                    <div class="product-total">85,000</div>
                </div>
            </div>
        </div>
    </div>

    <!--
    <div class="m-hazmat-wrap">
        <span class="m-hazmat-v2 fire">
            <span class="hazmat-label">이 제품은 인화성 물질을 포함하고 있으므로 제공된 서비스에 대한 특별 규칙이 적용됩니다.</span>
        </span>
        <span class="m-hazmat-v2 warning">
            <span class="hazmat-label">경고! 화재로부터 격리 할 것. 이 기호가 표시된항목은 "The Nightwear Safetly Regulations1987"의 가연성 성능 요구 사항을 준수 할 필요가 없으므로 이러한 요구 사항에 대해 테스트하지 않았습니다.</span>
        </span>
    </div>
    -->

    <div class="order-summary-price">
        <div class="o-order-summary lightbox-summary">
            <div class="order-value-section">
                <span class="order-value-label">총 상품금액</span>
                <span class="order-value price-won">190,000</span>
            </div>
            <div class="discount-section">
                <span class="discount-label">총 할인금액</span>
                <span class="discount price-won">-100,000</span>
            </div>
            <div class="staff-discount-section">
                <span class="staff-discount-label">임직원 할인</span>
                <span class="staff-discount price-won">-4,000</span>
            </div>
            <div class="shipping-section">
                <span class="shipping-label">배송비</span>
                <span class="shipping price-won">2,500</span>
            </div>
            <div class="total-section">
                <span class="total-label">총 결제금액</span>
                <span class="total price-won">9,983,500</span>
            </div>
        </div>
    </div>
</div>
<!-- //order-summary-info -->