<!-- o-teaser-container -->
<div class="o-teaser-container full-width" data-component="OTeaserContainer">
    <div class="teaser-content-wrapper">
        <!-- o-width -->
        <div class="o-width VNAV wc-100">
            <%# md-o-image-listing %>
            <%- include ("md-o-image-listing-cols3-1.ejs") %>
        </div>
        <!-- //o-width -->

        <!-- o-width -->
        <div class="o-width VNAV wc-100">
            <%# md-o-image-listing %>
            <%- include ("md-o-image-listing-cols3-2.ejs") %>
        </div>
        <!-- //o-width -->
    </div>
</div>
<!-- //o-teaser-container -->