<!-- md-o-image-listing -->
<div class="o-image-listing cols-3">
    <div class="image-container">
        <a href="#none" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/component/ARKET_Q2_Summerhike_5_WEB.jpg">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Women</div>
        </div>
    </div>
    <div class="image-container">
        <a href="#none" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/component/ARKET_Q2_Summerhike_16_WEB.jpg">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Men</div>
        </div>
    </div>
    <div class="image-container">
        <a href="#none" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/component/ARKET_Q2_Summerhike_29_WEB.jpg">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Children</div>
        </div>
    </div>
    <div class="image-container">
        <a href="#none" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/component/ARKET_21217_HOME_SUMMER_23_WEB.jpg">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Homeware</div>
        </div>
    </div>
</div>
<!-- //md-o-image-listing -->