<!-- md-o-image-listing -->
<div class="o-image-listing cols-3">
    <div class="image-container">
        <a href="#none" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_Q2_Summerhike_2_WEB.jpg">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Women</div>
        </div>
    </div>
    <div class="image-container">
        <a href="#none" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_Q2_Summerhike_17_WEB.jpg">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Men</div>
        </div>
    </div>
    <div class="image-container">
        <a href="#none" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_Q2_Summerhike_27_WEB.jpg">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Children</div>
        </div>
    </div>
    <div class="image-container">
        <a href="#none" target="_self" class="trackImage a-link">
            <img class="a-image" src="<%= pageInfo.root %>/images/about/ARKET_21217_HOME_SUMMER_28_WEB.jpg">
        </a>
        <div class="slider-text-block">
            <div class="is-richtext o-text-field ">Homeware</div>
        </div>
    </div>
</div>
<!-- //md-o-image-listing -->