<div data-component="OProductDetailsSelection" class="o-product-details-selection">
    <div class="markers-container">
        <div data-component="MProductMarkers" class="m-product-marker promo-marker-wrapper" id="productMarkers">
            <div class="marker-text product-marker">Arket basics collection</div>
            <div class="marker-text product-marker">ORGANIC COTTON</div>
        </div>
    </div>
    <div class="show-percentage-off is-visible"><span>50% 할인</span></div>
    <div class="product-name-price-wrapper">
        <h1 class="a-heading-3">
            <span id="productTitle">리넨 반바지</span>
        </h1>
        <div class="m-product-price" id="product-price">
            <span id="productPrice" class="is-regular price-value">49,000</span>
             <span class="is-deprecated">49,000</span>
             <span class="is-reduced">49,000</span>
        </div>
    </div>
    
    <div class="product-size-wrapper" id="sizesDropdown">
        <h4 class="a-heading-4">사이즈</h4>
        <a class="a-link size-guide-link open-lightbox" href="#" target="_self" data-template="lp-size-guide" data-classes="is-large">사이즈 가이드</a>
        <div class="a-size-swatch" id="size" data-component="ASizeSwatch">
            <input class="a-input js-input" name="selectSize" data-value="" value="">
            <input name="lowfield" data-lowcheck="true" data-lowtext="LOW IN STOCK" class="a-input js-input" id="lowinstockfield" type="hidden">

            <button class="a-button-nostyle size-options longer-size in-stock" type="button" data-value="32/33">
                <span>32/33</span>
                <p class="a-paragraph low-stock"><span>품절임박</span></p>
            </button>
            <button class="a-button-nostyle size-options in-stock low-in-stock" type="button" data-value="34">
                <span>34</span>
                <p class="a-paragraph low-stock"><span>품절임박</span></p>
            </button>
            <button class="a-button-nostyle size-options longer-size out-of-stock" type="button" data-value="36/38">
                <span>36/38</span>
            </button>
            <button class="a-button-nostyle size-options in-stock low-in-stock" type="button" data-value="38">
                <span>38</span>
                <p class="a-paragraph low-stock"><span>품절임박</span></p>
            </button>
            <button class="a-button-nostyle size-options in-stock low-in-stock" type="button" data-value="40">
                <span>40</span>
                <p class="a-paragraph low-stock"><span>품절임박</span></p>
            </button>
            <button class="a-button-nostyle size-options in-stock low-in-stock" type="button" data-value="46">
                <span>46</span>
                <p class="a-paragraph low-stock"><span>품절임박</span></p>
            </button>
            <button class="a-button-nostyle size-options in-stock low-in-stock" type="button" data-value="48">
                <span>48</span>
                <p class="a-paragraph low-stock"><span>품절임박</span></p>
            </button>
            <button class="a-button-nostyle size-options in-stock low-in-stock" type="button" data-value="50">
                <span>50</span>
                <p class="a-paragraph low-stock"><span>품절임박</span></p>
            </button>
        </div>
    </div>
    <div class="model-tip">
        <span class="t1">model tip!</span>
        <span class="t2">163cm/45kg/55size/235mm</span>
    </div>
    <button class="a-button add-to-cart"
            data-text-default="장바구니 담기"
            data-text-disabled="사이즈를 선택해주세요"
            id="addtocart"
            data-out-of-stock="SOLD OUT"
            data-coming-soon="COMING SOON"
            data-discontinued="ARCHIVED ITEM">
        <span class="i18n">장바구니 담기</span>
    </button>
    <!--
    <button class="a-button add-to-cart is-disabled" type="submit">
        <span>장바구니 담기</span>
    </button>
    -->
</div>