<!-- order-summary-info -->
<div class="order-summary-info">

    <div class="summary-item">
        <div class="tit">주문하신 분</div>
        <div class="con">
            <p>홍길동</p>
            <p>010-8952-4253</p>
        </div>
    </div>

    <div class="summary-item">
        <div class="tit">배송지 정보</div>
        <div class="con">
            <p>택배배송</p>
            <p>01621 서울시 노원구 덕을로123가길 102동 1207호</p>
            <p>홍길동</p>
            <p>010-2562-6520</p>
        </div>
    </div>

    <div class="summary-item">
        <div class="tit">주문 시 요청사항</div>
        <div class="con">
            <p>부재시 경비실에 보관해 주세요.</p>
            <p>빠른배송부탁드립니다.전화부탁드려요.</p>
        </div>
    </div>

    <div class="summary-item">
        <div class="tit">할인내역</div>
        <div class="con">
            <p class="justify-bx">
                <span class="t1">프로모션 할인</span>
                <span class="t2 price-won">-487,000</span>
            </p>
        </div>
    </div>

    <div class="summary-item">
        <div class="tit">결제내역</div>
        <div class="con">

            <!-- 카드결제 -->
            <!--
            <p class="justify-bx">
                <span class="t1">신용카드</span>
                <span class="t2 price-won">597,000</span>
            </p>
            <p class="justify-bx">
                <span class="t1">KB국민카드</span>
                <span class="t2">3개월  무이자할부</span>
            </p>
            -->
            <!-- //카드결제 -->

            <!-- 무통장입금 -->
            <!--
            <p class="justify-bx">
                <span class="t1">무통장입금</span>
                <span class="t2 price-won">597,000</span>
            </p>
            <p class="justify-bx">
                <span class="t1">입금계좌</span>
                <span class="t2">외환은행 (900-12345-123)</span>
            </p>
            <p class="justify-bx">
                <span class="t1">입금자명</span>
                <span class="t2">홍길동</span>
            </p>
            <p class="justify-bx">
                <span><b>2022년 07월 18일</b>까지 입금하지 않으면 주문이 취소됩니다.</span>
            </p>
            -->
            <!-- //무통장입금 -->

            <!-- 실시간계좌이체 -->
            <!--
            <p class="justify-bx">
                <span class="t1">실시간 계좌이체</span>
                <span class="t2 price-won">597,000</span>
            </p>
            <p class="justify-bx">
                <span>( 우리은행 264-177646-18-420 )</span>
            </p>
            -->
            <!-- //실시간계좌이체 -->

            <!-- 휴대폰결제 -->
            <!--
            <p class="justify-bx">
                <span class="t1">휴대폰결제</span>
                <span class="t2 price-won">597,000</span>
            </p>
            -->
            <!-- //휴대폰결제 -->

            <!-- 네이버페이 -->
            <p class="justify-bx">
                <span class="t1">네이버페이</span>
                <span class="t2 price-won">597,000</span>
            </p>
            <p class="justify-bx">
                <span class="t1">신한카드</span>
                <span class="t2">일시불</span>
            </p>
            <!-- //네이버페이 -->

            <!-- 예치금 -->
            <!--
            <p class="justify-bx">
                <span class="t1">예치금</span>
                <span class="t2 price-won">20,000</span>
            </p>
            -->
            <!-- //예치금 -->

        </div>
    </div>


</div>
<!-- //order-summary-info -->