<!-- container_sizes -->
<div data-component="OFilter" id="container_sizes" class="o-filter">
	<div class="filter-container">
		<button type="button" class="a-button-nostyle filter-link">
			사이즈<span class="selected-value"></span>
		</button>
		<div class="filter-section" style="">
			<button type="button" class="a-button-nostyle a-icon-close"></button>
			<div class="filters-content">
				<h6 class="a-heading-6 filter-title"></h6>
				<ul class="checkbox-wrapper">
					<li>
						<span class="m-checkbox u-clearfix is-small" id="13_25">
							<input type="checkbox" class="a-checkbox is-small" id="connected_13_25" data-filter="sizes=13_25">
							<label class="a-label js-a-label custom-box" for="connected_13_25"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_13_25">25</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="14_26">
							<input type="checkbox" class="a-checkbox is-small" id="connected_14_26" data-filter="sizes=14_26">
							<label class="a-label js-a-label custom-box" for="connected_14_26"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_14_26">26</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="15_27">
							<input type="checkbox" class="a-checkbox is-small" id="connected_15_27" data-filter="sizes=15_27">
							<label class="a-label js-a-label custom-box" for="connected_15_27"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_15_27">27</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="16_28">
							<input type="checkbox" class="a-checkbox is-small" id="connected_16_28" data-filter="sizes=16_28">
							<label class="a-label js-a-label custom-box" for="connected_16_28"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_16_28">28</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="17_29">
							<input type="checkbox" class="a-checkbox is-small" id="connected_17_29" data-filter="sizes=17_29">
							<label class="a-label js-a-label custom-box" for="connected_17_29"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_17_29">29</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="18_30">
							<input type="checkbox" class="a-checkbox is-small" id="connected_18_30" data-filter="sizes=18_30">
							<label class="a-label js-a-label custom-box" for="connected_18_30"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_18_30">30</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="19_31">
							<input type="checkbox" class="a-checkbox is-small" id="connected_19_31" data-filter="sizes=19_31">
							<label class="a-label js-a-label custom-box" for="connected_19_31"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_19_31">31</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="20_32">
							<input type="checkbox" class="a-checkbox is-small" id="connected_20_32" data-filter="sizes=20_32">
							<label class="a-label js-a-label custom-box" for="connected_20_32"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_20_32">32</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="22_34">
							<input type="checkbox" class="a-checkbox is-small" id="connected_22_34" data-filter="sizes=22_34">
							<label class="a-label js-a-label custom-box" for="connected_22_34"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_22_34">34</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="24_36">
							<input type="checkbox" class="a-checkbox is-small" id="connected_24_36" data-filter="sizes=24_36">
							<label class="a-label js-a-label custom-box" for="connected_24_36"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_24_36">36</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="25_37">
							<input type="checkbox" class="a-checkbox is-small" id="connected_25_37" data-filter="sizes=25_37">
							<label class="a-label js-a-label custom-box" for="connected_25_37"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_25_37">37</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="26_38">
							<input type="checkbox" class="a-checkbox is-small" id="connected_26_38" data-filter="sizes=26_38">
							<label class="a-label js-a-label custom-box" for="connected_26_38"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_26_38">38</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="27_39">
							<input type="checkbox" class="a-checkbox is-small" id="connected_27_39" data-filter="sizes=27_39">
							<label class="a-label js-a-label custom-box" for="connected_27_39"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_27_39">39</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="28_40">
							<input type="checkbox" class="a-checkbox is-small" id="connected_28_40" data-filter="sizes=28_40">
							<label class="a-label js-a-label custom-box" for="connected_28_40"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_28_40">40</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="29_41">
							<input type="checkbox" class="a-checkbox is-small" id="connected_29_41" data-filter="sizes=29_41">
							<label class="a-label js-a-label custom-box" for="connected_29_41"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_29_41">41</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="30_42">
							<input type="checkbox" class="a-checkbox is-small" id="connected_30_42" data-filter="sizes=30_42">
							<label class="a-label js-a-label custom-box" for="connected_30_42"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_30_42">42</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="32_44">
							<input type="checkbox" class="a-checkbox is-small" id="connected_32_44" data-filter="sizes=32_44">
							<label class="a-label js-a-label custom-box" for="connected_32_44"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_32_44">44</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="3_xs">
							<input type="checkbox" class="a-checkbox is-small" id="connected_3_xs" data-filter="sizes=3_xs">
							<label class="a-label js-a-label custom-box" for="connected_3_xs"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_3_xs">Xs</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="4_s">
							<input type="checkbox" class="a-checkbox is-small" id="connected_4_s" data-filter="sizes=4_s">
							<label class="a-label js-a-label custom-box" for="connected_4_s"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_4_s">s</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="5_m">
							<input type="checkbox" class="a-checkbox is-small" id="connected_5_m" data-filter="sizes=5_m">
							<label class="a-label js-a-label custom-box" for="connected_5_m"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_5_m">m</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="6_l">
							<input type="checkbox" class="a-checkbox is-small" id="connected_6_l" data-filter="sizes=6_l">
							<label class="a-label js-a-label custom-box" for="connected_6_l"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_6_l">l</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="146_onesize">
							<input type="checkbox" class="a-checkbox is-small" id="connected_146_onesize" data-filter="sizes=146_onesize">
							<label class="a-label js-a-label custom-box" for="connected_146_onesize"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_146_onesize">Onesize</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="6_xs/s">
							<input type="checkbox" class="a-checkbox is-small" id="connected_6_xs/s" data-filter="sizes=6_xs/s">
							<label class="a-label js-a-label custom-box" for="connected_6_xs/s"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_6_xs/s">Xs/s</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="10_s/54">
							<input type="checkbox" class="a-checkbox is-small" id="connected_10_s/54" data-filter="sizes=10_s/54">
							<label class="a-label js-a-label custom-box" for="connected_10_s/54"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_10_s/54">S/54</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="14_m/56">
							<input type="checkbox" class="a-checkbox is-small" id="connected_14_m/56" data-filter="sizes=14_m/56">
							<label class="a-label js-a-label custom-box" for="connected_14_m/56"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_14_m/56">M/56</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="16_m/l">
							<input type="checkbox" class="a-checkbox is-small" id="connected_16_m/l" data-filter="sizes=16_m/l">
							<label class="a-label js-a-label custom-box" for="connected_16_m/l"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_16_m/l">M/l</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="18_l/58">
							<input type="checkbox" class="a-checkbox is-small" id="connected_18_l/58" data-filter="sizes=18_l/58">
							<label class="a-label js-a-label custom-box" for="connected_18_l/58"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_18_l/58">L/58</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="560_35/36">
							<input type="checkbox" class="a-checkbox is-small" id="connected_560_35/36" data-filter="sizes=560_35/36">
							<label class="a-label js-a-label custom-box" for="connected_560_35/36"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_560_35/36">35/36</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="588_37/38">
							<input type="checkbox" class="a-checkbox is-small" id="connected_588_37/38" data-filter="sizes=588_37/38">
							<label class="a-label js-a-label custom-box" for="connected_588_37/38"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_588_37/38">37/38</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="613_39/40">
							<input type="checkbox" class="a-checkbox is-small" id="connected_613_39/40" data-filter="sizes=613_39/40">
							<label class="a-label js-a-label custom-box" for="connected_613_39/40"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_613_39/40">39/40</label>
						</span>
					</li>
					<li>
						<span class="m-checkbox u-clearfix is-small" id="638_41/42">
							<input type="checkbox" class="a-checkbox is-small" id="connected_638_41/42" data-filter="sizes=638_41/42">
							<label class="a-label js-a-label custom-box" for="connected_638_41/42"></label>
							<label class="a-label js-a-label" data-label="true" for="connected_638_41/42">41/42</label>
						</span>
					</li>
				</ul>

			</div>
		</div>
	</div>
</div>
<!-- //container_sizes -->