<!-- o-slider -->
<div data-component="OSlider"
     id="praOSlider"
     class="o-slider"
     data-multislide="false"
     data-num-slides="customized-pra"
     data-slide-width="200">
    <div class="redils">
        <div class="slide-cont">

            <!-- slides -->
            <div class="slides">
                <div class="o-product">
                    <a href="#none" target="_self" class="a-link">
                        <div class="image">
                            <div class="placeholder-wrapper">
<!--                                <img alt="Striped Cotton Jumper" class="a-image is-hidden Resolve" src="<%= pageInfo.root %>/images/temp/app006prod_pra1_2.jpg">-->
                                <img alt="Striped Cotton Jumper" class="a-image Resolve" src="<%= pageInfo.root %>/images/temp/app006prod_pra1_2.jpg">
                            </div>
                        </div>
                        <div class="description">
                            <div class="id">
                                <span class="i18n">Id</span>
                                <span></span>
                            </div>
                            <div class="product">
                                <span class="i18n">Product</span>
                                <span>면 잠바</span>
                            </div>
                            <div class="product-markers">
                                <div data-component="MProductMarkers" class="m-product-marker">
                                    <div class="marker-text">
                                        <span>Organic cotton</span>
                                    </div>
                                </div>
                            </div>
                            <div class="color">
                                <span class="i18n">Color</span>
                                <span></span>
                            </div>
                            <div class="price">
                                <span class="i18n">Price</span>
                                <div class="m-product-price">
                                    <span class="is-regular">99,000</span>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <!-- //slides -->

        </div>
    </div>
    <div class="redils-controls">
        <div class="arrow-area arrow-area-left">
            <button type="button" class="a-button-nostyle arrow"></button>
        </div>
        <div class="arrow-area arrow-area-right">
            <button type="button" class="a-button-nostyle arrow"></button>
        </div>
    </div>
    <div class="pagination"></div>
</div>
<!-- //o-slider -->

