<!-- pay-policy-bx -->
<div class="dft-bx line-bx pay-policy-bx">
    <p class="dft-bx-tit">채무지급 보증안내</p>
    <p class="desc-text">
        고객님의 안전거래를 위해 현금결제 시 우리은행과 <a href="#" class="a-link open-lightbox" data-template="" data-classes="is-large">채무지급보증 계약을 체결하여</a> 안전거래를 보장하고 있습니다.
        <a href="#" class="a-link a-link-udln open-lightbox" data-template="lp-service-join-confirm" data-classes="is-large" data-template="service-join-fact-confirm" data-classes="is-large">[서비스 가입사실 확인]</a>
    </p>
    <div class="pay-policy-agree">
        <span class="m-checkbox v2 u-clearfix" id="checkbox1">
            <input class="a-checkbox" type="checkbox" id="chck-order-info-agree">
            <label class="a-label js-a-label custom-box" for="chck-order-info-agree" tabindex="0"></label>
            <label class="a-label js-a-label" for="chck-order-info-agree">주문하실 상품의 상품명, 가격, 배송정보를 확인하였으며, 이에 동의합니다.</label>
        </span>
    </div>
</div>
<!-- //pay-policy-bx -->