<!-- pay-info-bx -->
<h2 class="a-heading-2">결제</h2>
<div class="dft-bx line-bx pay-info-bx">
    <div class="radio-button-list vertical">

        <!-- rd-toggle : 카드결제 -->
        <div class="m-radio-button v3">
            <input type="radio" class="a-radio-button rd-toggle" id="pay-way-radio1" name="pay-way-radio" data-toggle-target="rd-toggle-pay-credit">
            <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-radio1"></label>
            <label class="a-label js-a-label label-text" for="pay-way-radio1">카드결제</label>
        </div>
        <!-- rd-toggle-con -->
        <div class="rd-toggle-con rd-toggle-pay-credit is-hidden-strong" data-name="pay-way-radio">

            <div class="radio-button-list horizon line-bx">
                <div class="m-radio-button v3">
                    <input type="radio" class="a-radio-button rd-toggle" id="pay-way-credit-samsung" name="pay-way-credit" data-toggle-target="rd-toggle-credit-samsung">
                    <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-credit-samsung"></label>
                    <label class="a-label js-a-label label-text" for="pay-way-credit-samsung">삼성카드</label>
                </div>
                <div class="m-radio-button v3">
                    <input type="radio" class="a-radio-button rd-toggle" id="pay-way-credit-kb" name="pay-way-credit" data-toggle-target="rd-toggle-credit-kb">
                    <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-credit-kb"></label>
                    <label class="a-label js-a-label label-text" for="pay-way-credit-kb">KB국민카드</label>
                </div>
                <div class="m-radio-button v3">
                    <input type="radio" class="a-radio-button rd-toggle" id="pay-way-credit-hyundai" name="pay-way-credit" data-toggle-target="rd-toggle-credit-hyundai">
                    <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-credit-hyundai"></label>
                    <label class="a-label js-a-label label-text" for="pay-way-credit-hyundai">현대카드</label>
                </div>
                <div class="m-radio-button v3">
                    <input type="radio" class="a-radio-button rd-toggle" id="pay-way-credit-shinhan" name="pay-way-credit" data-toggle-target="rd-toggle-credit-shinhan">
                    <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-credit-shinhan"></label>
                    <label class="a-label js-a-label label-text" for="pay-way-credit-shinhan">신한카드</label>
                </div>
                <div class="m-radio-button v3">
                    <input type="radio" class="a-radio-button rd-toggle" id="pay-way-credit-bc" name="pay-way-credit" data-toggle-target="rd-toggle-credit-bc">
                    <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-credit-bc"></label>
                    <label class="a-label js-a-label label-text" for="pay-way-credit-bc">BC카드</label>
                </div>
                <div class="m-radio-button v3">
                    <input type="radio" class="a-radio-button rd-toggle" id="pay-way-credit-nh" name="pay-way-credit" data-toggle-target="rd-toggle-credit-nh">
                    <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-credit-nh"></label>
                    <label class="a-label js-a-label label-text" for="pay-way-credit-nh">NH농협카드</label>
                </div>
                <div class="m-radio-button v3">
                    <input type="radio" class="a-radio-button rd-toggle" id="pay-way-credit-keb" name="pay-way-credit" data-toggle-target="rd-toggle-credit-keb">
                    <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-credit-keb"></label>
                    <label class="a-label js-a-label label-text" for="pay-way-credit-keb">KEB하나카드</label>
                </div>
                <div class="m-radio-button v3">
                    <input type="radio" class="a-radio-button rd-toggle" id="pay-way-credit-lotte" name="pay-way-credit" data-toggle-target="rd-toggle-credit-lotte">
                    <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-credit-lotte"></label>
                    <label class="a-label js-a-label label-text" for="pay-way-credit-lotte">롯데카드</label>
                </div>
                <div class="m-radio-button v3">
                    <input type="radio" class="a-radio-button rd-toggle" id="pay-way-credit-kakao" name="pay-way-credit" data-toggle-target="rd-toggle-credit-kakao">
                    <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-credit-kakao"></label>
                    <label class="a-label js-a-label label-text" for="pay-way-credit-kakao">카카오뱅크</label>
                </div>
                <div class="m-radio-button v3">
                    <input type="radio" class="a-radio-button rd-toggle" id="pay-way-credit-kbank" name="pay-way-credit" data-toggle-target="rd-toggle-credit-kbank">
                    <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-credit-kbank"></label>
                    <label class="a-label js-a-label label-text" for="pay-way-credit-kbank">케이뱅크카드</label>
                </div>
                <div class="m-radio-button v3">
                    <input type="radio" class="a-radio-button rd-toggle" id="pay-way-credit-hpoint" name="pay-way-credit" data-toggle-target="rd-toggle-credit-hpoint">
                    <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-credit-hpoint"></label>
                    <label class="a-label js-a-label label-text" for="pay-way-credit-hpoint">H.Point KB국민카드</label>
                </div>
            </div>

            <!-- rd-toggle-con -->
            <div class="rd-toggle-con depth2 rd-toggle-credit-samsung is-hidden-strong" data-name="pay-way-credit">
                <div class="line-bx">
                    <!--<p class="guide-text">[삼성카드 결제시 <span class="fc-point2">5%</span> 할인으로 <span class="fc-point2">3,310원</span> 청구 예정]</p>-->
                    <div class="monthly-plan-bx justify-bx">
                        <span>할부선택</span>
                        <div class="m-dropdown v3">
                            <label class="a-label js-a-label" for=""></label>
                            <select name="selectSize" id="select-monthly-plan">
                                <option class="a-option">일시불</option>
                            </select>
                            <span class="a-icon-accordion a-icon-arrow-down-small"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //rd-toggle-con -->

            <!-- rd-toggle-con -->
            <div class="rd-toggle-con depth2 rd-toggle-credit-hyundai is-hidden-strong" data-name="pay-way-credit">
                <div class="line-bx">
                    <div class="monthly-plan-bx justify-bx">
                        <span>할부선택</span>
                        <div class="m-dropdown v3">
                            <label class="a-label js-a-label" for=""></label>
                            <select name="selectSize" id="select-monthly-plan">
                                <option class="a-option">일시불</option>
                            </select>
                            <span class="a-icon-accordion a-icon-arrow-down-small"></span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- //rd-toggle-con -->

            <!-- rd-toggle-con -->
            <div class="rd-toggle-con depth2 rd-toggle-credit-bc is-hidden-strong" data-name="pay-way-credit">
                <div class="line-bx">
                    <p class="tit-text">BC카드종류</p>
                    <p class="desc-text">교보증권, 유진투자증권, 미래에셋증권, 유안타증권, DB금융투자, SK증권, NH투자증권, 코나카드,토스카드, 산림조합, 한국투자증권, 은행카드</p>
                </div>
            </div>
            <!-- //rd-toggle-con -->

            <!-- rd-toggle-con -->
            <div class="rd-toggle-con depth2 rd-toggle-credit-hpoint is-hidden-strong" data-name="pay-way-credit">
                <div class="line-bx">
                    <p class="tit-text">H.Point 추가적립</p>
                    <p class="guide-text">결제금액 최대 1.5% H.Point 추가적립(기본적립율 포함 최대 1.65% 적립)<br>카드대금 결제일 다음주 첫 영업일 적립</p>
                </div>
            </div>
            <!-- //rd-toggle-con -->

        </div>
        <!-- //rd-toggle-con -->
        <!-- //rd-toggle : 카드결제 -->

        <!-- rd-toggle : 무통장입금 -->
        <div class="m-radio-button v3">
            <input type="radio" class="a-radio-button rd-toggle" id="pay-way-radio2" name="pay-way-radio" data-toggle-target="rd-toggle-pay-deposit">
            <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-radio2"></label>
            <label class="a-label js-a-label label-text" for="pay-way-radio2">무통장입금</label>
        </div>
        <!-- rd-toggle-con -->
        <div class="rd-toggle-con rd-toggle-pay-deposit is-hidden-strong" data-name="pay-way-radio">

            <div class="radio-button-list horizon line-bx">
                <div class="m-radio-button v3">
                    <input type="radio" class="a-radio-button" id="pay-way-deposit-nh" name="pay-way-deposit">
                    <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-deposit-nh"></label>
                    <label class="a-label js-a-label label-text" for="pay-way-deposit-nh">NH농협</label>
                </div>
                <div class="m-radio-button v3">
                    <input type="radio" class="a-radio-button" id="pay-way-deposit-kb" name="pay-way-deposit">
                    <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-deposit-kb"></label>
                    <label class="a-label js-a-label label-text" for="pay-way-deposit-kb">KB국민</label>
                </div>
                <div class="m-radio-button v3">
                    <input type="radio" class="a-radio-button" id="pay-way-deposit-woori" name="pay-way-deposit">
                    <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-deposit-woori"></label>
                    <label class="a-label js-a-label label-text" for="pay-way-deposit-woori">우리</label>
                </div>
                <div class="m-radio-button v3">
                    <input type="radio" class="a-radio-button" id="pay-way-deposit-shinhan" name="pay-way-deposit">
                    <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-deposit-shinhan"></label>
                    <label class="a-label js-a-label label-text" for="pay-way-deposit-shinhan">신한</label>
                </div>
                <div class="m-radio-button v3">
                    <input type="radio" class="a-radio-button" id="pay-way-deposit-ibk" name="pay-way-deposit">
                    <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-deposit-ibk"></label>
                    <label class="a-label js-a-label label-text" for="pay-way-deposit-ibk">IBK기업</label>
                </div>
                <div class="m-radio-button v3">
                    <input type="radio" class="a-radio-button" id="pay-way-deposit-daegu" name="pay-way-deposit">
                    <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-deposit-daegu"></label>
                    <label class="a-label js-a-label label-text" for="pay-way-deposit-daegu">대구</label>
                </div>
                <div class="m-radio-button v3">
                    <input type="radio" class="a-radio-button" id="pay-way-deposit-busan" name="pay-way-deposit">
                    <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-deposit-busan"></label>
                    <label class="a-label js-a-label label-text" for="pay-way-deposit-busan">부산</label>
                </div>
                <div class="m-radio-button v3">
                    <input type="radio" class="a-radio-button" id="pay-way-deposit-post" name="pay-way-deposit">
                    <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-deposit-post"></label>
                    <label class="a-label js-a-label label-text" for="pay-way-deposit-post">우체국</label>
                </div>
                <div class="m-radio-button v3">
                    <input type="radio" class="a-radio-button" id="pay-way-deposit-keb" name="pay-way-deposit">
                    <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-deposit-keb"></label>
                    <label class="a-label js-a-label label-text" for="pay-way-deposit-keb">KEB하나</label>
                </div>
                <div class="m-radio-button v3">
                    <input type="radio" class="a-radio-button" id="pay-way-deposit-kyungnam" name="pay-way-deposit">
                    <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-deposit-kyungnam"></label>
                    <label class="a-label js-a-label label-text" for="pay-way-deposit-kyungnam">경남</label>
                </div>
            </div>

            <div class="rd-toggle-con depth2">
                <div class="line-bx">
                    <p class="tit-text">입금자명</p>
                    <div class="m-input v3" data-component="MInput">
                        <input class="a-input js-a-input v3"
                               type="text"
                               name="deposit-sender"
                               id="deposit-sender"
                               value="홍길동">
                        <label class="a-label js-a-label" for="delivery-requset-msg" data-placeholder=""></label>
                    </div>
                    <p class="desc-text">무통장입금 정보는 결제 시 보여집니다.</p>
                    <p class="desc-text">무통장입금계좌번호는 주문접수 후 즉 시 주문하시는 분의 휴대폰번호와 이메일로 자동 발송됩니다.</p>
                </div>
            </div>

            <%# 현금영수증 %>
            <%- include ("md-rd-toggle-con-cash-receipt.ejs") %>

        </div>
        <!-- //rd-toggle-con-->
        <!-- //rd-toggle : 무통장입금 -->

        <!-- rd-toggle : 무통장입금(전용계좌번호) -->
        <div class="m-radio-button v3">
            <input type="radio" class="a-radio-button rd-toggle" id="pay-way-radio2-1" name="pay-way-radio" data-toggle-target="rd-toggle-pay-deposit-private">
            <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-radio2-1"></label>
            <label class="a-label js-a-label label-text" for="pay-way-radio2-1">무통장입금</label>
        </div>
        <!-- rd-toggle-con -->
        <div class="rd-toggle-con rd-toggle-pay-deposit-private is-hidden-strong" data-name="pay-way-radio">
            <div class="rd-toggle-con depth2">
                <div class="line-bx">
                    <p class="desc-text">전용계좌 변경은 마이페이지에서 변경 가능합니다</p>
                    <div class="flex-bx">
                        <span class="tit-text">입금금액</span>
                        <span class="price-won">12,960,652</span>
                    </div>
                    <div class="flex-bx">
                        <span class="tit-text">입금은행</span>
                        <span>NH농협 <br class="only-m">2560-2890-2310-5</span>
                    </div>
                    <div class="flex-bx">
                        <span class="tit-text">입금자명</span>
                        <span>홍길동</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- //rd-toggle-con -->
        <!-- //rd-toggle : 무통장입금(전용계좌번호) -->

        <!-- rd-toggle : 실시간계좌이체 -->
        <div class="m-radio-button v3">
            <input type="radio" class="a-radio-button rd-toggle" id="pay-way-radio3" name="pay-way-radio" data-toggle-target="rd-toggle-pay-account-transfer">
            <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-radio3"></label>
            <label class="a-label js-a-label label-text" for="pay-way-radio3">실시간 계좌이체</label>
        </div>
        <!-- rd-toggle-con -->
        <div class="rd-toggle-con rd-toggle-pay-account-transfer is-hidden-strong" data-name="pay-way-radio">
            <div class="rd-toggle-con depth2">
                <div class="line-bx">
                    <div class="justify-bx">
                        <span class="tit-text">결제금액</span>
                        <span class="price-won">12,960,652</span>
                    </div>
                    <p class="desc-text">폰뱅킹, 인터넷 뱅킹에 가입하신 고객만 사용 가능합니다. 계좌이체 수수료는 더현대에서 부담합니다.</p>
                    <p class="desc-text">[결제하기] 버튼을 선택하시면 온라인 계좌이체 화면으로 연결되어 결제를 진행할 수 있습니다.</p>
                </div>
            </div>
            <%# 현금영수증 %>
            <%- include ("md-rd-toggle-con-cash-receipt-account.ejs") %>
        </div>
        <!-- //rd-toggle-con -->
        <!-- //rd-toggle : 실시간계좌이체 -->

        <!-- rd-toggle : 휴대폰결제 -->
        <div class="m-radio-button v3">
            <input type="radio" class="a-radio-button rd-toggle" id="pay-way-radio4" name="pay-way-radio" data-toggle-target="rd-toggle-pay-mobile">
            <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-radio4"></label>
            <label class="a-label js-a-label label-text" for="pay-way-radio4">휴대폰결제</label>
        </div>
        <!-- rd-toggle-con -->
        <div class="rd-toggle-con rd-toggle-pay-mobile is-hidden-strong" data-name="pay-way-radio">
            <div class="rd-toggle-con depth2">
                <div class="line-bx">
                    <div class="justify-bx">
                        <span class="tit-text">결제금액</span>
                        <span class="price-won">12,960,652</span>
                    </div>
                    <p class="desc-text">휴대폰으로 결제하신 금액은 다음달 휴대폰 요금에 함께 청구됩니다.<br>(한도: 이동통신사 및 개인마다 다름)</p>
                </div>
            </div>
        </div>
        <!-- //rd-toggle-con -->
        <!-- //rd-toggle : 휴대폰결제 -->

        <!-- rd-toggle : 네이버페이 -->
        <div class="m-radio-button v3">
            <input type="radio" class="a-radio-button rd-toggle" id="pay-way-radio5" name="pay-way-radio" data-toggle-target="rd-toggle-pay-naverpay">
            <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-radio5"></label>
            <label class="a-label js-a-label label-text" for="pay-way-radio5">네이버페이</label>
        </div>
        <!-- rd-toggle-con -->
        <div class="rd-toggle-con rd-toggle-pay-naverpay is-hidden-strong" data-name="pay-way-radio">
            <div class="rd-toggle-con depth2">
                <div class="line-bx">
                    <div class="justify-bx">
                        <span class="tit-text">결제금액</span>
                        <span class="price-won">12,960,652</span>
                    </div>
                    <p class="desc-text">주문 변경 시 카드사 혜택 및 할부 적용 여부는 해당 카드사 정책에 따라 변경될 수 있습니다.</p>
                    <p class="desc-text">네이버페이는 네이버ID로 별도 앱 설치 없이 신용카드 또는 은행계좌정보를 등록 하여 네이버페이 비밀번호로 결제할 수 있는 간편결제 서비스입니다.</p>
                    <p class="desc-text">결제 가능한 신용카드: 신한, 삼성, 현대, BC, 국민, 하나, 롯데, NH농협, 씨티, 카카오뱅크</p>
                    <p class="desc-text">결제 가능한 은행: NH농협, 국민, 신한, 우리, 기업, SC제일, 부산, 경남, 수협, 우체국, 미래에셋대우, 광주, 대구, 전북, 새마을금고, 제주은행, 신협, 하나은행, 케이뱅크, 카카오뱅크, 삼성증권, KDB 산업은행, 씨티은행, SBI은행, 유안타증권, 유진투자증권</p>
                    <p class="desc-text">네이버페이 카드 간편결제는 네이버페이에서 제공하는 카드사 별 무이자, 청구할인 혜택을 받을 수 있습니다.</p>
                </div>
            </div>
        </div>
        <!-- //rd-toggle-con-->
        <!-- //rd-toggle : 네이버페이 -->

        <!--
        <div class="m-radio-button v3">
            <input type="radio" class="a-radio-button" id="pay-way-radio6" name="pay-way-radio">
            <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-radio6"></label>
            <label class="a-label js-a-label label-text" for="pay-way-radio6">페이코</label>
        </div>
        <div class="m-radio-button v3">
            <input type="radio" class="a-radio-button" id="pay-way-radio7" name="pay-way-radio">
            <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-radio7"></label>
            <label class="a-label js-a-label label-text" for="pay-way-radio7">토스</label>
        </div>
        -->
    </div>
</div>

<!-- rd-toggle-con -->
<div class="dft-bx line-bx pay-info-bx rd-toggle-con rd-toggle-pay-deposit-private is-hidden-strong" data-name="pay-way-radio">
    <%# 현금영수증 %>
    <%- include ("md-rd-toggle-con-cash-receipt2.ejs") %>
</div>
<!-- //pay-info-bx -->

<!-- rd-toggle-con -->
<div class="dft-bx line-bx pay-info-bx rd-toggle-con rd-toggle-pay-account-transfer is-hidden-strong" data-name="pay-way-radio">
    <%# 현금영수증 %>
    <%- include ("md-rd-toggle-con-cash-receipt3.ejs") %>
</div>
<!-- //pay-info-bx -->