<!-- rd-toggle-con : depth2 -->
<div class="rd-toggle-con depth2">
    <div class="line-bx">
        <div class="tit-text">현금영수증 신청</div>
        <div class="radio-button-list horizon">
            <div class="m-radio-button v3">
                <input type="radio" class="a-radio-button rd-toggle" id="pay-way-cash-receipt-1" name="pay-way-cash-receipt" data-toggle-target="rd-toggle-cash-receipt-1">
                <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-cash-receipt-1"></label>
                <label class="a-label js-a-label label-text" for="pay-way-cash-receipt-1">소득공제용</label>
            </div>
            <div class="m-radio-button v3">
                <input type="radio" class="a-radio-button rd-toggle" id="pay-way-cash-receipt-2" name="pay-way-cash-receipt" data-toggle-target="rd-toggle-cash-receipt-2">
                <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-cash-receipt-2"></label>
                <label class="a-label js-a-label label-text" for="pay-way-cash-receipt-2">지출증빙용</label>
            </div>
            <div class="m-radio-button v3">
                <input type="radio" class="a-radio-button rd-toggle" id="pay-way-cash-receipt-3" name="pay-way-cash-receipt" checked>
                <label class="a-label js-a-label u-no-select custom-radio" for="pay-way-cash-receipt-3"></label>
                <label class="a-label js-a-label label-text" for="pay-way-cash-receipt-3">신청안함</label>
            </div>
        </div>

        <!-- rd-toggle-con -->
        <div class="rd-toggle-con depth3 rd-toggle-cash-receipt-1 is-hidden-strong" data-name="pay-way-cash-receipt">
            <div class="m-input v3" data-component="MInput">
                <label class="a-label js-a-label" for="cash-receipt-phone">휴대폰 번호</label>
                <input class="a-input js-a-input"
                       placeholder="휴대폰 번호"
                       type="tel"
                       name="cash-receipt-phone"
                       id="cash-receipt-phone"
                       pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                       data-validation-required-text="휴대폰 번호을 입력하세요."
                       data-validation-pattern-text="올바른 전화번호 형식이 아닙니다.">
                <label class="a-label js-a-label" for="cash-receipt-phone" data-placeholder=""></label>
            </div>
        </div>
        <!-- //rd-toggle-con -->

        <!-- rd-toggle-con -->
        <div class="rd-toggle-con depth3 rd-toggle-cash-receipt-2 is-hidden-strong" data-name="pay-way-cash-receipt">
            <div class="m-input v3" data-component="MInput">
                <label class="a-label js-a-label" for="cash-receipt-biznum">사업자등록번호</label>
                <input class="a-input js-a-input"
                       placeholder="사업자등록번호"
                       type="tel"
                       name="cash-receipt-biznum"
                       id="cash-receipt-biznum"
                       pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
                       data-validation-required-text="사업자등록번호을 입력하세요."
                       data-validation-pattern-text="올바른 사업자등록번호 형식이 아닙니다.">
                <label class="a-label js-a-label" for="cash-receipt-biznum" data-placeholder=""></label>
            </div>
        </div>
        <!-- //rd-toggle-con -->

    </div>
</div>
<!-- rd-toggle-con : depth2 -->