<!--  size guide-men-jeans -->

<!-- information -->
<div class="freeHTML-sizeguide-information">
    <p>측정 방법</p>
    <table class="freeHTML-sizeguide-information-text">
        <tbody>
        <tr>
            <th>허리둘레</th>
            <td>허리의 가장 얇은 부분을 측정합니다.</td>
        </tr>
        <tr>
            <th>엉덩이둘레</th>
            <td>엉덩이의 가장 넓은 부분을 측정합니다.</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- //information -->

<!-- chart -->
<div class="freeHTML-sizeguide-chart">
    <p class="freeHTML-sizeguide-chartTitle">사이즈 차트</p>

    <table class="freeHTML-sizeguide-chart-titles">
        <thead>
        <tr>
            <th><span>사이즈</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>허리둘레(cm)</td>
        </tr>
        <tr>
            <td>엉덩이둘레(cm)</td>
        </tr>
        </tbody>
    </table>
    <div class="freeHTML-sizeguide-overflow">
        <table class="freeHTML-sizeguide-chart-sizes">
            <thead>
            <tr>
                <th><span>28</span></th>
                <th><span>29</span></th>
                <th><span>30</span></th>
                <th><span>31</span></th>
                <th><span>32</span></th>
                <th><span>33</span></th>
                <th><span>34</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>73.5</td>
                <td>76</td>
                <td>78.5</td>
                <td>81</td>
                <td>83.5</td>
                <td>86</td>
                <td>88.5</td>
            </tr>
            <tr>
                <td>89.5</td>
                <td>92</td>
                <td>94.5</td>
                <td>97</td>
                <td>99.5</td>
                <td>102</td>
                <td>104.5</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- //chart -->

<!-- chart -->
<div class="freeHTML-sizeguide-chart">
    <p class="freeHTML-sizeguide-chartTitle">사이즈 변환</p>

    <table class="freeHTML-sizeguide-chart-titles">
        <thead>
        <tr>
            <th><span>사이즈</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>S-L</td>
        </tr>
        <tr>
            <td>EUR</td>
        </tr>
        </tbody>
    </table>
    <div class="freeHTML-sizeguide-overflow">
        <table class="freeHTML-sizeguide-chart-sizes">
            <thead>
            <tr>
                <th><span>28</span></th>
                <th><span>29</span></th>
                <th><span>30</span></th>
                <th><span>31</span></th>
                <th><span>32</span></th>
                <th><span>33</span></th>
                <th><span>34</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>S</td>
                <td>S</td>
                <td>S</td>
                <td>M</td>
                <td>M</td>
                <td>M</td>
                <td>L</td>
            </tr>
            <tr>
                <td>46</td>
                <td>46</td>
                <td>48</td>
                <td>48</td>
                <td>50</td>
                <td>50</td>
                <td>52</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- //chart -->

<!--  //size guide-men-jeans -->