<!--  size guide-men-swimwear-trunks -->

<!-- information -->
<div class="freeHTML-sizeguide-information">
    <p>측정 방법</p>
    <table class="freeHTML-sizeguide-information-text">
        <tbody>
        <tr>
            <th>허리둘레</th>
            <td>허리의 가장 얇은 부분을 측정합니다.</td>
        </tr>
        <tr>
            <th>엉덩이둘레</th>
            <td>엉덩이의 가장 넓은 부분을 측정합니다.</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- //information -->

<!-- chart -->
<div class="freeHTML-sizeguide-chart">
    <p class="freeHTML-sizeguide-chartTitle">사이즈 차트</p>

    <input class="freeHTML-sizeguide-inputInch" type="radio" name="rd-sizeguide-men-swimtrunks">
    <span class="freeHTML-sizeguide-titleInch">inch</span>
    <input class="freeHTML-sizeguide-inputCm" type="radio" name="rd-sizeguide-men-swimtrunks" checked="checked">
    <span class="freeHTML-sizeguide-titleCm">cm</span>

    <table class="freeHTML-sizeguide-chart-titles">
        <thead>
        <tr>
            <th><span>사이즈</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>EUR</td>
        </tr>
        <tr>
            <td>UK</td>
        </tr>
        <tr>
            <td>Extended</td>
        </tr>
        <tr>
            <td>Relaxed</td>
        </tr>
        </tbody>
    </table>
    <div class="freeHTML-sizeguide-overflow freeHTML-is-cm">
        <table class="freeHTML-sizeguide-chart-sizes">
            <thead>
            <tr>
                <th><span>XS</span></th>
                <th><span>S</span></th>
                <th><span>M</span></th>
                <th><span>L</span></th>
                <th><span>XL</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>42</td>
                <td>44-46</td>
                <td>48-50</td>
                <td>52-54</td>
                <td>56-58</td>
            </tr>
            <tr>
                <td>28R</td>
                <td>30R-32R</td>
                <td>33R-34R</td>
                <td>36R-38R</td>
                <td>40R-42R</td>
            </tr>
            <tr>
                <td>91</td>
                <td>99</td>
                <td>107</td>
                <td>115</td>
                <td>123</td>
            </tr>
            <tr>
                <td>58</td>
                <td>66</td>
                <td>74</td>
                <td>82</td>
                <td>90</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="freeHTML-sizeguide-overflow freeHTML-is-inch">
        <table class="freeHTML-sizeguide-chart-sizes">
            <thead>
            <tr>
                <th><span>XS</span></th>
                <th><span>S</span></th>
                <th><span>M</span></th>
                <th><span>L</span></th>
                <th><span>XL</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>42</td>
                <td>44-46</td>
                <td>48-50</td>
                <td>52-54</td>
                <td>56-58</td>
            </tr>
            <tr>
                <td>28R</td>
                <td>30R-32R</td>
                <td>33R-34R</td>
                <td>36R-38R</td>
                <td>40R-42R</td>
            </tr>
            <tr>
                <td>35.8</td>
                <td>39</td>
                <td>42.1</td>
                <td>45.25</td>
                <td>48.4</td>
            </tr>
            <tr>
                <td>21.25</td>
                <td>26</td>
                <td>29.1</td>
                <td>32.25</td>
                <td>35.4</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- //chart -->

<!--  //size guide-men-swimwear-trunks -->