<!--  size guide-women-hats -->

<!-- information -->
<div class="freeHTML-sizeguide-information">
    <p>측정 방법</p>
    <table class="freeHTML-sizeguide-information-text">
        <tbody>
        <tr>
            <th>머리<br class="only-m">둘레</th>
            <td>머리가 가장 나온 부분의 둘레를 측정합니다.</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- //information -->

<!-- chart -->
<div class="freeHTML-sizeguide-chart">
    <p class="freeHTML-sizeguide-chartTitle">사이즈 차트</p>

    <input class="freeHTML-sizeguide-inputInch" type="radio" name="rd-sizeguide-women-hats">
    <span class="freeHTML-sizeguide-titleInch">inch</span>
    <input class="freeHTML-sizeguide-inputCm" type="radio" name="rd-sizeguide-women-hats" checked="checked">
    <span class="freeHTML-sizeguide-titleCm">cm</span>

    <table class="freeHTML-sizeguide-chart-titles">
        <thead>
        <tr>
            <th><span>크기</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>머리 둘레</td>
        </tr>
        </tbody>
    </table>
    <div class="freeHTML-sizeguide-overflow freeHTML-is-cm">
        <table class="freeHTML-sizeguide-chart-sizes">
            <thead>
            <tr>
                <th><span>S</span></th>
                <th><span>M</span></th>
                <th><span>L</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>54</td>
                <td>56</td>
                <td>58</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="freeHTML-sizeguide-overflow freeHTML-is-inch">
        <table class="freeHTML-sizeguide-chart-sizes">
            <thead>
            <tr>
                <th><span>S</span></th>
                <th><span>M</span></th>
                <th><span>L</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>21.3</td>
                <td>22</td>
                <td>22.8</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- //chart -->

<!--  //size guide-women-hats -->