<!--  size guide-women-jeans -->

<!-- information -->
<div class="freeHTML-sizeguide-information">
    <p>측정 방법</p>
    <table class="freeHTML-sizeguide-information-text">
        <tbody>
        <tr>
            <th>허리둘레</th>
            <td>허리둘레에서 가장 얇은 부분을 측정하세요.</td>
        </tr>
        <tr>
            <th>엉덩이<br class="only-m">둘레</th>
            <td>엉덩이의 가장 넓은 부분을 측정 하세요.</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- //information -->

<!-- chart -->
<div class="freeHTML-sizeguide-chart">
    <p class="freeHTML-sizeguide-chartTitle">사이즈 변환</p>

    <table class="freeHTML-sizeguide-chart-titles">
        <thead>
        <tr>
            <th><span>사이즈</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>허리둘레(cm)</td>
        </tr>
        <tr>
            <td>엉덩이둘레(cm)</td>
        </tr>
        </tbody>
    </table>
    <div class="freeHTML-sizeguide-overflow">
        <table class="freeHTML-sizeguide-chart-sizes">
            <thead>
            <tr>
                <th><span>25</span></th>
                <th><span>26</span></th>
                <th><span>27</span></th>
                <th><span>28</span></th>
                <th><span>29</span></th>
                <th><span>30</span></th>
                <th><span>31</span></th>
                <th><span>32</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>64.5</td>
                <td>67</td>
                <td>69.5</td>
                <td>72</td>
                <td>74.5</td>
                <td>77</td>
                <td>79.5</td>
                <td>82</td>
            </tr>
            <tr>
                <td>88.5</td>
                <td>91</td>
                <td>93.5</td>
                <td>96</td>
                <td>98.5</td>
                <td>101</td>
                <td>103.5</td>
                <td>106</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- //chart -->

<!-- chart -->
<div class="freeHTML-sizeguide-chart">
    <p class="freeHTML-sizeguide-chartTitle">크기 변환</p>

    <table class="freeHTML-sizeguide-chart-titles">
        <thead>
        <tr>
            <th><span>사이즈</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>XS-L</td>
        </tr>
        <tr>
            <td>EUR</td>
        </tr>
        </tbody>
    </table>
    <div class="freeHTML-sizeguide-overflow">
        <table class="freeHTML-sizeguide-chart-sizes">
            <thead>
            <tr>
                <th><span>25</span></th>
                <th><span>26</span></th>
                <th><span>27</span></th>
                <th><span>28</span></th>
                <th><span>29</span></th>
                <th><span>30</span></th>
                <th><span>31</span></th>
                <th><span>32</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>XS</td>
                <td>S</td>
                <td>S</td>
                <td>S</td>
                <td>M</td>
                <td>M</td>
                <td>M</td>
                <td>L</td>
            </tr>
            <tr>
                <td>34</td>
                <td>36</td>
                <td>36</td>
                <td>38</td>
                <td>38</td>
                <td>40</td>
                <td>42</td>
                <td>42</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- //chart -->

<!--  //size guide-women-jeans -->