<!-- md-secondary-navigation -->
<nav class="secondary-navigation">
    <button type="button" class="a-button-nostyle search-icon a-icon" aria-label="search">
        <div class="a-icon-container">
            <span class="s1"></span>
            <span class="s2"></span>
        </div>
    </button>
    <span class="btn-pt-prev" href="#" onclick="javascript:historyBack();"></span>
    <div class="my-account-block">
        <a href="/<%= pageInfo.lang %>/my-account/profile" target="_self" id="myAccountLink" style="display:none;" class="a-link my-account-icon" area-hidden="true" aria-label="My account">
            <span class="a-icon-profile"></span>
        </a>
        <button type="button" class="a-button-nostyle my-account-icon tooltip-trigger" area-hidden="false" aria-label="My account">
            <span class="a-icon-profile"></span>
        </button>
        <div class="my-account-section tooltip-content" aria-hidden="true" aria-expanded="false">

            <!-- myshop-info-layer -->
            <div class="myshop-info-layer no-login">
                <h4 class="js-login-area">로그인하세요.</h4>
                <h4 class="js-logout-area">마이현대</h4>
                <ul class="js-logout-area link-ul">
                    <li>
                        <a href="#none">
                            주문배송<i class="ic-gnb arrow"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#none">
                            나의찜<i class="ic-gnb arrow"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#none">
                            로그아웃<i class="ic-gnb arrow"></i>
                        </a>
                    </li>
                </ul>
                <div class="cont">
                    <div class="grade">
                        <span class="hd-grade xsm g-" id="gradeSpan"></span>
                        <p id="gradeP">패밀리<br>등급</p>
                    </div>
                    <table>
                        <tbody>
                        <tr>
                            <th>
                                <a href="https://www.thehyundai.com/front/mpe/selectCopnList.thd">
                                    쿠폰<i class="ic-gnb arrow"></i>
                                </a>
                            </th>
                            <td>
                                <a href="https://www.thehyundai.com/front/mpe/selectCopnList.thd" id="cuponDiv">
                                    10장 <i class="ic-gnb arrow"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <a href="https://www.thehyundai.com/front/mpe/selectHPntTabPage.thd">
                                    더머니<i class="ic-gnb arrow"></i>
                                </a>
                            </th>
                            <td>
                                <a href="https://www.thehyundai.com/front/mpe/selectHPntTabPage.thd" id="theMoneyDiv">
                                    5,000원 <i class="ic-gnb arrow"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <a href="https://www.thehyundai.com/front/mpe/selectCdpstTabPage.thd">
                                    예치금<i class="ic-gnb arrow"></i>
                                </a>
                            </th>
                            <td>
                                <a href="https://www.thehyundai.com/front/mpe/selectCdpstTabPage.thd" id="saveMoneyDiv">
                                    10,000원 <i class="ic-gnb arrow"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <a href="https://www.thehyundai.com/front/ccd/selectCnslOrdReqDtl.thd">
                                    1:1 문의내역<i class="ic-gnb arrow"></i>
                                </a>
                            </th>
                            <td>
                                <a href="https://www.thehyundai.com/front/ccd/selectCnslOrdReqDtl.thd" id="counselDiv">
                                    100건 <i class="ic-gnb arrow"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="bottom-menu">
                    <a href="https://www.thehyundai.com/front/mpc/sltdItemList.thd">찜 리스트
                        <i class="ic-gnb arrow"></i>
                    </a>
                </div>
            </div>
            <!-- //myshop-info-layer -->

            <!-- myshop-info-layer -->
            <div class="myshop-info-layer" style="display:none;">
                <h4 class="js-login-area">로그인하세요.</h4>
                <h4 class="js-logout-area">마이현대</h4>
                <ul class="js-logout-area link-ul">
                    <li>
                        <a href="#none">
                            주문배송<i class="ic-gnb arrow"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#none">
                            나의찜<i class="ic-gnb arrow"></i>
                        </a>
                    </li>
                    <li>
                        <a href="#none">
                            로그아웃<i class="ic-gnb arrow"></i>
                        </a>
                    </li>
                </ul>
                <div class="cont">
                    <div class="grade">
                        <span class="hd-grade xsm g-" id="gradeSpan"></span>
                        <p id="gradeP">패밀리<br>등급</p>
                    </div>
                    <table>
                        <tbody>
                        <tr>
                            <th>
                                <a href="https://www.thehyundai.com/front/mpe/selectCopnList.thd">
                                    쿠폰<i class="ic-gnb arrow"></i>
                                </a>
                            </th>
                            <td>
                                <a href="https://www.thehyundai.com/front/mpe/selectCopnList.thd" id="cuponDiv">
                                    10장 <i class="ic-gnb arrow"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <a href="https://www.thehyundai.com/front/mpe/selectHPntTabPage.thd">
                                    더머니<i class="ic-gnb arrow"></i>
                                </a>
                            </th>
                            <td>
                                <a href="https://www.thehyundai.com/front/mpe/selectHPntTabPage.thd" id="theMoneyDiv">
                                    5,000원 <i class="ic-gnb arrow"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <a href="https://www.thehyundai.com/front/mpe/selectCdpstTabPage.thd">
                                    예치금<i class="ic-gnb arrow"></i>
                                </a>
                            </th>
                            <td>
                                <a href="https://www.thehyundai.com/front/mpe/selectCdpstTabPage.thd" id="saveMoneyDiv">
                                    10,000원 <i class="ic-gnb arrow"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <th>
                                <a href="https://www.thehyundai.com/front/ccd/selectCnslOrdReqDtl.thd">
                                    1:1 문의내역<i class="ic-gnb arrow"></i>
                                </a>
                            </th>
                            <td>
                                <a href="https://www.thehyundai.com/front/ccd/selectCnslOrdReqDtl.thd" id="counselDiv">
                                    100건 <i class="ic-gnb arrow"></i>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div class="bottom-menu js-login-area">
                    <a href="https://www.thehyundai.com/front/mpc/sltdItemList.thd">찜 리스트
                        <i class="ic-gnb arrow"></i></a>
                </div><!-- //2016-07-18 찜리스트 추가 --></div>
            <!-- //myshop-info-layer -->

        </div>
    </div>

    <div class="information-block">
        <button type="button" class="a-button-nostyle info-icon tooltip-trigger" aria-label="information">
            <span class="a-custom-icon-question">?</span>
        </button>
    </div>

    <a href="/<%= pageInfo.lang %>/cart" target="_self" class="a-link a-bag-icon-container" aria-label="cart">
        <span class="a-bag-icon js-a-bag-icon animate">
            <span class="wrapper">
                <span class="handle"></span>
                <span class="quantity"></span>
            </span>
        </span>
    </a>

    <button type="button" class="a-button-nostyle a-burger js-a-burger animate" aria-label="menu">
        <span class="line-wrapper">
            <span class="line"></span>
            <span class="line"></span>
            <span class="line"></span>
        </span>
    </button>
</nav>
<!-- //md-secondary-navigation -->
