<!--  size guide-women-underwear -->

<!-- information -->
<div class="freeHTML-sizeguide-information">
    <p>측정 방법</p>
    <table class="freeHTML-sizeguide-information-text">
        <tbody>
        <tr>
            <th class="only-pc"></th>
            <td>아래 가슴(밴드 사이즈) 가슴 바로 밑 부분을 측정하세요. 줄자를 꼭 붙이되 너무 꽉 조이지 않도록 하고, 뒷면을 똑바로 가로질렀는지 확인합니다.</td>
        </tr>
        <tr>
            <th class="only-pc"></th>
            <td>센티미터의 경우 아래 가슴의 측정값을 가장  가까운 짝수로 반올림합니다.</td>
        </tr>
        <tr>
            <th class="only-pc"></th>
            <td>인치의 경우 아래 가슴의 측정값이 홀수이면 5인치를 추가하고 짝수이면 6인치를 추가합니다.</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- //information -->

<!-- chart -->
<div class="freeHTML-sizeguide-chart">
    <p class="freeHTML-sizeguide-chartTitle">와이어 브래지어 사이즈 차트</p>
    <div class="freeHTML-sizeguide-chart-gridContainer">
        <table class="freeHTML-sizeguide-chart-grid">
            <tbody>
            <tr>
                <td>A</td>
                <td>75</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>B</td>
                <td>75</td>
                <td>80</td>
            </tr>
            <tr>
                <td>C</td>
                <td>75</td>
                <td>80</td>
            </tr>
            </tbody>
        </table>
        <p class="freeHTML-sizeguide-chart-gridText">브라 사이즈는 숫자와 알파벳을 포함합니다. 예) 75C<br>
            브라 사이즈의 숫자는 아래 가슴의 둘레 길이이며, 예)75, 알파벳은 컵 사이즈를 나타냅니다. 예) C</p>
    </div>
    <div class="freeHTML-sizeguide-chart-gridContainer">
        <table class="freeHTML-sizeguide-chart-grid">
            <tbody>
            <tr>
                <td>B</td>
                <td>&nbsp;</td>
                <td class="freeHTML-is-selected">80</td>
            </tr>
            <tr>
                <td>C</td>
                <td>&nbsp;</td>
                <td class="freeHTML-is-selected">80</td>
            </tr>
            </tbody>
        </table>
        <p class="freeHTML-sizeguide-chart-gridText">밴드 사이즈<br>
            브라가 너무 타이트 하거나 느슨한 경우 차트 상에서의 사이즈에서 하나 올리거나 내리세요.</p>
    </div>
    <div class="freeHTML-sizeguide-chart-gridContainer">
        <table class="freeHTML-sizeguide-chart-grid">
            <tbody>
            <tr>
                <td>B</td>
                <td>&nbsp;</td>
                <td class="freeHTML-is-selected">80</td>
            </tr>
            <tr>
                <td>C</td>
                <td class="freeHTML-is-selected">75</td>
                <td>&nbsp;</td>
            </tr>
            </tbody>
        </table>
        <p class="freeHTML-sizeguide-chart-gridText">컵 사이즈<br>
            컵이 너무 크거나 작게 느껴진다면 대각선으로 사이즈를 올리거나 내리세요.</p>
    </div>
</div>
<!-- // chart -->

<!-- chart -->
<div class="freeHTML-sizeguide-chart">
    <p class="freeHTML-sizeguide-chartTitle">소프트 브래지어 사이즈 차트</p>

    <table class="freeHTML-sizeguide-chart-titles">
        <thead>
        <tr>
            <th><span>Soft bra</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Wire bra</td>
        </tr>
        </tbody>
    </table>
    <div class="freeHTML-sizeguide-overflow">
        <table class="freeHTML-sizeguide-chart-sizes">
            <thead>
            <tr>
                <th><span>XS</span></th>
                <th><span>S</span></th>
                <th><span>M</span></th>
                <th><span>L</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>75a</td>
                <td>75b</td>
                <td>80b/75c</td>
                <td>80c</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- //chart -->

<!-- chart -->
<div class="freeHTML-sizeguide-chart">
    <p class="freeHTML-sizeguide-chartTitle">사이즈 변환</p>

    <table class="freeHTML-sizeguide-chart-titles">
        <thead>
        <tr>
            <th><span>사이즈(eur)</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>UK</td>
        </tr>
        <tr>
            <td>FR / ES</td>
        </tr>
        <tr>
            <td>IT</td>
        </tr>
        </tbody>
    </table>
    <div class="freeHTML-sizeguide-overflow">
        <table class="freeHTML-sizeguide-chart-sizes">
            <thead>
            <tr>
                <th><span>75a</span></th>
                <th><span>75b</span></th>
                <th><span>80b</span></th>
                <th><span>75c</span></th>
                <th><span>80c</span></th>
                <th><span>75d</span></th>
                <th><span>80d</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>34a</td>
                <td>34b</td>
                <td>36b</td>
                <td>34c</td>
                <td>36c</td>
                <td>34d</td>
                <td>36d</td>
            </tr>
            <tr>
                <td>90a</td>
                <td>90b</td>
                <td>95b</td>
                <td>90c</td>
                <td>95c</td>
                <td>90d</td>
                <td>95d</td>
            </tr>
            <tr>
                <td>3a</td>
                <td>3b</td>
                <td>4b</td>
                <td>3c</td>
                <td>4c</td>
                <td>3d</td>
                <td>4d</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- //chart -->

<!--  //size guide-women-underwear -->