<!--  size guide-women-clothing -->

<!-- information -->
<div class="freeHTML-sizeguide-information">
    <p>사이즈 확인법</p>
    <table class="freeHTML-sizeguide-information-text">
        <tbody>
        <tr>
            <th>키</th>
            <td>머리 위부터 바닦까지를 측정합니다.</td>
        </tr>
        <tr>
            <th>가슴둘레</th>
            <td>가슴의 가장 넓은 부분을 측정합니다.</td>
        </tr>
        <tr>
            <th>허리둘레</th>
            <td>허리의 가장 얇은 부분을 측정합니다.</td>
        </tr>
        <tr>
            <th>엉덩이<br class="only-m">둘레</th>
            <td>엉덩이의 가장 넓은 부분을 측정합니다.</td>
        </tr>
        <tr>
            <th>다리 <br class="only-m">안쪽길이</th>
            <td>다리 안쪽의 가장 윗부분부터 바닥까지를 측정합니다.</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- //information -->

<!-- chart -->
<div class="freeHTML-sizeguide-chart">
    <p class="freeHTML-sizeguide-chartTitle">사이즈 차트</p>

    <input class="freeHTML-sizeguide-inputInch" type="radio" name="rd-sizeguide-children_full_body">
    <span class="freeHTML-sizeguide-titleInch">inch</span>
    <input class="freeHTML-sizeguide-inputCm" type="radio" name="rd-sizeguide-children_full_body" checked="checked">
    <span class="freeHTML-sizeguide-titleCm">cm</span>

    <table class="freeHTML-sizeguide-chart-titles">
        <thead>
        <tr>
            <th><span>나이</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>사이즈</td>
        </tr>
        <tr>
            <td>키</td>
        </tr>
        <tr>
            <td>가슴둘레</td>
        </tr>
        <tr>
            <td>허리둘레</td>
        </tr>
        <tr>
            <td>엉덩이둘레</td>
        </tr>
        <tr>
            <td>다리<br class="only-m">안쪽길이</td>
        </tr>
        </tbody>
    </table>
    <div class="freeHTML-sizeguide-overflow freeHTML-is-cm">
        <table class="freeHTML-sizeguide-chart-sizes">
            <thead>
            <tr>
                <th><span>2</span></th>
                <th><span>3</span></th>
                <th><span>4</span></th>
                <th><span>5</span></th>
                <th><span>6</span></th>
                <th><span>7</span></th>
                <th><span>8</span></th>
                <th><span>9</span></th>
                <th><span>10</span></th>
                <th><span>11</span></th>
                <th><span>12</span></th>
                <th><span>13</span></th>
                <th><span>14</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>92</td>
                <td>98</td>
                <td>104</td>
                <td>110</td>
                <td>116</td>
                <td>122</td>
                <td>128</td>
                <td>134</td>
                <td>140</td>
                <td>146</td>
                <td>152</td>
                <td>158</td>
                <td>164</td>
            </tr>
            <tr>
                <td>92</td>
                <td>98</td>
                <td>104</td>
                <td>110</td>
                <td>116</td>
                <td>122</td>
                <td>128</td>
                <td>134</td>
                <td>140</td>
                <td>146</td>
                <td>152</td>
                <td>158</td>
                <td>164</td>
            </tr>
            <tr>
                <td>52,5</td>
                <td>54,25</td>
                <td>56</td>
                <td>58</td>
                <td>60,5</td>
                <td>63</td>
                <td>65/64</td>
                <td>68,5/67,5</td>
                <td>71,5/71</td>
                <td>74,5/74,5</td>
                <td>78/78</td>
                <td>80/82</td>
                <td>82,5/86</td>
            </tr>
            <tr>
                <td>50,5</td>
                <td>52,5</td>
                <td>54,5</td>
                <td>55</td>
                <td>56</td>
                <td>57</td>
                <td>58/59</td>
                <td>60</td>
                <td>61,75/61,5</td>
                <td>64/66</td>
                <td>65,5/68</td>
                <td>66,5/70,5</td>
                <td>67,25/73</td>
            </tr>
            <tr>
                <td>53</td>
                <td>56</td>
                <td>60</td>
                <td>62</td>
                <td>64</td>
                <td>66</td>
                <td>70/68</td>
                <td>73,5/71</td>
                <td>77/74,25</td>
                <td>80,5/77,5</td>
                <td>84/81</td>
                <td>86,5/85</td>
                <td>88/89</td>
            </tr>
            <tr>
                <td>38</td>
                <td>41</td>
                <td>45,5</td>
                <td>49,25</td>
                <td>52</td>
                <td>56</td>
                <td>59,75/59,25</td>
                <td>63/62</td>
                <td>65,75/65</td>
                <td>69/67,5</td>
                <td>71,5/70,5</td>
                <td>74,5/73,5</td>
                <td>77,5/76,25</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="freeHTML-sizeguide-overflow freeHTML-is-inch">
        <table class="freeHTML-sizeguide-chart-sizes">
            <thead>
            <tr>
                <th><span>2</span></th>
                <th><span>3</span></th>
                <th><span>4</span></th>
                <th><span>5</span></th>
                <th><span>6</span></th>
                <th><span>7</span></th>
                <th><span>8</span></th>
                <th><span>9</span></th>
                <th><span>10</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>92</td>
                <td>98</td>
                <td>104</td>
                <td>110</td>
                <td>116</td>
                <td>122</td>
                <td>128</td>
                <td>134</td>
                <td>140</td>
            </tr>
            <tr>
                <td>36</td>
                <td>39</td>
                <td>41</td>
                <td>43</td>
                <td>46</td>
                <td>48</td>
                <td>50</td>
                <td>53</td>
                <td>55</td>
            </tr>
            <tr>
                <td>20½</td>
                <td>21¼</td>
                <td>22</td>
                <td>22¾</td>
                <td>23¾</td>
                <td>24¾</td>
                <td>25¼/25</td>
                <td>27/26½</td>
                <td>28</td>
            </tr>
            <tr>
                <td>19</td>
                <td>20¾</td>
                <td>21½</td>
                <td>21¼</td>
                <td>22</td>
                <td>22½</td>
                <td>22¾/23¼</td>
                <td>23¾/24¼</td>
                <td>24¼/25</td>
            </tr>
            <tr>
                <td>20¾</td>
                <td>22</td>
                <td>23¾</td>
                <td>24¼</td>
                <td>25</td>
                <td>26</td>
                <td>27½/26¾</td>
                <td>29/28</td>
                <td>30¼/29¼</td>
            </tr>
            <tr>
                <td>15</td>
                <td>16</td>
                <td>18</td>
                <td>19½</td>
                <td>20½</td>
                <td>22</td>
                <td>23½</td>
                <td>24¾/24½</td>
                <td>25¾/25½</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- //chart -->

<!--  //size guide-women-clothing -->

