<!--  size guide-men-gloves -->

<!-- information -->
<div class="freeHTML-sizeguide-information">
    <p>측정 방법</p>
    <table class="freeHTML-sizeguide-information-text">
        <tbody>
        <tr>
            <th>손바닥<br class="only-m">둘레</th>
            <td>손바닥의 가장 넓은 부분을 측정합니다.</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- //information -->

<!-- chart -->
<div class="freeHTML-sizeguide-chart">
    <p class="freeHTML-sizeguide-chartTitle">사이즈 차트</p>

    <input class="freeHTML-sizeguide-inputInch" type="radio" name="rd-sizeguide-men-gloves">
    <span class="freeHTML-sizeguide-titleInch">inch</span>
    <input class="freeHTML-sizeguide-inputCm" type="radio" name="rd-sizeguide-men-gloves" checked="checked">
    <span class="freeHTML-sizeguide-titleCm">cm</span>

    <table class="freeHTML-sizeguide-chart-titles">
        <thead>
        <tr>
            <th><span>크기</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>손바닥 둘레</td>
        </tr>
        </tbody>
    </table>
    <div class="freeHTML-sizeguide-overflow freeHTML-is-cm">
        <table class="freeHTML-sizeguide-chart-sizes">
            <thead>
            <tr>
                <th><span>XS</span></th>
                <th><span>S</span></th>
                <th><span>M</span></th>
                <th><span>L</span></th>
                <th><span>XL</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>20,1</td>
                <td>20,9</td>
                <td>21,7</td>
                <td>22,5</td>
                <td>23,3</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="freeHTML-sizeguide-overflow freeHTML-is-inch">
        <table class="freeHTML-sizeguide-chart-sizes">
            <thead>
            <tr>
                <th><span>XS</span></th>
                <th><span>S</span></th>
                <th><span>M</span></th>
                <th><span>L</span></th>
                <th><span>XL</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>7,9</td>
                <td>8,2</td>
                <td>8,5</td>
                <td>8,6</td>
                <td>9,2</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- //chart -->

<!--  //size guide-men-gloves -->