<!--  size guide-men-trousers -->

<!-- information -->
<div class="freeHTML-sizeguide-information">
    <p>측정 방법</p>
    <table class="freeHTML-sizeguide-information-text">
        <tbody>
        <tr>
            <th>허리둘레</th>
            <td>허리의 가장 얇은 부분을 측정합니다.</td>
        </tr>
        <tr>
            <th>엉덩이둘레</th>
            <td>엉덩이의 가장 넓은 부분을 측정합니다.</td>
        </tr>
        <tr>
            <th>다리 안쪽 길이</th>
            <td>다리 안쪽의 상단에서 바닥까지 측정합니다.</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- //information -->

<!-- chart -->
<div class="freeHTML-sizeguide-chart">
    <p class="freeHTML-sizeguide-chartTitle">사이즈 차트</p>

    <input class="freeHTML-sizeguide-inputInch" type="radio" name="rd-sizeguide-men-trousers">
    <span class="freeHTML-sizeguide-titleInch">inch</span>
    <input class="freeHTML-sizeguide-inputCm" type="radio" name="rd-sizeguide-men-trousers" checked="checked">
    <span class="freeHTML-sizeguide-titleCm">cm</span>

    <table class="freeHTML-sizeguide-chart-titles">
        <thead>
        <tr>
            <th><span>사이즈</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>EUR</td>
        </tr>
        <tr>
            <td>UK</td>
        </tr>
        <tr>
            <td>허리둘레</td>
        </tr>
        <tr>
            <td>엉덩이둘레</td>
        </tr>
        <tr>
            <td>다리안쪽길이</td>
        </tr>
        </tbody>
    </table>
    <div class="freeHTML-sizeguide-overflow freeHTML-is-cm">
        <table class="freeHTML-sizeguide-chart-sizes">
            <thead>
            <tr>
                <th><span>XS</span></th>
                <th><span>S</span></th>
                <th><span>M</span></th>
                <th><span>L</span></th>
                <th><span>XL</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>42</td>
                <td>44-46</td>
                <td>48-50</td>
                <td>52-54</td>
                <td>56-58</td>
            </tr>
            <tr>
                <td>28R</td>
                <td>30R-32R</td>
                <td>33R-34R</td>
                <td>36R-38R</td>
                <td>40R-42R</td>
            </tr>
            <tr>
                <td>72</td>
                <td>76-80</td>
                <td>84-88</td>
                <td>92-96</td>
                <td>100-104</td>
            </tr>
            <tr>
                <td>90</td>
                <td>93-96</td>
                <td>99-102</td>
                <td>105-108</td>
                <td>111-114</td>
            </tr>
            <tr>
                <td>81</td>
                <td>81-82</td>
                <td>82-83</td>
                <td>83-84</td>
                <td>85</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="freeHTML-sizeguide-overflow freeHTML-is-inch">
        <table class="freeHTML-sizeguide-chart-sizes">
            <thead>
            <tr>
                <th><span>XS</span></th>
                <th><span>S</span></th>
                <th><span>M</span></th>
                <th><span>L</span></th>
                <th><span>XL</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>42</td>
                <td>44-46</td>
                <td>48-50</td>
                <td>52-54</td>
                <td>56-58</td>
            </tr>
            <tr>
                <td>28R</td>
                <td>30R-32R</td>
                <td>33R-34R</td>
                <td>36R-38R</td>
                <td>40R-42R</td>
            </tr>
            <tr>
                <td>28¼</td>
                <td>30-31½</td>
                <td>33-34½</td>
                <td>36¼-37¾</td>
                <td>39½-41</td>
            </tr>
            <tr>
                <td>35½</td>
                <td>36½-37¾</td>
                <td>39-40</td>
                <td>41¼-42½</td>
                <td>43¾-44¾</td>
            </tr>
            <tr>
                <td>31¾</td>
                <td>32</td>
                <td>32¼-32½</td>
                <td>33</td>
                <td>33¼-33½</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- //chart -->

<!--  //size guide-men-trousers -->