<!--  size guide-women-clothing -->

<!-- information -->
<div class="freeHTML-sizeguide-information">
    <p>측정 방법</p>
    <table class="freeHTML-sizeguide-information-text">
        <tbody>
        <tr>
            <th>가슴둘레</th>
            <td>브라를 착용한 상태에서 가슴의 가장 두드러진 부분을 측정하세요.</td>
        </tr>
        <tr>
            <th>허리둘레</th>
            <td>허리둘레에서 가장 얇은 부분을 측정하세요.</td>
        </tr>
        <tr>
            <th>엉덩이<br class="only-m">둘레</th>
            <td>엉덩이의 가장 넓은 부분을 측정 하세요.</td>
        </tr>
        <tr>
            <th>다리 <br class="only-m">안쪽길이</th>
            <td>다리 안쪽의 가장 윗부분부터 바닥까지 측정하세요.</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- //information -->

<!-- chart -->
<div class="freeHTML-sizeguide-chart">
    <p class="freeHTML-sizeguide-chartTitle">사이즈 차트</p>

    <input class="freeHTML-sizeguide-inputInch" type="radio" name="rd-sizeguide-women_full_body">
    <span class="freeHTML-sizeguide-titleInch">inch</span>
    <input class="freeHTML-sizeguide-inputCm" type="radio" name="rd-sizeguide-women_full_body" checked="checked">
    <span class="freeHTML-sizeguide-titleCm">cm</span>

    <table class="freeHTML-sizeguide-chart-titles">
        <thead>
        <tr>
            <th><span>사이즈</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>EUR</td>
        </tr>
        <tr>
            <td>UK</td>
        </tr>
        <tr>
            <td>가슴둘레</td>
        </tr>
        <tr>
            <td>허리둘레</td>
        </tr>
        <tr>
            <td>엉덩이둘레</td>
        </tr>
        <tr>
            <td>다리<br class="only-m">안쪽길이</td>
        </tr>
        </tbody>
    </table>
    <div class="freeHTML-sizeguide-overflow freeHTML-is-cm">
        <table class="freeHTML-sizeguide-chart-sizes">
            <thead>
            <tr>
                <th><span>XS</span></th>
                <th><span>S</span></th>
                <th><span>M</span></th>
                <th><span>L</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>32-34</td>
                <td>36-38</td>
                <td>40-42</td>
                <td>44-46</td>
            </tr>
            <tr>
                <td>6-8</td>
                <td>10-12</td>
                <td>14-16</td>
                <td>18-20</td>
            </tr>
            <tr>
                <td>76-80</td>
                <td>84-88</td>
                <td>92-96</td>
                <td>100-104</td>
            </tr>
            <tr>
                <td>60-64</td>
                <td>68-72</td>
                <td>76-80</td>
                <td>84-88</td>
            </tr>
            <tr>
                <td>84-88</td>
                <td>92-96</td>
                <td>100-104</td>
                <td>108-112</td>
            </tr>
            <tr>
                <td>76-77</td>
                <td>78-79</td>
                <td>80-81</td>
                <td>82-83</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="freeHTML-sizeguide-overflow freeHTML-is-inch">
        <table class="freeHTML-sizeguide-chart-sizes">
            <thead>
            <tr>
                <th><span>XS</span></th>
                <th><span>S</span></th>
                <th><span>M</span></th>
                <th><span>L</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>32-34</td>
                <td>36-38</td>
                <td>40-42</td>
                <td>44-46</td>
            </tr>
            <tr>
                <td>6-8</td>
                <td>10-12</td>
                <td>14-16</td>
                <td>18-20</td>
            </tr>
            <tr>
                <td>30-31½</td>
                <td>33-34½</td>
                <td>36¼-37¾</td>
                <td>39½-41</td>
            </tr>
            <tr>
                <td>23½-25¼</td>
                <td>26¾-28½</td>
                <td>30-31½</td>
                <td>33-34½</td>
            </tr>
            <tr>
                <td>33-34½</td>
                <td>36¼-37¾</td>
                <td>39½-41</td>
                <td>42½-44</td>
            </tr>
            <tr>
                <td>30-30½</td>
                <td>30¾-31¼</td>
                <td>31½-32</td>
                <td>32½-32¾</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- //chart -->

<!--  //size guide-women-clothing -->

