<!--  size guide-men-belts -->

<!-- information -->
<div class="freeHTML-sizeguide-information">
    <p>측정 방법</p>
    <table class="freeHTML-sizeguide-information-text">
        <tbody>
        <tr>
            <th>허리둘레</th>
            <td>허리의 가장 좁은 부분을 측정합니다.</td>
        </tr>
        <tr>
            <th>엉덩이둘레</th>
            <td>엉덩이의 가장 큰 부분 주위를 측정하십시오.</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- //information -->

<!-- chart -->
<div class="freeHTML-sizeguide-chart">
    <p class="freeHTML-sizeguide-chartTitle">사이즈 차트</p>

    <table class="freeHTML-sizeguide-chart-titles">
        <thead>
        <tr>
            <th><span>크기</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>길이(cm)</td>
        </tr>
        </tbody>
    </table>
    <div class="freeHTML-sizeguide-overflow">
        <table class="freeHTML-sizeguide-chart-sizes">
            <thead>
            <tr>
                <th><span>S</span></th>
                <th><span>M</span></th>
                <th><span>L</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>84.5</td>
                <td>92</td>
                <td>99.5</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- //chart -->

<!--  //size guide-men-belts -->