<br>
<!--  size guide-women-shoes -->
<p class="txt">사이즈 차트는 여러분이 적합한 사이즈를 찾는 데 도움이 되는 안내서입니다. 많은 상품들이 유니크한 방식으로 디자인 되어있으니, 설명란에 나와 있는 특정 제품의 길이와 측정치도 참조하시기를 권해드립니다.</p>

<!-- chart -->
<div class="freeHTML-sizeguide-chart">
    <br>
    <p class="freeHTML-sizeguide-chartTitle">사이즈 변환</p>

    <table class="freeHTML-sizeguide-chart-titles">
        <tbody>
        <tr>
            <td>EU/IT</td>
        </tr>
        <tr>
            <td>UK</td>
        </tr>
        <tr>
            <td>FR</td>
        </tr>
        <tr>
            <td>US</td>
        </tr>
        </tbody>
    </table>
    <div class="freeHTML-sizeguide-overflow freeHTML-is-cm">
        <table class="freeHTML-sizeguide-chart-sizes">
            <tbody>
            <tr>
                <td>36</td>
                <td>37</td>
                <td>38</td>
                <td>39</td>
                <td>40</td>
                <td>41</td>
            </tr>
            <tr>
                <td>3.5</td>
                <td>4</td>
                <td>5</td>
                <td>6</td>
                <td>6.5</td>
                <td>7.5</td>
            </tr>
            <tr>
                <td>37</td>
                <td>38</td>
                <td>39</td>
                <td>40</td>
                <td>41</td>
                <td>42</td>
            </tr>
            <tr>
                <td>5.5</td>
                <td>6</td>
                <td>7</td>
                <td>8</td>
                <td>8.5</td>
                <td>9.5</td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
<!-- //chart -->

<!-- chart -->
<div class="freeHTML-sizeguide-chart">
    <p class="freeHTML-sizeguide-chartTitle">신체측정</p>

    <input class="freeHTML-sizeguide-inputInch" type="radio" name="rd-sizeguide-women_shoes">
    <span class="freeHTML-sizeguide-titleInch">inch</span>
    <input class="freeHTML-sizeguide-inputCm" type="radio" name="rd-sizeguide-women_shoes" checked="checked">
    <span class="freeHTML-sizeguide-titleCm">cm</span>

    <table class="freeHTML-sizeguide-chart-titles">
        <thead>
        <tr>
            <th><span>발 길이</span></th>
        </tr>
        </thead>
    </table>
    <div class="freeHTML-sizeguide-overflow freeHTML-is-cm">
        <table class="freeHTML-sizeguide-chart-sizes">
            <thead>
            <tr>
                <th><span>22.9</span></th>
                <th><span>23.6</span></th>
                <th><span>24.2</span></th>
                <th><span>24.9</span></th>
                <th><span>25.5</span></th>
                <th><span>26.1</span></th>
            </tr>
            </thead>
        </table>
    </div>
    <div class="freeHTML-sizeguide-overflow freeHTML-is-inch">
        <table class="freeHTML-sizeguide-chart-sizes">
            <thead>
            <tr>
                <th><span>9"</span></th>
                <th><span>9¼"</span></th>
                <th><span>9½"</span></th>
                <th><span>9¾"</span></th>
                <th><span>10"</span></th>
                <th><span>10¼"</span></th>
            </tr>
            </thead>
        </table>
    </div>
</div>
<!-- //chart -->

<!-- information -->
<div class="freeHTML-sizeguide-information">
    <p>측정 방법</p>
    <table class="freeHTML-sizeguide-information-text">
        <tbody>
        <tr>
            <th>발 길이</th>
            <td>뒤꿈치의 뒤쪽부터 가장 긴 발가락까지의 길이를 측정하세요</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- // information -->

<!--  //size guide-women-shoes -->