<br>
<!--  size guide-children-shoes -->

<!-- information -->
<div class="freeHTML-sizeguide-information">
    <p>사이즈 확인법</p>
    <table class="freeHTML-sizeguide-information-text">
        <tbody>
        <tr>
            <th>발 길이</th>
            <td>평평한 곳에서 곧게 서서 발꿈치를 벽에 붙입니다. 발의 길이는 밀리미터 단위로 발꿈치부터 가장 긴 발가락까지 측정합니다.</td>
        </tr>
        </tbody>
    </table>
</div>
<!-- // information -->

<!-- chart -->
<div class="freeHTML-sizeguide-chart">
    <p class="freeHTML-sizeguide-chartTitle">사이즈 차트</p>

    <input class="freeHTML-sizeguide-inputInch" type="radio" name="rd-sizeguide-children_socks">
    <span class="freeHTML-sizeguide-titleInch">inch</span>
    <input class="freeHTML-sizeguide-inputCm" type="radio" name="rd-sizeguide-children_socks" checked="checked">
    <span class="freeHTML-sizeguide-titleCm">cm</span>

    <table class="freeHTML-sizeguide-chart-titles">
        <thead>
        <tr>
            <th><span>사이즈</span></th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>UK</td>
        </tr>
        <tr>
            <td>발길이</td>
        </tr>
        </tbody>
    </table>
    <div class="freeHTML-sizeguide-overflow freeHTML-is-cm">
        <table class="freeHTML-sizeguide-chart-sizes">
            <thead>
            <tr>
                <th><span>22/24</span></th>
                <th><span>25/27</span></th>
                <th><span>28/30</span></th>
                <th><span>31/33</span></th>
                <th><span>34/36</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>5,5-7</td>
                <td>7,5-9</td>
                <td>10-11,5</td>
                <td>12,5-1</td>
                <td>1,5-3,5</td>
            </tr>
            <tr>
                <td>15,1</td>
                <td>17</td>
                <td>18,9</td>
                <td>20,8</td>
                <td>22,8</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div class="freeHTML-sizeguide-overflow freeHTML-is-inch">
        <table class="freeHTML-sizeguide-chart-sizes">
            <thead>
            <tr>
                <th><span>22/24</span></th>
                <th><span>25/27</span></th>
                <th><span>28/30</span></th>
                <th><span>31/33</span></th>
                <th><span>34/36</span></th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>5,5-7</td>
                <td>7,5-9</td>
                <td>10-11,5</td>
                <td>12,5-1</td>
                <td>1,5-3,5</td>
            </tr>
            <tr>
                <td>6</td>
                <td>6¼</td>
                <td>7½</td>
                <td>8¼</td>
                <td>9</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
<!-- //chart -->

<!--  //size guide-children-shoes -->