<section id="hdmUtilbar" class="utilbar">
    <ul>
        <li class="home">
            <a href="http://m.thehyundai.com/Home.html?MainpageGroup=Bottom&amp;GroupbannerName=Bottom_Home">홈</a>
        </li>
        <li class="category">
            <a href="http://m.thehyundai.com/front/dpa/dPACateBigSectDisp.thd?MainpageGroup=Bottom&amp;GroupbannerName=Bottom_Category">카테고리</a>
        </li>
        <li class="search">
            <a href="http://m.thehyundai.com/front/dpo/HeaderSearch.thd?MainpageGroup=Bottom&amp;GroupbannerName=Bottom_Search">검색</a>
        </li>
        <li class="cart">
            <a href="https://m.thehyundai.com/front/odb/basktList.thd?MainpageGroup=Bottom&amp;GroupbannerName=Bottom_Basket">장바구니</a>
        </li>
        <li class="delivery">
            <a href="https://m.thehyundai.com/front/mpa/selectOrdDlvCrst.thd?MainpageGroup=Bottom&amp;GroupbannerName=Bottom_DeliveryCheck">배송조회</a>
        </li>
        <li class="myhd">
            <a href="https://m.thehyundai.com/front/mpf/selectMyPageMain.thd?MainpageGroup=Bottom&amp;GroupbannerName=Bottom_MyHyundai">마이현대</a>
        </li>
    </ul>
</section>