<div data-component="OPageContent" class="o-page-content cofs-page">
        <div class="o-sign-in-wrapper">
        <%# 로그인 또는 회원가입 타이틀 %>
        <%- include ("../../../common/md-o-sign-in-heading.ejs") %>
        <div class="is-sign-in-tabs">
            <%# 로그인, 회원가입 활성화 탭 표기 %>
            <%- include ("../../../common/md-m-tablist-01.ejs") %>
            <div class="o-sign-in alternative-style-option">
                <form class="o-form" data-component="OForm" id="loginForm" method="post">
                    <div class="m-error js-m-error is-hidden">
                        <label class="a-label js-a-label has-error"></label>
                    </div>
                    <!-- input : 아이디 또는 이메일 -->
                    <div data-component="MInput" class="m-input">
                        <label class="a-label js-a-label" for="id">아이디 또는 이메일</label>
                        <input class="a-input js-a-input" id="id" name="id" type="text" pattern="" placeholder="아이디 또는 이메일" data-validation-required-text="아이디를 입력해주세요." data-validation-pattern-text="입력하신 아이디가 맞지 않습니다." required="">
                        <label class="a-label js-a-label" for="id"></label>
                    </div><!-- // input : 아이디 또는 이메일 -->

                    <!-- input : 비밀번호 -->
                    <div data-component="MInput" class="m-input password">
                        <label class="a-label js-a-label" for="password" >비밀번호</label>
                        <input class="a-input js-a-input" id="password" name="password" type="password" pattern="" placeholder="비밀번호" data-validation-required-text="비밀번호를 입력해주세요."  data-validation-pattern-text="입력하신 비밀번호가 맞지 않습니다." required="">
                        <label class="a-label js-a-label" for="password"></label>
                    </div><!-- // input : 비밀번호 -->

                    <div class="checkbox-input">
                        <span class="m-checkbox u-clearfix" id="rememberme">
                            <input type="checkbox" class="a-checkbox" id="checkbox_rememberme" name="checkbox_rememberme">
                            <label class="a-label js-a-label custom-box" for="checkbox_rememberme"></label>
                            <label class="a-label js-a-label" for="checkbox_rememberme">아이디 저장</label>
                        </span>
                    </div>

                    <!-- 아이디 찾기, 비밀번호 찾기 - 해당 페이지로 이동 -->
                    <div class="link-holder col-2">
                        <a href="#none" target="_self" class="a-link forgot-id">아이디찾기</a>
                        <a href="#none" target="_self" class="a-link forgot-password">비밀번호찾기</a>
                    </div>

                    <button type="submit" class="a-button is-primary">
                        <span>로그인</span>
                    </button>

                    <%# SNS 간편로그인 신규추가 %>
                    <%- include ("../../../common/md-o-sns-area.ejs") %>

                    <!-- 비회원 주문조회 팝업 버튼 -->
                    <div class="btn-non-member">
                        <a class="a-link a-link-udln open-lightbox" href="#none" target="_self" data-template="lp-order-search-nonmbr" data-classes="alert">비회원주문조회</a>
                    </div><!--  비회원 주문조회 팝업 버튼 -->
                </form>
            </div>
        </div><!--// is-sign-in-tabs -->
    </div><!--// o-sign-in-wrapper-->
</div>

<!-- handlebars-template -->
<%# 비회원 주문조회 %>
<%- include ("../../../handlebars/hndl-lp-order-search-nonmbr.ejs") %>
<!-- // handlebars-template -->