<div data-component="OPageContent" class="o-page-content cofs-page page-delivery">

    <div class="o-my-page o-width wc-75">

        <%# md-o-my-page-navigation %>
        <%- include ("../../../common/md-o-my-page-navigation.ejs") %>

        <h2 class="a-heading-2 is-main-heading page-top-title">
            <span>회원정보확인</span>
        </h2>

        <!-- my-profile-content -->
        <div class="my-profile-content">
            <p class="a-paragraph top">
                고객님의 소중한 개인정보를 보호하기 위해 비밀번호를 다시 확인합니다.<br>
                비밀번호가 타인에게 노출되지 않도록 항상 주의해 주세요.
            </p>
            <!-- o-my-details-summary -->
            <div id="profileSummary" class="o-my-details summary">
                <!-- data-grids -->
                <div class="data-grids">
                    <div class="data-grid id">
                        <div class="id-g-label">아이디</div>
                        <div class="id-g-value">hy1***********</div>
                    </div>

                    <div class="data-grid full password">
                        <div class="phone-g-label"></div>
                        <div class="password-g-value">
                            <div class="m-input v3" data-component="MInput">
                                <label class="a-label js-a-label" for="password"></label>
                                <input class="a-input js-a-input"
                                       id="password"
                                       name="password"
                                       type="password"
                                       pattern=""
                                       placeholder="비밀번호 입력"
                                       data-validation-required-text="비밀번호를 입력해 주세요."
                                       data-validation-pattern-text="비밀번호가 맞지 않습니다. 다시 확인하여 입력해주세요"
                                       required="">
                                <label class="a-label js-a-label" for="password"></label>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- //data-grids -->
            </div>
            <button class="a-button btn-confirm-pw-submit" type="button"><span>확인</span></button>
            <!-- //o-my-details-summary -->
        </div>
        <!-- //my-profile-content -->

    </div>
</div>

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let activeTab = document.querySelector('.menu-addressbook');
        if(activeTab){
            activeTab.parentNode.classList.add('is-active');
        }
    })();
</script>
<!-- //tip -->