<div data-component="OPageContent" class="o-page-content cofs-page page-delivery">

    <div class="o-my-page o-width wc-75">

        <%# md-o-my-page-navigation %>
        <%- include ("../../../common/md-o-my-page-navigation.ejs") %>

        <h2 class="a-heading-2 is-main-heading page-top-title">
            <span>배송지 관리</span>
        </h2>

        <!-- my-profile-content -->
        <div class="my-delivery-content">

            <%# md-deliver-info-bx : 배송지 목록2 %>
            <%- include ("../../../common/md-delivery-info-bx2.ejs") %>

        </div>
        <!-- //my-profile-content -->

    </div>
</div>

<!-- handlebars-template -->
<%# 배송지목록 > 삭제 %>
<%- include ("../../../handlebars/hndl-lp-dlvr-list-del.ejs") %>

<%# 주소검색 %>
<%- include ("../../../handlebars/hndl-lp-find-address.ejs") %>
<!-- //handlebars-template -->

<!-- tip : when develop this script must be delete -->
<script type="text/javascript">
    (function() {
        'use strict';
        //탭활성화
        let activeTab = document.querySelector('.menu-addressbook');
        if(activeTab){
            activeTab.parentNode.classList.add('is-active');
        }
        setTimeout(function(){
            //배송지 수정, 삭제 버튼 클릭이벤트
            renewCommon.deliverListEdit.init();
        },2000);
    })();
</script>
<!-- //tip -->