<div data-component="OPageContent" class="o-page-content cofs-page">
    <span id="content" class="access-content">Content of the page</span>
    <div class="o-sign-in-wrapper">
        <div class="sign-in-heading">
            <h2 class="a-heading-2">회원가입</h2>
        </div>
        <div class="is-sign-in-tabs">
            <div class="o-registration empty-registration alternative-style-option ng-scope">
                <form method="post" data-component="OForm">
                    <div class="o-registration-form v2">
                        <!-- 신규추가 내용 : 회원가입 카카오싱크(가입정보-Y) -->
                        <div class="n-wrap kakao-wrap">
                            <!-- input : 중복 아이디 표기 -->
                            <div class="double-select">
                                <div data-component="MInput" class="m-input with-button">
                                    <input class="a-input js-a-input" id="id" name="id" type="text" placeholder="아이디 또는 이메일" pattern=""  data-validation-required-text="아이디를 입력해주세요." data-validation-pattern-text="이메일 형식이 틀렸습니다." value="hy1214@gmail.com" required="">
                                    <button class="a-button sm" type="button"><span>중복확인</span></button>
                                    <label class="a-label js-a-label" for="name"></label>
                                </div>
                                <p class="error-text">해당 아이디는 이미 다른 고객님께서 사용 중이십니다.</p>
                            </div><!-- // input : input : 중복 아이디 표기 -->

                            <!-- input : 이름 -->
                            <div data-component="MInput" class="m-input">
                                <label class="a-label js-a-label" for="name" >이름</label>
                                <input class="a-input js-a-input" id="name" name="name" type="text" value="김현대" placeholder="이름" data-validation-required-text="이름을 입력해 주세요." required="">
                                <label class="a-label js-a-label" for="name"></label>
                            </div><!-- // input : 이름 -->

                            <p class="text">추후 아이디/비밀번호 찾기를 위해 이름은 실명으로 설정 하시기 바랍니다.</p>

                            <button type="submit" class="a-button">
                                <span>가입완료</span>
                            </button>
                        </div><!-- // 신규추가 내용 : 회원가입 카카오싱크(가입정보-Y) -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
