<div data-component="OPageContent" class="o-page-content cofs-page">
        <div class="o-sign-in-wrapper">
        <%# 로그인 또는 회원가입 타이틀 %>
        <%- include ("../../../common/md-o-sign-in-heading.ejs") %>
        <div class="is-sign-in-tabs">
            <%# 로그인, 회원가입 활성화 탭 표기 %>
            <%- include ("../../../common/md-m-tablist-02.ejs") %>
            <div class="o-registration empty-registration alternative-style-option ng-scope" data-ng-controller="RegisterController">
                <div class="o-registration-form v2">
                    <%# 회원가입 관련 안내 문구 %>
                    <%- include ("../../../common/md-o-registration-info.ejs") %>
                    <%# 회원가입 단계 표기 %>
                    <%- include ("../../../common/md-o-registration-01.ejs") %>
                    <!-- 신규추가 내용 : 회원가입 1.간편인증 -->
                    <div class="n-wrap step-1">
                        <h2 class="title">인증 방식 선택</h2>
                        <p class="info-1">이용중이신 개인계정을 선택하여 인증할 수 있습니다.</p>
                        <!-- 개인계정 인증 -->
                        <div class="social-certify-container">
                            <div class="sns-list">
                                <ul>
                                    <li>
                                        <a href="#none">
                                            <div class="icontab">
                                                <span class="icon kakao"></span>
                                            </div>
                                            <div class="captiontab">
                                                <span class="caption">카카오톡</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#none">
                                            <div class="icontab">
                                                <span class="icon facebook"></span>
                                            </div>
                                            <div class="captiontab">
                                                <span class="caption">페이스북</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#none">
                                            <div class="icontab">
                                                <span class="icon google"></span>
                                            </div>
                                            <div class="captiontab">
                                                <span class="caption">구글</span>
                                            </div>
                                        </a>
                                    </li>
                                    <!-- 휴대폰 인증 -->
                                    <li>
                                        <a href="#none" class="accordion-tit" data-target="accrdn-1">
                                            <div class="icontab">
                                                <span class="icon phone"></span>
                                            </div>
                                            <div class="captiontab">
                                                <span class="caption">휴대폰</span>
                                            </div>
                                        </a>
                                    </li><!--// 휴대폰 인증 -->
                                    <li>
                                        <a href="#none" class="accordion-tit" data-target="accrdn-2">
                                            <div class="icontab">
                                                <span class="icon mail"></span>
                                            </div>
                                            <div class="captiontab">
                                                <span class="caption">이메일</span>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div><!-- // 개인계정 인증 -->

                        <!-- 아코디언 1 :  휴대폰 인증 -->
                        <div class="accordion-con phone accrdn-1">
                            <form methode="post" data-component="OForm">
                                <h2 class="a-heading-2">
                                    <span>휴대폰 인증</span>
                                </h2>
                                <div class="content">
                                    <div class="m-input with-button" data-component="MInput">
                                        <input class="a-input js-a-input"
                                               placeholder="휴대폰번호 입력"
                                               type="tel"
                                               value=""
                                               pattern=""
                                               name="phone-number"
                                               id="phone-number"
                                               required=""
                                               data-validation-required-text="휴대폰번호를 입력해 주세요."
                                               data-validation-pattern-text="휴대폰번호는 숫자만 입력 가능합니다.">
                                        <button class="a-button is-primary sm" type="button"><span>인증번호 받기</span></button>
                                        <label class="a-label js-a-label" for="phone-number" data-placeholder=""></label>
                                    </div>
                                    <div class="m-input with-button" data-component="MInput">
                                        <input class="a-input js-a-input"
                                               placeholder="인증번호 입력"
                                               type="tel"
                                               value=""
                                               pattern=""
                                               name="certify-number"
                                               id="certify-number"
                                               data-validation-required-text="인증번호를 입력해 주세요."
                                               data-validation-pattern-text="인증번호가 정확하지 않습니다.다시 확인해주세요.">
                                        <button class="a-button is-primary sm" type="button"><span>휴대폰 인증</span></button>
                                        <label class="a-label js-a-label" for="certify-number" data-placeholder=""></label>
                                        <p class="certify-time">유효시간 <span class="time-m">03</span>:<span class="time-s">00</span></p>
                                    </div>
                                    <p class="guide-text">
                                        <span class="desc-text2">휴대폰으로 발송된 인증번호를 유효시간 내 입력해 주시고, 인증번호가도착하지 않을 시 재발송을 해주세요.</span><br>
                                        <span class="desc-text2">입력한 휴대폰번호는 보안 시스템을 통해 안전하게 관리됩니다.</span>
                                    </p>
                                </div>
                            </form>
                        </div><!-- // 아코디언 1 :  휴대폰 인증 -->

                        <!-- 아코디언 2 :  이메일 인증 -->
                        <div class="accordion-con mail accrdn-2">
                            <form methode="post" data-component="OForm">
                                <h2 class="a-heading-2">
                                    <span>이메일 인증</span>
                                </h2>
                                <div class="content">
                                    <div class="m-input" data-component="MInput">
                                        <input class="a-input js-a-input"
                                               placeholder="이메일 주소 입력"
                                               type="text"
                                               value=""
                                               pattern=""
                                               name="emailHead"
                                               id="emailHead"
                                               required=""
                                               data-validation-required-text="이메일을 입력해 주세요."
                                               data-validation-pattern-text="이메일 형식이 틀렸습니다. 다시 확인하고 입력해 주세요.">
                                        <label class="a-label js-a-label" for="emailHead" data-placeholder=""></label>
                                    </div>
                                    <div class="m-dropdown">
                                        <select class="option-wrap"name="selectMailDomain" id="emailDomain">
                                            <option class="a-option">직접입력</option>
                                            <option class="a-option">@naver.com</option>
                                            <option class="a-option">@daum.net</option>
                                            <option class="a-option">@nate.com</option>
                                            <option class="a-option">@gmail.com</option>
                                            <option class="a-option">@hanmail.net</option>
                                            <option class="a-option">@hotmail.com</option>
                                        </select>
                                        <span class="a-icon-accordion a-icon-arrow-down-small"></span>
                                    </div>
                                </div>
                                <!-- btn 01 : 동의하고 인증 -->
                                <button type="submit" class="a-button is-primary">
                                    <span>동의하고 인증하기</span>
                                </button>
                                <!-- // btn 01 : 동의하고 인증 -->
                                <!-- btn 02 : 인증메일 재발송/인증완료 -->
                                <div class="button-container col-2 none">
                                    <button type="submit" class="a-button is-primary"><span>인증메일 재발송</span></button>
                                    <button type="submit" class="a-button is-primary"><span>인증완료</span></button>
                                </div><!-- // btn 02 : 인증메일 재발송/인증완료 -->
                            </form>
                        </div><!-- // 아코디언 2 :  이메일 인증 -->
                    </div><!-- // 신규추가 내용 : 회원가입 1.간편인증 -->
                </div>
            </div>
        </div>
    </div>
</div>
