<div data-component="OPageContent" class="o-page-content cofs-page" data-component-id="">
        <div class="o-sign-in-wrapper">
        <%# 로그인 또는 회원가입 타이틀 %>
        <%- include ("../../../common/md-o-sign-in-heading.ejs") %>
        <div class="is-sign-in-tabs">
            <%# 로그인, 회원가입 활성화 탭 표기 %>
            <%- include ("../../../common/md-m-tablist-02.ejs") %>
            <div class="o-registration empty-registration alternative-style-option ng-scope" data-ng-controller="RegisterController">
                <div class="o-registration-form v2">
                    <%# 회원가입 관련 안내 문구 %>
                    <%- include ("../../../common/md-o-registration-info.ejs") %>
                    <%# 회원가입 단계 표기 %>
                    <%- include ("../../../common/md-o-registration-03.ejs") %>
                    <!-- 신규추가 내용 : 회원가입 3.가입완료 -->
                    <div class="n-wrap step-3">
                        <p class="info-1"><span class="fs21">ARKET</span> 회원가입을 축하합니다.</p>
                        <p class="info-2">아이디 <span>honggildong@hmall.com</span>으로 고객님의 회원가입이 완료되었습니다.</p>
                        <a type="submit" href="#none" class="a-button">
                            <span>
                                <span class="fs21">ARKET</span> 메인으로
                            </span>
                        </a>
                    </div><!-- // 신규추가 내용 : 회원가입 3.가입완료 -->
                </div>
            </div>
        </div>
    </div>
</div>
