<div data-component="OPageContent" class="o-page-content cofs-page">
    <span id="content" tabindex="-1" class="access-content">Content of the page</span>
    <div class="o-forgot-password n-find-idpw">
        <div class="forgot-password-form">
                <h2 class="a-heading-2">휴면계정복구 안내</h2>
                <!-- 신규추가 내용 : 휴먼계정 복구안내 -->
                <div class="n-wrap resting-guide">
                    <p class="sub-title">
                        <span class="user">theHyundai@hyundai.com</span> 고객님의<br class="only-m"> 아이디는 휴면계정입니다.
                    </p>
                    <div class="text-content">
                        <p class="info">
                            고객님의 아이디를 복구시키겠습니까?<br/>
                            복구를 하시면 현재 아이디로 ARKET에 로그인하실 수 있습니다.
                        </p>
                        <ul class="list-box">
                            <li>로그인 후에는 개인정보 보호를 위해 고객님의 비밀번호를 변경하시기 바랍니다.</li>
                            <li>비밀번호는 <a href="#none" class="a-link a-link-udln"> 마이페이지> 회원정보변경</a>에서 변경하실 수 있습니다.</li>
                        </ul>
                        <p class="info">감사합니다.</p>
                        <p class="info">더 궁금하신 사항이 있다면 ARKET 고객센터 [1800-2765] 로 문의하여 주십시오.</p>
                    </div>
                </div><!-- // 신규추가 내용 : 휴먼계정 복구안내 -->

                <!-- button-container -->
                <div class="button-container col-2 re-sort">
                <button type="submit" class="a-button is-primary">
                    <span>휴면계정 복구하기</span>
                </button>
                <a class="a-button is-outlined">
                    <span>취소</span>
                </a>
            </div><!-- // button-container -->

        </div>
    </div>
</div>
