<div data-component="OPageContent" class="o-page-content cofs-page">
    <span id="content" tabindex="-1" class="access-content">Content of the page</span>
    <div class="o-forgot-password n-find-idpw">
        <div class="forgot-password-form">
            <h2 class="a-heading-2">비밀번호 재설정 완료</h2>
            <p class="data">고객님의 비밀번호 변경이 완료되었습니다.</p>
                <!-- 신규추가 내용 : 비밀번호 재설정 완료 -->
                <div class="n-wrap">
                    <p class="sub-title">다시 로그인 해주세요.</p>
                    <div class="text-content">
                        <ul class="list-box">
                            <li>안전한 비밀번호 관리를 위해  비밀번호는 정기적으로 변경을 해주시고 다른 사람이 비밀번호를 알 수 없도록 관리해 주세요.</li>
                            <li>비밀번호 변경을 원하시면  <span class="brd-btm">마이페이지 > 회원정보변경</span>에서 변경하실 수 있습니다.</li>
                            <li>궁금하신 사항이 있다면 ARKET고객센터 [1800-2765] 로 문의하여 주십시오.</li>
                        </ul>
                    </div>
                    <a class="a-button is-primary">
                        <span>로그인 하기</span>
                    </a>
                </div><!-- // 신규추가 내용 : 비밀번호 재설정 완료 -->
        </div>
    </div>
</div>
