<div data-component="OPageContent" class="o-page-content cofs-page">

    <!-- n-find-idpw -->
    <div class="o-forgot-password n-find-idpw">
        <div class="forgot-password-form">
            <h2 class="a-heading-2">비밀번호 변경 완료</h2>
            <!-- 신규추가 내용 : 90일 이상 비밀번호 변경 완료 -->
            <div class="n-wrap">
                <p class="sub-title">고객님의 비밀번호 변경이 완료되었습니다.<br/>다시 로그인 해주세요.</p>
                <div class="text-content">
                    <ul class="list-box">
                        <li>안전한 비밀번호 관리를 위해 비밀번호는 정기적으로 변경을 해주시고 다른 사람이 비밀번호를 알 수 없도록 관리해 주세요.</li>
                        <li>비밀번호 변경을 원하시면  <a href="#none" class="a-link a-link-udln">마이페이지> 회원정보변경</a>에서 변경하실 수 있습니다.</li>
                        <li>궁금하신 사항이 있다면 ARKET고객센터 [1522-0176] 로 문의하여 주십시오.</li>
                    </ul>
                </div>
            </div><!-- // 신규추가 내용 : 90일 이상 비밀번호 변경 완료 -->
            <!-- button -->
            <a class="a-button is-primary" href="#none">
                <span>시작화면으로 이동</span>
            </a><!-- // button -->
        </div>
    </div><!-- // n-find-idpw -->

</div>
