<div data-component="OPageContent" class="o-page-content cofs-page">
    <span id="content" tabindex="-1" class="access-content">Content of the page</span>

    <!-- n-find-idpw -->
    <div class="o-forgot-password n-find-idpw">
        <div class="forgot-password-form">
            <h2 class="a-heading-2">비밀번호 찾기 결과</h2>
            <p class="data v2">비밀번호를 재설정하기 위하여 하단의 “다음”을 선택하여 주세요.</p>
            <p class="data">사용하시던 비밀번호는 개인정보 보안상 확인이 불가합니다.<br class="only-pc"/> 새로운 비밀번호를 설정해 주세요.</p>
            <!-- 신규추가 내용 : 비밀번호 찾기 결과 -->
            <div class="n-wrap">

                <!-- find-result-box -->
                <div class="find-result-box">
                    <table>
                        <tbody>
                            <tr>
                                <th>아이디</th>
                                <td>Honggildong@hamll.com</td>
                            </tr>
                            <tr>
                                <th>이름</th>
                                <td>홍길동</td>
                            </tr>
                            <tr>
                                <th>생년월일</th>
                                <td>1988-05-12</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <!-- //find-result-box -->

                <!-- button-container -->
                <div class="button-container col-2">
                    <a class="a-button is-outlined">
                        <span>인증메일 재발송</span>
                    </a>
                    <a class="a-button is-primary">
                        <span>다음</span>
                    </a>
                </div>
                <!-- //button-container -->
                
            </div><!-- // 신규추가 내용 : 비밀번호 찾기 결과 -->
        </div>
    </div>
    <!-- //n-find-idpw -->

</div>

